<% @show_resource_areas = true %>
<% @includejquery = true %>
<% @cat_landing = true %>


<% if(@content_tag.nil?) %>
  <h1 class="ct_nomatchingcat">We're sorry, but we don't have any content tagged with "<%= params[:content_tag] %>". Please browse our latest content.</h1>
<% else %>
  <h1 class="ct_head"><%=@page_title_text%></h1>
  <h2 class="ct_subhead">&#8220;<%=@header_description%>&#8221;</h2>
<% end %>

<%if @articles && @articles.length > 0%>
  <div class="<%= @faqs.length > 0 ? 'homesection half left' : '' %>" >
    <h2>Recent Articles</h2>
    <div class="whatsnewbox">
      <%for article in @articles%>
        <dl class="ct_recent">
          <dt><%= link_to article.title, article.id_and_link %></dt>
          <dd><%= expanded_time_print(article.source_updated_at)%></dd>
        </dl>
      <%end%>
    </div>
    <p><%= link_to "More ...", site_articles_url(with_content_tag?) %></p>
  </div>
<%end%>

<%if @faqs.length > 0%>
  <div class="homesection half left">
    <h2>Answers from our Experts</h2>
    <div class="whatsnewbox">
      <%for faq in @faqs%>
        <dl class="ct_recent">
          <dt><%= link_to(faq.title.truncate(100,{:omission => '...', :avoid_orphans => true}), page_url(:id => faq.id, :title => faq.url_title) %></dt>
          <dd><%= expanded_time_print(faq.source_updated_at)%></dd>
        </dl>
      <%end%>      
    </div>
    <p><%= link_to "More ...", site_faqs_url(with_content_tag?) %></p>
  </div>
<%end%>

<% if @calendar_events.length > 0 %>
  <%= render(:partial => "shared/calendar", :locals => {:month  => get_calendar_month, :calendar_events => @calendar_events, :date => @calendar_date }) %>
<% end %>

<%if @recent_learning_lessons.length > 0%>
    <div class="homesection">
        <h2>Recent Learning Lessons</h2>
	    <div class = "whatsnewbox">
            <%for lesson in @recent_learning_lessons%>
             <dl class="ct_recent">
               <dt><%= link_to lesson.title, lesson.id_and_link %></dt>
               <dd><%= expanded_time_print(lesson.source_updated_at)%></dd>
             </dl>
            <%end%>
        </div>
        <p><%= link_to "More ...", site_learning_lessons_url(with_content_tag?) %></p>
    </div>
<%end%>
