<!-- Image Rotator, Connect With Us, Local Extension Office -->
<div class="row">
  <div class="span9">
    <h1 class='title'><%= @page_title_text %></h1>
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <% @community_highlights.each_with_index do |feature, i| %>
          <li data-target="#myCarousel" data-slide-to="<%= i %>" class="<%= i == 0 ? "active" : "" %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
		  
      <!-- replace with @featured_article -->
		  <% @community_highlights.each_with_index do |feature, i| %>
        <div class="item <%= i == 0 ? "active" : "" %>">
          <%= first_image feature.content %>
            <div class="carousel-caption">
              <% link_to(feature.id_and_link) do %>
                <h1><%= feature.title %></h1>
                <p><%= get_title(feature.content).truncate(160,{:omission => '...', :avoid_orphans => true}) %><span class="read"><span>></span>Read More</span></p>
              <% end %>
            </div>
        </div>  
      <% end %>
      
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>

  <div class="span3">
    <%= render(:partial => 'shared/social_and_locations_community') %>
  </div>
</div>

            <!-- Tagline -->
            <div class="row">
                <div class="tagline span12">
                	<%= link_to('Learn More', about_community_path(), :class => "pull-right btn orange lg hidden-phone") %>
                	<div>More about this Resource Area <%= link_to('Learn More', about_community_path(), :class => "visible-phone btn orange lg") %>
</div>
                </div>
            </div>

  <!-- Upcoming Webinars, Meet Extension, Trending Questions, Latest Tweets -->
  <div class="row">
    
    <div class="upcoming_learn_events span3">
      <script type="text/javascript" src="<%= @learn_event_widget_url %>"></script>
      <p><a href="http://learn.extension.org/" class='pull-right more_events' title="Professional development sessions on a variety of Extension topics.">More Webinars</a></p>
    </div>
    
    <div class='visible-phone clearfix'></div>
              
    <div class="meet-extension span3">
      <% if @featured_bio.present? %>
    	  <h2>Meet Extension</h2>
    	  <% link_to(@featured_bio.id_and_link) do %>
    	    <%= first_bio_image @featured_bio.content %>
    	    <strong><%= @featured_bio.title %></strong><br />
          <!-- <em>Communications Expert</em><br /> -->
          <p><%= get_title(@featured_bio.content).truncate(160,{:omission => '...', :avoid_orphans => true}) %></p>
    	  <% end %>
    	<% else %>
    	  <h2>Extension Experts</h2>
    	  <h3>There are no expert biographies at this time.</h3>
    	<% end %>
    </div>
                
    <div class='featured_aae_questions span3'>
    	<h2>Trending Questions</h2>
    	<script type="text/javascript" src="<%= @ask_question_widget_url %>"></script> 
    	<%= link_to "Ask an Expert", @ask_two_point_oh_form, :class => "btn orange lg span3", :title => "One-to-one answers from a network of experts at universities across America." %>
    </div>
                
    <div class='latest-tweets span3'>
      <h2>Latest Tweets</h2>
      <div class="tweet"></div>
      <a href='#' class='btn'>Follow @extensions</a>
    </div>
  
  </div>
