<!-- Image Rotator, Connect With Us, Local Extension Office -->
<div class="row">
  <div class="span9">
    <div id="myCarousel" class="carousel slide">

      <% if @featured_articles.length > 1 %>
        <ol class="carousel-indicators">
          <% @featured_articles.each_with_index do |feature, i| %>
            <li data-target="#myCarousel" data-slide-to="<%= i %>" class="<%= i == 0 ? "active" : "" %>"></li>
          <% end %>
        </ol>
      <% end %>
      <div class="carousel-inner">

      <!-- replace with @featured_article -->
		  <% @featured_articles.each_with_index do |feature, i| %>
        <div class="item <%= i == 0 ? "active" : "" %>">
          <%= first_image(feature.content) %>
            <div class="carousel-caption">
              <%= link_to(feature.id_and_link) do %>
                <h1><%= feature.title %></h1>
                <p><%= get_wow_text(feature).truncate(160,{:omission => '...', :separator => ' '}) %><span class="read"><span>></span>Read More</span></p>
              <% end %>
            </div>
        </div>
      <% end %>

      </div>

      <% if @featured_articles.length > 1 %>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      <% end %>
    </div>
  </div>

  <div class="span3">
    <%= render(:partial => 'shared/social_and_locations_general') %>
  </div>
</div>
