<div id="assignment">
    <% if @submitted_question.assignee %>
        <p>Assigned to 
                <%= link_to (@submitted_question.assignee.fullname, 
            aae_profile_url(:id => @submitted_question.assignee.login), :title => "view user profile") %>
            
            <!-- Show the assigned date of the submitted question if it exists and is valid -->
            <%= (assign_date = @submitted_question.assigned_date) ? time_ago_in_words(assign_date) + ' ago' : ""%> 
        </p>
        
        <% if (work_time_remaining and work_time_remaining > 0) and (@currentuser.id != @submitted_question.assignee.id) %>
        <p class="working_on_it"><%= @submitted_question.assignee.fullname %> is working on this question right now, so it's probably not a good idea  to reassign it.</p>
        <% end %>
        
        <div id="assign_container">
            <h4>Assign to someone else:</h4> 
    <% else %>
        <p class="inc_descriptive">Nobody</p>
        <div id="assign_container">
        <strong>Assign to someone:</strong>
    <% end %>
        <p id="assignlinks">
        <%= link_to_remote 'By name', :update => "search_experts",
            :url => aae_name_search_url(:id => @submitted_question.id) %>
        <%= link_to_remote 'By location or category', :update => "search_experts",
            :url => aae_cat_loc_search_url(:id => @submitted_question.id), :html => { :class  => "off" }%>
        </p>
<div id="search_experts">  
</div>
		</div>
</div>