<div id="assignment">
    
    <% if @submitted_question.status_state == SubmittedQuestion::STATUS_RESOLVED or @submitted_question.status_state == SubmittedQuestion::STATUS_NO_ANSWER %>
      <h3>Need to reopen this question?</h3>
      <p><%= button_to 'Assign me this question', :action => :assign, :id => @submitted_question.id, :assignee_login => @currentuser.login %></p>
    <% end %>
    
    <% if @submitted_question.assignee %>
        
        <% if @submitted_question.status_state == SubmittedQuestion::STATUS_SUBMITTED %>
        <p>Assigned to 
                <%= link_to (@submitted_question.assignee.fullname, 
            aae_profile_url(:id => @submitted_question.assignee.login), :title => "view user profile") %>
            
            <!-- Show the assigned date of the submitted question if it exists and is valid -->
            <%= (assign_date = @submitted_question.assigned_date) ? time_ago_in_words(assign_date) + ' ago' : ""%> 
        </p>
        
        <% if @submitted_question.status_state == SubmittedQuestion::STATUS_SUBMITTED and !@submitted_question.last_response.nil? %>
            <div id="closebutton">
            <%= button_to 'Close Question', :controller => 'aae/question', :action => :close_out, :squid => @submitted_question.id %> <p><a class="tooltip-help" href="#" id="source_trigger">?</a></p>
            </div>
        <% end %>
        
        <% if (work_time_remaining and work_time_remaining > 0) and (@currentuser.id != @submitted_question.assignee.id) %>
        <p class="working_on_it"><%= @submitted_question.assignee.fullname %> is working on this question right now, so it's probably not a good idea  to reassign it.</p>
        <% end %>
        
        <div id="assign_container">
            <h4>Assign to someone else:</h4>
       <% else %> 
       <div id="assign_container">
            <h4>Assign to someone:</h4>
       <% end %>
    <% else %>
        <% if @submitted_question.status_state == SubmittedQuestion::STATUS_SUBMITTED %>
        <p class="inc_descriptive">Assigned to Nobody</p>
        <% end %>
        <div id="assign_container">
        <strong>Assign to someone:</strong>
    <% end %>
        <p id="assignlinks">
        <%= link_to_remote 'By name', :update => "search_experts",
            :url => aae_name_search_url(:id => @submitted_question.id) %>
        <%= link_to_remote 'By location or category', :update => "search_experts",
            :url => aae_cat_loc_search_url(:id => @submitted_question.id), :html => { :class  => "off" }%>
        </p>
        
<div id="search_experts">  
</div>
		</div>
		
        <% if (!@submitted_question.assignee) or (@currentuser.id == @submitted_question.assignee.id) %>
          <br /><br /><p><%= button_to "Hand off to a Question Wrangler", :action => :assign_to_wrangler, :squid => @submitted_question.id %></p>
        <% end %>

</div>		

<div id='source_tooltip' style="display:none;" class="tooltip">
	<p id="tooltip_hook">If no response is needed to the last reply from the public user, please close this question.</p>
</div>

<script type="text/javascript">
  var my_tooltip = new Tooltip('source_trigger', 'source_tooltip')
</script>