<div id="inc_to_FAQ">
<div class="question">
    <h2><%= (@aae_search_item.entrytype == SearchQuestion::AAE) ? 'AaE' : 'Faq' %> #<%= @aae_search_item.foreignid %></h2>
    
    <% if @aae_search_item.entrytype == SearchQuestion::AAE %>
    <p>Resolved By: <%= link_to @aae_search_item.aae_question.resolved_by.fullname, aae_profile_url(:id => @aae_search_item.aae_question.resolved_by.login)  %></p>
    <% end %>
    <p><%= h @aae_search_item.fulltitle %></p>
</div>
<div class="answer">
    <%= simple_format(@aae_search_item.content) %>
</div>
</div>