<% 
@page_title = "Ask an Expert Escalation Report"
%>

<% if !@category
    %>
    <h2>
    <%= @page_title %>
    <span class="syndication">
    <%= link_to('feed', url_for(:controller => 'aae/feeds', :action => :escalation)) %>
    </span>
    </h2>
    <%
else
    if @category == Category::UNASSIGNED
        %>
        <h2>
        <%= @page_title %>(Uncategorized)
        <span class="syndication">
        <%= link_to('feed', url_for(:controller => 'aae/feeds', :action => :escalation, :legacycategory => Category::UNASSIGNED)) %>
        </span>
        </h2>
        <%  
    else        
        %>
        <h2>
        <%= @page_title %> (<%= @category.full_name %>)
        <span class="syndication">
        <%= link_to('feed', url_for(:controller => 'aae/feeds', :action => :escalation, :legacycategory => @category)) %>
        </span>
        </h2>
        <%    
    end
end
%>



<% if @submitted_questions and @submitted_questions.length > 0 %>
  <%= render (:partial => "aae/partial/submitted_questions_list", :locals => { :submitted_questions_to_list => @submitted_questions }) %>
<% end %>