<% @page_title = "Ask an Expert - \"" + @submitted_question.asked_question + "\""%>
<% @help_title = "Ask an Expert Question" %>

<%= render(:partial => "/partial/flashmessages") %>

<% if !@submitted_question.spam %>
  <% if work_time_remaining = get_work_time_remaining(@submitted_question) %>
  <% if (work_time_remaining <= 0) and (@currentuser.id != @submitted_question.assignee.id) %>
  <%= render(:partial => "aae/question/take_question") %>
  <% elsif (work_time_remaining > 0) and (@currentuser.id != @submitted_question.assignee.id) %>
  <%= render(:partial => "aae/question/question_alert") %>
  <% elsif (work_time_remaining <= 0) and (@currentuser.id == @submitted_question.assignee.id) %>
  <%= render(:partial => "aae/question/my_claim") %>
  <% elsif (work_time_remaining > 0) and (@currentuser.id == @submitted_question.assignee.id) %>
  <%= render(:partial => "aae/question/my_claim_status") %>
  <% end %>
  <% end %>
<% end %>

<div id="inc_body">
    
    <h3>Ask an Expert #<%= @submitted_question.id %></h3>
    
    <h2 class="inc_question"><span><%= format_text_for_display(@submitted_question.asked_question) %></span></h2>
    <br class="clear" />
    
    <p class="inc_descriptive"><strong><%= @submitter_name %></strong> submitted this question <%= time_ago_in_words(@submitted_question.created_at) %> ago</p>
    
    <p class="inc_descriptive">Category: <strong><span id="category_names_<%= @submitted_question.id %>"><%= @submitted_question.category_names %></span></strong>
        <% if @submitted_question.status_state == SubmittedQuestion::STATUS_SUBMITTED %>
            <%= link_to_function "edit", "((this.innerHTML == 'edit') ? this.innerHTML = 'close': this.innerHTML = 'edit');" + " Effect.toggle('recat_#{@submitted_question.id}','blind', { duration: .4});", :id => "recat_link" %>
        <% end %>
    </p>
    
    <p id="aae_images">
      <% @submitted_question.file_attachments.each do |sq_img| %>
        <a class="fancybox" href="<%= sq_img.attachment.url %>" title="AaE Image">
        <%= image_tag sq_img.attachment.url(:thumb) %>
        </a>
      <% end %>
    </p>
    
    <% if @submitted_question.status_state == SubmittedQuestion::STATUS_SUBMITTED %>
        <div id="recat_<%= @submitted_question.id %>" style="display:none;" class="recat">
        <%= render(:partial => "aae/partial/category_form") %>
        </div>
    <% end %>
    
    <% if @submitted_question.location %>
        <p class="inc_descriptive inc_location"><strong>
        <%= @submitted_question.county.name + " County," if @submitted_question.county %>
        <%= @submitted_question.location.name %></strong>
        </p>
    <% end %>
    

<div id="inc_response">
<div id="answered_FAQ">
<% if @submitted_question.status_state == SubmittedQuestion::STATUS_NO_ANSWER %>
    <p><strong>This question was not answered. The reason is given below.</strong></p>
<% end %>

<% if @submitted_question.responses.length > 0 %>
<a name="question_resolution"></a>
<h3>Question Responses</h3>

<% @submitted_question.responses.each do |response| %>
    <% if is_public_responder(response) %>
        
        <div class="commentblock public">
          <div class="comment_wrapper">
            <%= format_text_for_display(response.response) %>
          </div>
            <p>Comment posted by public user</p>
            <p><%= humane_date(response.created_at) %> UTC</p>
        </div>
        
    <% else %>
    
        <div class="commentblock expert">
          
          <div class="comment_wrapper">
              <%= format_text_for_display(response.response) %><%= prepare_aae_signature(response) %>
          </div>

            <p>Response by  
    	    <% if response.user_id == User.systemuserid %>
    	    System
    	    <% else %>
    	    <%= link_to response.resolver.fullname, aae_profile_url(:id => response.resolver.login), :class => "profile" %>
    	    <% end %>
    	    </p>
            <p><%= humane_date(response.created_at) %> UTC</p>
            <% if contributing_question = response.contributing_question %>
    	        <p><strong>This response used 
    	        <% if contributing_question.entrytype == SearchQuestion::FAQ %>
    	          <%= link_to "FAQ # #{contributing_question.foreignid}", "http://faq.extension.org/questions/show/#{contributing_question.foreignid}" %>
    	        <% else %>
    	          <%= link_to "AaE Question # #{contributing_question.foreignid}", aae_question_url(:id => contributing_question.foreignid) %>
    	        <% end %>
    	        </strong></p>
    	    <% end %>
        </div>
    <% end %>
    
<% end %>
<% end %>
</div>
</div>

    <div id="history">
    <h3>History</h3>
    <ul id="question_history">
    <% submit_history = "Submitted by <strong>#{@submitter_name}</strong> from <strong>#{@submitted_question.external_app_id}</strong>" %>  
        <li><%= submit_history %> <% if @submitted_question.widget_name %> (<%= @submitted_question.widget_name %>)<% end %>
        <span><%= humane_date(@submitted_question.created_at) %> UTC</span></li>
        <% @submitted_question.submitted_question_events.each do |event| %>
            <li><%= stringify_submitted_question_event(event) %></li>
        <% end %>
    </ul>
    </div>
</div>

<div id="user_actions">
    <% if @submitted_question.spam %>
        <div class="rejectedaae">
            <h3>This question has been marked as spam.</h3>
            <p><%= link_to "This is not spam", aae_report_ham_url(:id => @submitted_question.id),
                                       :confirm => "Are you sure you want to report this question as non-spam?", :method => :post %></p>
        </div>
    
    <% else %>
    <% if @submitted_question.status_state != SubmittedQuestion::STATUS_SUBMITTED %>
        <% if @submitted_question.status_state == SubmittedQuestion::STATUS_REJECTED %>
        <div class="rejectedaae">
            <h3>This question has been rejected</h3>
            <p>
        	    <strong>Rejected by: </strong> 
        	    <% if @submitted_question.resolved_by.id == User.systemuserid %>
        	    System
        	    <% else %>
        	    <%= link_to @submitted_question.resolved_by.fullname, aae_profile_url(:id => @submitted_question.resolved_by.login), :class => "profile" %>
        	    <% end %>
        	</p>
            <p><strong>Rejection comment:</strong> <%= wrap_text(@submitted_question.current_response) %></p>
            <p><strong>Date: </strong><%= humane_date(@submitted_question.resolved_at) %> UTC</p>
        </div>
        <% elsif @submitted_question.status_state == SubmittedQuestion::STATUS_NO_ANSWER %>
        <div class="rejectedaae">
            <h3>This question was not answered</h3>
        </div>
        <% else %>
        <h3>This question has been resolved</h3>
        <% end %>
        <% if !@submitted_question.contributing_question and @submitted_question.status_state != SubmittedQuestion::STATUS_REJECTED and @submitted_question.status_state != SubmittedQuestion::STATUS_NO_ANSWER %>
        <br/> 

        
        <% form_tag(AppConfig.configtable['faq_create_url'], :method => :post) do %>
            <%= hidden_field_tag(:squid, @submitted_question.id) %>
            <%= hidden_field_tag(:aae_question, @submitted_question.all_public_responses) %>
            <%= hidden_field_tag(:aae_answer, @submitted_question.all_expert_responses) %>
            <%= hidden_field_tag(:author_id, @currentuser.id) %>
             <p>
             <%= submit_tag 'Convert this question into a FAQ', :class => "submit" %>
             <br />(you can edit on the next screen)
             </p>
           <% end %>
        
        
        <% elsif @submitted_question.status_state == SubmittedQuestion::STATUS_REJECTED%>
          <%= button_to 'Reactivate Question', :controller => 'aae/question', :action => :reactivate, :id => @submitted_question.id %>
        <% end %>
    <% end %>
    
    
    <% if @submitted_question.status_state == SubmittedQuestion::STATUS_RESOLVED or @submitted_question.status_state == SubmittedQuestion::STATUS_NO_ANSWER or @submitted_question.status_state == SubmittedQuestion::STATUS_SUBMITTED %>
      <%= render(:partial => 'manual_assign', :locals => { :work_time_remaining => work_time_remaining }) %>
    <% end %>

<% if @submitted_question.status_state == SubmittedQuestion::STATUS_SUBMITTED %>
     <% if (!@submitted_question.assignee.nil? and @submitted_question.assignee.id == @currentuser.id) %>
       <%= render(:partial => "aae/question/question_resolve") %> 
     <% else %>
       <% if !(work_time_remaining and work_time_remaining > 0) %>
       <div class="aae_module">
       <h3>If you would like to answer this question, please assign it to yourself.</h3>
       <%= button_to 'Assign me this question', :action => :assign, :id => @submitted_question.id, :assignee_login => @currentuser.login %>
       </div>
       <% end %>
       <%= render(:partial => "aae/search/answer_search") %>
     <% end %>
     
     <h5>Moderate this Question</h5>
      <p><%= link_to 'Reject', {:controller => 'aae/question', :action => :reject, :squid => @submitted_question.id} %> (inappropriate or duplicate questions)</p>

      <% if !@submitted_question.asked_question.index("http://").nil? %>
      <p><%= link_to "Report as Spam", aae_report_spam_url(:id => @submitted_question.id), 
                                     :confirm => "Are you sure you want to report this question as spam?", :method => :post %></p>
      <% end %>

<% end %>

<% end %>

<% if admin_mode? %>
    <% if @submitted_question.show_publicly == true %>
        <div class="admin_option" class="online">
            <p><%= link_to_function 'Public View options (Admin only)', "Effect.toggle('adminoptions','blind', { duration: .4});" %></p>
            <div id="adminoptions" style="display:none;">
                <p>This question is accessible at a <%= link_to("private URL", "/ask/" + @submitted_question.question_fingerprint) %>. Authenticated eXID users and the person who submitted the question can view the page.</p>
                <%= button_to 'Remove from Public View', :controller => 'aae/question', :action => :toggle_public_view, :id => @submitted_question.id %>
            </div>
        </div>
    <% else %>
        <% if (@submitted_question.status_state == SubmittedQuestion::STATUS_REJECTED) or (@submitted_question.spam) %>
        <div class="admin_option offline" >
            <p>This question is not accessible online. (You're seeing this message because you are an Admin.)</p>
        </div>
        <% else %>
        <div class="admin_option offline" >
            <p><%= link_to_function 'This question is not accessible online (Admin only)', "Effect.toggle('adminoptions','blind', { duration: .4});" %></p>
            <div id="adminoptions" style="display:none;">
                <%= button_to 'Make Viewable', :controller => 'aae/question', :action => :toggle_public_view, :id => @submitted_question.id %>
            </div>
        </div>
        <% end %>
   <% end %>
    
<% end %>

</div>
