<% @page_title = "Thanks for answering the question" %>
<div id="inc_body">

<h1>Thanks for Answering the Question</h1>

<ul class="larger">
    <li>Everything is saved, you can simply close your browser window, or...</li>
    <li><strong><%= link_to "View the resolved question page", aae_question_url(:id => @submitted_question.id) %></strong></li>
    <li><strong><%= link_to "View Incoming Questions", incoming_url %></strong></li>
</ul>

<br />
<br />
<br />
<h2>Would you like to convert your response into an FAQ?</h2>


<% form_tag(AppConfig.configtable['faq_create_url'], :method => :post) do %>
    <%= hidden_field_tag(:squid, @submitted_question.id) %>
    <%= hidden_field_tag(:aae_question, @submitted_question.all_public_responses) %>
    <%= hidden_field_tag(:aae_answer, @submitted_question.all_expert_responses) %>
    <%= hidden_field_tag(:author_id, @currentuser.id) %>
    <p><%= submit_tag 'Convert into a FAQ' %> (Edit it on the next screen)
      <!--[if IE]>
         <span id="ie_aae_faq_error">There is a known problem with Internet Explorer (IE) converting long AaE questions to FAQs. If you get an error, you'll need to copy and paste this AaE into the FAQ app. We are working on a solution to this issue. Other browsers are not affected by this issue.</span>
         <![endif]-->  
    </p>
    
<% end %>


</div>