<% @page_title = "Reject this Question" %>

<div id="reject">
    <h3><%= link_to "Incoming Question #{@submitted_question.id}", aae_question_url(:id => @submitted_question.id) %></h3>
    <h1><%= @page_title %></h1>

<p><strong>note:</strong> No information will be sent to the question submitter.</p>

<p class="bekind">Please don't reject valid questions. If no one can answer this question, respond and suggest their local office.
<%= link_to_function 'Sample response text', "Effect.toggle('sample_response','blind', { duration: .4});", :class => "sample" %></p>
<p id="sample_response" class="rejectpage" style="display:none;"><%= link_to 'Copy this to the reply form', answer_question_url(:squid => @submitted_question.id, :sample => SubmittedQuestion::DECLINE_ANSWER) %><%= SubmittedQuestion::DECLINE_ANSWER %></p>
<%= render(:partial => "partial/flashmessages") %>

<%= error_messages_for :submitted_question %>

<% form_tag :controller => 'aae/question', :action => :reject, :squid => @submitted_question do %>
    <p>
        <label for="reject_message">Reason for rejecting question</label>
        <%= text_field_tag :reject_message %>
    </p>
    <p>
        <%= submit_tag 'Reject'%>
    </p>
<% end %>


<div id="inc_body" class="aaedelete">
	<h2 class="inc_question"><span><%= @submitted_question.asked_question %></span></h2>
	<p class="inc_descriptive clear"><strong><%= @submitter_name %></strong> submitted this question <%= time_ago_in_words(@submitted_question.created_at) %> ago</p>
	<p class="clear">Submitted <%= time_ago_in_words(@submitted_question.created_at) %> ago</p>
</div>

</div>