<p id="aae_images">
  <% @submitted_question.file_attachments.each do |sq_img| %>
    <p>    
    <a class="fancybox" href="<%= sq_img.attachment.url %>" title="AaE Image">
    <%= image_tag sq_img.attachment.url(:thumb) %>
    </a><br />
    <%= button_to_remote 'Delete Image', :url => { :action => :delete_image, :id => sq_img.id, :squid => @submitted_question.id  },
        :loading => "Element.show('loading')",
        :complete    => "Element.hide('loading')"  %>
    <div id="loading" style="display:none"><p><img src='/images/widgets/ajax_loader_white.gif' /> Loading... </p></div>
    </p>
    <br /><br />
  <% end %>
  
  <% if (@submitted_question.public_user.id == session[:public_user_id]) or (@currentuser.email == @submitted_question.submitter_email) and ((number_of_attachments = @submitted_question.file_attachments.length) < FileAttachment::MAX_AAE_UPLOADS) %>
  <p class="inc_descriptive editpitch">
  <%= link_to_function "Add Images", "Effect.toggle('add_uploads','blind', { duration: .4}); if(this.innerHTML == 'Add Images') {this.innerHTML = 'Cancel';} else {this.innerHTML = 'Add Images'}" %>
  </p>
  <div id="add_uploads" style="display:none;">
  <h3>Additional Images</h3>
  <p>You can include up to <%= FileAttachment::MAX_AAE_UPLOADS %> total images:</p>
  <i><b>Must be either .jpg OR .png OR .gif with max size of 2MB each</b></i>
    
  <fieldset>
  <% (1..FileAttachment::MAX_AAE_UPLOADS - number_of_attachments).each do |image_counter| %>
    <% fields_for "file_attachment#{image_counter}" do |file_attachment| %> 
    <p class="image_upload"><%= file_attachment.file_field :attachment %></p>
    <% end %>
  <% end %>
  </fieldset>
  
  </div>
  <% end %>
</p>