<% if @submitted_question and @submitted_question.responses.length > 0 %>
<h3>Responses:</h3>
  <% @submitted_question.responses.each do |response| %>
  
    <div class="commentblock <%= is_public_responder(response) ? "public": "expert" %>" >
        <p class="comment">
            <img src="/images/common/extension_icon.jpg" />
            <%= format_text_for_display(response.response) %>
            <%= prepare_aae_signature(response) %>
        </p>
        <p class="meta">Posted <%= time_ago_in_words(response.created_at) %> ago</p>
    </div>
  <% end %>
<% end %>

<% if @err_msg %>
  <div class="feedback_banner failure"><p><%= @err_msg %></p></div>    
<% end %>