<% @title_tag = "Ask an Expert Question - #{truncate_at_word(@submitted_question.asked_question, 80)}"%>

<%= render(:partial => "/partial/flashmessages") %>

<div id="public_aae">
    <h1>Your Question</h1>
    
    <div id="primary">
    
    <div id="question_area">
    <%= render (:partial => "ask/question") %>
    </div>
     
    <% if (@submitted_question.public_user.id == session[:public_user_id]) or (@currentuser.email == @submitted_question.submitter_email) %>
    
    <% if !((response = @submitted_question.current_response) and (response.strip != '')) %>
    <p class="inc_descriptive editpitch">
       <%= link_to_remote 'Edit my question', 
                          :update => "question_area",
                          :url => { :action => "make_question_editable", :squid => @submitted_question.id }  %>.
         Need to clarify or correct any information? Your question is editable until one of our experts responds. Thanks!
    </p>
    <% end %>
    
    <% end %>
    <p class="inc_descriptive">This question was submitted <%= time_ago_in_words(@submitted_question.created_at) %> ago.</p>

    <% if (response = @submitted_question.current_response) and (response.strip != '') %>
        <h3>Answer</h3>
        <p class="response"><%= response %></p>
    
    <% else %>
        <div id="no_answer">
            <h2>We don’t have an answer for you yet...</h2>
            <p>As soon as we have one, we’ll send you an email.</p>
            
            <% if (@submitted_question.public_user.id == session[:public_user_id]) or (@currentuser.email == @submitted_question.submitter_email) %>
            <h3>A better question usually gets a better answer</h3>
            <p>Need to clarify or correct any information? Your question is editable until one of our experts responds. Click the "Edit my question" link above.</p>
            <% end %>
        </div>
    <% end %>
    
    <p class="aae_pitch">Have another question? <%= link_to 'Ask one of our Experts', ask_form_url %></p>
    
    </div>

    <div id="privacy_options">
        <h4>Who can see this page?</h4>
        <p>This page is private.</p>

        <p>To view this page you have to know its web address (which is not public) and the email address used to submit the question.</p>
    </div>
    
    <%- if(!@currentuser.nil?) -%>
        <div id="aae_link">
            <p><%= link_to("Ask an Expert link", "/aae/question/#{@submitted_question.id}") %> (this link is only visible to authenticated eXID users.)</p>
        </div>
    <%- end -%>
    

</div>