<% @title_tag = "Ask an Expert Question - #{@submitted_question.asked_question.truncate(80,{:omission => '', :avoid_orphans => true})}"%>

<div id="public_aae">
    <h1>Your Question</h1>
    
    <div id="primary">
    
        <div id="question_area">
        <%= render (:partial => "ask/question") %>
        </div>
     
        <p class="inc_descriptive">This question was submitted <%= time_ago_in_words(@submitted_question.created_at) %> ago.</p>
    

        <% if (response = @submitted_question.current_response) and (response.strip != '') %>
    
        <% else %>
            <div id="no_answer">
                <h2>We don’t have an answer for you yet...</h2>
                <p>As soon as we have one, we’ll send you an email.</p>
            
                <% if (@submitted_question.submitter.id == session[:account_id]) or (@currentuser.email == @submitted_question.submitter_email) %>
                <h3>Need to clarify or correct any information?</h3>
                <p>Your question is editable until one of our experts responds. Click the "Edit my question" link above.</p>
                <% end %>
            </div>
        <% end %>
    
        <div id="responses">
            <% if @submitted_question_responses.length > 0 %>
                <h3>Responses:</h3>
                <% @submitted_question_responses.each do |response| %>
      
                    <div class="commentblock <%= is_submitter(response) ? "public": "expert" %>" >
                      <div class="comment_wrapper">
                        <p class="comment">
                            <img src="/images/common/extension_icon.jpg" />
                          </p>
                            <%= format_text_for_display(response.response) %>
                            <%= prepare_aae_signature(response) %>
                            
                            <div id="response_image_div<%= response.id %>">
                            <%= render(:partial => 'response_images', :locals => { :response => response, :submitted_question => @submitted_question }) %>
                            </div>
                            
                        <p class="meta">Posted <%= time_ago_in_words(response.created_at) %> ago</p>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    <p id="loading_response" class="float-spinner" style="display:none"><img src='/images/loading.gif' /> Saving... </p>
    
        <% if @submitted_question_responses.length > 0 and ((@submitted_question.submitter.id == session[:account_id]) or (@currentuser.email == @submitted_question.submitter_email)) %>
            <h3><%= link_to_function 'Add a comment', "Effect.toggle('additional_comment','blind', { duration: .4 });" %> or <%= link_to 'Ask a new question', ask_form_url %></h3>
            <div id="additional_comment" style="display:none;">
            <% form_for :response, :url => {:controller => :ask, :action => :post_submitter_response, :squid => @submitted_question.id, :submitter_id => @submitted_question.submitter_id}, :html => {:multipart => true} do %>
                <%= text_area_tag("submitter_response", nil, :cols => "20", :rows => "3") %>
                
                
                
                <p class="inc_descriptive editpitch">
                <%= link_to_function "Add Images to Response", "Effect.toggle('add_uploads','blind', { duration: .4}); if(this.innerHTML == 'Add Images') {this.innerHTML = 'Cancel';} else {this.innerHTML = 'Add Images'}" %>
                </p>
                <div id="add_uploads" style="display:none;">
                <h3>Images</h3>
                <p>You can include up to <%= FileAttachment::MAX_AAE_UPLOADS %> images:</p>
                <p><em>You can upload .jpg .png or .gif. Max size of 2MB each.</em></p>

                <fieldset>
                <% (1..FileAttachment::MAX_AAE_UPLOADS).each do |image_counter| %>
                  <% fields_for "file_attachment#{image_counter}" do |file_attachment| %> 
                  <p class="image_upload"><%= file_attachment.file_field :attachment %></p>
                  <% end %>
                <% end %>
                </fieldset>
                </div>
                
                <br /><br />
                <%= submit_tag "Post response" %>
                <% end %>
            </div>
            <p class="aae_pitch">Have another question? <%= link_to 'Ask one of our Experts', ask_form_url %></p>
        <% end %>
    
    </div>


    <div id="privacy_options">
        <h4>Who can see this page?</h4>
        <p>This page is private.</p>

        <p>To view this page you have to know its web address (which is not public) and the email address used to submit the question.</p>
    </div>
    
    <%- if(!@currentuser.nil?) -%>
        <div id="aae_link">
            <p><%= link_to("Ask an Expert link", "/aae/question/#{@submitted_question.id}") %> (this link is only visible to authenticated eXID users.)</p>
        </div>
    <%- end -%>
    

</div>