<% @page_title = "Ask an Expert - \"" + @submitted_question.asked_question + "\""%>

<%= render(:partial => "/partial/flashmessages") %>

<div id="public_aae">
    <h1>Your Question</h1>
    
    <div id="primary">
    <h2><%= @submitted_question.asked_question %></h2>

    <p class="inc_descriptive">This question was submitted <%= time_ago_in_words(@submitted_question.created_at) %> ago</p>


    <% if response = @submitted_question.current_response and response.strip != '' %>
        <h3>Answer</h3>
        <p><%= response %></p>
    <% else %>

    <div id="no_answer">
        <h2>We don’t have an answer for you yet...</h2>
        <p>When we have one, we’ll send an email to <em><%= @need_email_address %></em>.</p>
    </div>
    
    <p class="aae_pitch">Have another question? <%= link_to 'Ask one of our Experts', ask_form_url %></p>
    
    </div>
    
    
    
    <div id="privacy_options">
        <h4>Who can see this page?</h4>
        <p>This page is private.</p>

        <p>To view this page you have to know its web address (which is not public) and the email address used to submit the question.</p>
    </div>
    
<% end %>
</div>