<% if @filterstring.nil? %>
	<% @page_title = "People Activity"%>
<% else %>
	<% @page_title = "People Activity (Filtered)"%>
<% end %>
<% @selected_tab = :activity %>
<%= render(:partial => 'navtabs') %>
<h1><%= @page_title %></h1>
<p><%= @filterstring %></p>

<p class="syndication"><%= link_to("feed", @feedurl)%></p>
<div id="activity_filter_links">
	
</div>
<div id="paginator_wrapper">
	<%= will_paginate @activitylist %>
</div>

<%= render(:partial => 'activitylist', :locals => { :activitylist => @activitylist, :activityoptions => {}}) %>

<div id="paginator_wrapper">
	<%= will_paginate @activitylist %>
</div>