<% @selected_tab = :activity %>
<h1><%= @page_title %></h1>
<p class="syndication"><%= link_to("feed", @feedurl)%></p>
<div id="paginator_wrapper">
	<%= will_paginate @activitylist %>
</div>

<%= render(:partial => 'activitylist', :locals => { :activitylist => @activitylist, :activityoptions => {:userview => true}}) %>

<div id="paginator_wrapper">
	<%= will_paginate @activitylist %>
</div>