

<!-- Article, Right Column -->
<div class="row">
	<!-- Article -->
	<div class="span9">
		<h1 id="article_title">The following feeds are available</h1>
		<div class='infobar bordered clearfix'>

      <%= render(:partial => 'shared/addthis') %>
		</div>

		<div id="article_content">
		  <ul class="communitylist">
          <li><a href="/feeds/content/" title="All content feed">All content</a></li>
          <%for community in @communities%>
              <%- if community.tags.length > 0 -%>
      		      <li><%= link_to(community.public_name, content_feed_url(:tags => community.primary_tag_name)) %></li>
              <%- end -%>
          <%- end -%>
      </ul>

      <h2>What is a feed?</h2>

      <p>Feeds like Atom feeds or RSS feeds are formats for delivering regularly changing web content. eXtension allows you to subscribe to content as a "feed" so when there is something new to tell you, it's automatically sent, much like getting an email. For example, atom feeds are being used in eXtension so you can be kept up to date on new events and news items without having to always come to the site.</p>

      <p>To read an atom or RSS feed, you need something called a "Reader." Many browsers like Firefox, Internet Explorer 7, and Safari have readers built in. You can also download a reader or use a web-based one. To start using an eXtension atom feed, just click on one of the links above and follow the instructions in your browser or copy/paste the URL in to your reader. Once it's saved in your reader, whenever there is an update, it will automatically be sent to you. It's that easy!</p>


		</div>

		<div class='backtotop span9'><a href='#top'><i class='fa fa-arrow-up'></i>Back to Top</a></div>
		<div class='row'>
  		<div class='article-info span6'>
  			<h3 class='bordered'>Browse related by Tag</h3>

  		</div>
  		<div class='article-info span3'>
  			<h3 class='bordered'>Share this post</h3>
  			<div class='share'>
		        <!-- AddThis Button BEGIN -->
						<div class="addthis_sharing_toolbox"></div>
        		<!-- AddThis Button END -->
  			</div>
  			<div class='callout orange'>
  				<h4>Have a Question?</h4>
  				<p><%= link_to "Try asking one of our Experts", @ask_two_point_oh_form, :class => "aae_form_link" %></p>
  			</div>
  		</div>
		</div>

  </div>

  <div class="span3">
    <% if @community %>
      <%= render(:partial => 'shared/social_and_locations_community') %>
    <% else %>
      <%= render(:partial => 'shared/social_and_locations_general') %>
    <% end %>

    <div class='row'>
    <div class='latest-tweets span3'>
      <h2>Latest Tweets</h2>
      <%= render(:partial => 'shared/twitter_timeline_general') %>
    </div>
    </div>

    <div class='row'>
      <div class="upcoming_learn_events span3 clearfix">
        <script type="text/javascript" src="<%= @learn_event_widget_url %>"></script>
      </div>
    </div>

    <% if @in_this_section %>
      <%= @in_this_section.content %>
    <% end %>
  </div>
</div>
