<% @page_title = "Welcome" %>
<% @selected_tab = :welcome %>

<%= error_messages_for 'submitted_question' %>

<div id="homeAsk">
    <div class="section">
    <h2>For Extension Agents</h2>
    <p>Use Ask an Expert to receive questions from your local public through your own county website.</p>
    <ul>
        <li><%= link_to "Learn more", :controller => 'ask/widgets', :action => :about %></li>
        <li><%= link_to "Get the Ask widget", :controller => 'ask/widgets', :action => :new %></li>
        <li><%= link_to "Answer questions through the eXtension FAQ site", incoming_url %></li>
    </ul>
    </div>
    
    <div class="section">
    <h2>For the Public</h2>
    <p>eXtension connects you to experts in Extension offices and Universities around the country.</p>
    <p>Visit the <%= link_to "eXtension public site", "/" %>.</p>
    </div>

</div>
