<% @page_title = "Session Information" %>

<%- if !session -%>
  <h2>No session data</h2>
<%- else -%>
  <h2>Your Session Information</h2>
  <table class='table'>
    <%- session.each do |key,value|%>
        <%- if(key.class.name == 'ActionDispatch::Flash::FlashHash' or key.class.name == 'Hash') -%>
          <%- key.each do |subkey,subvalue| -%>
          <tr>
            <td>Flash: <%= subkey %></td>
            <td>Flash: <%= subvalue %></td>
          </tr>
          <%- end -%>
        <%- else -%>
        <tr>
          <td><%= key %></td>
          <td><%= value %></td>
        </tr>
       <%- end -%>
     <%- end -%>
     <td>request_ip</td>
     <td><%= request.remote_ip %></td>
  </table>
<%- end -%>


<%- if(@personal.blank?) -%>
  <h2>No personalized location information</h2>
  <%- else -%>
    <h2>Your Personalized Location Information</h2>
    <table cellspacing="0">
       	<tr>
       	  <td scope="row" class="label">Location</td>
       	  <td><%= @personal[:location] ? @personal[:location].name : 'Unknown' %></td>
       	</tr>
    </table>
  <%- end -%>
