<h2>About Cooperative Extension Search</h2>
<p>This tool allows you to search the resources provided by your <%= link_to("Cooperative Extension Service", "http://en.wikipedia.org/wiki/Cooperative_extension_service") %>.</p>

<p>Powered by <%= link_to("Google Co-op", "http://www.google.com/coop/") %>, a <%= link_to("Google Custom Search Engine", "http://www.google.com/coop/cse/") %> was created that includes many of the Cooperative Extension web sites provided by your Land-Grant institutions.</p>

<p>You may <%= link_to("add this search box to your Google Homepage", "http://fusion.google.com/add?moduleurl=http%3A%2F%2Fwww.google.com%2Fcoop/api/018217748441857184963/cse/boqsgyytwwe/gadget") %> or <%= link_to("add it to your blog or webpage", "http://gmodules.com/ig/creator?url=http%3A%2F%2Fwww.google.com%2Fcoop/api/018217748441857184963/cse/boqsgyytwwe/gadget") %>.  Just follow the instructions provided.</p>

<p>Future versions of this site will let you view that list and make suggestions to add additional Extension web resources that are not included.  Until then, you can view the <a href="http://www.google.com/coop/cse?cx=018217748441857184963:boqsgyytwwe">Google hosted version</a> of the search engine and use that page to contact the Custom Search Engine creator.</p>