<div id="promo">
  <h1>One Search</h1>
  <h2><strong><%= Annotation.count %></strong> Cooperative Extension Sites</h2>
  <p>Easy search access to resources provided by your Land-Grant institutions</p>
</div>
<div id="cse"></div>
<script type="text/javascript">
  google.load('search', '1', {language : 'en'});
  google.load("jquery", "1.4.2");
  
  function updateLocation(q) {
    window.location.search = "q=" + encodeURIComponent(q);
  }
  
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('<%=  AppConfig.configtable['goog_cse_key'] %>');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    var options = new google.search.DrawOptions();
    options.setAutoComplete(true);
    customSearchControl.draw('cse', options);
    
    // called on form submit
    var newSearch = function(searchControl, searcher, query) {
      updateLocation(query);
    }
    
    // if we have a query, kick it off
    <% if params[:q] and not params[:q].blank? %>
      customSearchControl.execute("<%= params[:q] %>");
    <% end %>
    
    // set the callback so we can update the search link
    customSearchControl.setSearchStartingCallback(this, newSearch);
  }, true);  
</script>

<% if @currentuser %>
   <p id="manage_link"><span>Extension personnel with eXtension IDs may <%= link_to("contribute", url_for(:action => :manage)) %> to this Search Engine.</span></p>
<% end %>

<h3>About Cooperative Extension Search</h3>

<p>This service allows you to search the resources provided by your <%= link_to("Cooperative Extension Service", "http://en.wikipedia.org/wiki/Cooperative_extension_service") %> using a <%= link_to("Google Custom Search Engine", "http://www.google.com/cse/") %> that includes many of the Cooperative Extension web sites provided by your Land-Grant institutions.</p>
<%- cse_prefix, cse_suffix = AppConfig.configtable['goog_cse_key'].split(':') -%>
<p>You can <%= link_to("add this search box to your Google Homepage", "http://fusion.google.com/add?moduleurl=http%3A%2F%2Fwww.google.com%2Fcoop/api/#{cse_prefix}/cse/#{cse_suffix}/gadget") %> or <%= link_to("add it to your blog or webpage", "http://gmodules.com/ig/creator?url=http%3A%2F%2Fwww.google.com%2Fcoop/api/#{cse_prefix}/cse/#{cse_suffix}/gadget") %>.  Just follow the instructions provided by Google.</p>

