<h1><%= link_to("Cooperative Extension Search URL Manager", url_for(:action => :manage)) %></h1>

<% form_tag(:action=> "manage") do %>
   <fieldset class="search">
      <p>
         <label for="searchterm">Search URLs
            <%= text_field_tag("searchterm",params[:searchterm],:size => 25)%>
         </label>
         
         <%= submit_tag 'Search' %>
      </p>
   </fieldset>
<% end %>


<% form_tag(:action=> "add") do %>
   <fieldset class="add">
      <h2>Add a new URL to Cooperative Extension Search</h2>
      <p>
         <label for="url">URL
            <%= text_field_tag("url","",:size => 25)%>
         </label>
         <%= hidden_field_tag 'searchterm', params[:searchterm] %>
         <%= submit_tag 'Add a new URL' %>
       </p>
       <p class="explanation">Include a trailing asterisk or Google will only search the single page typed into the field. (eg: <code>extension.org/*</code>) You can also use an asterisk to include subdomains. (eg: <code>*.extension.org/*</code>)</p>
    </fieldset>
<% end %>

<h2>Directory of Current URLs</h2>


<table cellspacing="0" id="url_list">
<% @annotations.each do |a| %>
  <tr>
    <td><%= a.url %></td>
    <td><%= a.added_at.strftime("%l:%M %p, %b %d, %Y ") %></td>
    <td><%= link_to("remove", url_for(:controller => :search, :action => :remove, :id => a.id, :searchterm => params[:searchterm])) %> <!-- <%= a.href %> --></td>
  </tr>
<% end %>
</table>
<%= will_paginate @annotations %>