<% top_level_category.children.each do |subcategory| %>
    <li id="expertisesubcategory_<%= subcategory.id %>" class="<%= subcategory.show_to_public?  ? "public" : '' %>">
    <span class="aaesubcategory">
      <%= check_box_tag "areas_of_expertise[]", subcategory.id, @currentuser.get_expertise.include?(subcategory), { :id => "areas_of_expertise#{subcategory.id}"} %>  
      <%= subcategory.name %>
    </span>
    <div id="loading_<%= subcategory.id %>" class="float-spinner" style="display:none">Saving... </div>
    </li>
    

    <%= observe_field("areas_of_expertise#{subcategory.id}",
                      :url       => { :action => :expertise },
                      :with      => "'category=#{subcategory.id}'",
                      :loading => "Element.show('loading_#{subcategory.id}')",
                      :complete    => "Element.hide('loading_#{subcategory.id}')") %>
                      
<% end %>
