<% @page_title = "Preferences for Ask an Expert Expertise" %>

<a name="top"></a>

<%= render(:partial => "partial/flashmessages") %>

<ul id="nav">
    <li><%= link_to_unless_current "General Preferences", :action => 'index' %></li>
    <li><%= link_to_unless_current "Areas of Expertise", :action => 'expertise' %></li>
    <li><%= link_to_unless_current "Geographic Regions", :action => 'location' %></li>
    <li><%= link_to_unless_current "Widget Preferences", :action => 'widget_preferences' %></li>
</ul>

<br class="clear"/>

<h2>In What Areas of Expertise Can You Answer Questions?</h2>
<p>These preferences are indicated on your Ask an Expert profile for other experts to see. Question Wranglers search these areas of expertise when assigning questions.  You can <%= link_to('browse the list of expertise areas', {:controller => '/aae/expertise', :action => :categories}) %> to see colleagues signed up for these areas and get feeds of incoming questions for each area of expertise.</p>
<p>
  <span class="publicicon">Listed on the www.extension.org Ask form</span>
</p>
    
    <div id="areas_of_expertise">
    <ul id="expertisepreflist">
    <% @categories.each do |category| %>
      <%- subcategorycount = category.children.count -%>
    
      <%- expertcount = category.users.count %>
    
        <li id="expertisecategory_<%= category.id %>" class="expertiselisting <%= @current_user_categories.include?(category)  ? "highlight " : '' %>"> 
            <%- if category.show_to_public? -%>
              <div class="public">
            <%- else -%>
              <div class="notpublic">
            <%- end -%>
            <span class="aaecategory">
            <%= check_box_tag "areas_of_expertise[]", category.id, @current_user_categories.include?(category), { :id => "areas_of_expertise#{category.id}"} %> <%= category.name %>
            </span>
            
            <% if subcategorycount > 0 %>
                <span class="subcats"><%= subcategorycount %> subcategories</span>
            <% else %>
                <span class="subcats">&nbsp;</span>
            <% end %>
        
        <span id="loading_<%= category.id %>" class="float-spinner" style="display:none">Saving...</span>
        
        <%= observe_field("areas_of_expertise#{category.id}",
                          :url       => { :action => :expertise },
                          :with      => "'category=#{category.id}'",
                          :loading => "Element.show('loading_#{category.id}')",
                          :complete    => "Element.hide('loading_#{category.id}')") %>
        
        <ul class="aoe_subcat" id="subcategory_div<%= category.id %>">
          <% if @current_user_categories.include?(category) and subcategorycount > 0 %>
             <%= render(:partial => "subcategories", :locals => {:top_level_category => category}) %>
          <% end %>
        </ul>
        </div>
        </li>
    <% end %>
</ul>
</div>


<br class="clear"/>