<% @page_title = "Preferences for Ask an Expert Expertise" %>

<a name="top"></a>

<%= render(:partial => "partial/flashmessages") %>

<ul id="nav">
    <li><%= link_to_unless_current "General Preferences", :action => 'index' %></li>
    <li><%= link_to_unless_current "Areas of Expertise", :action => 'expertise' %></li>
    <li><%= link_to_unless_current "Geographic Regions", :action => 'location' %></li>
    <li><%= link_to_unless_current "Widget Preferences", :action => 'widget_preferences' %></li>
</ul>

<br class="clear"/>

<h2>In What Areas of Expertise Can You Answer Questions?</h2>
<p>These preferences are indicated on your Ask an Expert profile for other experts to see. Question Wranglers search these areas of expertise when assigning questions.</p>
    
    <div id="areas_of_expertise">
    <ul id="expertiselist">
    <% @categories.each do |cat| %>
        <li id="<%= cat.id %>"> 
            <span class="aaecategory"><%= check_box_tag "areas_of_expertise[]", cat.id, @current_user_categories.include?(cat), { :id => "areas_of_expertise#{cat.id}"} %> <%= link_to cat.name, {:controller => 'aae/search', :action => 'experts_by_category', :id => cat.id } %></span>
            
            <% if cat.children.length > 0 %>
                <span class="subcats"><%= cat.children.length %> subcategories</span>
            <% else %>
                <span class="subcats">&nbsp;</span>
            <% end %>
        
        <span class="syndication"><%= link_to 'feed', :controller => 'aae/feeds', :action => 'expertise', :id => cat.id %></span>
        <span id="loading_<%= cat.id %>" class="float-spinner" style="display:none"><img src='/images/loading.gif' /> Saving...</span>
        
        <%= observe_field("areas_of_expertise#{cat.id}",
                          :url       => { :action => :expertise },
                          :with      => "'category=#{cat.id}'",
                          :loading => "Element.show('loading_#{cat.id}')",
                          :complete    => "Element.hide('loading_#{cat.id}')") %>
        
        <ul class="aoe_subcat" id="subcategory_div<%= cat.id %>" >
          <% if @current_user_categories.include?(cat) and cat.children.length > 0 %>
             <%= render(:partial => "subcategories", :locals => {:top_level_category => cat}) %>
          <% end %>
        </ul>
        
        </li>
    <% end %>
</ul>
</div>


<br class="clear"/>