<% @page_title = "Preferences for Ask an Expert" %>

<!-- <h2><%= @page_title %></h2> -->

<%= render(:partial => "partial/flashmessages") %>

<div id="user_pref">
    <ul id="nav">
        <li><%= link_to_unless_current "General Preferences", :action => 'index' %></li>
        <li><%= link_to_unless_current "Areas of Expertise", :action => 'expertise' %></li>
        <li><%= link_to_unless_current "Geographic Regions", :action => 'location' %></li>
        <li><%= link_to_unless_current "Widget Preferences", :action => 'widget_preferences' %></li>
    </ul>
<br class="clear"/>

<h2>General Preferences</h2>

<div id="aae_pref_section">
    <fieldset id="no_assign_fieldset">
        <p>
            <span id="loading_no_assign" class="float-spinner" style="display:none"><img src='/images/loading.gif' /> 
            Saving... 
            </span>
            
            <label><%= check_box_tag "no_assign", "1", !@currentuser.aae_responder %> Don't assign me questions 
                <em>Checking this option means questions can not be assigned to you at all.</em>
            </label>
        </p>
        
        <%= observe_field :no_assign, :url => { :action => :toggle_no_assign },
              :with => 'check_box_value',
              :loading => "Element.show('loading_no_assign')",
              :complete => "Element.hide('loading_no_assign')"
        %>
        
        
    </fieldset>
    
    <fieldset id="auto_assign_options">
        <div id="auto_assign_warning">
        <% if !@currentuser.aae_responder %>
        <p class="warning">This field is disabled because you have elected above to not be assigned questions.</p>
        <% end %>
        </div>
        <p>
            <span id="loading_auto_assign" class="float-spinner" style="display:none"><img src='/images/loading.gif' /> 
            Saving... 
            </span>
            <label><%= check_box_tag "auto_route", "1", @auto_route, :disabled => !@currentuser.aae_responder %> 
            Automatically assign me incoming questions that match my expertise or location</label>
            <em>( <a href="#how_are_incoming" class="help">How are questions automatically assigned?</a> )</em>
        </p>                
        <ul>
            <span id="loading_county_only" class="float-spinner" style="display:none"><img src='/images/loading.gif' /> 
            Saving... 
            </span>
            <li id="county_only_li"><%= check_box_tag "county_only", "1", @county_only, :disabled => !@currentuser.aae_responder %> 
            Don't assign me questions outside of my county(ies)</li>
            <span id="loading_location_only" class="float-spinner" style="display:none"><img src='/images/loading.gif' /> 
            Saving... 
            </span>
            <li id="location_only_li"><%= check_box_tag "location_only", "1", @location_only, :disabled => !@currentuser.aae_responder %> Don't assign me questions outside of my state(s)</li>
        </ul>
        
        <%= observe_field :auto_route, :url => { :action => :toggle_auto_assign },
              :with => 'check_box_value',
              :loading => "Element.show('loading_auto_assign')",
              :complete => "Element.hide('loading_auto_assign')"
        %>
        
        <%= observe_field :county_only, :url => { :action => :toggle_route_only_to_county },
              :with => 'check_box_value',
              :loading => "Element.show('loading_county_only')",
              :complete => "Element.hide('loading_county_only')"
        %>
        
        <%= observe_field :location_only, :url => { :action => :toggle_route_only_to_location },
              :with => 'check_box_value',
              :loading => "Element.show('loading_location_only')",
              :complete => "Element.hide('loading_location_only')"
        %>
        
    </fieldset>
    
    <fieldset id="escalation_fieldset">
        <p>
            <span id="loading_escalation" class="float-spinner" style="display:none"><img src='/images/loading.gif' /> 
            Saving... 
            </span>
            <label><%= check_box_tag "auto_escalate", "1", @auto_escalate %> Send me an email if a question in my area of expertise is still unanswered after 48 hours</label>
        </p>
        
        <%= observe_field :auto_escalate, :url => { :action => :toggle_escalation },
              :with => 'check_box_value',
              :loading => "Element.show('loading_escalation')",
              :complete => "Element.hide('loading_escalation')"
        %>
        
    </fieldset>
    
    <fieldset>
    <p><%= link_to("Become a Question Wrangler", :controller => '/people', :action => 'communities', :id => 38) %>. Question Wranglers monitor uncategorized incoming questions and route them to the right person. They also follow-up with experts to make sure questions are answered in timely manner. <%= link_to("Learn more about this group and sign up", :controller => '/people', :action => 'communities', :id => 38) %>.</p>
    </fieldset>

    
<fieldset id="email_signature">
    <p>
        <label for="signature">'Ask an Expert' Email Signature
        <em>Added to your response when answering incoming questions. You can always edit this on a per-question basis.</em>
        </label>
    <% form_remote_tag :url => { :action => :set_signature }, :loading => "submit_signature.value='Saving...'", :complete => "submit_signature.value='Save email signature changes'" do %>
    <%= text_area_tag("signature", @signature, :cols => "20", :rows => "3") %>
    <%= submit_tag "Save email signature changes", :id => "submit_signature" %>
    <% end %>
    </p>
</fieldset>
</div>    

</div>
<br /><br />
<div class="directions">
    

    <p><a href="#widget" class="help">Answering questions from the Ask Widget?</a></p>
    
    
    <a name="how_are_incoming" ></a>
    <h2>How are incoming questions from the public site (www.extension.org) assigned?</h2>
    <p>The AaE system assigns incoming questions from our public site based on <strong>Areas of Expertise</strong>, <strong>Geographic Location</strong> and <strong>User Workload</strong>. When more than one expert is available, <strong>the question is given to the user with the fewest assigned questions</strong>. Questions are matched to experts based on the following criteria:</p>
    <ul>
        <li>matching Areas of Expertise and Geographic Locations</li>
        <li>matching Areas of Expertise (by sub-category if available, then main category)</li>
        <li>matching Geographic Locations (by county if available, then state)</li>
    </ul>
    <p>If none of the above criteria are met, then a question is assigned to an Ask an Expert question wrangler.</p>
    
</div>

<div class="directions">
    <a name="widget" ></a>
    <h2>Are you answering questions from the Ask Widget?</h2>
    <p>The Ask widget is a new tool that enables Extension professionals to offer their constituents an easy way to ask questions via their blogs, county Extension websites, or other Extension related websites and enables them to manage and answer these questions. The widget works in conjunction with the eXtension AaE site. <%= link_to "Learn more about the Ask widget", :controller => 'aae/widgets', :action => 'index' %>.</p>
    <p>To receive questions coming from your Ask widget:</p>
        
        <ul>
            <li>Go to the <%= link_to 'Widget Preferences', :controller => 'aae/prefs', :action => :widget_preferences %> page</li>
            <li>Find your widget by name</li>
            <li>Select the 'Auto-assign me these questions' check box</li>
            <li>That's It!</li>
        </ul>
    
    <p>You are also encouraged to set your location and expertise preferences so others can find you in the ask an expert search.</p>
    
</div>