<h2><%= community.name %></h2>
<p><%= community.entrytype_to_s %></p>
<p><%= community.memberfilter_to_s %></p>
<% if showuser.connection_with_community(community) == 'none' or showuser.connection_with_community(community) == 'interest' or showuser.connection_with_community(community) == 'nointerest' %>
          <p id="community_<%= community.id %>_showuser_<%= showuser.id %>_connection"> <%= link_to_function 'invitation options', "Effect.toggle('community_#{community.id}_showuser_#{showuser.id}_manageform_block','blind', { duration: .4});" %></p>
	<div id="community_<%= community.id %>_showuser_<%= showuser.id %>_manageform_block" style="display:none;" class="invite_actions">
		<% form_remote_tag(:url => {:controller => '/people/colleagues', :action => :xhrcommunityinvite, :id => showuser.id, :communityid => community.id}, :html => {:id => "community_#{community.id}_showuser_#{showuser.id}_manage_form"}) do %>
		
		<fieldset>
		    <h3>Invite <%= showuser.fullname%> to join <%= community.name %></h3>
			<% if @currentuser.is_community_leader?(community) or admin_mode? %>
		    <p>
		        <%= check_box_tag("inviteasleader","yesinviteleader",false,{:id => "community_#{community.id}_showuser_#{showuser.id}_manage_makeleader"}) %>
		        <%- if community.is_institution? -%>
	         <label>Add to Institutional Team (optional) <em>Institutional Team members can invite and remove community members and receive email notifications of institution membership changes.</em></label>
		        <%- else -%>
		        <label>Make a community leader (optional) <em>Leaders can invite and remove community members and receive email notifications of community membership changes.</em></label>
		        <%- end -%>
		    </p>
			<% end %>
			<p><%= submit_tag('Send Invite',{:id=>"community_#{community.id}_showuser_#{showuser.id}_manage_commit"}) %></p>
		</fieldset>
		<% end %>
	</div>
<% else %>
	<p id="community_<%= community.id %>_showuser_<%= showuser.id %>_connection"> <%= showuser.connection_display(community) %></p>
<% end %>
