<td><%= link_to("#{community.name}", people_community_url(community))%></td>
<td><%= community.entrytype_to_s %></td>
<td><%= showuser.connection_display(community) %></td>
<% if admin_mode? or @currentuser.is_community_leader?(community) %>
	<td class="connectionactions" id="connectionactions_<%= community.id %>"><%= colleague_community_connection_links("connectionactions_#{community.id}",community,showuser,connectaction) %></td>
<% elsif(displayactions) %>
	<td class="connectionactions" id="connectionactions_<%= community.id %>">&nbsp;</td>
<% end %>
