<table cellspacing="0" border="1" >
    <tr>
        <th>Name</th>
        <th>eXtensionID</th>
        <th>Email</th>
        <th>Network</th>
        <th>Account</th>
    </tr>
    
    <% for shownetwork in @socialnetworklist %>
        <tr>
			<td><%= link_to("#{shownetwork.user.fullname}", :controller => '/people/colleagues', :action => :showuser, :id => shownetwork.user.login) %></td>
            <td><%= shownetwork.user.login %></td>
            <td><%= shownetwork.user.email %></td>
			<td><%= link_to(social_network_name(shownetwork), {:action => :socialnetwork, :id => shownetwork.network}, :class => social_network_class(shownetwork.network)) %></td>
			<td><%= social_network_link(shownetwork) %></td>
        </tr>
    <% end%>
</table>
