<% @selected_tab = :colleagues %>
<%= render(:partial => 'traininginvitation_navtabs', :locals => { :selected => 'home' }) %>
<h1><%= (@page_title) ? @page_title : "New Training Invitations" %></h1>

<%- if(!@showresults) -%>
<!-- form -->
<p class="highlight2"><strong>CAUTION:</strong> Currently, the only validation that can be done with eXtensionID's is to send an email message to the person's email and asking them to validate their email address. This validates the email address and hopefully validates that the person receiving the email is who they say they are.  Utilizing this feature bypasses that modicum of validation. When using this feature - you must ensure that the invited email address is valid - and that you will have an opportunity to observe that the person signing up for the account is who they say they are.  You are responsible for the activities of these accounts after signup.</p>

<% form_tag({:action => 'new_traininginvitations'}) do %>
    <fieldset>
	    <p>
	        <label for="invitations_list">List of email addresses:
	        <%= text_area_tag(:invitations_list,'',{:rows => "20"}) %>
	        <em>Separate email addresses with commas, spaces, or newlines</em>
	        </label>
	    </p>
        <p><%= submit_tag 'Create' %> or <%= link_to 'Cancel', :controller => '/people/colleagues', :action => :traininginvitations %></p>
	</fieldset>
<% end %>
<%- else -%>
<!-- results -->
    <%- if(!@successes.blank?) -%>
        <h2>Successfully created training invitations for the following :</h2>
        <ul>
            <%- @successes.keys.each do |email| -%>
            <li><%= email %></li>
            <%- end -%>
        </ul>
    <%- end -%>
    
    <%- if(!@failures.blank?) -%>
        <h2>Unable to create training invitations for the following :</h2>
        <ul>
            <%- @failures.keys.each do |email| -%>
            <li><%= email %> : Reason(s): <%= @failures[email].join(',') %></li>
            <%- end -%>
        </ul>
    <%- end -%>
<%- end -%>
