<% @selected_tab = :colleagues %>
<%= render(:partial => 'navtabs', :locals => { :selected => 'socialnetwork' }) %>
<h1><%= (@page_title) ? @page_title : "Users" %></h1>

<div id="paginator_wrapper">
    
<% if @socialnetworklist.length > 0 %>
    <p class="display_results">Displaying <strong><%= @socialnetworklist.offset + 1 %>-<%= @socialnetworklist.offset + @socialnetworklist.length %></strong> of <strong><%= @socialnetworklist.total_entries %></strong></p>
<% else %>
    <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
<% end %>

<%= will_paginate @socialnetworklist %>
</div>
<%= render(:partial => 'socialusers_table') %>
<div id="paginator_wrapper">
    
<% if @socialnetworklist.length > 0 %>
    <p class="display_results">Displaying <strong><%= @socialnetworklist.offset + 1 %>-<%= @socialnetworklist.offset + @socialnetworklist.length %></strong> of <strong><%= @socialnetworklist.total_entries %></strong></p>
<% else %>
    <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
<% end %>

<%= will_paginate @socialnetworklist %>
</div>

<% if @backto %>
	<p><%= link_to @backto[:label], @backto[:url] %></p>
<% end %>