<% @page_title = "Browse Colleagues by Interest" %>
<% @selected_tab = :colleagues %>

<%= render(:partial => 'partial/flashmessages') %>
<%= render(:partial => 'navtabs', :locals => { :selected => 'tagcloud' }) %>

<h1><%= @page_title %></h1>
<p><em>Experimental:  Search for colleagues with any or all of a <strong>set</strong> of interests using the <%= link_to("Interest Query Builder",{:action => :tagquerybuilder}) %></em></p>
<%= render(:partial => 'people/tags/tagcloud', :locals => { :title => 'Popular interests from all colleagues', :listoftags => @all_peer_popular_tags}) %>
<%= render(:partial => 'people/tags/tagcloud', :locals => { :title => 'All interests from colleagues', :listoftags => @tagcloud}) %>
