<% @page_title = "Find Colleagues by Interest" %>
<% @selected_tab = :colleagues %>

<%= render(:partial => 'partial/flashmessages') %>
<%= render(:partial => 'navtabs', :locals => { :selected => 'tagcloud' }) %>

<div id="advancedtagwrapper">
    <h1><%= @page_title %></h1>

    <%= render(:partial => 'people/tags/select_taglist', :locals => { :title => 'Popular interests from all colleagues', :listoftags => @all_peer_popular_tags}) %>
</div>    
    <div id="fixed">
    <% form_tag({:action => 'tagquerybuilder'}, {:method => :post, :id => "tags"}) do %>
        <fieldset>
            <h2>Multiple Interest Search</h2>
    	    <p>
    	        <label for="taglist">Click to add interests  
    	        <%= text_area_tag(:taglist,'',{:tabindex => 1, :rows => "2", :class => 'keywords', "onChange" => "fitTextArea(this)", "onKeyUp" => "fitTextArea(this)"}) %>	
    	        </label>
    	    </p>

            <p><%= submit_tag('Match ALL',{:tabindex => 4, :class => "simplebutton"}) %> <%= submit_tag('Match ANY',{:tabindex => 4, :class => "simplebutton"}) %> <%= link_to_function "clear list", "clearFormControl($('taglist'))" %></p>
    	</fieldset>
    <% end %>
    </div>