<div id="admin">
    <p><%= link_to 'Admin home', :action => 'index' %> > <%= link_to 'All locations', :action => 'manage_locations_office_links' %></p>
    <h1>Edit Community Details</h1>
    

    <h2><%= @location.name %></h2>
    
  
    <%= form_tag( {:action => 'update_location_office_link', :id => @location}) do %>
        <fieldset class="stacked">
            <h3>Edit details</h3>
        <p>
            <label>Office Link</label>
            <%= text_field_tag 'location[office_link]', @location.office_link %>
        </p>
                
        <p>
            <input type="submit" value="Update"> 
            <%= link_to 'cancel', {:controller => "admin", :action => "manage_locations_office_links"}, {:class => "cancel"}  %> 
        </p>
        </fieldset>
    <% end %>
    
</div>