<div id="admin">
    <p><%= link_to 'Admin home', :action => 'index' %> > <%= link_to 'All Institution Logos', :action => 'manage_institution_logos' %></p>
    <h1>Edit Community Logo</h1>
	<p> Current Logo:
		<%- if @logo.nil? %>
            <td>Not yet provided.</td>
    	<%- else -%>
    	    <td><%= render_inline_logo({:logo => @logo, :show_thumbnail => false }) %></td>
        <%- end -%></p>
    
        <% if @logo.errors.any? %>
		  <ul>
		    <% @logo.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		  </ul>
		<% end %>

    <%= form_for(:logo, @logo, :html => { :multipart => true }) do |f| %>
    	<%= hidden_field_tag(:institution_id, @institution.id) %>

      <p>
        <label for="logo">Browse:</label>
        <%= f.file_field :uploaded_data %>
      </p>
      <p>
        <%= submit_tag 'Upload' %> or <%= link_to 'delete', url_for(:action => 'delete_institution_logo', :id => @institution.id), :confirm => 'Are you sure?', :method => :delete %>
      </p>
    <% end -%>

</div>
