<div id="admin">
    <h1>Public Site Administration</h1>

    <h2>Content Management</h2>
    <ul>
        <li><%= link_to 'Manage Communities', :action => 'manage_communities' %></li>
        <li><%= link_to 'Manage Sponsors', admin_sponsors_url %></li>
        <li><%= link_to 'Manage Logos', admin_logos_url %></li>
        <li><%= link_to 'Manage Location Office Links', :action => 'manage_locations_office_links' %></li>
        <li><%= link_to 'Manage Institutions', :action => 'manage_institutions' %></li>
        <li><%= link_to 'Manage Institution Logos', :action => 'manage_institution_logos' %></li>
        <li><%= link_to 'Show Category Tag Redirects', :action => 'category_tag_redirects' %></li>
        <li><%= link_to 'Show Page Redirects', :action => 'page_redirects' %></li>

        <li><%= link_to 'Pages with Multiple CoP categories', :action => 'shared_ownership' %></li>
        <li><%= link_to 'Tag-based Batch Export and Redirects', :action => 'manage_exports_and_redirects' %></li>
    </ul>

</div>
