<div id="admin">
    <p><%= link_to 'Admin home', :action => :index%></p>
    <h1>Manage Topics</h1>
    
    <h2>Create a new topic:</h2>
    <%= form_tag :action => :create_topic do -%>
        <fieldset>
	        <p>
	            <label>Topic name
	            <%= text_field_tag 'topic[name]' %>
	            </label>
	        </p>
	        <p>
	            <%= submit_tag 'Submit' %>
	        </p>
	    </fieldset>
    <% end -%>
    
    <h2>Topics</h2>
    <table class="table">
    <% for topic in @topics %>
    	<tr>
    	    <td><%= topic.name %></td>
    	    <td><%= link_to 'delete', :action => 'destroy_topic', :id => topic.id %></td>
    	</tr>
    <% end %>
    </table>
</div>