<div id="admin">
    <p><%= link_to 'Admin home', :controller=>'admin', :action => 'index' %></p>
    <h2>Institution Management - Public Attributes</h2>
    <table>
        <tr>
            <th scope="col">State</th>	
            <th scope="col">Institution</th>
            <th scope="col">URL ("about this institution" link)</th>
            <th scope="col">Domain</th>
            <th scope="col">edit</th>
        </tr>

        <% for institution in @landgrant_institutions %>
            <tr>
                <td><%= institution.location.abbreviation %></td>
	            <td><%= institution.name %></td>
	            <td><%= link_to institution.public_uri, institution.public_uri %></td>
	            <td><%= institution.referer_domain %></td>
                <td><%= link_to('edit', :action => 'edit_public_institution', :id => institution.id)%></td>
            </tr>
        <% end %>
    </table>
</div>