<div id="admin">
    <p><%= link_to 'Admin home', :action => :index%></p>
    <h2>Manage Communities</h2>
  
  <div id="left_col">
  <h3>Communities</h3>
  
  <table cellspacing="0" border="1">
      <tr>
          <th>&nbsp;</th>
          <th>Live</th>
          <th>Community Name</th>
          <th>Public Community Name</th>
          <th>Topic</th>
          <th>Content Tag</th>
      </tr>

      <% @approved_communities.each do |community|%>
      <tr>
          <td>edit</td>
          <td><%= community.is_launched %></td>
          <td><%= community.name %></td>
          <td><%= community.public_name.nil? ? 'not set' : community.public_name %></td>
          <td><%= community.topic.nil? ? 'not set' : community.topic.name %></td>
          <td><%= community.cached_content_tags(true).blank? ? 'not set' : community.cached_content_tags.join(',') %></td>
      <% end%>
  </table>
  </div>

  
</div>