<% @page_title = "Questions assigned to me" %>
<% @help_title = "Incoming Questions" %>

<% if !@category and !@location and !@county and !@source %>
    <h2><%= @page_title %> <small>(<%= filter_string_helper %>)</small><span class="syndication">
    <%= link_to 'feed', :controller => 'feeds', :action => 'my_assigned', :user_id => User.current_user %></span></h2>
<% else %>
    <% if @category == Category::UNASSIGNED %>
         <h2><%= @page_title %> <small>(<%= filter_string_helper %>)</small> <span class="syndication">
         <%= link_to 'feed', :controller => 'feeds', :action => 'my_assigned', :user_id => User.current_user, :id => Category::UNASSIGNED, :location => @location, :county => @county, :source => @source %></span></h2> 
    <% else %>
         <h2><%= @page_title %> <small>(<%= filter_string_helper %>)</small> <span class="syndication">
         <%= link_to 'feed', :controller => 'feeds', :action => 'my_assigned', :user_id => User.current_user, :id => @category, :location => @location, :county => @county, :source => @source %></span></h2>
    <% end %>
<% end %>

<% if @filtered_submitted_questions.length == 0 %>
    <div class="noresults">
        <h3>There are no questions that match your question filter</h3>
        <p>(You can change your filter settings on the right)</p>
    </div>
<% end %>


<% if @question_difference > 0 %>
    <% if @filtered_submitted_questions.length == 0 %>
    
    <div class="noresults">
        <h3>There <%= @question_difference == 1 ? "is" : "are" %> <strong><%= @question_difference %> 
        <%= @question_difference == 1 ? "question" : "questions" %> assigned to you</strong> outside of your filter:</h3>
    </div>
    <%= render (:partial => "submitted_questions") %>
    
    <% else %>
    <%= render (:partial => "submitted_questions") %>
    <div class="noresults">
        <h3>There <%= @question_difference == 1 ? "is" : "are" %> <strong><%= @question_difference %> other
        <%= @question_difference == 1 ? "question" : "questions" %> assigned to you</strong> outside of your filter and are listed below.</h3>
    </div>
    <%= render (:partial => "list_difference") %>
    <% end %>
<% else %>
    <%= render (:partial => "submitted_questions") %>
<% end %>