<% @page_title = "Thanks for answering the question" %>
<div id="inc_body">
    <h3><%= link_to "Incoming Question ##{@submitted_question.id}", {:controller => 'expert', :action => 'question', :id => @submitted_question.id} %> > Convert to a FAQ?</h3>
</div>

<div id="user_actions">
<h2>Thanks for answering the question! Your response has been emailed.</h2>

<h2>Would you like to convert your response into an FAQ?</h2>

<p>
   <% form_tag({:controller => 'expert', :action => 'new_faq'}) do %>
     <%= hidden_field_tag(:question, @revision.question_text) %>
     <%= hidden_field_tag(:answer, @revision.answer) %>
     <%= hidden_field_tag(:squid, @submitted_question.id) %>
     <%= submit_tag 'Convert your response into a FAQ' %>
     <p>(you can edit on the next screen)</p>
   <% end %>
</p>

<br/>
<p>Don't want to create an FAQ right now? No problem, you can always do it later.
    <br />Other options: <%= link_to "View the resolved question page", {:controller => 'expert', :action => 'question', :id => @submitted_question.id} %> or <%= link_to "Look at other incoming questions", {:controller => 'expert', :action => 'incoming'} %>.
    </div>