<% @page_title = "Ask an Expert - \"" + @submitted_question.asked_question + "\""%>
<% @help_title = "Ask an Expert Question" %>

<%= render(:partial => "partial/flashmessages") %>

<% if !@submitted_question.spam %>
  <% if work_time_remaining = get_work_time_remaining(@submitted_question) %>
  <% if (work_time_remaining <= 0) and (@currentuser.id != @submitted_question.assignee.id) %>
  <%= render(:partial => "ask/expert/take_question") %>
  <% elsif (work_time_remaining > 0) and (@currentuser.id != @submitted_question.assignee.id) %>
  <%= render(:partial => "ask/expert/question_alert") %>
  <% elsif (work_time_remaining <= 0) and (@currentuser.id == @submitted_question.assignee.id) %>
  <%= render(:partial => "ask/expert/my_claim") %>
  <% elsif (work_time_remaining > 0) and (@currentuser.id == @submitted_question.assignee.id) %>
  <%= render(:partial => "ask/expert/my_claim_status") %>
  <% end %>
  <% end %>
<% end %>

<div id="inc_body">
    
    <h3>Ask an Expert #<%= @submitted_question.id %></h3>
    
    <h2 class="inc_question"><span><%= @submitted_question.asked_question %></span></h2>
    <br class="clear" />
    
    <p class="inc_descriptive"><strong><%= @submitter_name %></strong> submitted this question <%= time_ago_in_words(@submitted_question.created_at) %> ago</p>
    
    <p class="inc_descriptive">Category: <strong><span id="category_names_<%= @submitted_question.id %>"><%= @submitted_question.category_names %></span></strong>
        <% if @submitted_question.status_state == SubmittedQuestion::STATUS_SUBMITTED %>
            <%= link_to_function "edit", "((this.innerHTML == 'edit') ? this.innerHTML = 'close': this.innerHTML = 'edit');" + " Effect.toggle('recat_#{@submitted_question.id}','blind', { duration: .4});", :id => "recat_link" %>
        <% end %>
    </p>
    
    <% if @submitted_question.status_state == SubmittedQuestion::STATUS_SUBMITTED %>
        <div id="recat_<%= @submitted_question.id %>" style="display:none;" class="recat">
        <%= render(:partial => "ask/expert/category_form") %>
        </div>
    <% end %>
    
    <% if @submitted_question.location %>
        <p class="inc_descriptive inc_location"><strong>
        <%= @submitted_question.county.name + "," if @submitted_question.county %>
        <%= @submitted_question.location.name %></strong>
        </p>
    <% end %>
    

<% if @submitted_question.status_state == SubmittedQuestion::STATUS_RESOLVED or @submitted_question.status_state == SubmittedQuestion::STATUS_REJECTED or @submitted_question.status_state == SubmittedQuestion::STATUS_NO_ANSWER %>
    <div id="inc_response">
        <a name="question_resolution"></a>
        <h3>Question Resolution</h3>
        
        
        <% if @submitted_question.status_state == SubmittedQuestion::STATUS_REJECTED or @submitted_question.status_state == SubmittedQuestion::STATUS_NO_ANSWER %>
            <p><strong>This question was not answered. The reason is given below.</strong></p>
        <% end %>
        
	    <div id="answered_FAQ">
	        <p>
        	    <strong>Resolved by:</strong> <%= link_to @submitted_question.resolved_by.fullname, {:controller => 'ask/prefs', :action => 'profile', :id => @submitted_question.resolved_by.login}, :class => "profile" %>
        	</p>
	        <p><strong>Date: </strong><%= humane_date(@submitted_question.resolved_at) %></p>
            
            <% if @contributing_question %>
    	        <p><strong>This question was answered with 
    	        <% if @type == 'FAQ' %>
    	          <%= link_to "#{@type} # #{@contributing_question.foreignid}", 
    	          :controller => 'ask/expert', 
    	          :action => 'view_question', 
    	          :qid => @contributing_question.foreignid, 
    	          :type => @contributing_question.entrytype %>
    	        <% else %>
    	          <%= link_to "#{@type} # #{@contributing_question.foreignid}", 
    	          :controller => 'ask/expert', 
    	          :action => 'question', 
    	          :id => @contributing_question.foreignid %>
    	        <% end %>
    	        </strong></p>
    	    <% end %>	        

		    <% if response = @submitted_question.current_response %>
		        <p><strong>Response <%= @submitted_question.status_state == SubmittedQuestion::STATUS_REJECTED ? '(no email sent):' : '(emailed):' %></strong></p>
<p>
<%= wrap_text(response) %>
</p>
		    <% end %>
	    </div>
	    
	</div>
<% end %>

    <div id="history">
    <h3>History</h3>
    <ul id="question_history">
    <% submit_history = "Submitted by <strong>#{@submitter_name}</strong> from <strong>#{@submitted_question.external_app_id}</strong>" %>  
        <li><%= submit_history %> <% if @submitted_question.widget_name %> (<%= @submitted_question.widget_name %>)<% end %>
        <span><%= humane_date(@submitted_question.created_at) %></span></li>
        <% @submitted_question.submitted_question_events.each do |event| %>
            <li><%= stringify_submitted_question_event(event) %></li>
        <% end %>
    </ul>
    </div>
</div>

<div id="user_actions">
    <% if @submitted_question.spam %>
    <h3>This question has been marked as spam.</h3>
    <p><%= link_to "This is not spam", {:controller => :expert, :action => :report_ham, :id => @submitted_question.id},
                                       :confirm => "Are you sure you want to report this question as non-spam?", :method => :post %></p>
    
    <% else %>
    <% if @submitted_question.status_state != SubmittedQuestion::STATUS_SUBMITTED %>
        <% if @submitted_question.status_state == SubmittedQuestion::STATUS_REJECTED %>
        <h3>This question has been rejected</h3>
        <% elsif @submitted_question.status_state == SubmittedQuestion::STATUS_NO_ANSWER %>
        <h3>This question was not answered</h3>
        <% else %>
        <h3>This question has been resolved</h3>
        <% end %>
        <p><%= link_to("Skip to resolution details", "#question_resolution") %></p>
        <% if !@submitted_question.contributing_question and @submitted_question.status_state != SubmittedQuestion::STATUS_REJECTED and @submitted_question.status_state != SubmittedQuestion::STATUS_NO_ANSWER %>
        <br/> 

        
           <% form_tag({:controller => 'ask/faq', :action => 'new_faq'}) do %>
             <%= hidden_field_tag(:squid, @submitted_question.id) %>
             <p>
             <%= submit_tag 'Convert this Question & Answer into a FAQ', :class => "submit" %>
             <br />(you can edit on the next screen)
             </p>  
           <% end %>
        
        
        <% elsif @submitted_question.status_state == SubmittedQuestion::STATUS_REJECTED%>
          <%= button_to 'Reactivate Question', :controller => 'ask/expert', :action => :reactivate, :id => @submitted_question.id %>
        <% end %>
    <% end %>
    
<% if @submitted_question.status_state != SubmittedQuestion::STATUS_RESOLVED and @submitted_question.status_state != SubmittedQuestion::STATUS_REJECTED and @submitted_question.status_state != SubmittedQuestion::STATUS_NO_ANSWER %>
  <%= render(:partial => 'ask/expert/manual_assign', :locals => { :work_time_remaining => work_time_remaining }) %>
<% end %>


<% if @submitted_question.status_state == SubmittedQuestion::STATUS_SUBMITTED %>
     <% if @submitted_question.assignee.id == @currentuser.id %>
       <%= render(:partial => "ask/expert/question_resolve") %> 
     <% else %>
       <% if !(work_time_remaining and work_time_remaining > 0) %>
       <div class="aae_module">
       <h3>If you would like to answer this question, please assign it to yourself.</h3>
       <%= button_to 'Assign me this question', :controller => 'ask/expert', :action => :assign, :id => @submitted_question.id, :assignee_login => @currentuser.login %>
       </div>
       <% end %>
       <%= render(:partial => "ask/expert/answer_search") %>
     <% end %>
<% end %>

<% end %>

</div>