<ul id="nav">
    <li><%= link_to_unless_current "All", :controller => 'expert', :action => 'resolved', :type => 'all' %></li>
    <li><%= link_to_unless_current "Answered", :controller => 'expert', :action => 'resolved', :type => 'answered' %></li>
    <li><%= link_to_unless_current "Not Answered", :controller => 'expert', :action => 'resolved', :type => 'not_answered' %></li>
    <li><%= link_to_unless_current "Rejected", :controller => 'expert', :action => 'resolved', :type => 'rejected' %></li>
</ul>
<br class="clear"/>


<% @page_title = "Resolved Questions" if !@page_title %>

<% if !@category and !@location and !@county and !@source %>
    <h2><%= @page_title %> <small>(<%= @filter_string %>)</small><span class="syndication">
    <%= link_to 'feed', :controller => 'feeds', :action => 'resolved', :type => params[:type] %></span></h2>
<% else %>
    <% if @category == Category::UNASSIGNED %>
         <h2><%= @page_title %> <small>(<%= filter_string_helper %>)</small> <span class="syndication">
         <%= link_to 'feed', :controller => 'feeds', :action => 'resolved', :id => Category::UNASSIGNED, :location => @location, :county => @county, :source => @source, :type => params[:type] %></span></h2> 
    <% else %>
         <h2><%= @page_title %> <small>(<%= filter_string_helper %>)</small> <span class="syndication">
         <%= link_to 'feed', :controller => 'feeds', :action => 'resolved', :id => @category, :location => @location, :county => @county, :source => @source, :type => params[:type] %></span></h2>
    <% end %>
<% end %>

<%= render(:partial => "submitted_questions") %>

<% if @submitted_questions.length == 0 %>
    <div class="noresults">
        <h3>There are no questions that match your question filter</h3>
        <p>(You can change your filter settings on the right)</p>
    </div>
<% end %>