<% @page_title = "Ask an Expert" %>

<% if @search_results.empty? %>
    <h2 class="note"><strong>Your search did not match any FAQs</strong></h2>
    
    <div id="search_for_answer">
    <h2>You can search again or answer the question</h2>
    
    <span>Search again</span>
    <% form_tag({:action => :show_duplicates}, {:method => 'get'}) do %>
    <p>
        <%= text_field_tag "query", params[:query], :size => 30 %>
        <%= submit_tag "Search" %>
        <%= hidden_field_tag(:squid, @submitted_question.id) %>
    </p>
    <% end %>
    <span>Skip the search</span>
    <p class="button2">
      <%= link_to 'Write an Answer', { :action => 'answer_question', :squid => @submitted_question.id } %>     
    </p>
    </div>
    
    
<% else %>
    <h2>Search Results</h2>
    
    <h2 style="clear: both; padding-bottom: 0; margin-bottom: 0;">You may use any of these FAQs to assist you with your answer</h2>
    <p>It's OK to click on a FAQ for more info &mdash; you can always get back to this page</p>
    
    <h2 style="clear: both; padding-bottom: 0; margin-bottom: 0;">Don't see a good answer?</h2>
    <p><em class="soft_highlight">Scroll to the bottom of this page</em></p>
    
    <%= render(:partial => 'duplicates') %>
    
    <div id="search_for_answer">
    <h2>Don't see a good answer?</h2>

    <% form_tag({:action => :show_duplicates}, {:method => 'get'}) do %>
    
    <h4>Search again</h4>
    <p>
        <%= text_field_tag "query", params[:query], :size => 30 %>
        <%= submit_tag "Search" %>
        <%= hidden_field_tag(:squid, @submitted_question.id) %>
    </p>
    <% end %>
    <h4>Or... Skip the search</h4>
    <p class="button2">
      <%= link_to 'Write an Answer', { :action => 'answer_question', :squid => @submitted_question.id } %>       
    </p>
    </div>

<% end %>

<br class="clear" />
<dl id="asked_question">
	<dt><%= @submitted_question.asked_question %></dt>
	<dd>Submitted <%= time_ago_in_words(@submitted_question.created_at) %> ago</dd>
</dl>

