<div id="admin">
    <p><%= link_to 'Admin home', :controller=>'admin', :action => 'index' %></p>
    <h1>County Links Management</h1>
    
    <p><%= link_to 'Create a new county link', new_county_link_path %></p>
    
    <table>
        <tr>
            <th scope="col">URL</th>
            <th scope="col">Location</th>
            <th scope="col">State</th>
            <th scope="col">edit</th>
        </tr>

<% for county_link in @county_links %>
  <tr>
	<td><%= link_to county_link.office_link, county_link.office_link %></td>
	<td><%= county_link.location.name %></td>
	<td><%= county_link.state %></td>
  <td><%= link_to 'edit', edit_county_link_path(county_link) %></td>
  </tr>
<% end %>
</table>

