<% @page_title = "Add Subcategory to " + ActiveSupport::Inflector.titleize(@parent_category.name) %>
<% @help_title = "Add Category" %>

<p><%= link_to 'Admin Home', :action => 'index' %> | <%= link_to 'Back to the Category List', :action => 'categories' %></p>

<h2><%= @page_title %></h2>

<%= render(:partial => "partial/flashmessages") %>
<%= error_messages_for "category" %>

<% form_tag :action => "add_subcategory" do %>
    <%= hidden_field "category", "parent_id" %>
    
    <p>
        <label for="category_name">Category name:</label> 
        <%= text_field "category", "name", :size => 25 %>
    </p>
    
    <p><%= submit_tag %></p>
<% end %>