<p><%= link_to 'Admin Home', :action => 'index' %> | <%= link_to 'Create New Category', :action => 'add_category' %></p>

<h2>List of Existing Categories</h2>

<%= render(:partial => "partial/flashmessages") %>

<table id="list-table" class="hover" cellspacing="0">
  <tr>
      <th>Name</th>
      <th>View / Add Sub-categories</th>
  </tr>
  
<% for category in @categories %>
  <tr>
    <td class="list"><%= category.name %></td>
    <td class="list"><%= link_to "view / add sub-categories", :action => 'category', :id => category %></td>
  </tr>
<% end %>
</table>
