<% @page_title = ActiveSupport::Inflector.titleize(@category.name) + " Category" %>
<% @help_title = "Category" %>

<p><%= link_to 'Admin Home', :action => 'index' %> | <%= link_to "Back to the Category list", :action => 'categories' %></p>

<h2><%= @page_title %></h2>

<%= render(:partial => "partial/flashmessages") %>

<h3>Subcategories<br /><%= link_to "Add Subcategory", :action => 'add_subcategory', :id => @category %></h3>

<% if !@category.children.empty? %>
    <ul>
        <% @category.children.each do |subcat| %>
            <li><%= subcat.name %></li>
        <% end %>
    </ul>
<% end %>


