<% form_remote_tag :complete => "Effect.toggle('recat_#{@submitted_question.id}','blind', { duration: .4});",
                   :url => {:controller => 'aae/question', :action => :change_category, :sq_id => @submitted_question.id} do %>
<fieldset>
    <p><label>Category: <%= select_tag ("category_#{@submitted_question.id}", 
                                                options_for_select([["uncategorized", "uncat"]].concat(@category_options), @category_id)) %></label></p>

<p id="subcat_<%= @submitted_question.id %>">
<% if @sub_category_options.length > 1 %>
    <label>Sub-category: <%= select_tag ("sub_category", options_for_select(@sub_category_options, @sub_category_id)) %></label>
<% end %>
</p>

<p><%= submit_tag 'Save' %> <%= link_to_function "cancel", "Effect.toggle('recat_#{@submitted_question.id}','blind', { duration: .4}); if($('recat_link') != null) {$('recat_link').innerHTML = 'edit';}" %></p>

<%= observe_field("category_#{@submitted_question.id}",
                  :update    => "subcat_#{@submitted_question.id}",
                  :url       => { :controller => 'aae/question', :action => :get_subcats },
                  :with      => "'category='+value") %>
</fieldset>         
<% end %>