<ul id="extensionNav">
  <li class="group"><span>Public sites</span>
    <ul>
      <li><a href="<%= AppConfig.configtable['about_blog'] %>" title="A starting place for all things eXtension">About eXtension</a></li>
      <li><a href="<%= AppConfig.configtable['campus_site'] %>" title="Moodle courses developed by eXtension Communities of Practice, as well as Extension professionals throughout the Cooperative Extension System, for use by the general public">Campus</a></li>
      <li><a href="<%= AppConfig.configtable['public_site'] %>" title="extension.org">eXtension.org</a></li>
      <li><a href="<%= AppConfig.configtable['learn_site'] %>" title="Upcoming Professional Development Sessions and Archived PD Recordings">Learn</a></li>
      <li><a href="<%= AppConfig.configtable['search_site'] %>" title="One search for hundereds of Cooperative Extension Sites">Search</a></li>
    </ul>
  </li>
  <li class="group last"><span>Collaboration and Content Tools</span>
    <ul>
      <li><a href="<%= AppConfig.configtable['aae_site'] %>" title="Ask an Expert">AaE</a></li>
      <li><a href="<%= AppConfig.configtable['collaborate_site'] %>" title="A wiki for professionals from the land-grant universities to collaborate on topics of interest.">Collaborate</a></li>
      <li><a href="<%= AppConfig.configtable['create_site'] %>" title="A collaborative development of resources about the eXtension initiative: news, governance, and projects.">Create</a></li>
      <li><a href="<%= AppConfig.configtable['events_site'] %>" title="Events">Events</a></li>
      <li><a href="<%= AppConfig.configtable['people_site'] %>" title="Manage your eXtension profile, find colleagues, create and join communities.">People</a></li>
    </ul>
  </li>
</ul>