<div class="detailpage">
    
    <p><%= link_to "All widgets", :controller => 'aae/widgets', :action => :list %> > <%= link_to("Widget info", view_widget_url(:id => @widget.id)) %> > Assignee Pool</p>
    
    <h2><%= @widget.name %></h2>
    
    <%= render(:partial => "partial/flashmessages") %>
    
    <h4>Assignee Pool (users taking responsibility for questions)</h4>

<% if @widget_assignees.length > 0 %>
  <table id="aoe_table">
      <tr>
          <th>User</th>
      </tr>
  <% @widget_assignees.each do |user| %>
    <tr>
      <td><%= link_to (user.fullname, aae_profile_url(:id => user.login), {:class => "profile"}) %></td>
    </tr>
  <% end %>
  </table>
<% else %>
    <div class="askalert">
        <p><strong>There are currently no users signed up to receive questions from this widget.</strong></p>
        <p>If you like, you can <%= link_to ("sign up to receive questions", :controller => 'aae/prefs', :action => :widget_preferences) %> from this widget and begin answering.</p>
    </div>
<% end %>
</div>