<% @page_title = "Account Confirmation" %>

<%= render(:partial => 'partial/flashmessages') %>

<h2>Confirm Email Address and Account</h2>

<p>You should have received a confirmation email at:</p>

<p><code class="email"><%= @currentuser.email %></code> <span class="help">(Incorrect address? Please <%= link_to('fix it in your profile', :controller => 'profile', :action => 'edit')%>)</span></p>

<p>Once you receive it, either click the confirmation link in the email or provide the confirmation token below.</p>


<% form_tag(:action => :confirm) do %>
	<div class="form_section">
    <p>
	<label for="token">Confirmation Token
    <%= text_field_tag("token", '', :class => "medsize") %>
    </label></p>
    <input type="submit" value="Confirm Account" />
	</div>
<% end %>


<%= render(:partial => 'confirmhelp') %>
