<% @page_title = "Sign Up" %>

<% form_tag({:action=> "create"},{:name=>"signupform"}) do %>
    <% if(!@invitation.nil?) %>
        <%= hidden_field_tag('invite',@invitation.token) %>
	<% end %>
    
    <h1>eXtensionID Registration <a name="reg_top"></a></h1>
    
    <div id="signup_help">
        <h4>Registration Help</h4>
	    <p><a href="#who_can">Who can get an eXtensionID?</a></p>
	    <p><a href="#cant_sign_in">I already created an account, but it's not letting me sign in</a></p>
        <p><%= link_to 'I forgot my password', :controller => 'account', :action => 'new_password' %></p>
        <p>Already registered? <%= link_to 'Sign-in', :action => 'login' %></p>
    </div>
        

    <div id="reg_form_directions">

        <p><a href="#who_can">Am I eligible for an eXtensionID?</a></p>
    
        <p>Please choose a eXtensionID that is based on your real name.  Your user name will be associated with all of the eXtension content that you create. We recommend using <code>firstnamelastname</code> if it is available.</p>

	    <%= render(:partial => "partial/flashmessages") %>

    
		<p><span class="advice">Fields marked with an asterisk (<em class="required">*</em>) are required</span></p>

	    <div class="form_section">
	        <fieldset>	
	            <p>	
    		        <label for="user_login">eXtensionID <em class="required">*</em></label>
    		        <%= text_field "user", "login", :class => "medsize" %>
    		        <span class="advice">Must begin with a letter and can contain only letters and numbers. This cannot be changed later, choose carefully!</span>
   		        </p>

				<p>
			        <label for="user_email">Email Address: <em class="required">*</em></label>
			        <%= text_field "user", "email" %>
			        <span class="advice">Using a .edu or .gov email address if you have one will speed up account review.</span>
			    </p>

                <p>	
                    <label for="user_password">Password <em class="required">*</em></label>
                    <%= password_field "user", "password", :class => "medsize", :value => '' %>
                    <span class="advice">minimum six characters</span>
                </p>	

                <p>	
                    <label for="user_password_confirmation">Confirm Password <em class="required">*</em></label>
                    <%= password_field "user", "password_confirmation", :class => "medsize", :value => '' %>
                </p>
	
            </fieldset>
        </div>

        <%= render(:partial => 'profile/profile_fields',:locals => {:signup => true}) %>
		
        <p><%= submit_tag 'Submit Registration' %></p>
    </div>
    
<% end %>
    
<div id="signup_faq">
    <h3>Registration Help</h3>
    
    <h4>Who can get an eXtensionID? <a name="who_can"></a></h4>
    <p>eXtensionID's are currently limited to individuals closely associated with the U.S. Cooperative Extension system (either those working at a Land-Grant Institution, State college or U.S. Government personnel affiliated with Cooperative Extension), or individuals in Extension-related organizations working on projects with Cooperative Extension staff.</p>
    
    <h4>Help! I created an account, but it's not letting me sign in<a name="cant_sign_in"></a></h4>
    <p>Did you sign up on the eXtension public site (<a href="http://www.extension.org">www.extension.org</a>)? That account is not the same as an eXtension ID. You'll need to create an eXtension ID account using the registration form above.</p>
        
    <p><a href="#reg_top">back to the registration form</a></p>
</div>