<% @page_title = "Sign Up" %>

<% form_tag({:action=> "create"},{:name=>"signupform"}) do %>
    <% if(!@invitation.nil?) %>
        <%= hidden_field_tag('invite',@invitation.token) %>
	<% end %>
    
    <h1>eXtensionID Registration <a name="reg_top"></a></h1>
    
    <div id="signup_help">
        <h4>Registration Help</h4>
        <p><%= link_to 'I forgot my password', :controller => 'people/account', :action => 'new_password' %></p>
        <p>Already registered? <%= link_to 'Sign-in', :controller => 'people/account', :action => 'login' %></p>
    </div>
        

    <div id="reg_form_directions">
    
        <p>Please choose a eXtensionID that is based on your real name.  Your user name will be associated with all of the eXtension content that you create. We recommend using <code>firstnamelastname</code> if it is available.</p>

	    <%= render(:partial => "partial/flashmessages") %>

    
		<p><span class="advice">Fields marked with an asterisk (<em class="required">*</em>) are required</span></p>

	    <div class="form_section">
	        <fieldset>	
	            <p>
                    <label for="user_first_name">First Name: <em class="required">*</em></label>
                    <%= text_field "user", "first_name" %>
                </p>

                <p>
                    <label for="user_last_name">Last Name: <em class="required">*</em></label>
                    <%= text_field "user", "last_name" %>
                </p>
                
				<p>
			        <label for="user_email">Email Address: <em class="required">*</em></label>
			        <%= text_field "user", "email" %>
			        <span class="advice">Using a .edu or .gov email address if you have one will speed up account review.</span>
			    </p>

                <p>	
                    <label for="user_password">Password <em class="required">*</em></label>
                    <%= password_field "user", "password", :class => "medsize", :value => '' %>
                    <span class="advice">minimum six characters</span>
                </p>	

                <p>	
                    <label for="user_password_confirmation">Confirm Password <em class="required">*</em></label>
                    <%= password_field "user", "password_confirmation", :class => "medsize", :value => '' %>
                </p>
                
                
                <p>
                    <label for="user_phonenumber">Preferred Phone Number:</label>
                    <%= text_field("user", "phonenumber", {:value => number_to_phone(@user.phonenumber,:area_code => true)}) %>
                </p>

                <p>
                    <label for="user_title">Title:</label>
                    <%= text_field "user", "title", :class => "medsize" %>
                </p>
                
                <p>
                  <label for="user_time_zone">Time zone:</label>
                  <%= time_zone_select(:user,:time_zone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)") %>
                </p>
                
                <p>
                    <label>Your Involvement with Cooperative Extension: <em class="required">*</em></label>
                    <%= text_area_tag(:signup_affiliation, params[:signup_affiliation], :rows => 3) %>                
                <p>
	
            </fieldset>
        </div>
        
        <div class="form_section">
        <h3>Location</h3>
        	<div id="location">
        		<p>
        		    <label for="user_location_id">Location:</label>
        		<%= select(:user, :location_id, @locations.map {|loc| [loc.name,loc.id]}, :include_blank => true) %>
        		<%= observe_field(:user_location_id,
        		                  :url       => { :controller => '/people/signup', :action => :xhr_county_and_institution },
        		                  :with      => "'location='+value") %>
        		</p>
        	</div>
        	<div id="county">
        		<% if !@countylist.nil? %>
        			<%= render(:partial => 'people/signup/county', :locals => {:countylist => @countylist}) %>
        		<% end %>
        	</div>
        </div>

        <div class="form_section">
        <h3>Your Institution/Affiliation</h3>
        	<div id="institution">
        		<% if !@institutionlist.nil? %>
        			<%= render(:partial => 'people/signup/institutionlist', :locals => {:countylist => @institutionlist}) %>
        		<% else %>
        		    <p><em>select a location to show institutions for that location</em></p>
        		<% end %>
        	</div>
        </div>

        <div class="form_section">
           <%= render(:partial => 'people/signup/profile_position', :locals => { :positionslist => Position.geteditlist}) %>
        </div>


        <div class="form_section">
        <h3>Announcements</h3>
        	<div id="announcements">
        	    <p>
        	        <label>
        	            <%= check_box(:user,:announcements) %>Subscribe me to the eXtension.org "announcements" mailing list.
        	        </label>
        	    </p>
        	</div>
        </div>
		
        <p><%= submit_tag 'Submit Registration' %></p>
    </div>
    
<% end %>