<div id="activity_one" class="activity_summary">

<h2>People</h2>

<table class="general" cellspacing="0">
    <tr>
		<td><%= link_to_userlist('Total Users',total.findoptions.merge({:calledfrom => 'numbersummary'}),{:title => "Users #{@filterstring}"}) %></td>
        <td class="bignumber"><%= number_with_delimiter(total.totalpeople) %></td>
    </tr>
    <tr>
        <td>New Users (within the last month)</td>
        <td class="bignumber"><%= number_with_delimiter(lastmonth.newpeople) %></td>
    </tr>
    <tr>
        <td>Active Users (those with a login or edit within the last month)</td>
        <td class="bignumber"><%= number_with_delimiter(lastmonth.active) %></td>
    </tr>
    <% if !total.positions.nil? and total.positions != 0 %>
    <tr>
        <td><%= link_to("Represented Positions",url_for_itemlist(:positions,@filteredparams,{:dateinterval => 'all'})) %></td>
        <td class="bignumber"><%= number_with_delimiter(total.positions)%></td>
    </tr>
    <% end %>
</table>

<%- if (@filteredparams.community.nil?) -%>
<h2>Communities</h2>
<table cellspacing="0">
    <tr><th></th><th class="righttext">Total</th><th class="righttext">Members</th></tr>
    <tr>
        <td><%= link_to("Institutions",url_for_itemlist(:communities,@filteredparams,{:dateinterval => 'all',:communitytype => 'institution',:connectiontype => 'joined'})) %></td>
        <td class="bignumber"><%= number_with_delimiter(total.communities[:institution][:count])%></td>
        <td class="bignumber"><%= number_with_delimiter(total.communities[:institution][:joined]) %></td>
    </tr>
    <tr>
        <td><%= link_to("eXtension Communities of Practice",url_for_itemlist(:communities,@filteredparams,{:dateinterval => 'all',:communitytype => 'approved',:connectiontype => 'joined'})) %></td>
        <td class="bignumber"><%= number_with_delimiter(total.communities[:approved][:count])%></td>
        <td class="bignumber"><%= number_with_delimiter(total.communities[:approved][:joined]) %></td>
    </tr>
    <tr>
        <td><%= link_to("People-contributed Communities",url_for_itemlist(:communities,@filteredparams,{:dateinterval => 'all',:communitytype => 'usercontributed',:connectiontype => 'joined'})) %></td>
        <td class="bignumber"><%= number_with_delimiter(total.communities[:usercontributed][:count])%></td>
        <td class="bignumber"><%= number_with_delimiter(total.communities[:usercontributed][:joined]) %></td>
    </tr>
</table>
<%- end -%>

<h2>Places</h2>
<table cellspacing="0">
    <tr><th></th><th class="righttext">Total</th></tr>

    <% if !total.locations.nil? and !total.locations != 0 %>
    <tr>
        <td><%= link_to("States and related",url_for_itemlist(:locations,@filteredparams,{:dateinterval => 'all'})) %></td>
        <td class="bignumber"><%= number_with_delimiter(total.locations) %></td>
    </tr>
    <tr>
        <td>Counties, Parishes and related</td><td class="bignumber"><%= number_with_delimiter(total.counties) %></td>
    </tr>
    <% end %>
</table>


<% if !total.agreements.nil? and total.agreements %>
	<h2>Agreements</h2>

	<table class="general" cellspacing="0">

	<tr>
	    <td>Pending Contributor Agreement Reviews</td>
	    <td class="bignumber"><%= number_with_delimiter(total.agreements[:empty]) %></td>
	</tr>
	<tr>
	    <td>Accepted Contributor Agreement</td>
	    <td class="bignumber"><%= number_with_delimiter(total.agreements[:agree]) %></td>	</tr>
	<tr>
	    <td>Did Not Accept Contributor Agreement</td>
	    <td class="bignumber"><%= number_with_delimiter(total.agreements[:reject]) %></td>	</tr>
	</table>
<% end %>

</div>
	
<div id="activity_two" class="activity_summary">

<h2>Published Content</h2>
<p>See the <%= link_to('published content report', :controller => '/reports', :action => :publishedcontent) %> for the latest information on published content</p>

<h2>More Data</h2>
<p>Visit <%= link_to('data.extension.org', 'http://data.extension.org') %> for more data and analysis on page performance and eXtension Activity.</p>


</div>





