<h3 class="yourlocal">Your Local Extension:</h3>

<h1 class="logo" >
  <%= link_to(@personal[:institution].public_uri) do %>
    <%- if !(@personal[:institution].logo.nil?) -%>
      <%= render_inline_logo({:logo => @personal[:institution].logo, :alt_text => @personal[:institution].name}) %>
    <%- else -%>
  		<%= @personal[:institution].name %>
    <%- end -%>
  <%- end -%>
</h1>

<ul id="institution_actions">
  <li><%=link_to 'Local Extension offices near you', @personal[:location].office_link if @personal[:location] and !@personal[:location].office_link.blank? %></li>
  <li><%=link_to 'Learn more about this institution', @personal[:institution].public_uri if @personal[:institution] %></li>
</ul>