<%if person[:institution] %>
    <h1 class="logo">
<%   inst = person[:institution]
	if inst.img
	   image = "#{RAILS_ROOT}/public/images/" + inst.img
	   img = ImageSize.new(File.open(image, 'rb')) %>
		<%= link_to(image_tag(inst.img, :width => img.width, :alt => inst.name ), home_url, {:style => ''}) %>
	<%else%>
		<%= link_to(inst.name, home_url, {:style => ''}) %>
	<%end%>
    </h1>
    <div class="institution_actions_wrapper">
        <ul id="institution_actions">
            <li><%=link_to 'Local Extension offices near you', @personal[:location].county_link.office_link if @personal[:location] and @personal[:location].county_link %></li>
            <li><%=link_to 'Learn more about this institution', @personal[:institution].public_uri if @personal[:institution] %></li>                 
            <li class="changeint"><%= link_to_function 'Select a different institution', "Effect.toggle('institution_picker','blind', { duration: .4}); setTimeout(set_select_focus, 500);", :class => "sample" %></li>
        </ul>
    </div>
<% elsif session[:multistate] %>
   <div id="multipicker">
       <h3><strong>Welcome!</strong> What's your local institution?</h3>
       <ul>
          <%= render :partial => 'shared/institution_select_list', :locals => {:institutions => Institution.find(:all, :conditions => ["entrytype = #{Institution::LANDGRANT} and location_abbreviation = ?", session[:multistate]])} %>
          <li class="changeint"><%= link_to_function 'Select a different institution', "Effect.toggle('institution_picker','blind', { duration: .4}); setTimeout(set_select_focus, 500);", :class => "sample" %></li>
       </ul>
       <div class="institution_actions_wrapper">
           <p><%=link_to 'Local Extension offices near you', @personal[:location].county_link.office_link if @personal[:location] and @personal[:location].county_link %></p>
       </div>
   </div>
<%end%>