<% if !@community.twitter_handle.blank? || !@community.facebook_handle.blank? || !@community.youtube_handle.blank? || !@community.pinterest_handle.blank? || !@community.gplus_handle.blank? %>
<div class='row'>
  <div class="connect-with-us span3 home">
    <h3>Connect with us</h3>
    <ul class="inline">
      <% if !@community.twitter_handle.blank? %>
        <li><%=link_to image_tag("/images/frontporch/icon_twitter.gif", :alt => "Twitter"), "#{@community.twitter_handle}" %></li>
      <% end %>
      <% if !@community.facebook_handle.blank? %>
        <li><%=link_to image_tag("/images/frontporch/icon_facebook.gif", :alt => "Facebook"), "#{@community.facebook_handle}" %></li>
      <% end %>
      <% if !@community.youtube_handle.blank? %>
        <li><%=link_to image_tag("/images/frontporch/icon_youtube.gif", :alt => "YouTube"), "#{@community.youtube_handle}" %></li>
      <% end %>
      <% if !@community.pinterest_handle.blank? %>
        <li><%=link_to image_tag("/images/frontporch/icon_pinterest.gif", :alt => "Pinterest"), "#{@community.pinterest_handle}" %></li>
      <% end %>
      <% if !@community.gplus_handle.blank? %>
        <li><%=link_to image_tag("/images/frontporch/icon_googleplus.gif", :alt => "Google+"), "#{@community.gplus_handle}" %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class='row'>
  <div class="local-extension-office span3">
    <div id="institutional_branding">
      <%= render(:partial => 'shared/institutional_branding') %>
    </div>
                
    <div id="institution_picker">
      <label for="zip_or_state">Select a different institution</label>
      <div class="input-append">
        <input id="zip_or_state" name="zip_or_state" type="text" class="span2 search-query" placeholder="State or Zip" />
        <span id="submit_zip" class="btn">LOCATE</span>
      </div>
    </div>
  </div>
</div>