<h1>Our Sponsors</h1>

<% if sponsorlist.class == Hash %>
   <% Sponsor::SPONSORSHIP_LEVELS.each do |level| %>
      <% if !sponsorlist[level].empty? %>
         <% if level == 'titanium' %>
            <% sponsorlist[level].each do |sponsor| %>
               <% if !sponsor.nil? and !sponsor.logo.nil? %>
            		<%= render_inline_logo({:logo => sponsor.logo}) %>
            	<% end %>
         	<% end %>
         <% else %>
            <ul id="carousel-<%= level %>" class="sponsor_carousel">
            <% sponsorlist[level].each do |sponsor| %>
              <li class="rotator_sponsorlogo <%= level %>">
            	<% if !sponsor.nil? and !sponsor.logo.nil? %>
            		<%= render_inline_logo({:logo => sponsor.logo}) %>
            	<% end %>
              </li>
             <% end %>
             </ul>
         <% end %>
       <% end %>
   <% end %>
<% else %>
   <% sponsorlist.each do |sponsor| %>
     <div class="sponsorlogo">
   	<% if !sponsor.nil? and !sponsor.logo.nil? %>
   		<%= render_inline_logo({:logo => sponsor.logo}) %>
   	<% end %>
     </div>
   <% end %>
<% end %>

<p class="readmore">
  <%=link_to 'Read more about our sponsors...', :controller => 'main', :action => 'sponsors' %>
</p>