<li id="homenav" <%= selected_tab_if(:home) %>><%= link_to 'Home', people_welcome_url %></li>
<li <%= selected_tab_if(:my_profile) %>><%= link_to "My Profile", :controller => "profile", :action => "me" %></li>
<li <%= selected_tab_if(:communities) %>><%= link_to "Communities", :controller => '/people/communities' %></li>
<li <%= selected_tab_if(:colleagues) %>><%= link_to "Find Colleagues", :controller => '/people/colleagues' %></li>
<li <%= selected_tab_if(:activity) %>><%= link_to "Activity", :controller => '/people/activity' %></li>
<li <%= selected_tab_if(:numbers) %>><%= link_to "Numbers", :controller => '/people/numbers' %></li>
<% if adminmode %>
	<li id="admin" <%= selected_tab_if(:admin) %>><%= link_to "Admin (restricted)", :controller => "admin" %></li>
<% end %>

