<%= error_messages_for 'advertisement' %>

<!--[form:advertisement]-->
<p>
<%= label :advertisement, :image_id, "Which graphic will this ad use?" %>
	<%= select :advertisement, :image_id, Asset.find(:all).collect { |a| [a.filename, a.id] }.delete_if { |a| a[0].include? "_thumb." } %>
</p>
<p>
	<%= label :advertisement, :tag_id, "On what pages will this ad be displayed?" %>
	<span>"main" displays ad only on the eXtension homepage. Other options display ad on the homepage and any page that includes the content tag.</span>
	<%= select_tag("advertisement[tag_id]", @community_tags.nil? ? [] : options_for_select(@community_tags, 
                 (@advertisement ? @advertisement.tag_id : nil)  ) )
	%>
</p>
<!--[eoform:advertisement]-->

