<% @page_title = "Activity Visualizations" %>
<% @selected_tab = :reports %>
<h1>Example Graphs</h1>

<p><%= link_to("Resolved AaE Questions by Hour of Day (EST)",:action => :activitygraph, :activity => 'aaeresolve', :tz=>'US/Eastern') %></p>
<p><%= link_to("Resolved AaE Questions by Day of Week (EST)",:action => :activitygraph, :datatype => 'weekday', :activity => 'aaeresolve', :tz=>'US/Eastern') %></p>
<p><%= link_to("Compared Working Hours - eXtension Staff to eXtension Engineering",:action => :activitygraph, :secondary_type => 'community', :secondary_id => 30, :primary_type=>'community', :primary_id => 31, :tz=>'US/Eastern') %></p>
<p><%= link_to("Compared Working Hours - eXtension Staff to eXtension Engineering (Normalized)",:action => :activitygraph, :secondary_type => 'community', :secondary_id => 30, :primary_type=>'community', :primary_id => 31, :tz=>'US/Eastern', :normalize => 'true') %></p>


<p><%= link_to("AaE submissions by widget and from pubsite - Timeline (Last 2 years)",:action => :activitygraph, :secondary_type => 'activity', :secondary_id => 'aaesubmissionwidget', :primary_type=>'activity', :primary_id => 'aaesubmissionpubsite', :tz=>'US/Eastern', :graphtype => 'timeline', :datatype => 'date', :dateinterval => '2 year') %></p>

<p><%= link_to("AaE submissions by widget and from pubsite - Area Graph by Month (Last 2 years)",:action => :activitygraph, :secondary_type => 'activity', :secondary_id => 'aaesubmissionwidget', :primary_type=>'activity', :primary_id => 'aaesubmissionpubsite', :tz=>'US/Eastern', :graphtype => 'area', :datatype => 'month', :dateinterval => '2 year') %></p>

<p><%= link_to("AaE submissions by widget and from pubsite - Column Graph by Month(Last 2 years)",:action => :activitygraph, :secondary_type => 'activity', :secondary_id => 'aaesubmissionwidget', :primary_type=>'activity', :primary_id => 'aaesubmissionpubsite', :tz=>'US/Eastern', :graphtype => 'column', :datatype => 'month', :dateinterval => '2 year') %></p>

<p><%= link_to("AaE submissions by widget and from pubsite - Area Graph by Week (Last 2 years)",:action => :activitygraph, :secondary_type => 'activity', :secondary_id => 'aaesubmissionwidget', :primary_type=>'activity', :primary_id => 'aaesubmissionpubsite', :tz=>'US/Eastern', :graphtype => 'area', :datatype => 'week', :dateinterval => '2 year') %></p>
