<% 	if social_network.new_record? 
		fieldid = social_network.object_id
		newrecord = 'yes'
	else
		fieldid = social_network.id
		newrecord = 'no'
	end 
%>
	
<div id="socialnetwork_item_<%= fieldid %>" class="socialnetwork">
			
  <% fields_for_social_network(social_network) do |form| %>

    <p class="user-service">
		
		<!-- fieldid for field observation -->
		<%= form.hidden_field(:fieldid, {:value => fieldid, :id => "socialnetwork_#{fieldid}_fieldid"}) %>
		
		<!-- network -->
		<%= form.hidden_field(:network, {:value => social_network.network, :id => "socialnetwork_#{fieldid}_network"}) %>
		<% if(!social_network.new_record? or social_network.network != 'other') %>
			<span class="networkicon <%= social_network_class(social_network.network) %>"></span>
			<span class="networkname"><%= social_network_name(social_network) %></span>
		<% else %>
			<label class="displayname-label">Social Network Name
			    <%= form.text_field(:displayname,{:id => "socialnetwork_#{fieldid}_displayname", :class => "accountname"})%>
	        </label>			
		<% end %>
		<!-- accountid -->
		<label class="accountname-label"><%if social_network.network == 'blog'%>Blog/Website Name<% else %>Account Name<% end %>
		    <%= form.text_field(:accountid,{:id => "socialnetwork_#{fieldid}_accountid", :class => "accountname"})%>
        </label>
		<!-- accounturl -->
		<label class="serviceurl-label">
		    
			<% if social_network.has_editable_url? %>
			    Your URL
			    <span id="<%= "socialnetworkurl_#{fieldid}" %>" class="serviceurl">
				<%= form.text_field(:accounturl,{:id => "socialnetwork_#{fieldid}_accounturl"})%>
				</span>
				<%= accounturl_directions(social_network) %>
			<% else %>
			    <span id="<%= "socialnetworkurl_#{fieldid}" %>" class="serviceurl">
				<%= form.hidden_field(:accounturl, {:id => "socialnetwork_#{fieldid}_accounturl"}) %>
                <%= accounturl_link(social_network.accounturl) %>
                </span>
			<% end %>
		    
		</label>

    	<%= link_to_function "remove", "$(this).up('.socialnetwork').remove()", :class => "remove" %>

	</p>
								
  <% end %>
	
	<%if social_network.autocomplete? %>
	<%= observe_field("socialnetwork_#{fieldid}_accountid",
                    :url       => { :controller => '/people/profile', :action => :xhr_socialnetworkurl },
					:frequency => 1,
                    :with      => "'accountid='
								+ encodeURIComponent(value)
								+ '&network='
								+ encodeURIComponent($('socialnetwork_#{fieldid}_network').value)
								+ '&fieldid='
								+ encodeURIComponent($('socialnetwork_#{fieldid}_fieldid').value)
								+ '&newrecord=#{newrecord}'") %>
	<% end %>
</div>
