<% @page_title = "My API Keys" %>
<% @selected_tab = :my_profile %>

<%= render(:partial => 'navtabs', :locals => { :selected => 'lists' }) %>
<%= render(:partial => 'partial/flashmessages') %>

<h1>My API Keys</h1>
<h2>Create a new key</h2>
<% form_tag(:action=> "new_apikey") do %>
   <div class="form_section">
	   <p>
          <label for="user_first_name">Name: <em>(must be unique)</em></label>
          <%= text_field_tag "name", '', :size => 30 %>
      </p>

      <p><%= check_box_tag('enabled', "1",true) %> Enabled?</p>     
	</div>
	<p class="submit"><%= submit_tag 'Create Key' %></p>   
<% end %>
<h2>Your Keys</h2>
<% if (!@apikeys.blank?) 
	keycount = 0 %>
	<table cellspacing="0" class="general_table" summary="My API Keys">
		<tr>
	        <th>Name</th>
			<th>Key String</th>
	        <th>Enabled?</th>
	        <th>Created at</th>
	        <th>Total Usage</th>
	        <th>Usage Today</th>
	    </tr>
	    <% @apikeys.each do |apikey| 
		keycount += 1
	%>
    	<tr id="list_row_<%= apikey.id %>">
			<td><%= link_to("#{apikey.name}", people_apikey_url(apikey))%></td>
			<td><%= apikey.keyvalue %></td>
			<td><%= apikey.enabled? ? "Yes" : "No" %></td>
			<td><%= apikey.created_at %></td>
			<td><%= apikey.total_usage %></td>
			<td><%= apikey.today_usage %></td>
		</tr>
	<% end %>
</table>
<% else %>
	<p>You have not yet created any API keys.</p>
<% end %>
