<% @page_title = "API Key Details" %>
<% @selected_tab = :my_profile %>
<%= render(:partial => 'navtabs', :locals => { :selected => 'lists' }) %>
<%= render(:partial => 'partial/flashmessages') %>

<p><%= link_to('show all your API keys',people_apikeys_url) %></p>
<h1>API Key Information for Key: <%= @apikey.name %></h1>
<h2>Edit this Key </h2>
<% form_tag(:action=> "edit_apikey", :id => @apikey.id) do %>
   <div class="form_section">
	   <p>
          <label for="user_first_name">Name: <em>(must be unique)</em></label>
          <%= text_field_tag "name", @apikey.name, :size => 30 %>
      </p>
      <p><%= check_box_tag('enabled', "1",@apikey.enabled) %> Enabled?</p>     
      
	</div>
	<p class="submit"><%= submit_tag 'Update Key' %></p>   
<% end %>
<h2>API Key Details</h2>
<table cellspacing="0" class="general_table" summary="API Key Details">
   <tr>
		<td>Key String:</td>
		<td><%= @apikey.keyvalue %></td>
	</tr>
 	<tr>
		<td>Belongs to:</td>
		<td><%= link_to_user(@apikey.user) %></td>
	</tr>
	<tr>
		<td>Enabled?</td>
		<td><%= @apikey.enabled? ? 'Yes' : 'No' %></td>
	</tr>
	<tr>
		<td>Created at:</td>
		<td><%= @apikey.created_at %></td>
	</tr>
	<tr>
		<td>Created by:</td>
		<td><%= link_to_user(@apikey.creator) %></td>
	</tr>
	<tr>
		<td>Total Usage:</td>
		<td><%= @apikey.total_usage %></td>
	</tr>
	<tr>
		<td>Today Usage:</td>
		<td><%= @apikey.today_usage %></td>
	</tr>
</table>
<h2>API Key Usage</h2>
<%- if (!@apikey_events.blank?) -%>
   <%= will_paginate @apikey_events %>
	<%- eventcount = 0 -%>
	<table cellspacing="0" class="general_table" summary="API Key Usage">
		<tr>
	        <th>When</th>
			<th>What</th>
	        <th>Where</th>
	    </tr>
	    <% @apikey_events.each do |apikey_event| 
		eventcount += 1
	%>
    	<tr id="list_row_<%= apikey_event.id %>">
			<td><%= apikey_event.created_at %></td>
			<td><%= apikey_event.requestaction %></td>
			<td><%= apikey_event.ipaddr %></td>
		</tr>
	<% end %>
</table>
<% else %>
	<p>This key has not yet been used.</p>
<% end %>
