<% @page_title = "My Profile - Public Profile Settings" %>
<% @selected_tab = :my_profile %>
<%= render(:partial => 'partial/flashmessages') %>
<%= render(:partial => 'navtabs', :locals => { :selected => 'publicsettings' }) %>

<h1>Your eXtension Public Profile</h1>

<p class="introtext">Your <%= link_to "Personal Profile", :controller => "profile", :action => 'me' %> is viewable by anyone logged into this application. If you would like to make your information more accessible, you may choose to enable the settings below and create a Public Profile that is viewable by anyone.</p>
<p class="introtext pubprofile"><%= link_to("View your Public Profile", @openidurl) %></p>


<h3>Personal Information and Interests</h3>
<table cellspacing="0" border="1">
    <tr>
        <th>Show Publicly</th>
        <th>Profile Item</th>
    </tr>
    
    <% for setting in @publicsettings %>
        <tr id="privacy_setting_row_<%= setting.id %>">
			
            <td class="publiccol">
            	<%= check_box_tag("show_publicly","yes",setting.is_public?, {:id => "privacy_setting_#{setting.id}"}) %>
            	<%= observe_field("privacy_setting_#{setting.id}", :url => {:controller => :profile, :action => :change_privacy_setting, :id => setting.id}, :with => "'show_publicly=' + value") %>
            </td>
            <td><%= PrivacySetting::ITEM_LABELS[setting.item] %></td>
        </tr>
    <% end%>
</table>

<h3>Social Networks</h3>
<% if !@currentuser.social_networks.empty? %>
    <table cellspacing="0" border="1" class="privacy">
        <tr>
            <th>Show Publicly</th>
            <th>Network</th>
        </tr>
    
        <% @currentuser.social_networks.each do |social_network| %>
            <tr id="social_network_row_<%= social_network.id %>">
                <td class="publiccol">
                	<%= check_box_tag("show_publicly","yes",social_network.is_public?, {:id => "social_network_privacy_#{social_network.id}"}) %>
                	<%= observe_field("social_network_privacy_#{social_network.id}",:url => {:controller => :profile, :action => :change_social_network_privacy, :id => social_network.id}, :with => "'show_publicly=' + value") %>
                </td>
                <td><span class="socialnetwork <%= social_network_class(social_network.network) %>"><%= social_network_link(social_network) %> (<%= social_network_name(social_network)%>)</span></td>
            </tr>
        <% end%>
    </table>
<% else %>
    <div class="instructions">
        <p>You have not yet provided any social networks that you belong to.</p>
    </div>
<% end %>
<p>You don't need to click a save button, your selections are updated automatically.</p>

