
<h1>Add Your Social Networks</h1>
<div class="multi_col_list" id="socialnetworklist">
<% 
       list_count = 1
       item_count = 0
       column_limit = (@socialnetworkslist.length / 3) + 1
   %>
   <% @socialnetworkslist.each do |network,displayname| %>
        <%= (item_count == 0) ? '<ul class="alpha_sort col1">' : '' %>
        <li class="<%= social_network_class(network) %>"><%= displayname %> <%= add_socialnetwork_link("add",network) %></li>
        <%
            item_count += 1
            if item_count > @socialnetworkslist.length
                %></ul><%
            elsif (item_count % column_limit) == 0
                list_count += 1 %>
                </ul>
                <ul class="alpha_sort col<%= list_count %>"><% 
            end
        %>
    <% end %>
</ul>
</div>

<% form_tag(:action=> "socialnetworks") do %>
    <p class="submit"><%= submit_tag 'Save Changes' %>  or <%= link_to 'Cancel', :controller => :profile, :action => :me %></p>
	<div id="socialnetworks">
		<%= render :partial => 'social_network', :collection => @currentuser.social_networks %>
	</div>
    
<% end %>


