<% @page_title = "Your Interests" %>
<% @selected_tab = :my_profile %>

<div id="profile">
	<%= render(:partial => 'navtabs', :locals => { :selected => 'recent' }) %>

<h1>Your Interests and Expertise</h1>

<%= render(:partial => 'partial/flashmessages') %>
<p><strong>Tag yourself.</strong> Choose a few words that describe you, your interests, and areas of expertise. Your <%= link_to("colleagues", :controller => '/people/colleagues', :action => :index) %> can search and find you based on these tags.</p>
<p class="highlight2"><strong>For example:</strong> "maize, corn, crops, beans, peppers, biodiversity, agriculture"</p>

<% form_tag({:action => 'tagedit'}, {:id => "tags"}) do %>
    <fieldset>
	    <p>
	        <label for="tag_list">Tag your Interests and Expertise: 
	        <%= text_area_tag(:tag_list,@currentuser.tag_displaylist_by_ownerid_and_kind(@currentuser.id,Tagging::USER),{:rows => "4", :class => 'keywords', "onChange" => "fitTextArea(this)", "onKeyUp" => "fitTextArea(this)"}) %>
	        <em>Separate your interests and expertise with commas.</em>
	        </label>
	    </p>
	    <%= render(:partial => 'people/tags/popular_tags', :locals => { :title => 'Popular interests from colleagues in the same position.', :listoftags => @position_peer_popular_tags}) %>
    	<%= render(:partial => 'people/tags/popular_tags', :locals => { :title => 'Popular interests from all colleagues.', :listoftags => @all_peer_popular_tags}) %>
        <p><%= submit_tag 'Save' %> or <%= link_to 'Cancel', :controller => '/people/profile', :action => :me %></p>
	</fieldset>


<% end %>

</div>

