<% @page_title = "Ask an Expert Volunteers" %>

<p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %> &gt;  <%= @page_title %></p>

<div id="answerers">
<h1>Users Indicating Areas of Expertise and Geographic Regions</h1>

<div>
<h3>By Category</h3>
<table  summary="Choose Category">
    <tr>
        <th scope="col">Category</th>
        <th scope="col">Total</th>
    </tr>
	  
	 <% i = 0 %>
	  <% while i < @csize do %>
	    <tr>
	       	<td><%= link_to @cats[i].name, :action => "state_answerers", :id => @cats[i].id , :category => @cats[i].name%></td>
		    <td class="count"><%= @catcnt[@cats[i].name]%></td>
		 </tr>
		<% i = i + 1%>
	  <% end%>
</table>
</div>

<div>
<h3>By Location</h3>
<table cellspacing="0" summary="Choose Location">
    <tr>
		
		<th scope="col">Location</th>
		<th scope="col">Total</th>
		</tr>
		
		
	 <% i = 0 %>
	  <% while i < @lsize do %>
	
		  <tr>
		    <td ><%= link_to @locs[i].name, :action => "category_county", :location => @locs[i].id%></td>
			<td> <%= @locsum[@locs[i].id.to_s]%></td>
		
		 <% i = i + 1%>
		 </tr>
	  
	 <%end %>
	 
	  
   </table>
</div>
</div>