<% @page_title = "Response Times Report by #{@pagetype}"%>

<p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %> &gt; <%= link_to "Response Times Report",  :action => 'response_times' %> &gt; <%= @page_title %></p>
	
<% genstring = "Response Time Statistics by "+ @pagetype %>
<h1><%= genstring %></h1>
<%= (@type=="Location") ? "<p>This report only reflects the location of the responding Expert, not the location of the question or the submitter.</p>" : ""%>   
 
<div id="report">
    <div id="report-date-selector">
        <div>
            <h4>
                <a onclick="Effect.toggle('date-selectors','blind', { duration: .4});" ><%= (@date1 && @date2) ? "#{Time.parse(@dateFrom).strftime('%b %e, %Y')} - #{Time.parse(@dateTo).strftime('%b %e, %Y')}" : "#{Time.parse(@prior90th).strftime('%b %e, %Y')} - #{Time.now.strftime('%b %e, %Y')} <span>(last 90 days)</span>"%> <%= "<em>compared to</em> #{Time.parse(@datecFrom).strftime('%b %e, %Y')} - #{Time.parse(@datecTo).strftime('%b %e, %Y')}" if (@datec1 && @datec2) %> <em>edit</em></a></h4>
             
            <div id="calendar" >
	            
	            <div id="date-selectors" style="display:none;" >
	                
	                <div class="date-selector1" >
	                    <% form_tag ({:action => @repaction, :compd1 => @datec1, :compd2 => @datec2, :compds => @datecTo, :compdf => @datecFrom}) do %>
	                    <div class="picker"><%= date_picker_field  "dateFrom", "to_s" %> <span>to</span> <%= date_picker_field "dateTo", "to_s" %></div>
	                    <ul class="source">
                            <li><%= check_box_tag(:public_sourcea, true, is_marked('public', :via_conduita)) %> public site</li>
                            <li><%= check_box_tag(:widget_sourcea, true, is_marked('widget', :via_conduita)) %> widgets </li>
                        </ul>
                        <p><%= submit_tag 'Go' %>
                            <%if @date1 && @date2%> 
                                <%= submit_tag 'Last 90 days'%>
                            <% end %>
                        </p>
                        <% end%>
                    </div>
                
                    <div class="date-selector2">
                        <h4>Compare to...</h4>
                        <% form_tag  ({ :action => @repaction, :dat1 => @date1, :dat2 => @date2, :datF => @dateFrom, :datT => @dateTo}) do %>
                        <div class="picker"><%= date_picker_field  "datecFrom", "to_s" %> <span>to</span> <%= date_picker_field "datecTo", "to_s" %></div>
                        <ul class="source">
                            <li><%= check_box_tag(:public_sourceb, true, is_marked('public', :via_conduitb)) %> public site</li>
                            <li><%= check_box_tag(:widget_sourceb, true, is_marked('widget', :via_conduitb)) %> widgets</li>
                        </ul>
                        <p><%= submit_tag 'Go' %> <%= submit_tag 'remove' if (@datec1 && @datec2) %></p>
                        <% end%>
                    </div>
                </div>        
            </div>
        </div>
        
        
    </div>

<div id="report">
<table cellspacing="0" class="stats2 stats3" summary="<%= genstring %>"> 
    <tr>
        
        <% if (@datec1 && @datec2) %>
            <th class="empty"></th>
            <th class="doublespan" colspan="4">Date Range 1</th>
            <th class="doublespan" colspan="3">Date Range 2</th>
        <% else %>
        <th scope="col" class="left"><%= link_to @type, :action => 'common_sort_columns', :field=> 'State', :type=>@type,:report => 'response_times', :sdir=> (params[:sdir]=="a") ? "d" : "a", :from => @dateFrom, :to=>@dateTo, :fromc => @datecFrom, :toc=>@datecTo   %></th>
            <th><%= link_to "Submitted Questions", :action => 'common_sort_columns', :field=>'nos1' ,:type => @type, :report => 'response_times',:sdir=> (params[:sdir]=="a") ? "d" : "a", :from => @dateFrom, :to=>@dateTo, :fromc => @datecFrom, :toc=>@datecTo   %></th>
            <th><%= link_to "Unanswered", :action => 'common_sort_columns', :field=>'nostopn1' ,:type => @type, :report => 'response_times',:sdir=> (params[:sdir]=="a") ? "d" : "a", :from => @dateFrom, :to=>@dateTo, :fromc => @datecFrom, :toc=>@datecTo   %></th>
            <th ><%= link_to "Avg Response Time (hours)", :action => 'common_sort_columns', :field=>'ppd1' ,:type => @type, :report => 'response_times',:sdir=> (params[:sdir]=="a") ? "d" : "a" , :from => @dateFrom, :to=>@dateTo, :fromc => @datecFrom, :toc=>@datecTo  %></th>
        <% end %>
	 </tr>
	 <% if (@datec1 && @datec2) %>
	 <tr>
		 <th scope="col" class="left"><%= link_to @type, :action => 'common_sort_columns', :field=> 'State', :type=>@type,:report => 'response_times', :sdir=> (params[:sdir]=="a") ? "d" : "a", :from => @dateFrom, :to=>@dateTo, :fromc => @datecFrom, :toc=>@datecTo   %></th>
         <th scope="col" class="period1"><%= link_to "Submitted", :action => 'common_sort_columns', :field=>'nos1' ,:type => @type, :report => 'response_times',:sdir=> (params[:sdir]=="a") ? "d" : "a", :from => @dateFrom, :to=>@dateTo, :fromc => @datecFrom, :toc=>@datecTo   %></th>
         <th scope="col" class="period1"><%= link_to "Unanswered", :action => 'common_sort_columns', :field=>'nostopn1' ,:type => @type, :report => 'response_times',:sdir=> (params[:sdir]=="a") ? "d" : "a", :from => @dateFrom, :to=>@dateTo, :fromc => @datecFrom, :toc=>@datecTo   %></th>
         <th scope="col" class="period1"><%= link_to "Avg Response (hours)", :action => 'common_sort_columns', :field=>'ppd1' ,:type => @type, :report => 'response_times',:sdir=> (params[:sdir]=="a") ? "d" : "a" , :from => @dateFrom, :to=>@dateTo, :fromc => @datecFrom, :toc=>@datecTo  %></th>
         <th scope="col" class="period1"><%= link_to "% change Avg", :action => 'common_sort_columns', :field=> 'avgchg', :type => @type, :report => 'response_times', :sdir => (params[:sdir]=="a") ? "d" : "a", :from => @dateFrom, :to=>@dateTo, :fromc => @datecFrom, :toc=>@datecTo %></th>
         <th scope="col" class="period2"><%= link_to "Submitted", :action => 'common_sort_columns', :field=>'nos2' ,:type => @type, :report => 'response_times',:sdir=> (params[:sdir]=="a") ? "d" : "a", :from => @dateFrom, :to=>@dateTo, :fromc => @datecFrom, :toc=>@datecTo   %></th>
         
         <th scope="col" class="period2"><%= link_to "Unanswered", :action => 'common_sort_columns', :field=>'nostopn2' ,:type => @type, :report => 'response_times',:sdir=> (params[:sdir]=="a") ? "d" : "a", :from => @dateFrom, :to=>@dateTo, :fromc => @datecFrom, :toc=>@datecTo   %></th>
         <!-- <th scope="col"><%= link_to "Avg Response Times Past 30 Days", :action => 'common_sort_columns', :field=>'Var2' ,:type => @type, :report => 'response_times',:sdir=> (params[:sdir]=="a") ? "d" : "a",:from => @dateFrom, :to=>@dateTo, :fromc => @datecFrom, :toc=>@datecTo   %></th> --> 
         
         <th scope="col" class="period2"><%= link_to "Avg Response", :action => 'common_sort_columns', :field=>'ppd2' ,:type => @type, :report => 'response_times',:sdir=> (params[:sdir]=="a") ? "d" : "a" , :from => @dateFrom, :to=>@dateTo, :fromc => @datecFrom, :toc=>@datecTo  %></th>
   <!--  if there are 2 column sets to compare, redo some more columns here -->
    </tr>
    <% end %>
 
<% if @typelist%>

    <% even = false %>
    <% @typelist.each do |x| %>
    
        <%if ! ((@date1 || @date2 || @datec1 || @datec2))%>
            <tr <%= ' class="shaded"' if even %>>
                <td class="left"><%= x[0] %></td>
                <td <%= ' class="zero"' if !@nof[x[0]] %>>
                    <%= (@nof[x[0]] && @nof[x[0]] > 0) ? @nof[x[0]] : "0" %>
                </td>
		        <td <%= ' class="zero"' if !@var3[x[0]] %>>
			        <%=   (@var3[x[0]] && @var3[x[0]] > 0) ? @var3[x[0]] : "0" %>
                </td>
                <!-- <td <%= ' class="empty"' if @var2[x[0]]==0 %>><%= (@var2[x[0]] && @var2[x[0]] > 0) ? @var2[x[0]] : "0"%></td> -->
	            <td <%= ' class="empty"' if !@var1[x[0]] %>>
			        <%=  (@var1[x[0]] && @var1[x[0]] > 0) ? ("%.2f"  % @var1[x[0]] ): "n/a" %>
		        </td>
            </tr>
        <% end %>
        
        <% if (@date1 && @date2) || (@datec1 && @datec2)%>
            <tr <%= ' class="shaded"' if even %>>
                <td class="left"><%= x[0]%></td>
                
                <td class=" <%= "zero" if !@nos1[x[0]] %>">
	                <%= (@nos1[x[0]] && @nos1[x[0]] > 0) ? @nos1[x[0]] : "0" %>
	            </td>
	            
	            <td <%= 'class="zero"' if !@nostopn1[x[0]] %>>
	                <%=  (@nostopn1[x[0]] && @nostopn1[x[0]] > 0) ? @nostopn1[x[0]] : "0" %>
	            </td>
	            
	            <td class=" <%= "empty" if !@ppd1[x[0]] %>">
	                <%=  (@ppd1[x[0]] && @ppd1[x[0]] > 0) ? ("%.2f"  % @ppd1[x[0]] ): "n/a" %>
	            </td>
	            <% if (@datec1 && @datec2) %>
	               <td class=" <%= "empty" if !@ppd1[x[0]] %>">
	                <% if ((@ppd2[x[0]] && @ppd2[x[0]] > 0) && (@ppd1[x[0]] && @ppd1[x[0]] > 0))%>
	                  <!--  responsechange = (@ppd2[x[0]].to_f - @ppd1[x[0]].to_f) / @ppd2[x[0]].to_f * 100 %>--> 
	                        <span class="responsechange <%= ("positive") if @avgchg[x[0]] > 0 %> <%= ("negative") if @avgchg[x[0]] < 0 %>">
                                (<%= number_to_percentage(@avgchg[x[0]], :precision => 1) %>)</span>
    	            <% else %>
    	                n/a
    	            <% end %>
	            </td>
	            <% end %>
	            
	            
	            <% if (@datec1 && @datec2)%>
                    <td class="dategroup <%= ' zero' if !@nos2[x[0]] %>">
		                <%= (@nos2[x[0]] && @nos2[x[0]] >0 ) ? @nos2[x[0]] : "0"%>
		            </td>
		            <td class="dategroup <%= ' zero' if !@nostopn2[x[0]] %>">
		                <%=  (@nostopn2[x[0]] && @nostopn2[x[0]]) ? @nostopn2[x[0]] : "0"%>
		            </td>
		            <td class="dategroup <%= "empty" if !@ppd2[x[0]] %>" >
		                <%=  (@ppd2[x[0]] && @ppd2[x[0]] > 0) ? ("%.2f"  % @ppd2[x[0]] ): "n/a" %>
		            </td>
                <% end%>
            <!-- <td <%= ' ,class="empty"' if @p301[x[0]]==0 %>><%= (@p301[x[0]] && @p301[x[0]] > 0) ? ("%.2f" % @p301[x[0]]) : "0"%></td> -->
            <!-- <td <%= ' ,class="empty"' if @p302[x[0]]==0 %>><%= (@p302[x[0]] && @p302[x[0]] > 0) ? ("%.2f" % @p302[x[0]]) : "0"%></td> -->
			 </tr>
		 <%end%>

		 <% even = !even %>
   <% end %>
<%end %>

 </table>

</div>