<% @page_title = "General Statistics by #{@type}" + ((@type=="University") ? "/Affiliation" : "")%>

<% genstring = "General Statistics by "+ @type + ((@type=="University") ? "/Affiliation" : "")%>

<div id="report">
    <p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %> &gt; <%= link_to "General Overview",  :action => 'activity' %> &gt; <%= @page_title %></p>
    
<h1><%= genstring %></h1>
<!-- render partial seldates%>-->

<p>Click on column header links to sort.</p>
<table cellspacing="0" class="stats" summary="<%= genstring %>">
	<% even = false %> 
    <tr>
	    <th scope="col"><%= link_to @type, { :action => 'common_sort_columns', :field=> 'State', :type=>@type, :report => 'activity', :sdir => (params[:sdir] != "a") ? "a" : "d" ,:from => @dateFrom, :to=>@dateTo } %></th> 
	   
        <th scope="col"><%= link_to "Open", { :action => 'common_sort_columns', :field=>'new' ,:type => @type, :report => 'activity', :sdir => (params[:sdir] != "a") ? "a" : "d",:from => @dateFrom, :to=>@dateTo }%></th>
        <th scope="col"><%= link_to "Resolved",{ :action => 'common_sort_columns', :field=>'reslvd' ,:type => @type, :report => 'activity', :sdir => (params[:sdir] != "a") ? "a" : "d",:from => @dateFrom, :to=>@dateTo  } %></th>
         <th scope="col"><%= link_to "Answered",{ :action => 'common_sort_columns', :field=>'answ' ,:type => @type, :report => 'activity', :sdir => (params[:sdir] != "a") ? "a" : "d",:from => @dateFrom, :to=>@dateTo  } %></th>
          <th scope="col"><%= link_to "Rejected",{ :action => 'common_sort_columns', :field=>'rej' ,:type => @type, :report => 'activity', :sdir => (params[:sdir] != "a") ? "a" : "d",:from => @dateFrom, :to=>@dateTo  } %></th>
           <th scope="col"><%= link_to "Responded with 'No Expertise'",{ :action => 'common_sort_columns', :field=>'noexp' ,:type => @type, :report => 'activity', :sdir => (params[:sdir] != "a") ? "a" : "d",:from => @dateFrom, :to=>@dateTo  } %></th>
     </tr>

<% if @typelist%>
  
  <% @typelist.each do |x| %>
 
  <% incoming_questions_in_assigned_state = @new[x[0]] %>
  <% resolved_questions_in_assigned_state = @reslvd[x[0]] %>
  <% answered_questions = @answ[x[0]]%>
  <% rejected_questions = @rej[x[0]]%>
  <% noanswer_questions = @noexp[x[0]]%>
  <% empty = ' class="empty"' %>

<tr <%= ' class="shaded"' if even %>>
    <td class="left">
		 <% if @type == 'State'%>
	 <!--	  <%= link_to x[0], :action => 'show_all_by_state', :State => x[0] %> -->
	         <% if !x[0] || x[0]==" " || x[0]=="" %>
	             <% "Unknown/Unaffiliated"%>
	         <% else%>
	           <% x[0]%>
	         <% end%>
		 <% else%>
		  <%= h(x[0]) %>	  
		 <% end%>
     </td>
    
     <td<%= empty if !@new[x[0]] %>><%= incoming_questions_in_assigned_state %></td>
     <td<%= empty if !@reslvd[x[0]] %>><%= resolved_questions_in_assigned_state %></td>
     <td<%= empty if !@answ[x[0]] %>><%= answered_questions %></td>
     <td<%= empty if !@rej[x[0]] %>><%= rejected_questions %></td>
     <td<%= empty if !@noexp[x[0]] %>><%= noanswer_questions %></td>
</tr>
	<% if even 
         even = false 
     else 
         even = true 
     end %>
	
   <% end %>
<%end %>

 </table>

</div>