<% @page_title = "Select Counties for Answering Individuals List Report for Category= " + "'" + @catname + "'"+ ", State= " + @statename %>



<% if @dir == "C"%>
 <p id="activity_report">
    <%= link_to "All Reports",  :controller => 'reports' %> &gt; 
    <%= link_to "Ask an Expert Volunteers", :action => 'answerers'%> &gt; 
    <%= link_to @catname,  :action => 'state_answerers', :Category => @catname, :location => @locid %> &gt; <%= @statename %></p>
<% else%>
  <p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %> &gt; <%= link_to "Ask an Expert Volunteers", :action => 'answerers'%> &gt; <%= link_to @statename,  :action => 'category_county', :State => @statename, :location => @locid %> &gt; <%= @catname %></p>
<% end%>


<div id="answerers">
    <h1>
        <% if (@dir == "C")%>
            <%= @capcatname %>, <%= @statename %>
        <%else%>
            <%= @statename %>, <%= @capcatname %>
        <%end%>
    </h1>
    
    <div>
        <h3>All volunteers</h3>
        <%= render(:partial => 'usrlst')%>
    </div>

<% if @cntycnt.size > 0%>
<h3>Browse by county...</h3>
<div>
<table summary="Counts of Answering Individuals by County in State per Category">
	<tr>
	<th scope="col">County/Parish</th>
	<th scope="col">Total</th>
    </tr>

    <% i = 0 %>

	 <% while i < @csize do %>
	     <% if @cntycnt[@cnties[i][0]]%>
	        <tr>
	       	<td><%=  link_to @cnties[i][0], :action => "answerers_lists", :State => @statename, :Category=> @catname, :County =>  @cnties[i][0], :dir => @dir %></td>
		    <td><%= @cntycnt[@cnties[i][0]]%></td>
		    </tr>
		  <%end %>
		  <% i = i + 1%>
	  <% end%>
 </table>
</div>

    
<% else%>
   <h2>There are no users volunteering here</h2>
<%end%>

</div>