<% @page_title = "Ask an Expert Response Times Report" %>

<div id="report">
    
    <p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %> &gt; <%= @page_title %></p>
     
    <h1>Ask an Expert Response Times Report</h1>
    <div id="leftcal">
        
    <table class="general_table" cellspacing="0">
        <tr>
            <th colspan="2"><%= "#{Time.parse(@oldest_date).strftime('%b %e, %Y')} - #{Time.now.strftime('%b %e, %Y')} <span>(all data)</span>"%></th>
        </tr>
        <tr>
            <td>Total Incoming (Unanswered) Questions</td>
            <td class="count"><%= @number_questions_all%></td>
        </tr>
        <tr>
            <td>Average Age of Current Incoming (Unanswered) Questions</td>
            <td class="count"><%= (@avg_open_time_all > 24) ? ((@avg_open_time_all/24).to_s ) : (@avg_open_time_all.to_s ) %> <%= (@avg_open_time_all > 24) ? "Days" : "Hours"%></td>
        </tr>
        <tr>
            <td>Average Response Times in Past 30 Days</td>
            <td class="count"><%= (@avg_resp_past30_all > 24) ? ((@avg_resp_past30_all/24).to_s)  : ((@avg_resp_past30_all/24.0 > 0) ? (@avg_resp_past30_all.to_s): "No Data" ) %> <%= (@avg_resp_past30_all > 24) ? "Days" : ((@avg_resp_past30_all/24.0 > 0) ? "Hours" : "")%></td>
        </tr>
        <tr >
            <td>Average Historical Response Time</td>
            <td class="count"><%= (@avg_response_time_all > 24) ? ((@avg_response_time_all/24).to_s) : (@avg_response_time_all.to_s)  %> <%= (@avg_response_time >24) ? "Days" : "Hours"%></td>
        </tr>
    </table>

            <ul>
            <li><%= link_to "Browse Statistics by responder location",  :action => 'response_times_by_location', :FromDate => @dateFrom, :ToDate => @dateTo, :FromcDate => @datecFrom, :TocDate => @datecTo %></li>
            <li><%= link_to "Browse Statistics by category",  :action => 'response_times_by_category', :FromDate => @dateFrom, :ToDate=> @dateTo, :FromcDate => @datecFrom, :TocDate => @datecTo %></li>
            <!--<li><%= link_to "by institution", :action => 'response_times_by_university' %></li>-->
            </ul>

</div>
        <div id="rightcal">
            <h2>Select a custom date range</h2>
       
            <div id="calendar">
                <% form_tag({:action => @repaction, :compd1 => @datec1, :compd2 => @datec2, :compds => @datecTo, :compdf => @datecFrom}) do %>

        	         <h4 id="selected_range" class="period1"><%= (@date1 && @date2) ? "#{Time.parse(@dateFrom).strftime('%b %e, %Y')} - #{Time.parse(@dateTo).strftime('%b %e, %Y')}" : "#{Time.parse(@oldest_date).strftime('%b %e, %Y')} - #{Time.now.strftime('%b %e, %Y')} <span>(all data)</span>"%></h4>
        	         <br class="clear"/>
                    <%= date_picker_field  "dateFrom", "to_s" %> <span>to</span> <%= date_picker_field "dateTo", "to_s" %>
                  <!--  <%= calendar_date_select_tag "dateFrom", Date.today, :embedded => true, :year_range => 3.years.ago..0.years.ago%> -->
                    <%= submit_tag 'Go' %>
                    <%= submit_tag 'Show all'%>
                    <ul id="search_parms">
        	            <li><%= check_box_tag(:public_sourcea, true, is_marked('public', :via_conduita)) %> questions submitted through public site</li>
        	            <li><%= check_box_tag(:widget_sourcea, true, is_marked('widget', :via_conduita)) %> questions submitted through widget</li>
        	        </ul>
                <% end%>

            </div>
            <p><strong>Compare to...</strong></p>
            <div id="calendar">
              
			
	            
                <% form_tag  ({ :action => @repaction, :dat1 => @date1, :dat2 => @date2, :datF => @dateFrom, :datT => @dateTo}) do %>

        			<h4 id="selected_range" class="period2"><%= (@datec1 && @datec2) ? "#{Time.parse(@datecFrom).strftime('%b %e, %Y')} - #{Time.parse(@datecTo).strftime('%b %e, %Y')}" : "#{Time.parse(@oldest_date).strftime('%b %e, %Y')} - #{Time.now.strftime('%b %e, %Y')} <span>(all data)</span>"%></h4>
                    <br class="clear"/>
        	       <%= date_picker_field  "datecFrom", "to_s" %> <span>to</span> <%= date_picker_field "datecTo", "to_s" %> 
               <!--   <%= calendar_date_select_tag "datecFrom", Date.today, :embedded => true, :year_range => 3.years.ago..0.years.ago%><span>to</span><%= calendar_date_select_tag "datecTo", Date.today, :embedded => true, :year_range => 3.years.ago..0.years.ago%> -->
        	        <%= submit_tag 'Go' %>
        	        <%= submit_tag 'Show all'%>
        	        <ul id="search_parms">
                	     <li><%= check_box_tag(:public_sourceb, true, is_marked('public', :via_conduitb)) %> questions submitted through public site</li>
        		        <li><%= check_box_tag(:widget_sourceb, true, is_marked('widget', :via_conduitb)) %> questions submitted through widget</li>
        		    </ul>
                <% end%>

            </div>

        </div>
        <br class="clear" />
        
        <% if (@date1 && @date2)  || @first_set%>
            <h2>Custom date range</h2>
        
            <table class="general_table datacompare" cellspacing="0">
                <tr>
                    <th></th>
                    <th class="period1"><%= (@date1 && @date2) ? "#{Time.parse(@dateFrom).strftime('%b %e, %Y')} - #{Time.parse(@dateTo).strftime('%b %e, %Y')}" : "#{Time.parse(@oldest_date).strftime('%b %e, %Y')} - #{Time.now.strftime('%b %e, %Y')} <span>(all data)</span>"%></th>
                    <th class="period2"><%= (@datec1 && @datec2) ? "#{Time.parse(@datecFrom).strftime('%b %e, %Y')} - #{Time.parse(@datecTo).strftime('%b %e, %Y')}" : "#{Time.parse(@oldest_date).strftime('%b %e, %Y')} - #{Time.now.strftime('%b %e, %Y')} <span>(all data)</span>"%></th>
                </tr>
                <tr>
                    <td>Total Questions Submitted</td>
                    <td class="count"><%= @number_questions%></td>
                    <% if (@datec1 && @datec2)  || @sec_set%>
                    <td class="count"><%= @numbc_questions%></td>
                    <% end %>
                </tr>
                <tr>
	                <td>Remaining Unanswered Questions</td>
	                <td class="count"><%= @avg_still_open%></td>
	                <% if (@datec1 && @datec2)  || @sec_set%>
	                <td class="count"><%= @avgc_still_open%></td>
	                <% end %>
	            </tr>
                <tr>
                    <td>Average Response Time in Last <%= @nodays%> Days of Period</td>
                   <td class="count"><%= (@avg_resp_past30 > 24) ? ((@avg_resp_past30/24).to_s)  : ((@avg_resp_past30/24.0 > 0) ? (@avg_resp_past30.to_s) : "No Data" ) %> <%= (@avg_resp_past30 > 24) ? "Days" : ((@avg_resp_past30/24.0 > 0) ?  "Hours" : "")%></td>
                   <% if (@datec1 && @datec2)  || @sec_set%>
                   <td class="count"><%= (@avgc_resp_past30 > 24) ? ((@avgc_resp_past30/24).to_s)  : ((@avgc_resp_past30/24.0 > 0) ? (@avgc_resp_past30.to_s) : "No Data" ) %> <%= (@avgc_resp_past30 > 24) ? "Days" : ((@avgc_resp_past30/24.0 > 0) ?  "Hours" : "")%></td>
                       <% end %>
                </tr>

                <tr >
                    <td>Average Response Time for Answered Questions</td>
                    <td class="count"><%= (@avg_response_time > 24) ? ((@avg_response_time/24).to_s) : (@avg_response_time.to_s)  %> <%= (@avg_response_time >24) ? "Days" : "Hours"%></td>
                    <% if (@datec1 && @datec2)  || @sec_set%>
                    <td class="count"><%= (@avgc_response_time > 24) ? ((@avgc_response_time/24).to_s) : (@avgc_response_time.to_s)  %> <%= (@avgc_response_time >24) ? "Days" :  "Hours" %></td>
                    <% end %>
                </tr>
            </table>
        <%end%>


    
    
</div>