<% @page_title = ((@type=='State') ? "State/Location" : "#{@type}") + ((@type=='County') ? "/Parish" : "") + " Report " + ((@type=='County') ? "in Location of #{@statename}" : "") %>

<div id="report_state_home">
    
<p id="individual state report"><%= link_to "All Reports",  :controller => 'reports' %> &gt; <%= ((@type=='County') ?  ( link_to "Select County",  :action => 'county_select', :State => @statename, :to => @dateTo, :from => @dateFrom) : "" )%>  &gt;  <%= @page_title %></p>

<h1><%= @typename%>  Report</h1>
<div id="date_range">
    <h4 id="selected_range"><%= (@date1 && @date2) ? "#{Time.parse(@dateFrom).strftime('%b %e, %Y')} - #{Time.parse(@dateTo).strftime('%b %e, %Y')}" : "#{Time.parse(@oldest_date).strftime('%b %e, %Y')} - #{Time.now.strftime('%b %e, %Y')} <span>(all data)</span>"%></h4>


      <% if @type == 'State'%>  
         <% form_tag({:action => @repaction, :State => @typename }) do %>
            <p><%= date_picker_field  "dateFrom", "to_s", "cal-icon" %></p> <p><span>to</span> <%= date_picker_field "dateTo", "to_s" %></p>
            <%= submit_tag 'Go' %>
         <% end%>
        
         <% form_tag({ :action => @repaction, :State => @typename } ) do %>
            <%= submit_tag 'Show all'%>
         <% end%>
      <% else%>
         <% form_tag({:action => @repaction, :State => @statename, :County => @county }) do %>
            <p><%= date_picker_field  "dateFrom", "to_s", "cal-icon" %></p> <p><span>to</span> <%= date_picker_field "dateTo", "to_s" %></p>
            <%= submit_tag 'Go' %>
        <% end%>

        <% form_tag({ :action => @repaction, :State => @statename, :County => @county } ) do %>
            <%= submit_tag 'Show all'%>
        <% end%>

      <% end%>

</div>



<table id="state_activities_table" cellspacing="0">
    <caption><%= "General Activity" %></caption>
    <tr>
        <td>New Registrations</td>
       
		        <td class="count"><%= link_to @reguser, :action => "display_state_users", :State => @statename, :County => @county, :loc => (@type=='State') ? @typeobj.id : nil, :descriptor =>"User" , :olink => "Users",  :to => @dateTo, :from => @dateFrom, :num => @reguser, :type => @type%></td>
	   
        
    </tr>
</table>
   

<table id="state_activities_table" cellspacing="0">
    <caption><%= "Ask an Expert Activity" %></caption>
    <tr><td class="reportheader" colspan="2">Questions Categorized with a <%= @typename%> Location</td></tr>
    
    
    <tr>
        <td>Open (still awaiting a response)</td>
       
	        <td class="count"><%= link_to @asgn, :action => "display_state_links", :State => @statename, :County => @county, :loc => (@type=='State') ? @typeobj.id : nil, :descriptor =>"Submitted" , :olink => "Submitted", :to => @dateTo, :from => @dateFrom, :num => @asgn, :type => @type%></td>
        
    </tr>
      
        <!-- Total Resolved Questions (Answered, Rejected, Responded) for questions categorized for state/county-->
         <%= render :partial => "resolved_types", :locals => { :resolve_persp => "ResolvedP", :answ => @answp, :answa => @answpa, :answr => @answpr, :answn => @answpn }%>
  
    <tr class="spacer"><td colspan="2">&nbsp;</td></tr>
    <tr>
        <td class="reportheader" colspan="2">Ask an Expert Activity by Users in <%= @typename%></td>
    </tr>

	  <!--  Total Resolved Questions (Answered, Rejected, Responded) by Users in state/county-->
         <%= render :partial => "resolved_types", :locals => { :resolve_persp => "ResolvedM", :answ => @answm, :answa => @answma, :answr => @answmr, :answn => @answmn }%>
  
</table>


	

	 
	 

	
</div>