<div class = "headline left">
     <h1 class="title"><%= @page.title %></h1>
     <p class="view_as_web_page"><%= link_to 'View as web page', request.request_uri.gsub(/\/print(\/)?$/, '')%></p>
 </div>
 <br class="clearing" />

 <p><strong><span class="location"><%= @page.event_location %></span></strong>
 <% if @page.has_map? %>
     <a href='http://maps.google.com/maps?q=<%= @page.event_location %>'>open in google maps</a>
 <% end %>
 </p>

 <div id="time_with_tz">
   <strong>
   <%- if !@page.event_all_day? and (@page.event_duration.blank? or @page.event_duration == 0)  -%>
     <% event_time = format_event_time(@page) %>
     <% if !event_time.blank? -%>
       <abbr class="dtstart" title="<%= event_time.strftime("%Y-%m-%dT%H:%M:%S") %>"><%= event_time.strftime("%B %d, %Y at %l:%M %p") %></abbr>
       <%- if !@page.time_zone.blank? -%>
         <%= event_time.strftime("%Z") %>
       <%- end -%>
     <%- end -%>
   <%- else -%>
     <abbr class="dtstart" title="<%= @page.event_start.utc.to_date.strftime("%Y%m%d") %>"><%= @page.event_start.utc.to_date.strftime("%B %d, %Y") %></abbr>
     <%- if @page.event_duration > 1 %>
     – <abbr class="dtend" title="<%= (@page.event_start.utc.to_date + (@page.event_duration).day).strftime("%Y%m%d") %>"><%= (@page.event_start.to_date + (@page.event_duration).day).strftime("%B %d, %Y") %></abbr>
     <%- end -%>
   <%- end -%>
   </strong>
 </div>
 
 <% if !@page.time_zone.blank? %>
 <p>
 <label for="user_time_zone">Time zone:</label>
 <%= select_tag('time_zone', time_zone_options_for_select(@selected_time_zone, ActiveSupport::TimeZone.us_zones)) %>
 </p>
 
 <%= observe_field(:time_zone,
                   :url       => { :action => :update_time_zone, :id => @page.id },
                   :with      => "'new_time_zone='+escape(value)") %>
 <% end %>
 
 <div class="description"><p><strong>Description</strong>:<br /><%= @page.content %></p></div>
 <p class="coverage"><strong>Coverage:</strong> <%= @page.coverage %></p> 
 <p class="states"><strong>States:</strong> <%= @page.states.join(', ') %></p>
 <%if @page.has_map?%>
     <div id="map" style="width: 500px; height: 300px"></div>
 <% end %>
