<div class = "mission">
    <%if @page_title_text && @header_description%>
        <h2 class="missionstatement"><%=@page_title_text%></h2>
    <%end%>
</div>

<div class="sortbox calendar">
    <form>
        <fieldset>
            <p>
                <label>Filter by Resource Area: <%= link_to 'Start Over', site_events_url(:content_tag => 'all') %> <%=community_select(@community)%></label>
            </p>
        </fieldset>
        <fieldset>
            <p>
                <label>Locale: <%= state_select(:locale, params)%></label>
            </p>
        </fieldset>
    </form>
  <p class="months"><span>Month</span>: <%=month_select(get_calendar_month, false, @content_tag, params[:state])%></p>
</div>

<%if @eventslist.length == 0%>
    <h2>There are no events scheduled at this time.</h2>
<%end%>

<% for event in @eventslist %>
<dl class="events">
    <dt><%= link_to event.title, page_url(:id => event.id, :title => event.url_title) %></dt>
    <dd>
    
    <% event_time = format_event_time(event) %>
    <%= event_time.strftime("%m.%d.%y") %>
    
    <% if !event.time_zone.blank? %>
      at <%= event_time.strftime('%I:%M %p %Z') %> 
    <% end %>
    </dd>
    <dd>
        <span class="community">Community:</span>
        <%community_tags = (Tag.community_content_tags({:launchedonly => true}) & event.tags) %>
        <%for community_tag in community_tags%>
            <%= link_to community_tag.content_community.public_name, site_index_url(:content_tag => community_tag.name)%>
        <%end%>
    </dd>
    <dd>
        <span class="location">Location:</span>
        <%= event.event_location %>
    </dd>
</dl>
<% end %>
