<!-- Left Column, Content, Right Column -->
<div class="row">
	<!-- Left column -->
	<div class='span2 resource-areas'>
	  <h3>Resource Areas</h3>
	  <% for topic in Topic.topics_list({:launchedonly => true}) %>
      <h4><%= topic.name%></h4>
      <ul class='unstyled'>
        <%for community in topic.publishing_communities %>
          <li><%= link_to_public_community(community) %></li>
        <%end%>
      </ul>
    <%end%>
	</div><!-- END Left column -->


  <!-- Content -->
	<div class="span7">
		<div class='title'><%= @page_title_text %></div>
		<%- @pages.each do |page| -%>
		
		<div class='article'>
		  <% if @image %> <!-- todo -->
  		  <p><img src="/assets/img/blogimg_1.jpg" alt="Blog Image 1" /></p>
  		<% end %>
  		
        <h1><%= link_to(page.title,page_url(:id => page.id, :title => page.url_title)) %></h1>
        <div class='infobar'>
          <% if(!page.community_content_tag_names.blank?) -%>
            <% page.community_content_tag_names.each do |tagname| %>
              <%= link_to_public_community_home(Tag.find_by_name(tagname).content_community) %>
            <% end %>
          <% end %>
    			<span><i class='icon-clock-orange'></i> Updated: <%= expanded_time_print(page.source_updated_at)%></span>
    		</div>
    		<% link_to(page.id_and_link) do %>
        <p><%= get_title(page.content).truncate(160,{:omission => '...', :avoid_orphans => true}) %></p>
        <a href='#' class='btn orange lg'>Read More</a>
      <% end %>  
  	</div>
    <%- end -%>
    
    <div class = "pagelinks">
      <%= will_paginate(@pages,:params => {:content_types => params[:content_types], :tags => params[:tags], :articlefilter => params[:articlefilter]}) %>
    </div>
    
  </div><!-- END Content -->
  
  
  <div class="span3">
    <%= render(:partial => 'shared/social_and_locations') %>
    
    <div class='row'>
      <div class='latest-tweets span3'>
        <h2>Latest Tweets</h2>
        <div class="tweet"></div>
        <a href='https://twitter.com/eXtension4U' class='btn'>Follow @eXtension4U</a>
      </div>
    </div>
    
    <div class='row'>
      <div class="upcoming_learn_events span3">
        <h2>Upcoming Webinars</h2>
        <script type="text/javascript" src="http://dev.learn.extension.org/widgets/front_porch"></script>
        <p><a href="http://learn.extension.org/" class='pull-right more_events' title="Professional development sessions on a variety of Extension topics.">More Webinars</a></p>
      </div>
    </div>
    
  </div>
  

</div><!-- END Left Column, Content, Right Column -->