<!-- Left Column, Content, Right Column -->
<div class="row">
	<!-- Left column -->
	<div class='span2 resource-areas hidden-phone'>
	  <h3>Resource Areas</h3>
	  <% for topic in Topic.topics_list({:launchedonly => true}) %>
      <h4><%= topic.name%></h4>
      <ul class='unstyled'>
        <%for community in topic.publishing_communities %>
          <li><%= link_to_public_community(community) %></li>
        <%end%>
      </ul>
    <%end%>
	</div><!-- END Left column -->


  <!-- Content -->
	<div class="span7">
		<div class='title'><%= @page_title %></div>
		
		<%- @pages.each do |page| -%>
		<div class='article'>
		  <%= link_to(page_url(:id => page.id, :title => page.url_title)) do %>
		  <%= first_image(page.content, false)  %>
		  <% end %>
  		
        <h1><%= link_to(page.title,page_url(:id => page.id, :title => page.url_title)) %></h1>
        <div class='infobar'>
          <% if(!page.community_content_tag_names.blank?) -%>
            <% page.community_content_tag_names.each do |tagname| %>
              <%= link_to_public_community_home(Tag.find_by_name(tagname).content_community).html_safe %>
            <% end %>
          <% end %>
    			<span><i class='fa fa-clock-o'></i> Updated: <%= expanded_time_print(page.source_updated_at)%></span>
    		</div>
    		<%= link_to(page.id_and_link) do %>
          <p><%= strip_tags(get_title(page.content).truncate(160,{:omission => '...', :avoid_orphans => true})) %></p>
          <span class="btn orange lg">Read More</span>
        <% end %>  
  	</div>
    <%- end -%>
    
    <div class = "pagelinks">
      <%= paginate(@pages,:params => {:content_types => params[:content_types], :tags => params[:tags], :articlefilter => params[:articlefilter]}) %>
    </div>
    
  </div><!-- END Content -->
  
  
  <div class="span3">
    <%= render(:partial => 'shared/generic_social_location_tweets_events') %>
  </div>
  

</div><!-- END Left Column, Content, Right Column -->