<% @in_this_resource_area = true %>
<% @resource_area_feeds = true %>

<%= render(:partial => 'shared/created_by',  :locals => { :community_tags => @community_content_tags }) if @community_content_tags%>

    <div class="pageextras">
        <% if not @youth %>
          <p id="aae_pitch">Have a question? <%= link_to 'Try asking one of our Experts', ask_form_url %></p>
        <% end %>
        <%- if(!params[:print]) -%>
           <p class="print_and_share"><%= link_to 'Print', (request.request_uri + "/print/"), :class => "print" %>
               <a class="a2a_dd" href="http://www.addtoany.com/share_save"><img src="http://static.addtoany.com/buttons/share_save_106_16.gif" width="106" height="16" border="0" alt="Share/Bookmark"/></a><script type="text/javascript">a2a_linkname=document.title;a2a_linkurl=location.href;a2a_onclick=1;</script><script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script></p>
       <%- end -%>
    </div>
    
    <div class = "headline left">
      <h1 class="title"><%= @page.title %></h1>
      
      
      <p class="caption">
          Last Updated: <%= micro_time_print(@page.source_updated_at, 'updated') %>
        <% if false # this attr will not exist til wiki feed updated %>
         Published: <%= micro_time_print(@page.source_created_at, 'published') %>
        <% end %>
      </p>
      
      <p class="view_as_web_page"><%= link_to 'View as web page', request.request_uri.gsub(/\/print(\/)?$/, '')%></p>
    </div>
    <br class="clearing" />

      <div id="content_css_reset">
          
          <div id="article">
              
            <%= @page.content %>
         </div>
  	  </div>
  	  <br class="clearing" />

  <%   
    keywords = @page_content_tag_names.collect{|tag| link_to tag, site_index_url(tag) }
  	if keywords.length > 0
  %>
      <div class="related">
          <h4>More information</h4>
          <p><%= keywords.join(", ") %></p>
      </div>
  <% end %>

<% if not @youth %>
  <div id="aae_plug">
      <h4>Have a specific question? <%= link_to 'Try asking one of our Experts', ask_form_url %></h4>
      <p>Unlike most other resources on the web, we have experts from Universities around the country ready to answer your questions.</p>
  </div>
<% end %>

