<div id="admin">
    <p><%= link_to 'Admin home', :controller=>'/admin', :action => 'index' %></p>
    <h1>Sponsors</h1>
    <p><%= link_to 'Add a new sponsor', :action => 'new' %> | <%= link_to 'Manage Sponsor Logo', assets_path %></p>
    <h2>Drag and drop sponsors to change the display order</h2>
    <p>The sponsors will be displayed in this order on the eXtension homepage.</p>
    <div id="sponsor_list">
        <ul id="sortable_list">
        <% @sponsors.each do |sponsor| %>    
            <li id="item_<%= sponsor.id %>">
                <span class="sponsor_actions">
                    <span>Tags: <strong><%= sponsor.cached_content_tags.join(',') %></strong></span>
                    <%= link_to "edit", :action => 'edit', :id => sponsor.id %>
                    <%= link_to 'delete', { :action => 'destroy', :id => sponsor.id }, :confirm => 'Are you sure?', :method => :post %>
                </span>
                <%= render_inline_logo(sponsor.image, true) %>
                
            </li>
        <% end %>
        </ul>
    </div>  

    
    <%= sortable_element('sortable_list', :url => {:action => :update_positions}) %>
</div>