<div id="listconnection">
<% if !@mylistownership.nil? %>
<div id="listownerconnection">
	<% moderator = @mylistownership.moderator %>
	<% if moderator %>
	<h6>You are an owner and a moderator for this list.</h6>
	<% if @list.managed? %><p><%= change_list_moderation_link('listownerconnection',@list,'nomoderator','Remove me as a moderator') %></p><% end %>			
	<% else %>
	<h6>You are an owner for this list.</h6>
	<% if @list.managed? %><p>&nbsp;</p><% end %>	
	<% end %>
</div>
<% end %>
<% if(@list.connected_and_managed?) %>
	<% if !@mylistsubscription.nil? %>
		<% if (!@list.dropunconnected? and @list.is_unconnected_user?(@currentuser)) %>
			<div id="listsubscriptionconnection">
				<h6>You are subscribed to this list, but do not have a <%= @list.communityconnection_to_s(true) %> connection with the community</h6>
				<p><%= change_list_subscription_link('listsubscriptionconnection',@list,'unsubscribe','Unsubscribe from the list') %></p>
			</div>
		<% else %>
			<div id="listsubscriptionconnection">
				<% if !@mylistsubscription.optout %>
				<h6>You have opted to receive emails from this list.</h6>
				<p><%= change_list_subscription_link('listsubscriptionconnection',@list,'optout','Opt-out of receiving list emails') %></p>
				<% else %>
				<h6>You have opted-out of receiving emails from this list.</h6>
				<p><%= change_list_subscription_link('listsubscriptionconnection',@list,'optin','Opt-in to receive list emails') %></p>
				<% end %>
			</div> 
		<% end %>   
	<% else %>
	    <div id="listsubscriptionconnection">
	    <%- if !@currentuser.nil? -%>
		    <h6>You do not have a <%= @list.communityconnection_to_s(true) %> connection with the community for this list.</h6>
		    <p>Visit the <%= link_to_people_community(@list.community) %> community page to make a community connection</p>
	    <%- else -%>
	        <h6>You are not logged in.  Please <%= link_to('login', :controller => :account, :action => :login) %> with your eXtensionID</h6>
	        <p>Mailing lists hosted by extension.org require list members to be eligible for and have an eXtensionID.  You'll need to <%= link_to('login', :controller => :account, :action => :login) %> with your eXtensionID (or <%= link_to('signup', :controller => :signup, :action => :new) %> for one if you are eligible)</p>  <p>Once logged in, visit the <%= link_to_community(@list.community) %> community page and have a connection with the community to be receive and send email to this mailing list.</p>
    	<%- end -%>	    
	    </div>
	<% end %>
<% else %>
	<div id="listsubscriptionconnection">
	<% if !@mylistsubscription.nil? %>
		<h6>You are subscribed to this list, but the list is not managed within People.</h6>
	<% else %>
		<h6>You are not subscribed to this list, and this list is not managed within People.</h6>
	<% end %>
	<p>Contact a <%= link_to('List Owner',ownerlist_people_list_url(@list.id, :type => 'idowners'))%> to manage your subscription.</p>
	</div>
<% end %>

</div>
