<% @page_title = "Lists - All eXtension Mailing Lists" %>
<% @selected_tab = :lists %>
<h1>All eXtension Mailing Lists</h1>
<div id="paginator_wrapper">
<% if @listoflists.length > 0 %>
    <p class="display_results">Displaying <strong><%= @listoflists.offset + 1 %>-<%= @listoflists.offset + @listoflists.length %></strong> of <strong><%= @listoflists.total_entries %></strong></p>
<% else %>
    <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
<% end %>
<%= will_paginate @listoflists %>
</div>

<table cellspacing="0" border="1">
    <tr>
        <th>Name</th>
        <th>Community Connection:</th>
        <th>Community Connection Type</th>
        <th>Subscribers</th>
    </tr>
    
    <% @listoflists.each do |list| %>
      <tr id="listrow_<%= list.id %>">
        <td><%= list.name %></td>
        <td><%= link_to_people_community(list.community,false) %></td>
        <td><%= link_to_people_community_connection(list.community, list.communityconnection,'',false) %></td>
        <td><%= list.subscriber_count %></td>            
      </tr>
    <% end%>
</table>

<div id="paginator_wrapper">
<%= will_paginate @listoflists %>
</div>