<% @selected_tab = :lists %>
<div id="list">
    <ul id="nav">
    <li><%= link_to("#{@list.name}", @list)%></li>
    <li></li>
    <li></li>
    </ul>
    <br class="clear"/>
    
    <h1><%= (@page_title) ? @page_title : "Owners" %></h1>

	<%= make_list_ownerlist_filter_line(@list) %>

	<div id="paginator_wrapper">
    
	<% if @ownerlist.length > 0 %>
	    <p class="display_results">Displaying <strong><%= @ownerlist.offset + 1 %>-<%= @ownerlist.offset + @ownerlist.length %></strong> of <strong><%= @ownerlist.total_entries %></strong></p>
	<% else %>
	    <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
	<% end %>

	<%= will_paginate @ownerlist %>
	</div>


	<table cellspacing="0" border="1">
	    <tr>
			<% if (@listtype != 'noidowners') %>
	        <th>Name</th>
	        <th>eXtensionID</th>
	        <th>Email</th>
        	<th>Moderator?</th>
			<% else %>
				<th>Email</th>
				<th>Moderator?</th>
	        <% end %>
	    </tr>

		<% if (@listtype != 'noidowners') %>    
		    <% @ownerlist.each do |owner| %>
		        <tr id="ownerlist_row_<%= owner.id %>">
					<td><%= link_to("#{owner.user.fullname}", :controller => :colleagues, :action => :showuser, :id => owner.user.login) %></td>
					<td><%= owner.user.login %></td>
					<td><%= owner.user.email %></td>   
		        	<td><%= owner.moderator? ? 'Yes' : 'No' %></td>
		        </tr>	
		    <% end%>
		<% else %>
			<% @ownerlist.each do |owner| %>
			<tr id="ownerlist_row_<%= owner.id %>">
				<td><%= owner.email %></td>
				<td><%= owner.moderator? ? 'Yes' : 'No' %></td>            
	        </tr>
		    <% end %>
		<% end %>
	</table>

</div>