<% @selected_tab = :lists %>
<h1>List Posting Activity for <%= @showall ? "All Lists" : @list.name %></h1>
<% if !@showall %>
<ul id="nav">
<li><%= link_to("#{@list.name} list information", @list)%></li>
<li></li>
<li></li>
</ul>
<br class="clear"/>
<% end %>
<div id="paginator_wrapper">
	<%= will_paginate @listposts %>
</div>
<%= render(:partial => 'post_activity', :locals => { :displaylistposts => @listposts, :listview => @showall ? true : false}) %>
<div id="paginator_wrapper">
	<%= will_paginate @listposts %>
</div>