<% @page_title = "Mailing Lists" %>
<% @selected_tab = :lists %>

<h2>Posting to eXtension Mailing Lists</h2>

<p>Your post to a lists.extension.org mailing list is currently being held for moderation.</p>

<h3>Post by a non-member</h3>

<p>If you received a notice that the reason your message was being held is that:</p>
<p><code>Post by non-member to a members-only list</code></p>
<p>this could happen for two reasons, either you are not a member of the mailing list, or you are actually a member of the mailing list, but your "From:" address in your email client, doesn't match the address in your People profile</p>

<h4>Mailing list membership</h4>

<p>Mailing lists hosted by extension.org require that you have a connection to the community associated with the mailing list that you posted to.  Depending on the mailing list, this connection could be as a "leader" in the community, a "member", or just having an "interest" in the community (the most common case is that you need to be a leader/member of the community.)</p>

<p>You can <%= link_to('browse your community connections', :controller => '/people/profile', :action => :communities)%>, and <%= link_to('browse your mailing list membership', :controller => '/people/profile', :action => :lists)%> as part of <%= link_to('your profile', :controller => '/people/profile', :action => :me) %>.  <%- if @currentuser.nil? -%> (You'll need to <%= link_to('login', :controller => '/people/account', :action => :login) %> with your eXtensionID or <%= link_to('signup', :controller => '/people/signup', :action => :new) %> for one if you are eligible and do not have an eXtensionID)<%- end -%></p>

<h4>Matching your "From:" Address</h4>

<p>This issue is an unfortunate side effect of mailing list software configuration - and one that affects many University personnel.  Most Universities provide multiple "email addresses" for their personnel that will all deliver to the same eventual email "location" or "mailbox" (an example would be yourid@university.edu and firstname.lastname@university.edu).   Most mailing list software, including the software used by extension.org is unable to make the determination that these multiple email addresses belong to the same person.  While we are currently thinking about ways to use our people.extension.org directory tool to work around this limitation, for now, in order to send email to mailing lists that you are subscribed to - your email address in your profile <strong>must</strong> match your "From:" address in your email client and/or sent by your server at your institution</p>

<p>This "From:" address is different for every institution.  Please contact your local IT support to determine the "From:" address used by your email clients and servers - or to ask about how you can modify your "From:" address in the clients you use.   Once you have that, you can <% link_to("edit your profile information", :controller => '/people/profile', :action => :edit) %> and update your email address in your profile to match your "From:" address - or modify your email client to make sure they match</p>

<h3>Other Moderation requests</h3>

<p>Your email may also be held for moderation for other reasons, for example, you might have placed the mailing list in the "bcc:" field of an email - which will hold the email for moderation.  Mailing lists are designed to be used for announcements and discussion directly, not for blind-carbon-copies, so the software is designed to hold these to make sure that it matches the normal behavior of list usage.  Other reasons include the messages being held because the list was part of a To: or Cc: field that contains a number of different lists or individual email addresses.   An eXtension.org staff member will periodically review the queue and should approve your post or contact you within 24-48 hours of your posting.</p>

