<% @page_title = "#{@list.name} - List Information" %>
<% @selected_tab = :lists %>

<%= render(:partial => 'partial/flashmessages') %>

<div id="list">
    <h1><%= @list.name %> mailing list</h1>

    <div id="list_sidebar">     
	   
   		<div id = "connectiontolist">
			<%= render(:partial => 'list_connection') %>
		</div>
		
    	<div id="list_summary">
    	    <h3>List Information</h3>
    	    <dl>
    		    <dt>Created:</dt>
    	        <dd><%= humane_date(@list.created_at) %></dd>
				<% if @list.managed? %>
				    <dt>Community Connection:</dt>
	   	        	<dd><%= link_to_people_community(@list.community) %></dd>
		        	<dt>Community Connection Type:</dt>
					<dd><%= link_to_people_community_connection(@list.community, @list.communityconnection) %></dd>
					<% if(!@currentuser.nil? and (@currentuser.listownerships.include?(@list) or admin_mode?)) %>					
	    	        	<dt>Community Connection Only:</dt>
	    	        	<dd><%= @list.dropunconnected? ? 'Yes' : 'No' %></dd>
	    	        	<dt>eXtensionID Only:</dt>
	    	        	<dd><%= @list.dropforeignsubscriptions? ? 'Yes' : 'No' %></dd>
					<% end %>
				<% end %>
    	    </dl>
	    </div>
	</div>

	<div id="primary_column">
   
	   	<p id="description"><%= list_description(@list) %></p>
		
		<% if(!@currentuser.nil? and (@currentuser.lists.include?(@list) or admin_mode?)) %>
	        <div id="listnumbers">
				<%= render(:partial => 'list_numbers') %>
		    </div>
		<% end %>
    	
	    <div id="recent_list_stats" class="section">
			<h3>Recent Posting Stats</h3> 
			<p>Within the last week: <%= list_stat_line(@stats[:lastweek])%></p>
			<p>Within the last month: <%= list_stat_line(@stats[:lastmonth])%></p>			
		</div>
		
		<% if(!@currentuser.nil? and(@currentuser.lists.include?(@list) or admin_mode?)) %>
			<% if @stats[:lastmonth][:messages] > 0 %>
			<div id="recent_list_stats" class="section">
	    		<h3>Activity by Sender - Last Month</h3> 
				<%= render(:partial => 'post_senders', :locals => {:senderlist => @list.get_count_bysender('lastmonth')}) %>
			</div>
			<% end %>
		    <div id="recent_list_activity" class="section">
				<h3>Recent Posting Activity</h3> 
		    	<%= render(:partial => 'post_activity', :locals => {:displaylistposts => @list.recent_posts, :listview => false}) %>
				<p class="more"><%= link_to("More...",{:controller => '/people/lists', :action => :posts, :id => @list.id})%></p>
			</div>
		<% end %>
		
		
	</div>

</div>

