<% @selected_tab = :lists %>
<div id="list">
    <ul id="nav">
    <li><%= link_to("#{@list.name}", @list)%></li>
    <li></li>
    <li></li>
    </ul>
    <br class="clear"/>
    
    <h1><%= (@page_title) ? @page_title : "Users" %></h1>

	<%= make_list_userlist_filter_line(@list) %>

	<div id="paginator_wrapper">
    
	<% if @subscriptionlist.length > 0 %>
	    <p class="display_results">Displaying <strong><%= @subscriptionlist.offset + 1 %>-<%= @subscriptionlist.offset + @subscriptionlist.length %></strong> of <strong><%= @subscriptionlist.total_entries %></strong></p>
	<% else %>
	    <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
	<% end %>

	<%= will_paginate @subscriptionlist %>
	</div>

	<table cellspacing="0" border="1">
	    <tr>
			<% if (@listtype != 'noidsubscribers') %>
	        <th>Name</th>
	        <th>eXtensionID</th>
	        <th>Email</th>
			<% if (@listtype == 'ineligible') %>
				<th>Account Status</th>
			<% end %>
			<% else %>
				<th>Email</th>
	        <% end %>
	    </tr>

		<% if (@listtype != 'noidsubscribers') %>    
		    <% @subscriptionlist.each do |subscription| %>
		        <tr id="subscriptionlist_row_<%= subscription.id %>">
					<td><%= link_to("#{subscription.user.fullname}", :controller => '/people/colleagues', :action => :showuser, :id => subscription.user.login) %></td>
					<td><%= subscription.user.login %></td>
					<td><%= subscription.user.email %></td>     
					<% if (@listtype == 'ineligible') %>
						<td><%= subscription.user.account_status_string %></td>
					<% end %> 
		        </tr>	
		    <% end%>
		<% else %>
			<% @subscriptionlist.each do |subscription| %>
			<tr id="subscriptionlist_row_<%= subscription.id %>">
				<td><%= subscription.email %></td>            
	        </tr>
		    <% end %>
		<% end %>
	</table>

</div>