<div id="subnav">
  <h1>Ask an Expert Widget</h1>
  <p id="tagline">Experts from around the country are ready to answer your questions</p>
  
  <% if !@currentuser %>
    <p class="signin"><%= link_to "Sign in", :controller => 'widgets/aae', :action => :login_redirect, :return_back => request.request_uri %></p>
  <% else %>
    <p class="usericon">
      <%= link_to @currentuser.login, :controller => 'people/profile', :action => :me %> &nbsp; <%= link_to "Logout", :controller => 'people/account', :action => :logout %>
    </p>
  <% end %>
</div>

<ul id="aae_nav">
  <li <%= selected_tab_if(:welcome) %>><%= link_to("Home", widgets_aae_url) %></li>
  <li <%= selected_tab_if(:about) %>><%= link_to "About", :controller => 'widgets/aae', :action => :about %></li>
  <li <%= selected_tab_if(:who) %>><%= link_to "Who answers the questions?", :controller => 'widgets/aae', :action => :who %></li>
  <li <%= selected_tab_if(:get) %>><%= link_to "Get the Ask widget for your site <em>(requires login)</em>", :controller => 'widgets/aae', :action => :new %></li>
  <li <%= selected_tab_if(:documentation) %>><%= link_to "Documentation", :controller => 'widgets/aae', :action => :documentation %></li>
  <li <%= selected_tab_if(:all) %>><%= link_to "All Widgets <em>(requires login)</em>", :controller => 'widgets/aae', :action => :list %></li>
</ul>
