<% if @mobile_device %>

    <% @widgets.each do |widget| %>
        <div id="<%= widget.name %>" class="widget_summary">
            <h3><%= link_to("#{widget.name} <small>(view)</small>", widgets_view_aae_url(:id => widget.id)) %></h3>
            <p>Admin: <%= link_to_user(widget.user) %></p>
            <p>Created: <%= widget.created_at.strftime("%m/%d/%Y %l:%M %p UTC")  %></p>
        </div>
    <% end %>

<% else %>
    
    <table>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Active Assignees</th>
            <th scope="col">Administrator</th>
            <th scope="col">Date Created</th>
        </tr>

    <% @widgets.each do |widget| %>
        <tr id="<%= widget.name %>">
            <td><%= link_to(widget.name, widgets_view_aae_url(:id => widget.id)) %></td>
            <td><%= link_to(widget.assignee_count, widgets_view_aae_url(:id => widget.id)) %></td>
            <td><%= link_to_user(widget.user) %></td>
            <td><%= widget.created_at %></td>
        </tr>
    <% end %>

    </table>


<% end %>