<% @selected_tab = :get %>

<%= render(:partial => 'aae_widget_nav') %>

<div id="article">

<%= error_messages_for 'widget' %>

<h2>Edit your Ask an Expert Widget</h2>
<% form_for :widget, @widget, :url => {:controller => 'widgets/aae', :action => 'update'}  do |f| %>
   <%= hidden_field_tag(:widget, @widget.id) %>
  
   <fieldset>
      <p>Select the location that you want your widget to cover. This will allow questions to be routed to experts who select the corresponding location in their Ask an Expert preferences.</p>
    
      <p>
         <label>Name your widget <span>(in order to track and find questions entered through it)</span>
         <%= text_field(:widget, :name) %>
         </label>
      </p>

      <p>
          <label>Location
          <%= select_tag 'location_id', options_for_select(get_location_options, @widget.location_id ? @widget.location_id : nil) %>
          </label>
      </p>

      	<%= observe_field('location_id',
      	                  :update    => :county_list,
      	                  :url       => { :controller => 'aae/search', :action => :get_counties },
      	                  :with      => "'location_id='+value") %>

      <p id="county_list">
        <%- if @widget.location and @widget.location.counties.length > 0 -%>
        	<label>
        	<%= select_tag 'county_id', options_for_select(get_county_options(@widget.location),@widget.county_id ? @widget.county_id : nil) %>
            </label>
        <%- end -%>
      </p>      
    
      <p>
         <label>
         <%= check_box(:widget,:upload_capable, {:class => "checkbox" ,:checked => true}) %> Enable photo upload for your widget
         </label>
      </p>
      
      <p>
         <label>
         <%= check_box(:widget, :show_location, {:class => "checkbox"}) %> Show location fields on your widget <br/>
         <em>Note: if enabled, any provided location will override the default location for this widget.</em>
         </label>
      </p>
      
      <%- if @widget.enable_tags? -%>
      <p>
         <label>
         <%= check_box(:widget, :enable_tags, {:class => "checkbox", :onclick => "if(this.checked) {$('widget_tag_field').show();} else {$('widget_tag_field').hide(); }"}) %> Enable taggging for this widget<br/>
         <em>Note: once enabled, this cannot be changed</em>
         </label>
      </p>
      <%- end -%>
      
      <div id="widget_tag_field" style="<%= (@widget.enable_tags? ? 'display:block;' : 'display:none;') %>">
         <p>
      	     <label for="tag_list">Tag submitted questions from this widget with: 
      	     <%= text_area_tag(:tag_list,'',{:rows => "4", :class => 'keywords', "onChange" => "fitTextArea(this)", "onKeyUp" => "fitTextArea(this)"}) %>
      	     <em>Separate tags with commas.</em>
      	     </label>
      	 </p>
      </div>
          
      <p><%= submit_tag "Update Widget" %> or <%= link_to("cancel",widgets_view_aae_url(:id => @widget.id))%></p>
    </fieldset>
<% end %>

</div>