<%= render(:partial => 'aae_widget_nav') %>

<div id="article">

<div class="detailpage">

<p><%= link_to "All widgets", :controller => 'widgets/aae', :action => 'list' %> > Widget info</p>

<h2><%= @widget.name %></h2>

<p>Administrator: <strong><%= link_to_user(@widget.user) %></strong></p>

<p>Date Created: <strong><%= @widget.created_at %></strong></p>


<h4>Assignee Pool</h4>
<% if @widget_assignees.length > 0 %>
  <p><strong class="groupicon"><%= @widget_assignees.size %> users</strong> are signed up to answer questions from this widget. <%= link_to ("Sign up to receive questions", :controller => 'aae/prefs', :action => :widget_preferences) %> from this widget.</p>
  <ul id="assignee_pool">
  <% @widget_assignees.each do |user| %>
    <li><%= link_to (user.fullname, aae_profile_url(:id => user.login), {:class => "profile"}) %></li>
  <% end %>
  </ul>
<% else %>
    <div class="askalert">
        <p><strong class="groupicon">There are no users signed up to receive questions from this widget.</strong> <%= link_to ("Sign up to receive questions", :controller => 'aae/prefs', :action => :widget_preferences) %> from this widget.</p>
    </div>
<% end %>





<h4>Widget Status</h4>
<div class="active-status">
    <p>This widget is currently <strong id="widget_active"><%= @widget.active? ? "Active" : "Inactive" %></strong></p>
    <p id="<%= @widget.name %>">
        <%= check_box_tag "widget_#{@widget.id}", @widget.id, @widget.active?, :class => "inline" %>
        <%= label_tag "widget_#{@widget.id}", 'Active', :class => "inline" %>
        <span id="loading_widget_<%= @widget.id %>" class="float-spinner" style="display:none"><img src='/images/loading.gif' /> Saving... </span>
    </p>
    <p>When a widget is inactive, questions can not be submitted from it. The widget code should be removed from any web page.</p>
</div>

<%= observe_field("widget_#{@widget.id}",
                      :url       => { :controller => 'widgets/aae', :action => :toggle_activation },
                      :with      => "'widget_id=#{@widget.id}'",
                      :loading => "Element.show('loading_widget_#{@widget.id}')",
                      :complete    => "Element.hide('loading_widget_#{@widget.id}')") %>

<h4>Photo Upload Option</h4>
<div class="active-status">
<p id="widget_upload">
    <%= check_box_tag "photo_upload", @widget.id, @widget.upload_capable?, :class => "inline" %>
    <%= label_tag "photo_upload", 'Allow people to submit photo(s) with their question', :class => "inline" %>
    <span id="loading_widget_upload" class="float-spinner" style="display:none"><img src='/images/loading.gif' /> Saving... </span>
</p>
</div>

<%= observe_field("photo_upload",
                      :url       => { :controller => 'widgets/aae', :action => :toggle_upload_capable },
                      :with      => "'widget_id=#{@widget.id}'",
                      :loading => "Element.show('loading_widget_upload')",
                      :complete    => "Element.hide('loading_widget_upload')") %>


<h4>Widget iFrame Code</h4>
<div id="widgetcode"><textarea><%= h(@widget_iframe_code) %></textarea></div>

<div id="history">
<%= render(:partial => 'widget_history') %>
</div>

</div>

</div>