<%= render(:partial => 'aae_widget_nav') %>

<p id="breadcrumb"><%= link_to "All widgets", :controller => 'widgets/aae', :action => 'list' %> > Widget info</p>
<div id="article">


<div class="detailpage">



<div id="connectiontowidget">
	<%= render(:partial => 'widget_connection') %>
</div>


<h2><%= @widget.name %></h2>
<p class="widget_date_created">Created: <%= humane_date(@widget.created_at) %></p>


<div id="widget_assignees">
	<%= render(:partial => 'widget_assignees') %>
</div>

<% if @non_active_assignees.length > 0 %>
<p><strong>Note:</strong> There are people who have signed up to receive questions for this widget, but have opted out of receiving AaE questions:<br />
<% @non_active_assignees.each do |assignee| %>
<li><%= link_to(assignee.fullname, aae_profile_url(:id => assignee.login), {:class => "profile"}) %></li>
<% end %>
</p>
<% end %>

<h4>Widget Status</h4>
<div class="active-status">
    <p>This widget is currently <strong id="widget_active"><%= @widget.active? ? "Active" : "Inactive" %></strong></p>
    <p>When a widget is inactive, questions can not be submitted from it. The widget code should be removed from any web page.</p>
</div>

<h4>Widget Attributes</h4>
<%- if @widget.can_edit_attributes?(@currentuser) -%>
  <p><%= link_to("edit",widgets_edit_aae_url(:id => @widget.id)) %></p>
<%- end -%>

<table>
  <tr>
    <td>Location:</td>
    <td>
    <%- if @widget.location -%>
      <%- if @widget.county -%>
        <%= @widget.county.name %>, 
      <%- end -%>
      <%= @widget.location.name -%>
    <%- else -%>
      None specified.
    <%- end -%>
    </td>
  <tr>
  <td>Uploads enabled?</td>
  <td><%= @widget.upload_capable? ? 'Yes' : 'No' %></td>
  </tr>
  
  <tr>
  <td>Show location menu?</td>
  <td><%= @widget.show_location? ? 'Yes' : 'No' %></td>
  </tr>
  
  <tr>
  <td>Incoming Group Notifications?</td>
  <td><%= @widget.group_notify? ? 'Yes' : 'No' %></td>
  </tr>
  
  <tr>
  <td>Widget Key:</td>
  <td><%= @widget.fingerprint %></td>
  </tr>

</table>


<h4>Widget iFrame Code</h4>
<div id="widgetcode"><textarea><%= h(@widget_iframe_code) %></textarea></div>

<div id="history">
<%= render(:partial => 'widget_history') %>
</div>

</div>

</div>