<%= render(:partial => 'aae_widget_nav') %>

<%= render(:partial => "partial/flashmessages") %>

<p id="breadcrumb"><%= link_to "All widgets", :controller => 'widgets/aae', :action => 'list' %> > Widget info</p>
<div id="article">


<div class="detailpage">



<div id="connectiontowidget">
	<%= render(:partial => 'widget_connection') %>
</div>


<h2><%= @widget.name %></h2>
<p class="widget_date_created">Created: <%= humane_date(@widget.created_at) %></p>


<div id="widget_assignees">
	<%= render(:partial => 'widget_assignees') %>
</div>

<div id="edit_widget_attributes">
  <%= render(:partial => 'edit_widget_attributes')%>
</div>


<h4>Widget iFrame Code</h4>
<div id="widgetcode"><textarea><%= h(@widget_iframe_code) %></textarea></div>

<div id="history">
<%= render(:partial => 'widget_history') %>
</div>

</div>

</div>