<%= render(:partial => 'aae_widget_nav') %>

<div id="article">

<div class="detailpage">

<p><%= link_to "All widgets", :controller => 'widgets/aae', :action => 'list' %> > Widget info</p>

<h2><%= @widget.name %></h2>

<p>Leaders: <strong><%= (@widget_leaders.count > 0) ? @widget_leaders.map{|u| link_to_user(u)}.join(', ') : 'No leaders!' %></strong></p>

<p>Date Created: <strong><%= @widget.created_at %></strong></p>


<h4>Assignee Pool</h4>
<% if @widget_assignees.length > 0 %>
  <p><strong class="groupicon"><%= @widget_assignees.size %> active user<%= @widget_assignees.size > 1 ? 's' : '' %></strong> <%= @widget_assignees.size > 1 ? 'are' : 'is' %> signed up to answer questions from this widget. Sign up to receive questions <%= link_to("by joining this widget's community", people_community_url(@widget.community.id)) %>.</p>
  <ul id="assignee_pool">
  <% @widget_assignees.each do |user| %>
    <li><%= link_to(user.fullname, aae_profile_url(:id => user.login), {:class => "profile"}) %></li>
  <% end %>
  </ul>
<% else %>
    <div class="askalert">
        <p><strong class="groupicon">There are no active users signed up to receive questions from this widget.</strong> Sign up to receive questions <%= link_to("by joining this widget's community", people_community_url(@widget.community.id)) %>.</p>
    </div>
<% end %>

<% if @non_active_assignees.length > 0 %>
<p><strong>Note:</strong> There are people who have signed up to receive questions for this widget, but have opted out of receiving AaE questions:<br />
<% @non_active_assignees.each do |assignee| %>
<li><%= link_to(assignee.fullname, aae_profile_url(:id => assignee.login), {:class => "profile"}) %></li>
<% end %>
</p>
<% end %>

<h4>Widget Status</h4>
<div class="active-status">
    <p>This widget is currently <strong id="widget_active"><%= @widget.active? ? "Active" : "Inactive" %></strong></p>
    <p>When a widget is inactive, questions can not be submitted from it. The widget code should be removed from any web page.</p>
</div>

<h4>Widget Attributes</h4>
<%- if @widget.can_edit_attributes?(@currentuser) -%>
  <p><%= link_to("edit",widgets_edit_aae_url(:id => @widget.id)) %></p>
<%- end -%>

<table>
  <tr>
    <td>Location:</td>
    <td>
    <%- if @widget.location -%>
      <%- if @widget.county -%>
        <%= @widget.county.name %>, 
      <%- end -%>
      <%= @widget.location.name -%>
    <%- else -%>
      None specified.
    <%- end -%>
    </td>
  <tr>
  <td>Uploads enabled?</td>
  <td><%= @widget.upload_capable? ? 'Yes' : 'No' %></td>
  </tr>
  
  <tr>
  <td>Show location menu?</td>
  <td><%= @widget.show_location? ? 'Yes' : 'No' %></td>
  </tr>

  <tr>
  <td>Widget Key:</td>
  <td><%= @widget.fingerprint %></td>
  </tr>

</table>


<h4>Widget iFrame Code</h4>
<div id="widgetcode"><textarea><%= h(@widget_iframe_code) %></textarea></div>

<div id="history">
<%= render(:partial => 'widget_history') %>
</div>

</div>

</div>