<h1>Assignment Dashboard</h1>
<p>Completions and Avg responses are computed over the last 6 months.</p>
<table cellspacing="0">
    <tr>
        <th>Question</th>
        <th>Question Age</th>
        <th>Assigned to</th>
        <th>Length assigned</th>
        <th>Completions</th>
        <th>Avg response (hours)</th>
        
        <th>Most recent action</th>
    <tr>
        
    <% @submitted_questions.each do |sq| %>
        <tr>
            <td><%= link_to sq.id, aae_question_url(:id => sq.id) %></td>
            <td><%= time_ago_in_words(sq.created_at) %> ago</td>
            <td><%= (sq.assignee) ? link_to(sq.assignee.login, aae_profile_url(:id => sq.assignee.login)) : "<span>nobody</span>" %></td>
            <td><%= (sq.assignee and (assign_date = sq.assigned_date)) ? time_ago_in_words(assign_date) : ""%></td>
            <% pctassgns= 0%>
            <% assignee = sq.assignee.id.to_s%>
            <% if (@totalassgns[assignee] && @totalassgns[assignee] > 0)%>
               <% if (@assgnscompls[assignee])%>
                 <% pctassgns = (@assgnscompls[assignee]).to_f/@totalassgns[assignee]%>
               <% end%>
            <%end%>
            <td><%= (( pctassgns != 0) ? ("%.2f" % pctassgns) + "%" : "0%") %></td>
            <td><%= ((@avgscompl[assignee] && @avgscompl[assignee] != 0) ? "%.2f" % @avgscompl[assignee] : "n/a")%></td>
            <td>[Most recent action]</td>
        </tr>
    <% end %>    
</table>