<table summary="Faq and AaE Search Results" class="hover" cellspacing="0">

    <tr>
        <th scope="col">Type</th>
        <th scope="col">Status</th>
        <th scope="col">Question</th>
        <th scope="col">ID</th>
        
        <th scope="col">Last Updated</th>
    </tr>



<%  
    even = true 
    @aae_search_results.each do |question|
%>   

    
    <tr <%= ' class="shaded"' if even %>>
        <td class="<%= (question.entrytype == SearchQuestion::FAQ) ? 'FAQ' : 'AaE' %>">
            <span><%= (question.entrytype == SearchQuestion::FAQ) ? 'FAQ' : 'AaE' %></span>
        </td>
        <td>
            <%= question.status %>
        </td>
        <td>
            <%= link_to strip_tags(question.displaytitle), aae_answer_url(:id => question.id, :squid => @submitted_question.id, :q => params[:q], :faq_search => params[:faq_search], :aae_search => params[:aae_search]) %>
        </td> 
        <td>
            <%= question.id %>    
        </td>
        
        
        <td>
            <%= time_ago_in_words(question.updated_at) %> ago
        </td>
        
    </tr>
    
    <% 
       if even
         even = false
       else
         even = true
       end 
    %>
<% end %>
</table>
