<% @page_title = "Ask an Expert Search" %>

<div id="search_for_answer">
<% form_tag({:controller => 'aae/search', :action => :general_search}, {:method => 'get'}) do %>
   <%= text_field_tag "q", params[:q], :class => "medium" %>
   <%= submit_tag "Search" %>
<% end %>

<% if @aae_search_results.empty? %>
    <h2 class="note"><strong>Your search did not match any questions</strong></h2>
<% else %>
    <h2>Search Results</h2>
    
    <%= will_paginate @aae_search_results %>
    
    <table summary="AaE Search Results" class="hover" cellspacing="0">

        <tr>
            <th scope="col">Status</th>
            <th scope="col">Question</th>
            <th scope="col">ID</th>
            <th scope="col">Last Updated</th>
        </tr>



    <%  
        even = true 
        @aae_search_results.each do |question|
    %>   


        <tr <%= ' class="shaded"' if even %>>
            <td>
                <%= question.status %>
            </td>
            <td>
                <%= link_to strip_tags(question.displaytitle), aae_question_url(:id => question.foreignid) %>
            </td> 
            <td>
                <%= question.foreignid %>    
            </td>


            <td>
                <%= time_ago_in_words(question.updated_at) %> ago
            </td>

        </tr>

        <% 
           if even
             even = false
           else
             even = true
           end 
        %>
    <% end %>
    </table>
    <%= will_paginate @aae_search_results %>
<% end %>