<div id="community_checklist">
    <h1>Community Launch Checklist</h1>
    <p>This page provides a listing of all elements needed correctly display a Community of Practice homepage on the Public Site.</p>
    
    
    <h2>Community name</h2>
    <p class="launchready"><%= html_escape(@community.public_name)%></p>
    <h2>Public Description</h2>
    <%- if @community.public_description.blank? -%>
        <p class="missing">A public community description for your community has not yet been created.  Contact your content staff representative to create your public community description.</p>
    <%- else -%>
        <p class="launchready"><%= html_escape(@community.public_description) %></p>
    <%- end -%>

    <h2>Homage Image</h2>
    <%- if @community.logo.nil? -%>
        <p class="missing">A public homage has not been uploaded for your community. Contact your content staff representative to upload your community homage logo.</p>
    <%- else -%>
        <p class="homage_image"><%= render_inline_logo({:logo => @community.logo, :show_thumbnail => false }) %></p>
    <%- end -%>

<h2>Content Check List</h2>
<ul>                    
    <li><span><%= @community.item_count_for_date(Date.today,'published events','total',true) %></span> Published Events</li>
    <li><span><%= @community.item_count_for_date(Date.today,'published faqs','total',true) %></span> Published FAQs</li>
    <li><span><%= @community.item_count_for_date(Date.today,'published articles','total',true) %></span> Published Articles</li>
    <li><span><%= @community.item_count_for_date(Date.today,'published features','total',true) %></span> Published Articles categorized as "feature"</li>
    <li><span><%= @community.item_count_for_date(Date.today,'published news','total',true) %></span> Published Articles categorized as "news"</li>
    <li><span><%= @community.item_count_for_date(Date.today,'published learning lessons','total',true) %></span> Published Articles categorized as "learning lesson"</li>
</ul>

<h2>People</h2>
<ul>
    <li>Todo: get experts</li>
</ul>
</div>