<div id="community_checklist">
    
    <div id="checklist_header">
        <h1>Launch Checklist for Content Tagged With "<%= @content_tag.name %>"</h1>
        <p>This page provides a listing of all elements needed correctly display a launched content page for an eXtension Community of Practice on the Public Site.</p>
    </div>
    
    <%= image_tag("/images/pubsite/checklist-diagram-2.png", :alt => "", :class => "checklist_diagram") %>
    
    
    
    <%- if @community.nil? -%>
    <div class="section">
        <h2>Community name <span>(A)</span></h2>
        <p class="missing">There is not a community yet associated with content tagged "<%= @content_tag.name %>"</p>
    </div>
    <%- else -%>
    <div class="section">
        <h2>Community name <span>(A)</span></h2>
        <p class="launchready"><%= html_escape(@community.public_name)%></p>
    </div>
      
      <div class="section">
      <h2>Public Description</h2>
      <%- if @community.public_description.blank? -%>
         <p class="missing"><strong>A public community description for your community has not yet been created.</strong>  Contact your content staff representative to create your public community description.
            <%- if(@currentuser and @currentuser.is_admin?) -%>
               <%= link_to('edit link (only visible to admins)', :controller => 'admin', :action => 'edit_public_community', :id => @community.id)%>
            <%- end -%>
            </p>
      <%- else -%>
        <p class="launchready"><%= html_escape(@community.public_description) %></p>
      <%- end -%>
      </div>
      
      <div class="section">
       <h2>Homage Image <span>(G)</span></h2>
       <%- if @community.logo.nil? -%>
           <p class="missing">A public homage has not been uploaded for your community. Contact your content staff representative to upload your community homage logo.</p>
       <%- else -%>
           <p class="homage_image"><%= render_inline_logo({:logo => @community.logo, :show_thumbnail => false }) %></p>
       <%- end -%>
       </div>
   <%- end -%>

   <div class="section">
   <h2>Events and FAQs</h2>
   <ul>
      <!-- events -->
      <%- if @events_count > 0 -%>
         <li><span class="launchready">Yes</span> <%= link_to("<span>#{@events_count}</span> Published Events", preview_eventlist_url(:content_tag => @content_tag.name)) %> <span>(D)</span> </li>
      <%- else -%>
         <li class="missing">No Published Events <span>(D)</span></li>
      <%- end -%>
      
      <!-- faqs -->
      <%- if @faqs_count > 0 -%>
         <li><span class="launchready">Yes</span> <%= link_to("<span>#{@faqs_count}</span> Published Faqs", preview_faqlist_url(:content_tag => @content_tag.name)) %> <span>(F)</span></li>
      <%- else -%>
         <li class="missing">No Published FAQs <span>(F)</span></li>
      <%- end -%>   
   </ul>
   </div>
   
   <div class="section">
       <h2>Articles</h2>
       <ul>
      <!-- Articles -->
      <%- if @articles_count > 0 -%>                
         <li><span class="launchready">Yes</span> <%= link_to("<span>#{@articles_count}</span> Published Articles", preview_articlelist_url(:content_tag => @content_tag.name)) %></li>
      <%- else -%>
         <li class="missing">No Published Articles</li>
      <%- end -%>
      
      <!-- News -->
      <%- if @news_count > 0 -%>
         <li><span class="launchready">Yes</span> <%= link_to("<span>#{@news_count}</span> Published Articles categorized as \"news\"", preview_articlelist_url(:content_tag => @content_tag.name, :articlefilter => 'news')) %> <span>(H)</span></li>
      <%- else -%>
         <li class="missing">No Published Articles categorized as "news" <span>(H)</span></li>
      <%- end -%>
      
      <!-- Learning Lessons -->
      <%- if @learning_lessons_count > 0 -%>      
      <li><span class="launchready">Yes</span> <%= link_to("<span>#{@learning_lessons_count}</span> Published Articles categorized as \"learning lesson\"", preview_articlelist_url(:content_tag => @content_tag.name, :articlefilter => 'learning lessons')) %> <span>(E)</span></li>
      <%- else -%>
         <li class="missing">No Published Articles categorized as "learning lesson" <span>(E)</span></li>
      <%- end -%>              
    </ul>
    </div>
   
   <div class="section">
   <h2>Special Features</h2>
   <ul>
      <!-- Features -->
      <%- if @features_count > 0 -%>
      <li><span class="launchready">Yes</span> <%= link_to("<span>#{@features_count}</span> Published Articles categorized as \"feature\"", preview_articlelist_url(:content_tag => @content_tag.name, :articlefilter => 'feature')) %> <span>(B)</span></li>
      <%- else -%>
         <li class="missing">No Published Articles categorized as "feature" <span>(B)</span></li>
      <%- end -%>
      
      <!-- Contents -->
      <%- if @contents_count > 1 -%>
        <li class="missing"><%= link_to("<span>#{@contents_count}</span> Published Articles categorized as \"contents\"", preview_articlelist_url(:content_tag => @content_tag.name, :articlefilter => 'contents')) %> <span>(C)</span>
         <br />(<%= link_to("#{@contents_page.title} is currently chosen for the contents view", @contents_page.id_and_link) %>)
         </li>
      <%- elsif @contents_count == 1 -%>                
         <li><span class="launchready">Yes</span> <%= link_to('Published Article categorized as "contents"', @contents_page.id_and_link) %> <span>(C)</span></li>
      <%- else -%>
         <li class="missing">No Published Article categorized as "contents" <span>(C)</span></li>
      <%- end -%>
      
      <!-- Homage -->
      <%- if @homage_count > 1 -%>
         <li class="missing"><%= link_to("<span>#{@homage_count}</span> Published Articles categorized as \"homage\"", preview_articlelist_url(:content_tag => @content_tag.name, :articlefilter => 'homage')) %> <span>(G)</span>
             <br />
         (<%= link_to("#{@homage.title} is currently chosen for the homage view", @homage.id_and_link) %>)
         </li>
      <%- elsif @homage_count == 1 -%>                
         <li><span class="launchready">Yes</span> <%= link_to('Published Article categorized as "homage"', @homage.id_and_link) %> <span>(G)</span></li>
      <%- else -%>
         <li class="missing">No Published Article categorized as "homage" <span>(G)</span></li>
      <%- end -%>
      
      <!-- Learn More -->
      <%- if @learnmore_count > 1 -%>
         <li class="missing"><%= link_to("<span>#{@learnmore_count}</span> Published Articles categorized as \"learn more\"", preview_articlelist_url(:content_tag => @content_tag.name, :articlefilter => 'learn more')) %> <span>(G)</span>
             <br />
         (<%= link_to("#{@learnmore.title} is currently chosen for the learn more view", @learnmore.id_and_link) %>)
         </li>
      <%- elsif @learnmore_count == 1 -%>                
         <li><span class="launchready">Yes</span> <%= link_to('Published Article categorized as "learn more"', @learnmore.id_and_link) %> <span>(G)</span></li>
      <%- else -%>
         <li class="missing">No Published Article categorized as "learn more" <span>(G)</span></li>
      <%- end -%>
   </ul>
   </div>
   
<div class="section">
   <h2>Ask an Expert</h2>
   <%- if @expertise_category.nil? -%>
      <p class="missing">"<%= @content_tag.name %>" is not currently entered as a category for Ask an Expert - please ask your content staff representative to create this top-level AaE category</p>
   <%- else -%>
      <ul>
         <!-- Experts -->
         <%- if @aae_expertise_count > 0 -%>                
            <li><span class="launchready">Yes</span>    	       	
               <%= link_to("<span>#{@aae_expertise_count}</span> Experts have indicated that this content tag is an area of expertise", :controller => '/aae/reports', :action => "state_answerers", :id => @expertise_category.id, :category => @expertise_category.name) %>
               </li>
         <%- else -%>
            <li class="missing">No Experts have indicated that this content tag is an area of expertise</li>
         <%- end -%>
         
         <!-- Auto Routed Experts -->
         <%- if @aae_autorouting_count > 0 -%>                
            <li><span class="launchready">Yes</span> <span><%= @aae_autorouting_count %></span> Experts have indicated that they will receive auto-routed questions</li>
         <%- else -%>
            <li class="missing">No Experts have indicated that they will receive auto-routed questions</li>
         <%- end -%>
      </ul>
   <%- end -%>
   </div>

  <div class="section">
     <h2>Link Audit</h2>
     <ul>
       <%- if @articles_broken_count > 0 -%>                
          <li class="missing"><%= link_to(pluralize(@articles_broken_count,'article'), preview_articlelinklist_url(:content_tag => @content_tag.name)) %> have broken links</li>
       <%- end -%>     
       <li>Link counts for all <%= link_to(pluralize(@articles_count,'article'), preview_articlelinklist_url(:content_tag => @content_tag.name)) %></li>
     </ul>
  </div>

</div>
