<%- if @content_tag.nil? %>
   <p>Invalid content tag</p>
<%- else -%>
   <h1>All FAQs for Tag: <%= @content_tag.name %></h1>

   <div id="paginator_wrapper"> 
   <% if @faqs.length > 0 %>
       <p class="display_results">Displaying <strong><%= @faqs.offset + 1 %>-<%= @faqs.offset + @faqs.length %></strong> of <strong><%= @faqs.total_entries %></strong></p>
   <% else %>
       <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
   <% end %>

   <%= will_paginate @faqs %>
   </div>

   <p id="csv"><%= link_to('Download a list of these faqs (csv)',:action => 'faqlist', :download => 'csv') %> </p>

   <table cellspacing="0" border="1">
       <tr>
           <th>Published Title</th>
           <th>Published At</th>
           <!-- <th>Source</th>  -->
       </tr>
    
       <% for faq in @faqs %>
           <tr id="faq_row_<%= faq.id %>">
              <td><%= link_to(faq.title, faq_page_url(faq)) %></td>
              <td><%= humane_date(faq.heureka_published_at) %></td>
           </tr>
       <% end%>
   </table>


   <div id="paginator_wrapper"> 
   <% if @faqs.length > 0 %>
       <p class="display_results">Displaying <strong><%= @faqs.offset + 1 %>-<%= @faqs.offset + @faqs.length %></strong> of <strong><%= @faqs.total_entries %></strong></p>
   <% else %>
       <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
   <% end %>

   <%= will_paginate @faqs %>
   </div>
<%- end -%>
