<div id="admin">
<h1>Preview Communities</h1>  
<div>
  <p>Welcome to the Content Checklist for eXtension Communities of Practice.  This list reflects the "eXtension Community of Practice" and other public communities created in the <%= link_to('People application', :controller => 'people', :action => 'communities') %>. To add a community to this page (and the Public Site), please create a community in People.</p>
  
  <p>To set a Public Community Name, Topic, and Resource Area Tag for your community, contact your content staff representative</p>
  
  <h2>eXtension Publishing Communities</h2>
  <table cellspacing="0">
      <tr>
          <th>Live</th>
          <th>Community Name</th>
          <th>Public Community Name</th>
          <th>Topic</th>
          <th>Resource Area Tag</th>
          <th>Launch Checklist</th>
          <th>Community Info</th>
      </tr>

      <% @communities.each do |community|%>
      <tr class="<%= community.is_launched %>">
          <td class="islive"><%= community.is_launched %></td>
          <td><%= community.name %></td>
          <td <%= community.public_name.nil? ? 'class="notset"' : '' %>><%= community.public_name.nil? ? 'not set' : community.public_name %></td>
          <td <%= community.topic.nil? ? 'class="notset"' : '' %>><%= community.topic.nil? ? 'not set' : community.topic.name %></td>
          <td <%= community.cached_content_tags.blank? ? 'class="notset"' : '' %>><%= community.cached_content_tags.blank? ? '<span>not set</span>' : link_to_preview_tags(community.cached_content_tags) %></td>
          <td class="checklist"><%= community.cached_content_tags.blank? ? '<span>n/a</span>' : link_to_preview_tags(community.cached_content_tags, true) %></td>
          <td><a href='<%= people_community_url(community.id) %>'>info</a></td>
          </tr>
      <% end%>
  </table>
    
  </div>
</div>
  
