<% @in_this_resource_area = true %>
<% @resource_area_feeds = true %>

<div class = "mission">
    <%if @page_title_text && @header_description%>
        <h2 class="missionstatement"><%=@header_description%></h2>
    <%end%>
</div>

    <div class="pageextras">
        <% if not @youth %>
          <p id="aae_pitch">Have a question? <%= link_to 'Try asking one of our Experts', ask_form_url %></p>
        <% end %>
        <%- if(!params[:print]) -%>
        <p class="print_and_share"><%= link_to 'Print', (request.request_uri + "/print/"), :class => "print" %>
            <%= image_tag("/images/common/share_save_image.gif", :size => "106x16", :title => "The Share/Save feature is disabled in Preview mode", :alt => "Share/Save") %> 
        </p>
        <%- end -%>
    </div>
    
    <div class = "headline left">
      <h1 class="title"><%= @article.title %></h1>
      
      
      <p class="caption">
          <span class="updatedmeta">Last Updated: <%= micro_time_print(@article.updated_at, 'updated') %></span>
        <% if false # this attr will not exist til wiki feed updated %>
         Published: <%= micro_time_print(@article.published_at, 'published') %>
        <% end %>
        <%- if @community_content_tags -%>
        <span id="relatedresources">Related resource areas: 
         <%= @community_content_tags.collect{|tag| tag.content_community }.uniq.compact.collect { |community| link_to_preview_community(community) }.join(', ')  %>
         </span>
        <%- end -%>
      </p>
      
      <p class="view_as_web_page"><%= link_to 'View as web page', request.request_uri.gsub(/\/print(\/)?$/, '')%></p>
    </div>
    <br class="clearing" />

      <div id="content_css_reset">
          
          <div id="article">
              
            <%= @article.content %>
         </div>
  	  </div>
  	  <br class="clearing" />

  <%   
    keywords = @article_content_tag_names.collect{|tag_name| "#{tag_name}" }
  	if keywords.length > 0
  %>
      <div class="related">
          <h4>More information</h4>
          <p><%= keywords.join(", ") %></p>
      </div>
  <% end %>
  
  <% if not @youth %>
    <div id="aae_plug">
        <h4>Have a specific question? <%= link_to 'Try asking one of our Experts', ask_form_url %></h4>
        <p>Unlike most other resources on the web, we have experts from Universities around the country ready to answer your questions.</p>
    </div>
  <% end %>
