<div id="admin">
    <p><%= link_to 'Admin home', :controller=>'/admin', :action => 'index' %> > <%= link_to('Feed Locations',admin_feed_locations_url)  %></p>
    
    <h1>Update feed source</h1>

    <%= error_messages_for :feed_location %>

    <% form_for :feed_location, @feed_location, :url => admin_feed_location_path(@feed_location), :html => { :method => :put } do |f| %>

    <%= render :partial => 'form', :locals => { :feed_location => @feed_location } %>	
        <p>
            <%= f.submit "Update" %> 
            <%= link_to('cancel', admin_feed_locations_url, {:class => "cancel"})  %> 
            <%= link_to('delete', admin_feed_location_path(@feed_location), {:confirm => 'Are you sure?', :method => :delete, :class => "delete"})%> 
        </p>
    <% end %>

</div>