<nav>
<ul id="extensionNav">
    <li class="group"><span>Public sites</span>
        <ul>
            <li><a href="<%= AppConfig.configtable['about_blog'] %>" title="A starting place for all things eXtension">About.eXtension</a></li>
            <li><a href="<%= AppConfig.configtable['public_site'] %>" title="The eXtension Public Site">Public Site</a></li>
            <li><a href="<%= AppConfig.configtable['search_site'] %>" title="One search for hundereds of Cooperative Extension Sites">Search</a></li>
        </ul>
    </li>
    <li class="group"><span>Wikis</span>
        <ul>
            <li><a href="<%= AppConfig.configtable['about_site'] %>" title="The About wiki: Organizational information, resources and updates about the eXtension initiative">About wiki</a></li>
            <li><a href="<%= AppConfig.configtable['cop_site'] %>" title="CoP wiki for content creation">CoP</a></li>
            <li><a href="<%= AppConfig.configtable['collaborate_site'] %>" title="A wiki for professionals from the land-grant universities to collaborate on topics of interest.">Collaborate</a></li>
        </ul>
    </li>
    <li class="group"><span>Content Tools and People</span>
        <ul>
            <li><a href="<%= AppConfig.configtable['aae_site'] %>" title="Ask an Expert">AaE</a></li>
            <li><a href="<%= AppConfig.configtable['events_site'] %>" title="Events">Events</a></li>
            <li><a href="<%= AppConfig.configtable['faq_site'] %>" title="FAQ">FAQ</a></li>
            <li><a href="<%= AppConfig.configtable['people_site'] %>" title="Manage your eXtension profile, find colleagues, create and join communities.">People</a></li>
        </ul>
    </li>
    <li class="group last"><span>Moodle</span>
        <ul>
            <li><a href="<%= AppConfig.configtable['campus_site'] %>" title="Moodle courses developed by eXtension Communities of Practice, as well as Extension professionals throughout the Cooperative Extension System, for use by the general public">Campus</a></li>
            <li><a href="<%= AppConfig.configtable['pdc_site'] %>" title="Moodle courses developed by Extension professionals for internal staff development and training.">PDC</a></li>
        </ul>
    </li>
</ul>
</nav>