<% @page_title = "Create New Learning Session" %>

<div id="create_session">

<%= error_messages_for :learn_session %>
<%= render(:partial => "partial/flashmessages") %>

<div id="create_form" class="radius10 shadow">

<% form_for :learn_session, :url => { :action => :create_session } do |learn_form| %>
   <h1><%= @page_title %></h1>
   <%= render(:partial => "/learn/session_form", :locals => {:learn_form => learn_form}) %>
<% end %>
</div>

<section>   
   <aside id="learn_help" class="radius10">
      <h3>Currently Scheduled</h3>
      
      <p><%= image_tag("/images/interface/calendar_image.png", :size => "263x207") %></p>
      <ul>
         <li>7/5/10: Session name</li>
         <li>7/6/10: Session name</li>
         <li>7/15/10: Session name</li>
         <li>7/12/10: Session name</li>
         <li>7/21/10: Session name</li>
      </ul>
   </aside>
   
</section>

</div>