<% @page_title = "Create New Learning Session" %>

<div id="create_session">

<%= error_messages_for :learn_session %>
<%= render(:partial => "partial/flashmessages") %>

<div id="primary" class="radius10 shadow">

<% form_for :learn_session, :url => { :action => :create_session } do |learn_form| %>
   <h1><%= @page_title %></h1>
   <%= render(:partial => "/learn/session_form", :locals => {:learn_form => learn_form}) %>
<% end %>
</div>

<section id="two_col_col_two">
   <aside id="secondary" class="radius10">
      <h3>Upcoming Events</h3>
      
      
      <% @scheduled_sessions.each do |scheduled_session| %>
         <dl>
         <dt><%= link_to scheduled_session.title, :action => :event, :id => scheduled_session.id %></dt>
         <dd><strong><%= scheduled_session.session_start.strftime("%B %e, %Y") %></strong></dd>
         <dd><%= scheduled_session.session_start.strftime("%l:%M %p") %></dd>
         </dl>
      <% end %>
      
   </aside>
   
</section>

</div>