<% @page_title = "Create New Learning Session" %>


<%= error_messages_for :learn_session %>
<%= render(:partial => "partial/flashmessages") %>

<div id="create_form" class="radius10">

<% form_for :learn_session, :url => { :action => :create_session } do |f| %>
   
   <h1><%= @page_title %></h1>
   <fieldset id="description">
      <p>
         <%= f.label :title, 'Title' %>
         <%= f.text_field :title %>
      </p>
  
      <p>
         <%= f.label :description, 'Description' %>
         <%= f.text_area :description, {:rows => "8"} %>
      </p>
   </fieldset>
   
   <fieldset id="datetime">
     <p>
     <%= f.label :session_start, 'Date and Time' %>
     <%= calendar_date_select_tag :session_start, @learn_session.session_start ? @learn_session.session_start : Time.parse("2:00").strftime('%Y-%m-%d %H:%M PM'), :time => true %>
     </p>
     
     <p>
     <%= f.label :time_zone, 'Time Zone' %>
     <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)" %>
     </p>
     
   </fieldset>
     
   <fieldset id="session_length">
     <p>
     <%= f.label :session_length, 'Duration (in minutes)' %>
     <%=  f.text_field :session_length %>
     </p>
   </fieldset>
   
   <fieldset>
   <p>
      <%= f.label :where, 'Location (ie. http://connect.iastate.edu/learn)' %>
      <%= f.text_field :where %>
   </p>
   </fieldset>
   
   <fieldset>
     <p>
       <%= f.label :tags, 'Tags (comma separated -- eg. aae, question wranglers, widgets)' %>
       <%= text_field_tag :tags, (params[:tags].blank?) ? nil : params[:tags] %>
     </p>
   </fieldset>
  
   <fieldset id="presenters">
      <h3>Presenters</h3>
  
      <%= hidden_field_tag "presenter_list_to_save", (learn_connections = get_learn_connections).nil? ? nil : learn_connections.map{|lc| lc.user_id}.join(',') %>
  
      <div id="presenters_to_save">
      <% if learn_connections %>
         <%= render(:partial => "/learn/presenters", :locals => {:users => get_users_from_connections(learn_connections)}) %>
      <% end %>
      </div>
  
      <p><label>Type a name...</label><%= text_field_tag :presenter_name, nil, { :autocomplete => "off" } %></p>
  
      <%= observe_field(:presenter_name, :update => :presenter_list, :frequency => 0.6, :url => { :action => 'presenters_by_name' }, :with => "'name=' + value", :loading => "Element.show('loading')", :complete => "Element.hide('loading')") %>
      <div id="loading" style="display:none"><img src='/images/loading.gif' /><p>Loading...</p></div>
  
      <div id="presenter_list">
      </div>
   </fieldset>
  
   <p><%= submit_tag 'Create Session', :class => "bigbutton blue" %></p>
  
<% end %>
</div>