<h1><%= @page_title.blank? ? 'Learn Sessions' : @page_title %></h1>

<%- if(!@learn_sessions.blank?) -%>
<%= will_paginate(@learn_sessions,:params => {:sessiontype => params[:sessiontype], :tag => params[:tag]}) %>

<table cellspacing="0">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Session Date</th>
    <th>Session Time</th>
  </tr>
  
  <% @learn_sessions.each do |learn_session| %>
    <% formatted_time = format_learn_time(learn_session, learn_session.session_start) %>
    <tr>
      <td>
         <% if learn_session.recording.blank? %>
            <span class="no_recording_available">
         <% else %>
            <span class="recording_available">
         <% end %>
      <%= link_to learn_session.title, :action => :event, :id => learn_session.id %>
      </span>
      </td>
      <td><%= (learn_session.description.length > 150) ? learn_session.description.mb_chars[0..150]+'...' : learn_session.description %></td>
      <td><%= formatted_time.strftime("%B %e, %Y") %></td>
      <td><%= formatted_time.strftime("%l:%M %p %Z") %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate(@learn_sessions,:params => {:sessiontype => params[:sessiontype], :tag => params[:tag]}) %>
<%- else -%>
  <%- if(params[:sessiontype]) -%>
    <%- case params[:sessiontype] -%>
    <%- when 'upcoming' -%>
      <p>No upcoming sessions have been listed yet.</p>
    <%- when 'recent' -%>
      <p>No recent sessions have been listed yet.</p>
    <%- when 'myattended' -%>
      <p>You haven't told us that you have attended any sessions yet.  Browse to any recent session, and click the "I attended this session" checkbox. </p>      
    <%- when 'myinterested' -%>
      <p>You haven't told us that you are interested in any sessions yet.  Browse to any session, and click the "I'm interested in this topic" checkbox. </p>
    <%- else -%>
      <p>No sessions have been listed yet.</p>
    <%- end -%>
  <%- else -%>
    <p>No sessions have been listed yet.</p>
  <%- end -%>
<%- end -%>

