<% @page_title = "Learning events tagged with '#{@tag_param}'" %>

<%= render(:partial => "partial/flashmessages") %>


<h1><%= @page_title %></h1>

<% if @learn_sessions.length == 0 %>
<p>
  There are no learn sessions tagged with '<%= @tag_param %>' at this time.
</p>
<% else %>
  <div>
  <% @learn_sessions.each do |learn_session| %>
    <dl class="event_search">
      <dt><%= link_to learn_session.title, learn_session_url(:id => learn_session.id) %></dt>
      <dd><%= (learn_session.description.length > 150) ? learn_session.description.mb_chars[0..150]+'...' : learn_session.description %></dd>
    </dl>
  <% end %>
  </div>
<% end %>