<% @page_title = @learn_session.title %>

<%= render(:partial => "partial/flashmessages") %>

<div id="two_col_col_one">
   <section id="event">
   <h1>
   <%= @learn_session.title %> 
   <% if @currentuser %>
     <%= link_to '[edit]', :action => :edit_session, :id => @learn_session.id %>
   <% end %>
   </h1>

   <p class="description"><%= @learn_session.description %></p>

   <p>Presented by<br />
      <% count = 0 %>
         <% @learn_session.presenters.each do |presenter| %>
         <% if count > 0 %>, 
         <% end %>
         <%= link_to_user(presenter) %> 
         <% count = count + 1 %>
      <% end %>  
      </p>
      
      <h3>Tags</h3>
      <p>
      <% if @learn_session.tags.length != 0 %>  
      <%= @learn_session.tags.collect{|t| link_to t.name, :action => :events_tagged_with, :id => t.name}.join(' , ') %>
      <% else %>
      There are no tags at this time
      <% end %>
      </p>
   </section>
</div>

<section id="two_col_col_two">
   <aside id="event_time" class="radius10">
      <h3>When</h3>
      <p>
      <span id="session_date_time"><%= humane_date(@learn_session.session_start) + " #{@learn_session.time_zone}" %></span><br />
      <%= "#{@learn_session.session_length} minute session" %>
      </p>
      
      <p>
       <%= label_tag :time_zone_label, 'Time Zone Update' %>
       <%= select_tag :time_zone, time_zone_options_for_select(@learn_session.time_zone, ActiveSupport::TimeZone.us_zones) %>
      </p>
      
      <%= observe_field(:time_zone,
                        :url       => { :action => :update_time_zone, :id => @learn_session.id },
                        :with      => "'new_time_zone='+escape(value)") %>
      
            
   </aside>
</section>
