<% @page_title = @learn_session.title %>

<%= render(:partial => "partial/flashmessages") %>

<div id="two_col_col_one">
   <section id="event">
   <h1><%= @learn_session.title %> <%= link_to 'edit', {:action => :edit_session, :id => @learn_session.id}, {:class => "edit"} %></h1>

   <p class="description"><%= @learn_session.description %></p>

   <p>Presented by<br />
      <% count = 0 %>
         <% @learn_session.presenters.each do |presenter| %>
         <% if count > 0 %>, 
         <% end %>
         <%= link_to_user(presenter) %> 
         <% count = count + 1 %>
      <% end %>  
      </p>
      
      <h3>Tags</h3>
      <p>
      <% if @learn_session.tags.length != 0 %>  
      <%= @learn_session.tags.collect{|t| link_to t.name, :action => :events_tagged_with, :id => t.name}.join(' , ') %>
      <% else %>
      There are no tags at this time
      <% end %>
      </p>
   </section>
</div>

<section id="two_col_col_two">
   <aside id="event_time" class="radius10">
      <header>
         <h1>When</h1>
      </header>
      <h2><span class="calendarblock"><%= @learn_session.session_start.strftime("%d") %></span> <%= humane_date(@learn_session.session_start) + " #{@learn_session.time_zone}" %></h2>
      <p><%= "#{@learn_session.session_length} minute session" %></p>      
   </aside>
</section>
