<% @page_title = "eXtension Learn" %>
<div id="home">
<section id="upcoming_events">
   <h2>Upcoming Events</h2>
   <p>view calendar</p>
   
   <article>
      <header>
         <h1><%= link_to("eXtension's Data APIs", "") %></h1>
      </header>
      <p>One of the goals for the eXtension Engineering Team is to make as much of our data and information...</p>
      
      <p><%= link_to("Jason Young", "") %></p>
      
      <p>30 Minute Session</p>
      <p><time datetime="2010-07-17" pubdate>Thursday, June 17th</time></p>
      <p><time>2pm ET</time></p>
      
      <ul id="tags">
         <li><%= link_to("developers", "") %></li>
         <li><%= link_to("api", "") %></li>
         <li><%= link_to("web-apps", "") %></li>
      </ul>
   </article>
   
</section>


<section>
   <h3>Recent Sessions</h3>
   
   
</section>


<section>
   <h3>Browse by recent tags</h3>
   
   <aside>
      <ul>
         <li>Subscribe to a feed of PD recordings</li>
         <li>How to participate in eXtension professional development</li>
         <li>Get email announcements</li>
      </ul>
   </aside>
</section>
</div>