<% @page_title = "eXtension Learn" %>

<%= render(:partial => "partial/flashmessages") %>

<div id="home">
   <p class="summary_statement">These professional development sessions are open to anyone in Extension, and you're all welcome to participate. If you have suggestions for topics that are not currently listed, please add them to the <%= link_to "Learn Community Wave", "https://wave.google.com/wave/#restored:wave:googlewave.com%252Fw%252BaqS4tkeBA" %> or let <%= link_to("Beth Raney", :controller => '/learn', :action => :profile, :id => "bnr1") %> know.</p>
   
<section id="upcoming_events">
   <h3>Upcoming Events</h3>
   <p><%= link_to 'view all', {:action => :events, :id => 'upcoming'}, {:class => "view_more"} %></p>
   
   <% @upcoming_sessions.each do |upcoming_session| %>
      <article class="upcoming_event radius10">
         <div class="calendarblock">
            <% formatted_start_time = format_learn_time(upcoming_session, upcoming_session.session_start) %>
            <span class="month"><%= formatted_start_time.strftime("%b") %></span>
            <span class="date"><%= formatted_start_time.strftime("%d") %></span>
         </div>
         <header>
            <h1><%= link_to upcoming_session.title, :action => :event, :id => upcoming_session.id %></h1>
         </header>
         
         <% session_description = upcoming_session.description %>
         <p class="description"><%= (session_description.length > 150) ? session_description.mb_chars[0..150]+'...' : session_description %></p>
         <p class="author">
            <% count = 0 %>
            <% upcoming_session.presenters.each do |presenter| %>
               <% if count > 0 %>
               , 
               <% end %>
               <%- if(!@currentuser.nil?) -%>
                <%= link_to(presenter.fullname, :controller => '/learn', :action => :profile, :id => presenter.login) %>
               <%- else -%>
                 <%= presenter.fullname %>
               <%- end -%>
               <% count = count + 1 %>
            <% end %>
         </p>
     
         <div class="event_details">
            <p class="session_type"><%= upcoming_session.session_length %> Minute Session</p>
            <p class="date"><%= formatted_start_time.strftime("%B %e, %Y") %></p>
            <p><time><%= formatted_start_time.strftime("%l:%M %p") + " <span class=\"timezone\">#{formatted_start_time.strftime("%Z")}</span>" %></time></p>
         </div>
         
         <% if upcoming_session.tags.length != 0 %>
            <ul class="tags">
               <% upcoming_session.tags.each do |t| %>
                  <li><%= link_to t.name, :action => :events, :sessiontype => "by_tag", :tag => t.name %></li>
               <% end %>
            </ul>
         <% else %>
            <p>There are no tags for this session.</p>
         <% end %>
      </article>
   <% end %>
   
</section>


<section id="recent_sessions">
   <h3>Recent Sessions</h3>
   <p><%= link_to 'view all', {:action => :events, :id => 'recent'}, {:class => "view_more"} %></p>
   
   <% @recent_sessions.each do |recent_session| %>
      <% if recent_session.recording.blank? %>
         <dl class="no_recording_available">
      <% else %>
         <dl class="recording_available">
      <% end %>
      <% formatted_start_time = format_learn_time(recent_session, recent_session.session_start) %>
      <dt><%= link_to recent_session.title, :action => :event, :id => recent_session.id %></dt>
      <dd><%= time_ago_in_words(formatted_start_time) %> ago</dd>
      </dl>
   <% end %>
    
</section>


<section>  
   <aside id="secondary" class="radius10">
      <p id="create_link"><%= link_to("Create a new PD event", {:controller => 'learn/create_session'}, :class => "bigbutton blue") %></p>
      <ul>
         <li class="feed"><%= link_to("Subscribe", {:controller => "feeds", :action => "learn"}) %> to a feed of professional development recordings</li>
         <li class="groupicon"><%= link_to("How to participate in eXtension PD", "http://about.extension.org/wiki/Schedule_of_Professional_Development_Opportunities#How_to_Participate_in_eXtension_Professional_Development") %></li>
         <li class="email">Get email announcements: <br /> 1) Visit the <%= link_to("Learn Community", "https://people.extension.org/communities/learn") %> <br />2) Click "Join Community"</li>
      </ul>
   </aside>
   
   <h3>Browse by recent tags</h3>
   
   <ul class="tags">
      <% @recent_tags.each do |tag| %>
      <li><%= link_to tag.name, :action => :events, :sessiontype => "by_tag", :tag => tag.name %></li>
      <% end %>
   </ul>
</section>
</div>