<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>eXtension: Ask an Expert</title>
    <style type="text/css" media="screen">
        <!--
       body {font-size: 62.5%;}
       body, html {margin:0; font-family: "Arial", "sans-serif"; color: #222; line-height:120%; background:transparent;}
       p {font-size:1.2em;line-height:1.3em;margin:0 0 .3em;}
       
       #myForm {margin:0; border: 1px solid #bbb;padding: 2em 2em 0;background: #eee;}
       h1 {margin:0;padding:0;float:right;height: 40px;width: 98px;text-indent:-3000px;}
       h1 a {display:block;height:40px;}
       h2 {margin:0 0 .25em;font-size: 1.9em;line-height:100%;font-weight: normal;color:#000;}
       h3 {margin:0 0 .25em;font-size: 1.6em;line-height:100%;font-weight: normal;color:#000;}

       #myFormOutput p {margin: 1em 0;color:#008000;font-weight: bold;font-size:1.3em;}
       #myFormOutput p#red {color: #ff0000;}
       
       fieldset {margin: 1em 0 .5em;border:0;padding:0;color:#666;}
       input, select {width: 200px;margin: 0 0 1em;}
       textarea {width: 97%;margin: 0 0 1em;}
       input, textarea {padding: .15em .3em;display:block;}
       p.submit input {width:auto;}
       label {clear: both;display: block;margin-bottom:.3em;font-weight: bold;font-size:1.2em;}
       label span {margin: 3px 0 3px;}
       span {line-height: 100%;display: block;font-weight:normal;color: #888;}
       #flash_notice.notice {color:green;}
       #flash_notice.warning {color:red;}
       	-->
        </style>
        
        <script type="text/javascript" src="http://<%= @host_name %>/javascripts/prototype.js"></script>
        <script type="text/javascript" src="http://<%= @host_name %>/javascripts/effects.js"></script>
</head> 

<body>
  
    <% form_tag({ :action => :create_from_bonnie_plants, :id => @fingerprint }, { :id => 'myForm', :multipart => true }) do %>

    <h1><a href="http://www.extension.org/" target="_blank">eXtension</a></h1>
    <h2>Ask an Expert</h2>
    
    <div class="grid_16" id="content_area">
    <% flash_names = [:notice, :warning, :message, :error]
          flash_names.each do |flash_type| 
             if flash[flash_type] %>
                <div id='flash_notice' class='<%= flash[:notice]? "notice" : "warning" %>'>
                    <p><%= flash[flash_type] %></p>
                </div>
            <% end %>
    <% end %>
    </div><!-- .grid_16 -->
    
    <div id="myFormOutput"></div>

    <p>
        <label for="first_name">First Name:
        <%= text_field_tag(:first_name, @first_name) %>
        </label>
    </p>

    <p>
        <label for="last_name">Last Name:
        <%= text_field_tag(:last_name, @last_name) %>
        </label>
    </p>
    
    <p>
        <label for="email">Email: <span>Type it carefully; this is how you'll receive your answer.</span>
        <%= text_field_tag(:email, @email) %>
        </label>
    </p>
    
    <p>
        <label for="email_confirmation">Confirm Your Email:
        <%= text_field_tag(:email_confirmation, @email_confirmation) %>
        </label>
    </p>

    <p>Where does your question take place? (optional, but it helps us give a more precise answer)</p>
    <%= render(:partial => 'shared/location_county') %>
    
    <% if image_upload_capable(@fingerprint) %>
        
      <p>
      <label>Image (optional)</label>
      <p><em>You can upload .jpg .png or .gif. Max size of 2MB each.</em></p>
      <p class="image_upload"><%= file_field_tag :image %></p>
      </p>
      
    <% end %>

      <br />

    <p>
        <label for="question">Question
        <%= text_area_tag :question, @question, :rows => 4  %>
        </label>
    </p>

    <p class="submit"><%= submit_tag "Ask", :id => "ask_submit", :disable_with => "Submitting..." %></p>
    <% end %>
</body>
</html>
