<div id="admin">
    <p><%= link_to 'Admin home', :controller=>'/admin', :action => 'index' %> > <%= link_to('County Links',admin_county_links_url)  %></p>    
    <h1>Edit a county link</h1>

<%= error_messages_for :county_link %>

<% form_for :county_link, @county_link, :url => admin_county_link_path(@county_link), :html => { :method => :put } do |f| %>
  <%= render :partial => 'form', :locals => { :county_link => @county_link } %>
  <p>
    <%= f.submit "Update" %> 
    <%= link_to('cancel', admin_county_links_url, {:class => "cancel"})  %> 
    <%= link_to('delete', admin_county_link_path(@county_link), {:confirm => 'Are you sure?', :method => :delete, :class => "delete"})%>   
  </p>
<% end %>



</div>