<h1>Content Summary</h1>
<p><small>You are currently signed in as <%= current_person.fullname -%> (<%= link_to('sign out',logout_path) %>)</small></p>
<table class="table">
    <tr>
  		<td>Total Pages</td>
    	<td class="mednumber"><%= number_with_delimiter(Page.count) -%></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Eligible Pages</td>
      <td class="mednumber"><%= number_with_delimiter(@summary_data['pages']) -%></td>
      <td><em>Pages published for at least 1 week prior to <%= PageStat::END_DATE -%></em></td>
    </tr>
    <tr>
      <td>Viewed Pages</td>
      <td style="white-space:nowrap;">
        <span class="mednumber"><%= number_with_delimiter(@summary_data['viewed_pages']) -%></span>
        <span class="mednumber">(<%= number_to_percentage((@summary_data['viewed_pages'] / @summary_data['pages']) * 100, :precision => 1 ) -%>)</span>
      </td>
      <td><em>Pages with at least <strong>one</strong> unique pageview per week<br/>between <%= PageStat::START_DATE -%> and <%= PageStat::END_DATE -%></em></td>
    </tr>
    <tr>
      <td>Missing Pages</td>
      <td style="white-space:nowrap;">
        <span class="mednumber"><%= number_with_delimiter(@summary_data['missing_pages']) -%></span>
        <span class="mednumber">(<%= number_to_percentage((@summary_data['missing_pages'] / @summary_data['pages']) * 100, :precision => 1 ) -%>)</span>
      </td>
      <td>
        <em>Pages with <strong>zero</strong> unique pageviews<br/>
        between <%= PageStat::START_DATE -%> and <%= PageStat::END_DATE -%></em>
      </td>
    </tr>
    <tr>
      <td>Viewed Page Percentiles</td>
      <td>
        <table class="table">
        <%- PageStat::PERCENTILES.each_with_index do |percentile, index| -%>
          <tr>
          <td class='mednumber'>
            <%= "#{percentile}th"  -%>
          </td>
          <td class='mednumber'>
            <%= number_with_precision(@summary_data['viewed_percentiles'][index], precision: 1) -%>
          <td>
          </tr>
        <%- end -%>
        </table>
      </td>
      <td><em>Percentiles (NIST standard) of mean unique pageviews per week<br/>between <%= PageStat::START_DATE -%> and <%= PageStat::END_DATE -%></em></td>
    </tr>
    <tr>
      <td>Image Links</td>
      <td>
        <span class="mednumber"><%= number_with_delimiter(@summary_data['image_links']) -%></span>
      </td>
      <td>
        <em>Links (good or bad) to any kind of image, including various sizes or styles of hosted images</em>
      </td>
    </tr>
    <tr>
      <td>Hosted Images</td>
      <td>
        <span class="mednumber"><%= number_with_delimiter(@summary_data['hosted_images']) -%></span><br/>
        <span>CoP Wiki: <%= number_with_delimiter(@summary_data['copwiki_images']) -%></span><br/>
        <span>Create: <%= number_with_delimiter(@summary_data['create_images']) -%></span>
      </td>
      <td>
        <em>Images uploaded to either the legacy cop.extension.org cms or the create.extension.org cms</em>
      </td>
    </tr>
    <tr>
      <td>Viewed (Hosted) Images</td>
      <td>
        <span class="mednumber"><%= number_with_delimiter(@summary_data['viewed_hosted_images']) -%></span><br/>
        <span>CoP Wiki: <%= number_with_delimiter(@summary_data['viewed_copwiki_images']) -%></span><br/>
        <span>Create: <%= number_with_delimiter(@summary_data['viewed_create_images']) -%></span>
      </td>
      <td>
        <em>Images uploaded to either the legacy cop.extension.org cms or the create.extension.org cms that are linked to within <strong>viewed</strong> pages</em>
      </td>
    </tr>
    <tr>
      <td>Copyright Information</td>
      <td style="white-space:nowrap;">
        <span class="mednumber"><%= number_with_delimiter(@summary_data['hosted_images_with_copyright']) -%></span>
        <span class="mednumber">(<%= number_to_percentage((@summary_data['hosted_images_with_copyright'] / @summary_data['hosted_images']) * 100, :precision => 1 ) -%>)</span>
        <br/>
        <span>CoP Wiki: <%= number_with_delimiter(@summary_data['copwiki_images_with_copyright']) -%></span>
        <span>(<%= number_to_percentage((@summary_data['copwiki_images_with_copyright'] / @summary_data['copwiki_images']) * 100, :precision => 1 ) -%>)</span>
        <br/>
        <span>Create: <%= number_with_delimiter(@summary_data['create_images_with_copyright']) -%></span>
        <span>(<%= number_to_percentage((@summary_data['create_images_with_copyright'] / @summary_data['create_images']) * 100, :precision => 1 ) -%>)</span>
      </td>
      <td>
        <em>Of all hosted images (on a particular cms) the percentage of those images with any mention of the copyright/source for the image</em>
      </td>
    </tr>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Community Name</th>
      <th>Eligible Pages</th>
      <th>Viewed Pages (%)</th>
      <th>Missing Pages (%)</th>
      <th>Image Links</th>
      <th>Hosted Images</th>
      <th>Viewed (Hosted) Images</th>
    </tr>
  </thead>
  <tbody>
    <%- PublishingCommunity.order(:name).each do |pc| -%>
      <%- stats = pc.community_page_stat -%>
        <tr>
        <td><%= link_to(pc.name,community_imageaudit_path(pc.id)) -%></td>
        <%- if stats['pages'] == 0 -%>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        <%- else -%>
          <td><%= number_with_delimiter(stats['pages']) -%></td>
          <td>
            <%= number_with_delimiter(stats['viewed_pages']) -%>
            (<%= number_to_percentage((stats['viewed_pages'] / stats['pages']) * 100, :precision => 1 ) -%>)
          </td>
          <td>
            <%= number_with_delimiter(stats['missing_pages']) -%>
            (<%= number_to_percentage((stats['missing_pages'] / stats['pages']) * 100, :precision => 1 ) -%>)
          </td>
          <td><%= number_with_delimiter(stats['image_links']) -%></td>
          <td><%= number_with_delimiter(stats['hosted_images']) -%></td>
          <td><%= number_with_delimiter(stats['viewed_hosted_images']) -%></td>
        <%- end -%>
        </tr>
      <%- end -%>
    </tbody>
  </table>
