<h1>Pages</h1>
<%- if @filter_strings -%>
<p>Filtered by: <%= @filter_strings.join(' | ') -%></p>
<%- end -%>
<div id="paginator_wrapper">
  <%- if @pages.length > 0 -%>
    <p class="display_results">Displaying <strong><%= @pages.offset_value + 1 %>-<%= @pages.offset_value + @pages.length %></strong> of <strong><%= @pages.total_count %></strong></p>
  <%- else -%>
      <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
  <%- end -%>
  <%= paginate @pages, :params => @pagination_params %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Page ID#</th>
      <th>Page Title</th>
      <th>Total Unique Pageviews</th>
      <th>Mean Unique Pageviews</th>
      <th>Hosted Images</th>
      <th>Hosted Imagelist</th>

    </tr>
  </thead>
  <tbody>
    <%- @pages.each do |page| -%>
      <tr>
        <td><%= link_to("#{page.id}",page_imageaudit_path(page.id)) -%></td>
        <td><%= link_to(page.title, page.id_and_link) %></td>
        <td><%= number_with_delimiter(page.page_stat.unique_pageviews) -%></td>
        <td><%= number_with_precision(page.page_stat.mean_unique_pageviews, precision: 1) -%></td>
        <td> <%= page.page_stat.hosted_images -%></td>
        <td>
            <%- page.hosted_image_ids.each do |hid| -%>
              <%= link_to("#{hid}",image_imageaudit_path(hid)) -%>,
            <%- end -%>
        </td>
      </tr>
    <%- end -%>
    </tbody>
  </table>
  <div id="paginator_wrapper">
    <%- if @pages.length > 0 -%>
      <p class="display_results">Displaying <strong><%= @pages.offset_value + 1 %>-<%= @pages.offset_value + @pages.length %></strong> of <strong><%= @pages.total_count %></strong></p>
    <%- else -%>
        <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
    <%- end -%>
    <%= paginate @pages, :params => @pagination_params %>
  </div>
