<h1>Image Details for Hosted Image ID# <%= @image.id -%></h1>
<table class="table">
    <tr>
  		<td>Image</td>
    	<td><%= imageaudit_link(@image) -%></td>
    </tr>
    <tr>
        <td>Source</td>
        <td><%= imageaudit_sourcelink(@image) -%></td>
    </tr>
    <tr>
        <td>Description</td>
        <td><%= @image.description.nil? ? '<em>none</em>'.html_safe : @image.description %></td>
    </tr>
    <tr>
        <td>Copyright</td>
        <td><%= @image.copyright.nil? ? '<em>none</em>'.html_safe : @image.copyright %></td>
    </tr>
</table>
<%- if @image.pages.count > 0 -%>
<h2>Pages</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Page ID#</th>
      <th>Page Title</th>
      <th>Mean Unique Pageviews</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%- @image.pages.each do |page| -%>
      <tr>
        <td><%= link_to("#{page.id}",page_imageaudit_path(page.id)) -%></td>
        <td><%= link_to(page.title, page.id_and_link) %></td>
        <td><%= number_with_precision(page.page_stat.mean_unique_pageviews, precision: 1) -%></td>
        <td><%= link_to('pageinfo',pageinfo_page_url(:id => page.id)) %></td>
      </tr>
    <%- end -%>
    </tbody>
  </table>
<%- end -%>
