<h1>Page Details for Page ID# <%= @page.id -%></h1>
<p><%= link_to(@page.title, @page.id_and_link) %></p>
<table class="table">
    <tr>
  		<td>Weeks Published</td>
    	<td class="mednumber"><%= @stats.weeks_published -%></td>
    </tr>
    <tr>
      <td>Unique Pageviews<br/>
      <em>between <%= PageStat::START_DATE -%> and <%= PageStat::END_DATE -%></em></td>
      <td class="mednumber"><%= number_with_delimiter(@stats.unique_pageviews) -%></td>
    </tr>
    <tr>
      <td>Mean Unique Pageviews<br/>
      <em>between <%= PageStat::START_DATE -%> and <%= PageStat::END_DATE -%></em></td>
      <td class="mednumber"><%= number_with_precision(@stats.mean_unique_pageviews,precision: 1) -%></td>
    </tr>
    <tr>
      <td>Hosted Images<br/>
      <td class="mednumber"><%= number_with_delimiter(@stats.hosted_images) -%></td>
    </tr>
    <tr>
        <td>Communities</td>
        <td>
          <table>
            <%- @page.publishing_communities.each do |pc| -%>
            <tr>
              <td><%= link_to(pc.name,community_imageaudit_path(pc.id)) -%></td>
            </tr>
            <%- end -%>
          </table>
        </td>
    </tr>
    <tr>
        <td>Source</td>
        <td><%= @page.page_source.name %></td>
    </tr>
    <tr>
        <td>Source URL</td>
        <td><%= link_to(@page.source_url, @page.source_url)%></td>
    </tr>
    <tr>
      <td><%= link_to('More page details',pageinfo_page_url(:id => @page.id)) %></td>
      <td>&nbsp;</td>
    </tr>
</table>
<%- if @stats.hosted_images > 0 -%>
<h2>Hosted Images</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID#</th>
      <th>Image</th>
      <th>Pages</th>
      <th>Copyright</th>
      <th>Source</th>
    </tr>
  </thead>
  <tbody>
    <%- @page.hosted_images.each do |image| -%>
      <tr>
        <td><%= image.id -%> (<%= link_to('details',image_imageaudit_path(image.id)) -%>)</td>
        <td><%= imageaudit_link(image) -%></td>
        <td>
            <%- image.page_ids.each do |pid | -%>
              <%= link_to("#{pid}",page_imageaudit_path(pid)) -%>,
            <%- end -%>
        </td>
        <td><%= image.copyright -%></td>
        <td><%= imageaudit_sourcelink(image) -%></td>
      </tr>
    <%- end -%>
    </tbody>
  </table>
<%- end -%>
