<% communitylist.each do |community| %>
<div class="community_short">
	<h2><%= link_to("#{community.name}", people_community_url(community))%></h2>
	<p class="description"><%= community.description.nil? ? 'No description' : community.description %></p>
	<p><%= community.entrytype_to_s %></p>
	<p><%= community.memberfilter_to_s %></p>
	<p><%= community.joined.count %> Joined</p>
    
	
<!-- TODO: link to somewhere through helper -->
	<p class="tags">tags: <%= link_shared_tags(community.shared_tag_list.map(&:name).sort) %></p>
	
	<% if @currentuser_communities.collect{|community| (community.connectiontype = 'invited')}.include?(community) %>
		<p class="user">You are have been invited to join this community.</p>
	<% elsif @currentuser_communities.collect{|community| (community.connectiontype = 'wantstojoin')}.include?(community) %>
		<p class="user">You have indicated that you want to join this community.</p>
	<% elsif @currentuser_communities.collect{|community| (community.connectiontype = 'member' or community.connectiontype = 'leader')}.include?(community) %>
		<p class="user">You are connected to this community as a: <%= @currentuser.connection_display(community) %>.</p>
	<% end %>
</div>
<% end %>
