<h2><%= user.fullname %></h2>
<p><%= user.login %> <%= user.email %></p>
<% if user.connection_with_community(community) == 'none' or user.connection_with_community(community) == 'interest' or user.connection_with_community(community) == 'nointerest' %>
          <p id="community_<%= community.id %>_user_<%= user.id %>_connection"> <%= link_to_function 'invitation options', "Effect.toggle('community_#{community.id}_user_#{user.id}_inviteform_block','blind', { duration: .4});" %></p>
	
	<div id="community_<%= community.id %>_user_<%= user.id %>_inviteform_block" style="display:none;" class="invite_actions">
		<% form_remote_tag(:url => {:controller => '/people/communities', :action => :inviteuser, :id => community.id, :userid => user.id}, :html => {:id => "community_#{community.id}_user_#{user.id}_invite_form"}) do %>
		    <fieldset>
		        <h3>Invite <%= user.fullname%> to join <%= community.name %></h3>
				<% if @currentuser.is_community_leader?(@community) or admin_mode? %>
			        <p>
			            <%= check_box_tag("inviteasleader","yesinviteleader",false,{:id => "community_#{community.id}_user_#{user.id}_invite_makeleader"}) %>
			            <%- if community.is_institution? -%>
           	         <label for="">Add to Institutional Team (optional)</label></p><p>Institutional Team members can invite and remove community members and receive email notifications of institution membership changes.</p>
           		        <%- else -%>
    			            <label for="">Make a community leader (optional)</label>
    			        </p>
    			        <p>Leaders can invite and remove community members and will receive email notifications when changes occur in the community membership.</p>
           		        <%- end -%>
				<% end %>
		        <p><%= submit_tag('Send Invite',{:id=>"community_#{community.id}_user_#{user.id}_invite_commit"}) %></p>
		</fieldset>
		
		
		<% end %>
	</div>
<% else %>
	<p id="community_<%= community.id %>_showuser_<%= user.id %>_connection"> <%= user.connection_display(community) %></p>
<% end %>
