<% if userlist.nil? or userlist.size == 0 %>
	<p>Can't find a colleague? They may not yet have an eXtensionID.  <%= link_to("Invite your colleague to get an eXtensionID", :controller => '/people/colleagues', :action => :invite) %></p>
<% else %>
	<% if userlist.size >= 10 %>
		<p>Here's the first 10 results we found. Try being more specific to narrow down your search or use the <%= link_to("colleague search", :controller => '/people/colleagues', :action => :finduser, :searchterm => searchterm) %> to find more results </p>
		<% userlist.slice!(9)%>
	<% end %>
	<% userlist.each do |user| %>
		<div id="community_<%= community.id %>_user_<%= user.id %>_invite_block" class="userinvite">
		<%= render(:partial => 'invite_user', :locals => { :user => user, :community => community}) %>
		</div>
	<% end %>
<% end %>