<% @selected_tab = :communities %>
<div id="community">
    
	<h1><%= (@page_title) ? @page_title : "Communities" %></h1>
	
		<div id="paginator_wrapper">
   
			<% if @communitylist.length > 0 %>
			   <p class="display_results">Displaying <strong><%= @communitylist.offset + 1 %>-<%= @communitylist.offset + @communitylist.length %></strong> 
				of <strong><%= @communitylist.total_entries %></strong></p>
			<% else %>
			   <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
			<% end %>

			<%= will_paginate @communitylist %>
		</div>

		<%= render(:partial => 'community_list', :locals => { :communitylist => @communitylist }) %>
	<p>
		<% if @backto %>
	    	<%= link_to @backto[:label], @backto[:url] %> |
		<% end %>
	    <%= link_to 'Home', :action => 'index' %>
	</p>
	
</div>