<% @page_title = "Describe this Community" %>
<% @selected_tab = :communities %>

<h1>Describe this Community</h1>
<p><%= link_to 'View Community', people_community_url(@community.id) %></p>

<%= render(:partial => 'partial/flashmessages') %>
<p>Tags are words and phrases that describe the areas of interest, expertise, and activities of this community. </p>

<% form_tag({:action => 'describe'}, {:id => "tags"}) do %>
    <fieldset>
	 <p>
	     <label for="community_tag_list">Describe and tag this community: 
	     <%= text_area_tag(:tag_list,@community.user_tag_displaylist(@currentuser),{:rows => "4", :class => 'keywords', "onChange" => "fitTextArea(this)", "onKeyUp" => "fitTextArea(this)"}) %>
	     <em>Separate tags with commas or spaces.  Create multi-word tags with double quotes (ie. learning "sharing information" education )</em>
	     </label>
	 </p>
		
	<h4>Other Community Tags</h4>
	<% if @community.shared_tag_list('all',1).size == 0 %>
	    <p>No tags yet.</p>
	<% else %>
	    <ul class="select_from_tags">
	    <% @community.shared_tag_list('all',1).each do |tag| %>
	        <li><%= link_to_function "#{tag.name}<span>(#{tag.frequency})</span>", "addTagsToList($('taglist'), '#{tag.name}')" %></li>
	    <% end %>
	    </ul>
	<% end %>
	
        <p><%= submit_tag 'Save' %> or <%= link_to 'Cancel', people_community_url(@community.id) %></p>
	</fieldset>
<% end %>
