<% @selected_tab = :communities %>

<h1><%= (@page_title) ? @page_title : "Downloads" %></h1>
<% if !@filterstring.blank? %>
	<p><%= @filterstring %></p>
<% end %>

<table cellspacing="0" class="general_table" summary="Community List">
	<tr>
        <th>Name</th>
        <th>Community Type</th>
        <th>People</th>
        <th>Link to People List</th>
    </tr>
    <% @communities.each do |community| %>
	<tr>
		<td><%= link_to("#{community.name}", people_community_url(community))%></td>
		<td><%= community.entrytype_to_s %></td>
		<td><%= @communitycounts[community.id] %></td>
		<td class='csvfile'><%= link_to('Download (csv format)',userlist_people_community_url(@findoptions.merge(:id => community.id, :download => 'csv'))) %></td>
	</tr>
<% end %>
</table>

