<% @selected_tab = :communities %>
<div id="community">
    
	<h1><%= (@page_title) ? @page_title : "Communities" %></h1>
	
	<%= render(:partial => 'find_community_form') %>
	
	<%= render(:partial => 'community_list', :locals => { :communitylist => @communitylist }) %>

	<p>
		<% if @backto %>
	    	<%= link_to @backto[:label], @backto[:url] %> |
		<% end %>
	    <%= link_to 'Home', :action => 'index' %>
	</p>
</div>