<%- @page_title = "#{@community.name} - Community Information" -%>
<%- @selected_tab = :communities -%>

<%= render(:partial => 'partial/flashmessages') -%>

<div id="community">
  <div id="primary_column" class="dashboard">
    <div id="titleblock" class="<%= community_class(@community) -%>">
      <h1><%= @community.name%></h1>
      <p><%= @community.entrytype_to_s -%></p>
    </div>

    <%- if !@community.description.nil? -%>
      <p id="description">
        <%= @community.description -%>
        <%- if (@am_i_leader or admin_mode?) -%>
          <p><small class="edit"><%= link_to 'edit', edit_people_community_path(@community) -%></small></p>
        <%- end -%>
      </p>
    <%- end -%>

    <div id="col_one">
      <h2>People</h2>
      <div id="connectiontocommunity">
        <%= render(:partial => 'community_connection') -%>
      </div>

      <div id="communitynumbers" class="dashmodule">
      <%= render(:partial => 'community_numbers') -%>
      </div>

      <h2>Community Information</h2>
      <div id="communityreports" class="dashmodule">
      <p><%= link_to("Community Activity", activity_people_community_path(@community)) -%></p>
      <p><%= link_to("Community Membership Statistics", :controller => '/people/numbers', :action => :community, :id => @community.id) -%></p>
      </div>

      <h2>
        <%= @community.viewlabel.capitalize -%> Mailing Lists
        <%- if (@am_i_leader or admin_mode?) -%>
          <small><%= link_to 'edit', editlists_people_community_path(@community) -%></small>
        <%- end -%>
      </h2>
      <div id="communitymailinglists" class="dashmodule">
        <%= render(:partial => 'community_mailinglists') -%>
      </div>
    </div>


    <div id="col_two">
      <h2><%= @community.viewlabel.capitalize -%> Tags <a class="tooltip-help" href="#" id="tags_trigger">?</a></h2>
      <div class="dashmodule">
        <div id="sharedtaglist">
          <%= render(:partial => 'shared_tag_list') -%>
          <div id='tags_tooltip' style="display:none;" class="tooltip">
            <p id="tooltip_hook">
              <strong><%= @community.viewlabel.capitalize -%>  Tags</strong> These tags describe the <%= @community.viewlabel -%> and can be searched on. They are set by <%= (@community.is_institution? ? 'institutional team members' : 'community leaders')%>.
            </p>
          </div>

          <script type="text/javascript">
          var my_tooltip = new Tooltip('tags_trigger', 'tags_tooltip')
          </script>
        </div>
      </div>

      <h2>
        <%= @community.viewlabel.capitalize -%> Attributes
        <%- if (@am_i_leader or admin_mode?) -%>
          <small><%= link_to 'edit', edit_people_community_path(@community) -%></small>
        <%- end -%>
      </h2>
      

      
      <div class="dashmodule">

        <dl>
          <dt>Community Type:</dt>
          <dd><%= @community.entrytype_to_s -%></dd>
          <dt>Membership:</dt>
          <dd><%= @community.memberfilter_to_s -%></dd>
          <dt>Created by:</dt>
          <dd><%= link_to_user(@community.creator) -%></dd>
          <dt>Created:</dt>
          <dd><%= humane_date(@community.created_at) -%></dd>
        </dl>
      </div>

      <%- if (@community.connect_to_drupal? and @community.drupal_node_id) or @community.is_launched? -%>
      <h2>Elsewhere in eXtension</h2>
      <div class="dashmodule">
        <p><em>Links to information for this community in other eXtension applications</em></p>
        <dl>
        <%- if (@community.connect_to_drupal? and @community.drupal_node_id) -%>
          <dt>create.extension.org</dt>
          <dd><a href="http://create.extension.org/node/<%= @community.drupal_node_id %>">Community Dashboard</a></dd>
        <%- end -%>
        <%- if  @community.is_launched? -%>
          <dt>data.extension.org</dt>
          <dd><a href="http://data.extension.org/groups/<%= @community.id %>">Group Information</a></dd>
          <%- if !@community.cached_content_tags.blank? -%>
            <dt>www.extension.org/preview</dt>
            <%- @community.cached_content_tags.each do |tagname| -%>
              <dd><%= link_to("content checklist (tag: #{tagname})", preview_tag_url(:content_tag => content_tag_url_display_name(tagname))) %></dd>
            <%- end -%>
          <%- end -%>
        <%- end -%>
        </dl>
      </div>
      <%- end -%>

    </div>
  </div>

</div>

