<% @page_title = "#{@community.name} - Community Information" %>
<% @selected_tab = :communities %>

<%= render(:partial => 'partial/flashmessages') %>

<div id="community">
    <div id="primary_column" class="dashboard">
	    
	    <div id="titleblock">
	        <h1><%= @community.name%></h1>
	        <p><%= @community.entrytype_to_s == "User created community" ? "a" : "an" %>  <%= @community.entrytype_to_s %></p>
	    </div>
    	<% if !@community.description.nil? %>
    	    <p id="description"><%= @community.description %> 
    	        <% if (@am_i_leader or admin_mode?) %>
    	    <small class="edit"><%= link_to 'edit', edit_people_community_path(@community) %></small></p>
    	    <% end %>
    	<% end %>
    	
    	
    	
    	<div id="col_one">
    	    <h2>People</h2>
    	    <div id = "connectiontocommunity">
				<%= render(:partial => 'community_connection') %>
			</div>
    	    <div class="dashmodule">
    	        
    			<div id="communitynumbers">
            		<%= render(:partial => 'community_numbers') %>
        	    </div>
    	    </div>    
    	
    	
    	    <h2>Community Mailing Lists <% if (@am_i_leader or admin_mode?) %><small><%= link_to 'edit', editlists_people_community_path(@community) %></small><% end %></h2>
        	<div class="dashmodule">
        	    <div id="communitymailinglists">        
               		<%= render(:partial => 'community_mailinglists') %>
           	    </div>
        	</div>
    	</div>
    	
    	
    	<div id="col_two">
    	    <% if @community.is_launched? %>
    	    <h2>Publishing Activity</h2>
    	    <div class="dashmodule">
    	        <ul id="publish_activity">
                    <li><span><%= Event.tagged_with_any_content_tags(@community.content_tag_names).count %></span> Events</li>
                    <li><span><%= Faq.tagged_with_any_content_tags(@community.content_tag_names).count %></span> FAQs</li>
                    <li><span><%= Article.tagged_with_any_content_tags(@community.content_tag_names).count %></span> All Articles</li>
                    <li><span><%= Article.bucketed_as('news').tagged_with_any_content_tags(@community.content_tag_names).count %></span> News</li>
                    <li><span><%= Article.bucketed_as('learning lessons').tagged_with_any_content_tags(@community.content_tag_names).count %></span> Learning Lessons</li>
                    <li><span><%= Article.bucketed_as('feature').tagged_with_any_content_tags(@community.content_tag_names).count %></span> Features</li>
                </ul>
                <p><small>"All Articles" includes all published pages, news, features, dpls, learning lessons, etc.</small></p>
    	    </div>
    	    <% end %>
    	    <h2>Community Tags <a class="tooltip-help" href="#" id="tags_trigger">?</a></h2>
    	    <div class="dashmodule">
    	        <div id="sharedtaglist">
            		<%= render(:partial => 'shared_tag_list') %>
            	</div>
        	</div>
        	
        	<h2>Community Information <% if (@am_i_leader or admin_mode?) %><small><%= link_to 'edit', edit_people_community_path(@community) %></small><% end %></h2>
        	<div class="dashmodule">
        	    <div class="community_summary">
                    <p><%= link_to("Reports: Numbers and Activity", :controller => '/people/numbers', :action => :community, :id => @community.id) %></p>
            	    <dl>
            	        <dt>Community Type:</dt>
            		    <dd><%= @community.entrytype_to_s %></dd>
            		    <dt>Membership:</dt>
            	        <dd><%= @community.memberfilter_to_s %></dd>
            	        <dt>Created by:</dt>
            	        <dd><%= link_to_user(@community.creator) %></dd>
            	        <dt>Created:</dt>
            	        <dd><%= @community.created_at%></dd>
            	        
            	    </dl>
        	    </div>
        	</div>
    	</div>
    	
    	
    </div>
    
    <div id="community_sidebar">
        
        <div id="recent_community_activity" class="section">
			<%= render(:partial => 'recent_activity') %>
	    </div>

	</div>

</div>

