<% @selected_tab = :communities %>
<div id="community">
    <ul id="nav">
    <li><%= link_to("#{@community.name}", people_community_url(@community))%></li>
    <li></li>
    <li></li>
    </ul>
    <br class="clear"/>
    
    <h1><%= (@page_title) ? @page_title : "Users" %></h1>
<% if !@filterstring.blank? %>
	<p><%= @filterstring %></p>
<% end %>
<% if @am_i_leader %>
    <p id="userconnection">You are a Leader for this community</p>
<% end %>
	
<% if !@csvreporturl.nil? %>
	<p id="cvs"><%= link_to('Download a list of these users (csv)',@csvreporturl) %> </p>
<% end %>

<%= make_community_userlist_filter_line(@community,@findoptions) %>

<div id="paginator_wrapper">
    
<% if @userlist.length > 0 %>
    <p class="display_results">Displaying <strong><%= @userlist.offset + 1 %>-<%= @userlist.offset + @userlist.length %></strong> of <strong><%= @userlist.total_entries %></strong></p>
<% else %>
    <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
<% end %>

<%= will_paginate @userlist %>
</div>


<table cellspacing="0" border="1">
    <tr>
        <th>Name</th>
        <th>eXtensionID</th>
        <th>Email</th>
        <th>Institution</th>
        <th>Location</th>
        <th>Connection</th>
		<% if @am_i_leader or admin_mode? %>
        	<th>Actions</th>
		<% end %>
    </tr>
    
    <% for showuser in @userlist %>
        <tr id="userlist_row_<%= showuser.id %>">
			<%= render(:partial => 'manage_cc_row', :locals => { :community => @community, :showuser => showuser, :isleader => (@am_i_leader or admin_mode?), :connectaction => 'none' }) %>
        </tr>
    <% end%>
</table>


</div>