<% @page_title = "Ask an Expert Future Directions" %>
<%= render(:partial => "partial/flashmessages") %>

<h2><%= @page_title %></h2>

<p>The <a href="http://create.extension.org/node/617">eXtension Strategic Roadmap for 2011-2014</a> includes a key item to expand our eXtension Ask an Expert (AaE) system. The interaction between those asking questions and the Extension personnel that answer them is one of Extension's success stories, and we are proposing to expand that interaction, modeling the interactions online after those that occur at the local level everyday throughout the Extension system. It is proposed that this "second generation" of AaE ("AaE 2.0") becomes public. Questions and answers may be publicly viewable, and everyone will be able to provide feedback, add context, and discuss impact through comments on the original question and answer.</p>

<p>We have started this process and we'd like to make sure that each and every person that uses AaE has an opportunity to make their voice heard, and we'd like to collect some quantitative data regarding your opinions. Please see the <a href="http://about.extension.org/aae">background information</a> – including the forums that we've setup in our Learn and Create tools where you can discuss directions with the eXtension staff and other colleagues, then weigh in below with your thoughts on the following questions (we'll associate your answer with you, and you can come back in and change it at any time while the survey is open). 

<h3>Questions</h3>

<div id="survey_faq">	
<p>The first question concerns whether answers to questions should go through a formal peer-review process before being displayed on the new public Ask an Expert Web site.  For our purposes, peer-review is defined as:
<blockquote class="survey">A process of self-regulation by a profession or a process of evaluation involving qualified individuals within the relevant field. Peer review methods are employed to maintain standards, improve performance and provide credibility. In academia peer review is often used to determine an academic paper's suitability for publication.</blockquote></p>
<p>The second question is if comments from the public regarding submitted questions and answers should be permitted on the new Ask an Expert site.  Please note, that comments will be reviewed for inappropriate language and self-promotion or spam. This question specifically regards whether any comments should be permitted.</p>
</div>

<div id="aae_public_survey">
    <% form_tag(:controller => 'aae/survey', :action => 'post_public_answer') do %>
    <p>Do your answers need to be formally peer-reviewed before they are shared with the public on a new Ask an Expert Web site?</p>
    <p><span><%= radio_button_tag('peer_review', 1, survey_response_checked?(@response,'peer_review',1)) %> Yes</span>
        <span><%= radio_button_tag('peer_review', 0, survey_response_checked?(@response,'peer_review',0)) %> No</span>
    </p>
		
    <p>Should comments from the public be allowed on a new Ask an Expert web site?</p>
    <p>
        <span><%= radio_button_tag('public_comment', 1, survey_response_checked?(@response,'public_comment',1)) %> Yes</span>
					<span><%= radio_button_tag('public_comment', 0, survey_response_checked?(@response,'public_comment',0)) %> No</span>
    </p>
    <p class="save_it">
			<%- if @response.new_record? -%>
				<%= submit_tag 'Submit Responses' %>
			<%- else -%>
				<%= submit_tag 'Change Responses' %>
			<%- end -%>
		</p>
		<%- end -%> <!-- form -->
</div>


