<% @page_title = "Activity and Numbers" %>
<% @selected_tab = :activity %>

<div id="activity_one" class="activity_summary">
    <h1>Activity Feeds</h1>
	<h2>Feeds</h2>		
	<p class="syndication"><%= link_to("All Activity",{:controller => '/people/feeds', :action => :all, :filter => 'all', :feedkey => @currentuser.feedkey})%></p>
	<p class="syndication"><%= link_to("Signups",{:controller => '/people/feeds', :action => :all, :filter => 'signup', :feedkey => @currentuser.feedkey})%></p>
	<p class="syndication"><%= link_to("Logins",{:controller => '/people/feeds', :action => :all, :filter => 'login', :feedkey => @currentuser.feedkey})%></p>
	<p class="syndication"><%= link_to("Community Activity - all communities",{:controller => '/people/feeds', :action => :communities, :filter => 'all', :feedkey => @currentuser.feedkey})%></p>
	<p class="syndication"><%= link_to("Community Activity - eXtension Communities of Practice",{:controller => '/people/feeds', :action => :communities, :filter => 'approved', :feedkey => @currentuser.feedkey})%></p>
	<p class="syndication"><%= link_to("Community Activity - user-contributed communities",{:controller => '/people/feeds', :action => :communities, :filter => 'usercontributed', :feedkey => @currentuser.feedkey})%></p>

	<h2>Indexes</h2>
	<p><%= link_to("Institutions",{:action => :institutions, :displayfilter => 'all'})%></p>
	<p><%= link_to("Locations",{:action => :locations})%></p>
	<p><%= link_to("Positions",{:action => :positions})%></p>
	<p><%= link_to("Applications",{:action => :applications})%></p>
</div>

<div id="activity_two" class="activity_summary">
    <h1>Activity Related to You</h1>
	<h2>Institution, Location, and Position</h2>

	<% if !@currentuser.communities.institutions.nil? %>
		<p class="syndication"><%= link_to("Your Institution - #{@currentuser.communities.institutions[0].name}",{:controller => '/people/feeds', :action => :institution, :id => @currentuser.institution.id, :feedkey => @currentuser.feedkey})%></p>
	<% end %>
	<% if !@currentuser.location.nil? %>	
	<p class="syndication"><%= link_to("Your Location - #{@currentuser.location.name}",{:controller => '/people/feeds', :action => :location, :id => @currentuser.location.id, :feedkey => @currentuser.feedkey})%></p>
	<% end %>
	<% if !@currentuser.position.nil? %>	
		<p class="syndication"><%= link_to("Your Position - #{@currentuser.position.name}",{:controller => '/people/feeds', :action => :position, :id => @currentuser.position.id, :feedkey => @currentuser.feedkey})%></p>
	<% end %>
	
	<h2>Your Communities</h2>
    <% if !@currentuser.communitiesofanyinterest.empty? %>

    	<ul class="your_comms">
    	<% @currentuser.connectionsofanyinterest.each do |communityconnection|%>
    		<li>
				<strong><%= communityconnection.community.name %></strong>
				<p><span class="syndication"><%= link_to("community activity",{:controller => '/people/feeds', :action => :community, :id => communityconnection.community.id, :filter => 'community', :feedkey => @currentuser.feedkey})%></span>
				<span class="syndication"><%= link_to("member activity",{:controller => '/people/feeds', :action => :community, :id => communityconnection.community.id, :filter => 'member', :feedkey => @currentuser.feedkey})%></span></p>
    		</li>
    	<% end %>
    	</ul>

    <% else %>
    	<p>You haven't yet created, joined, or indicated that you want to join any <%= link_to("communities",:controller => '/people/communities', :action => :index)%></p>
    <% end %>

</div>