<div id="paginator_wrapper">
    
<% if invitelist.length > 0 %>
    <p class="display_results">Displaying <strong><%= invitelist.offset + 1 %>-<%= invitelist.offset + invitelist.length %></strong> of <strong><%= invitelist.total_entries %></strong></p>
<% else %>
    <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
<% end %>
<%= will_paginate @invitelist %>
</div>

<table cellspacing="0" border="1">
    <tr>
        <th>Email Address</th>
        <th>Invited By</th>
        <th>Invited On</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    
    <% for invitation in invitelist %>
        <tr>
            <td><%= invitation.email %></td>
            <td>
				<%- if invitation.user == @currentuser -%>
					You
				<%- else -%>
					<%= link_to_user(invitation.user) %>
				<%- end -%>			
			</td>
            <td><%= humane_date(invitation.created_at) %></td>
            <td>
				<%- if invitation.status == Invitation::ACCEPTED -%>
					Accepted by <%= link_to_user(invitation.colleague) %> on <%= humane_date(invitation.accepted_at) %>
				<%- elsif invitation.status == Invitation::INVALID_EMAIL -%>
					Unable to deliver (Invalid Email Address)
				<%- elsif invitation.status == Invitation::HASACCOUNT-%>					
					Has account (<%= link_to_user(invitation.colleague) %>)
				<%- else -%>
					Not yet accepted.
				<%- end -%>			
			</td>
	        <td>
				<%- if ((invitation.status == Invitation::PENDING or invitation.status == Invitation::INVALID_EMAIL) and invitation.user == @currentuser) -%>
					<%= link_to('Resend',edit_people_invitation_url(invitation))%>
				<%- end -%>			
			</td>
        </tr>
    <% end%>
</table>