<% @page_title = "Invite a Colleague" %>
<% @selected_tab = :colleagues %>
<%= render(:partial => 'navtabs', :locals => { :selected => 'new' }) %>
<%= render(:partial => 'partial/flashmessages') %>

<h1>Invite a Colleague!</h1>

<p>Please enter the email address of a colleague that you would like to invite to have an eXtensionID.  They'll be sent an email inviting them to sign up for an eXtensionID and their account will be automatically approved after signup and email confirmation.</p>

<%= error_messages_for 'invitation' %>
<% form_for @invitation do |i| %>
<div class="form_section">
	<p>
		<label for="invitation_email" class="helptext">Enter a valid email address for your colleague:</label> 
		<%= i.text_field(:email,{:size => 30}) %>
	</p>
	<p>
		<label for="invitation_message" class="helptext">You can include a personal message in the invitation (text only, html will be removed):
		<%= i.text_area(:message,{"onChange" => "fitTextArea(this)", "onKeyUp" => "fitTextArea(this)", "rows" => 4}) %></label>
	</p>

	<% if(@currentuser.communityinvitejoins.count > 0) %>
		<%= render(:partial => 'invite_checkbox_list', :locals => { :communitylist => @currentuser.communityinvitejoins}) %>
    <% end %>
</div>
<div class="form_section">
<%= submit_tag 'Invite' %> or <%= link_to 'Cancel', people_invitations_url %>
</div>
<% end %>


