<div id="user_profile">
<% @page_title = "Profile: " + @user.fullname %>
<% help_title = "User Profile" %>

<%= render(:partial => "partial/flashmessages") %>

    <h2><%= @user.fullname %> <small>(Ask an Expert User Profile)</small></h2>
    <% if @user.retired? %><p class="alert"><strong>* This user is retired from the system.</strong></p><% end %>
    
    <p><%= link_to "View full profile in People", :controller => 'people/colleagues', :action => 'showuser', :id => @user.login %></p>
    
    <div class="vcard">
    	<p class="item">
    		<span class="vcardLabel">Name:</span>
    		<span class="fn"><%= @user.fullname %></span>
    	</p>
    	<p class="item">
    		<span class="vcardLabel">Email:</span>
    		<span class="email"><%= @user.email %></span>
    	</p>
    	<p class="item">
    		<span class="vcardLabel">Title:</span>
    		<span class="title"><%= (@user.title.blank?) ? '&nbsp;': @user.title %></span>
    	</p>
    	<div class="org">
    		<p class="item">
    			<span class="vcardLabel">Primary Institution:</span>
    			<span class="organization-name"><%= @user.primary_institution_name('&nbsp;') %></span>
    		</p>
    	</div>
    	<div class="adr">	
    		<p class="item">
    			<span class="vcardLabel">State:</span>
    			<span class="region"><%= (@user.location.blank?) ? '&nbsp;': @user.location.name %></span>
    		</p>
    		<p class="item">
    			<span class="vcardLabel">County:</span>
    			<span class="county-name"><%= (@user.county.blank?) ? '&nbsp;': @user.county.name %></span>
    		</p>
    	</div>
    </div>
    
    <% if !@user.aae_responder %>    
    <h3>* Does not want to be assigned questions <% if @myid == @user.id %><%= link_to "edit", :controller => 'aae/prefs', :action => 'index' %><% end %></h3>
    <% end %>

    <h2>Currently Assigned Questions</h2>
      <% if (@questions.length) > 0%>
         <table id="questionlist" class="hover">
		    <tr>
               <th scope="col">ID</th>
               <th scope="col">Question</th>
               <th scope="col">Last Assigned At</th>
            </tr>
          <% even = false %>
          <%@questions.each do |question|%>
           <% row_class = "shaded" if even %>
            <tr <%= " class='#{row_class}'" if row_class %>>
	          <td class="num">
		         <%= question.id %>
		      </td>
		      <td class="link">
			     <%= link_to strip_tags( question.asked_question), :controller => 'aae/question', :action => 'index', :id => question.id  %>
			  </td>
			  <td class="q_age">
				<%= time_ago_in_words( question.last_assigned_at) %> ago
			  </td>
			</tr>
	        <% even = !even %>
	      <% end%>
     	</table>
    <% else%>
       <p> This person has no currently assigned questions. </p>				
    <% end%>
    
    <h2>Handling rate for assigned questions for the last 6 months:</h2>
    <% if @users_assigned_questions_last_6_months > 0 %>
       <% aae_handling_event_count =  @user.aae_handling_event_count %>
       
       <p><span class="completions" style="background-position: -<%=((100 - (aae_handling_event_count[:ratio]*100).to_i) * 2) %>px 0">
       <em><%= number_to_percentage(aae_handling_event_count[:ratio]*100, :precision => 0) %></em></span></p>
    <% else %>
        <p><strong>This person hasn't handled any questions in the last 6 months.</strong></p>
    <% end%>
    
    <p>The handling rate tries to answer the question "How likely is a person going to do something with a question that is assigned to her/him?" It is calculated by counting the number of times a person was assigned a question and either resolved or reassigned it, and dividing that by the total number of questions assigned to that person. Resolved includes answered, responded with 'no answer' or marked as spam. Rejected questions are excluded from this calculation because rejections usually involve duplicates or bounced emails and the assignee may not be aware of these circumstances.</p>
    
    <p>You can see a 
    <% if @myid == @user.id %>
    <%= link_to "list of all questions you have been assigned",:controller => "reports", :action => "display_questions", :user => @user.id, :descriptor => "Assigned as an Expert", :to => @dateTo, :from => @dateFrom, :num => @uassigned %>
    <% else %>
    <%= link_to "list of all questions this person has been assigned",:controller => "reports", :action => "display_questions", :user => @user.id, :descriptor => "Assigned as an Expert", :to => @dateTo, :from => @dateFrom, :num => @uassigned %>
    <% end %>
     in the AaE User reports</p>


    <h2>Area of Expertise <% if @myid == @user.id %><small><%= link_to "edit", :controller => 'aae/prefs', :action => 'expertise' %></small><% end %></h2>
    <% if !@user.categories.empty? %>
    <h4>Click to browse by expertise </h4>
    <ul id="aoe_list">
        <% @user.categories.each do |cat| %>
            <li><%= link_to(cat.full_name, {:controller => 'aae/search', :action => 'experts_by_category', :legacycategory => cat.id }) %></li>
        <% end %>
        
    </ul>
    <% end %>
    
    <h2>Geographic Regions <% if @myid == @user.id %><small><%= link_to "edit", :controller => 'aae/prefs', :action => 'location' %></small><% end %></h2>
    <p><%= @geo_info %> <% if @myid == @user.id %><%= link_to "edit", :controller => 'aae/prefs', :action => 'index' %><% end %></p>
    
    <% if !@user.expertise_locations.empty? %>
    <h4>Click to browse by location</h4>
    <ul id="aoe_list">
        <% @user.expertise_locations.each do |loc| %>
            <li><%= link_to(loc.abbreviation, {:controller => 'aae/search', :action => 'experts_by_location', :id => loc.fipsid }) %></li>
        <% end %>
    </ul>
    <% end %>

    <h2>Roles</h2>
    
    <ul id="profile_roles">
      <%= @auto_route_msg %>
       <% if @user.is_question_wrangler? %>
         <li>Belongs to the <strong>Question Wrangler Community</strong></li>
       <% end %>
       <% @user.user_roles.each do |ur| %>
         <li><%= ur %></li>
       <% end %>
    </ul>
    
    <% if @myid == @user.id %>
      <p class="cog"><%= link_to "Update your widget preferences", :controller => 'aae/prefs', :action => 'widget_preferences'  %></p>
    <% end %>
    
    

</div>