
 
<div id="report">
    <div id="report-date-selector">
        <div>
	        <%= render(:partial => 'flashmessages') %>
            <h4>
	            <%p1 = nil%><% p2=nil%>
	            <%p3 = nil%><% p4 =nil%>
	            <%p3 = nil%><% p4 =nil%>
                
                <a onclick="Effect.toggle('date-selectors','blind', { duration: .4});" ><%= (@dateinterval) ? "#{Time.parse(@date1.to_s).strftime('%b %e, %Y')} - #{Time.parse(@date2.to_s).strftime('%b %e, %Y')}" : "#{Time.parse(@prior90th.to_s).strftime('%b %e, %Y')} - #{Time.now.strftime('%b %e, %Y')}  <span>(last 90 days)</span>"%> <%  (p1=is_marked('public',:via_conduita))%> <% (p2=is_marked('widget', :via_conduita)) %> <% if p1 || p2 %> <%= "<em> Submitted through: </em>"%><%= (p1) ? 'Public' : ""%> <%= (p2) ? ((p1) ? ', Widgets' : ' Widgets' ): " "%><%end%> <%= "<em>compared to</em>     #{Time.parse(@datec1.to_s).strftime('%b %e, %Y')} - #{Time.parse(@datec2.to_s).strftime('%b %e, %Y')}" if (@datec1 && @datec2) %><% if @datec1 && @datec2 %> <%  (p3=is_marked('public', :via_conduitb))%> <% (p4=is_marked('widget', :via_conduitb))%><% if p3 || p4 %> <%= " <em>Submitted through:</em>" %> <%= (p3) ? 'Public' : ""%>  <%=(p4) ? ((p3) ? ', Widgets' : ' Widgets') : " " %><%end%><%end %> <em>edit</em></a></h4>
             
            <div id="calendar" >
	           
	            <div id="date-selectors" style="display:none;" >
	                
	                <div class="date-selector1" >
	                    <% form_tag ({:action => params[:action], :compare_dat1 => @datec1, :compare_dat2 => @datec2,  :upper => true}) do %>
	                      <%= calendar_date_select_tag "datefrom", ((@dateinterval) ? @dateinterval[0] : @prior90th), :popup => true%><span>to</span><%= calendar_date_select_tag "dateto", ((@dateinterval) ? @dateinterval[1] : @latest_date), :popup => true%> 
	                     
	                    <ul class="source">
                            <li><%= check_box_tag(:public_sourcea, true, is_marked('public', :via_conduita)) %> public site</li>
                            <li><%= check_box_tag(:widget_sourcea, true, is_marked('widget', :via_conduita)) %> widgets </li>
                        </ul>
                        <p><%= submit_tag 'Go' %>
                            <%if @date1 && @date2%> 
                                <%= submit_tag 'Last 90 days'%>
                            <% end %>
                        </p>
                        <% end%>
                    </div>
                
                    <div class="date-selector2">
                        <h4>Compare to...</h4>
                        <% form_tag  ({ :action => params[:action], :dat1 => @date1, :dat2 => @date2,  :lower => true}) do %>
                      
                         <%= calendar_date_select_tag "datefrom", ((@dateintervalc) ? @dateintervalc[0] : @prior90th), :popup => true%><span>to</span><%= calendar_date_select_tag "dateto", ((@dateintervalc) ? @dateintervalc[1] : @latest_date), :popup => true%> 

                        <ul class="source">
                            <li><%= check_box_tag(:public_sourceb, true, is_marked('public', :via_conduitb)) %> public site</li>
                            <li><%= check_box_tag(:widget_sourceb, true, is_marked('widget', :via_conduitb)) %> widgets</li>
                        </ul>
                        <p><%= submit_tag 'Go' %> <%= submit_tag 'remove' if (@datec1 && @datec2) %></p>
                        <% end%>
                    </div>
                </div>        
            </div>
        </div>
        
        
    </div>

<div id="report">
<table cellspacing="0" class="stats2 stats3" summary="<%= genstring %>"> 
  <% if (@datec1 && @datec2) %>
  <tr>
    <th class="empty"></th>
    <th class="doublespan" colspan="4">Date Range 1</th>
    <th class="doublespan" colspan="3">Date Range 2</th>
  </tr>
   <tr>
    <th scope="col" class="left"><%= @type %></th>
    <th scope="col" class="period1">Submitted</th>
    <th scope="col" class="period1">Unanswered</th>
    <th scope="col" class="period1">Avg Response (hours)</th>
    <th scope="col" class="period1">% change Avg</th>
    <th scope="col" class="period2">Submitted</th>
    <th scope="col" class="period2">Unanswered</th>
    <th scope="col" class="period2">Avg Response</th>
  </tr>
  <% else %>
  <tr>
    <th scope="col" class="left"><%= @type %></th>
    <th>Submitted Questions</th>
    <th>Unanswered</th>
    <th>Avg Response Time (hours)</th>
  </tr>
  <% end %>
 
<% if @typelist%>

    <% even = false %>
    <% @typelist.each do |x| %>
    
        <%if ! ((@date1 || @date2 || @datec1 || @datec2))%>
            <tr <%= ' class="shaded"' if even %>>
                <td class="left"><%= x[0] %></td>
                <td <%= ' class="zero"' if !@nof[x[0]] %>>
                    <%= (@nof[x[0]] && @nof[x[0]] > 0) ? @nof[x[0]] : "0" %>
                </td>
		        <td <%= ' class="zero"' if !@var3[x[0]] %>>
			        <%=   (@var3[x[0]] && @var3[x[0]] > 0) ? @var3[x[0]] : "0" %>
                </td>
                <!-- <td <%= ' class="empty"' if @var2[x[0]]==0 %>><%= (@var2[x[0]] && @var2[x[0]] > 0) ? @var2[x[0]] : "0"%></td> -->
	            <td <%= ' class="empty"' if !@var1[x[0]] %>>
			        <%=  (@var1[x[0]] && @var1[x[0]] > 0) ? ("%.2f"  % @var1[x[0]] ): "n/a" %>
		        </td>
            </tr>
        <% end %>
        
        <% if (@date1 && @date2) || (@datec1 && @datec2)%>
            <tr <%= ' class="shaded"' if even %>>
                <td class="left"><%= x[0]%></td>
                
                <td class=" <%= "zero" if !@nos1[x[0]] %>">
	                <%= (@nos1[x[0]] && @nos1[x[0]] > 0) ? @nos1[x[0]] : "0" %>
	            </td>
	            
	            <td <%= 'class="zero"' if !@nostopn1[x[0]] %>>
	                <%=  (@nostopn1[x[0]] && @nostopn1[x[0]] > 0) ? @nostopn1[x[0]] : "0" %>
	            </td>
	            
	            <td class=" <%= "empty" if !@ppd1[x[0]] %>">
	                <%=  (@ppd1[x[0]] && @ppd1[x[0]] > 0) ? ("%.2f"  % @ppd1[x[0]] ): "n/a" %>
	            </td>
	            <% if (@datec1 && @datec2) %>
	               <td class=" <%= "empty" if !@ppd1[x[0]] %>">
	                <% if ((@ppd2[x[0]] && @ppd2[x[0]] >= 0) && (@ppd1[x[0]] && @ppd1[x[0]] > 0))%>
	                        <span class="responsechange <%= ("positive") if @avgchg[x[0]] > 0 %> <%= ("negative") if @avgchg[x[0]] < 0 %>">
                                (<%= number_to_percentage(@avgchg[x[0]], :precision => 1) %>)</span>
    	            <% else %>
    	                n/a
    	            <% end %>
	            </td>
	            <% end %>
	            
	            
	            <% if (@datec1 && @datec2)%>
                    <td class="dategroup <%= ' zero' if !@nos2[x[0]] %>">
		                <%= (@nos2[x[0]] && @nos2[x[0]] >0 ) ? @nos2[x[0]] : "0"%>
		            </td>
		            <td class="dategroup <%= ' zero' if !@nostopn2[x[0]] %>">
		                <%=  (@nostopn2[x[0]] && @nostopn2[x[0]]) ? @nostopn2[x[0]] : "0"%>
		            </td>
		            <td class="dategroup <%= "empty" if !@ppd2[x[0]] %>" >
		                <%=  (@ppd2[x[0]] && @ppd2[x[0]] >= 0) ? ("%.2f"  % @ppd2[x[0]] ): "n/a" %>
		            </td>
                <% end%>
			 </tr>
		 <%end%>

		 <% even = !even %>
   <% end %>
<%end %>

 </table>

</div>