<% @page_title = "General Statistics by Tag"%>

<% genstring = "General Statistics by Tag" %>


<div id="report">
    <p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %> &gt; <%= link_to "General Overview",  :action => 'activity' %> &gt; <%= @page_title %></p>
    
<h1><%= genstring %></h1>
<p><%= @filtstr%></p>


<%= render(:partial => 'flashmessages') %>

<div id="date_range">
	 <h4 id="selected_range"><%= (@dateinterval ? "#{@dateinterval[0].strftime('%b %e, %Y')} - #{@dateinterval[1].strftime('%b %e, %Y')}" : "#{@earliest_date.strftime('%b %e, %Y')} - #{@latest_date.strftime('%b %e, %Y')} <span>(all data)</span>") %></h4>

    <div id="calendar">
        
        <% form_tag({:action => params[:action], :category => @typename, :location => @locid, :State => @statename}) do %>
          
             <%= calendar_date_select_tag "datefrom", ((@dateinterval) ? @dateinterval[0].strftime('%Y-%m-%d') : @earliest_date.strftime('%Y-%m-%d')), :popup => true%><span>to</span><%= calendar_date_select_tag "dateto", ((@dateinterval) ? @dateinterval[1].strftime('%Y-%m-%d') : @latest_date.strftime('%Y-%m-%d')), :popup => true%> 
             
            <%= submit_tag 'Go' %>
        <% end%>
        
       <% if (@dateinterval) %>
         <% form_tag({ :action => params[:action], :category => @typename, :location => @locid, :State => @statename}) do %>
            <%= submit_tag 'Show all'%>
         <% end%>
       <% end %>
    </div>
</div>

<table cellspacing="0" class="stats" summary="<%= genstring %>">
	<% even = false %> 
    <tr>
	    <th scope="col">Tag</th> 
	   
        <th scope="col">Open</th>
        <th scope="col">Resolved</th>
        <th scope="col">Answered</th>
        <th scope="col">Rejected</th>
        <th scope="col">Responded to with 'No Expertise'</th>
     </tr>
  <%- @categories.each do |category| -%>
    <%- if @filteredparams.showempty or (@total_by_category[category.id] and @total_by_category[category.id] > 0) -%>
      <tr <%= ' class="shaded"' if even %>>
       <td class="left">
        <%= category.name %>
       </td>
       <td>
         <%=  @open_by_category[category.id] ? @open_by_category[category.id] : 0 %>
       </td>
       <td>
         <%=  @resolved_by_category[category.id] ? @resolved_by_category[category.id] : 0 %>
       </td>
       <td>
         <%=  @answered_by_category[category.id] ? @answered_by_category[category.id] : 0 %>
       </td>
       <td>
         <%=  @rejected_by_category[category.id] ? @rejected_by_category[category.id] : 0 %>
       </td>
       <td>
         <%=  @noanswer_by_category[category.id] ? @noanswer_by_category[category.id] : 0 %>
       </td>
      </tr>
      <% even = !even %> 
    <%- end -%>
  <%- end -%>         
         
 </table>

</div>