<% @page_title = "Assignee Report"%>

<% genstring = "Assignee Report for Questions Assigned in Ask an Expert"%>

<div id="report">
    <p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %>  <%= @page_title %></p>
    
<h1><%= genstring %></h1>
<p>This page respects the filters set on the <%= link_to 'Incoming Questions', incoming_url %> page: <%= @filter_string%></p>

<%= render(:partial => 'seldates') %>

<!--<p>Click on column header links to sort.</p>-->
<table cellspacing="0" class="stats" summary="<%= genstring %>">
	<% even = false %> 
    <tr>
	    <!--<th scope="col">Assignee Name</th> -->
	    <th scope="col"><%= link_to "Assignee Name" , { :action => 'common_sort_columns', :field=>'State' ,:type => @type, :report => 'assignee', :sdir => (params[:sdir] != "a") ? "a" : "d",:from => @dateFrom, :to=>@dateTo }%> </th>
	   <!--<th scope="col">Questions Assigned <br>(over time period)</br></th>-->
        <th scope="col"><%= link_to "No. Times Assigned" , { :action => 'common_sort_columns', :field=>'assgn' ,:type => @type, :report => 'assignee', :sdir => (params[:sdir] != "a") ? "a" : "d",:from => @dateFrom, :to=>@dateTo }%> <br/> (over time period)</th>
        
       <!--<th scope="col"> Not Completed by Assignee</th>-->
         <th scope="col"><%= link_to "Not Completed by Assignee",{ :action => 'common_sort_columns', :field=>'assgninc' ,:type => @type, :report => 'assignee', :sdir => (params[:sdir] != "a") ? "a" : "d",:from => @dateFrom, :to=>@dateTo  } %></th>
		
       <!-- <th scope="col">Currently Open</th>-->
          <th scope="col"><%= link_to "Currently Open", { :action => 'common_sort_columns', :field=>'num_current_q' ,:type => @type, :report => 'assignee', :sdir => (params[:sdir] != "a") ? "a" : "d",:from => @dateFrom, :to=>@dateTo }%></th>

      <!--   <th scope="col">Average Time Handling (hours)<br> anytime Assigned</br></th>-->
        <th scope="col"><%= link_to "Avg Response Time Held (hours)",{ :action => 'common_sort_columns', :field=>'avgsheld' ,:type => @type, :report => 'assignee', :sdir => (params[:sdir] != "a") ? "a" : "d",:from => @dateFrom, :to=>@dateTo  } %><br/> anytime Assigned</th>

      <!--  <th scope="col">Average Response Time (hours)<br> where Assignee Answered</br></th> -->
         <th scope="col"><%= link_to "Avg Response Time to Completion (hours)",{ :action => 'common_sort_columns', :field=>'avc' ,:type => @type, :report => 'assignee', :sdir => (params[:sdir] != "a") ? "a" : "d",:from => @dateFrom, :to=>@dateTo  } %> <br/> where Assignee Answered</th>
        

          
     </tr>

<% if @typelist%>
  
  <% @typelist.each do |u| %>
 
  <% number_questions_assigned = @assgn[u[0]] %>
  <% number_questions_assigned_without_completion = @assgninc[u[0]] %>
  <% avg_resp_time = @avc[u[0]]%>
  <% avg_held_time = @avgsheld[u[0]]%>
  <% num_current_q = @num_current_q[u[0]]%>
 
  <% empty = ' class="empty"' %>

<tr <%= ' class="shaded"' if even %>>
    <td class="left">
	
	          <%= h(u[0])%>
		 
     </td>
    
     <td><%= ((@assgn[u[0]] && @assgn[u[0]] !=0) ? number_questions_assigned : 0) %></td>
      <td><%= ((@assgninc[u[0]] && @assgninc[u[0]] != 0) ? number_questions_assigned_without_completion : 0)%></td>
       <td><%= ((@num_current_q[u[0]] && @num_current_q[u[0]] !=0) ? num_current_q : 0) %></td>
      <td><%= ((@avgsheld[u[0]] && @avgsheld[u[0]] != 0) ? "%.2f" % avg_held_time : " ")%></td>
     <td><%= ((@avc[u[0]] && @avc[u[0]] != 0) ? "%.2f" % avg_resp_time : " ")%></td>
    
   
</tr>
	<% if even 
         even = false 
     else 
         even = true 
     end %>
	
   <% end %>
<%end %>

 </table>

</div>