<% @page_title = "Assignee Report"%>

<% genstring = "Assignee Report"%>

<div id="report">
    <p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %>  <%= @page_title %></p>
    
<h1><%= genstring %></h1>

<%= render(:partial => 'seldates') %>

<p>Click on column header links to sort.</p>
<table cellspacing="0" class="stats" summary="<%= genstring %>">
	<% even = false %> 
    <tr>
	    <th scope="col">Assignee Name</th> 
	   <th scope="col">Number Questions Assigned</th>
       <!-- <th scope="col"><%= link_to "Number Times Assigned", { :action => 'common_sort_columns', :field=>'assgn' ,:type => @type, :report => 'assignee', :sdir => (params[:sdir] != "a") ? "a" : "d",:from => @dateFrom, :to=>@dateTo }%></th>-->
        <th scope="col">Average Response Time (hours)</th>
        <!--<th scope="col"><%= link_to "Avg Response Time to Completion (hours)",{ :action => 'common_sort_columns', :field=>'assgninc' ,:type => @type, :report => 'assignee', :sdir => (params[:sdir] != "a") ? "a" : "d",:from => @dateFrom, :to=>@dateTo  } %></th>-->
        <th scope="col">Number Questions Assigned Not Completed by Assignee</th>
      <!--   <th scope="col"><%= link_to "Number Questions Assigned Not Completed by This Assignee",{ :action => 'common_sort_columns', :field=>'avgscompl' ,:type => @type, :report => 'assignee', :sdir => (params[:sdir] != "a") ? "a" : "d",:from => @dateFrom, :to=>@dateTo  } %></th>-->
          
     </tr>

<% if @userlist%>
  
  <% @userlist.each do |u| %>
 
  <% number_questions_assigned = @assgn[u.id] %>
  <% number_questions_assigned_without_completion = @assgninc[u.id] %>
  <% avg_resp_time = @avgscompl[u.id]%>
 
  <% empty = ' class="empty"' %>

<tr <%= ' class="shaded"' if even %>>
    <td class="left">
	
	          <%= h(u.first_name + " " + u.last_name)%>
		 
     </td>
    
     <td><%= ((@assgn[u.id] && @assgn[u.id] !=0) ? number_questions_assigned : 0) %></td>
     <td><%= ((@avgscompl[u.id] && @avgscompl[u.id] != 0) ? "%.2f" % avg_resp_time : " ")%></td>
     <td><%= ((@assgninc[u.id] && @assgninc[u.id] != 0) ? number_questions_assigned_without_completion : 0)%></td>
   
</tr>
	<% if even 
         even = false 
     else 
         even = true 
     end %>
	
   <% end %>
<%end %>

 </table>

</div>