<% @page_title = "Assignee Report"%>

<% genstring = "Assignee Report for Questions Assigned in Ask an Expert"%>

<div id="report">
    <p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %>  <%= @page_title %></p>
    
<h1><%= genstring %></h1>
<p>This page respects the filters set on the <%= link_to 'Incoming Questions', incoming_url %> page: <%= @filter_string%></p>

<%= render(:partial => 'flashmessages') %>
<%= render(:partial => 'date_selection') %>

<!--<p>Click on column header links to sort.</p>-->
<table cellspacing="0" class="stats" summary="<%= genstring %>">
	<% even = false %> 
    <tr>
	    <th scope="col"><%= link_to "Assignee Name", {:action => 'assignee', :orderby => 'name', :sortorder => (@sortorder == 'desc') ? "asc" : "desc", :datefrom => @dateinterval[0], :dateto=>@dateinterval[1]}%> </th>

        <th scope="col"><%= link_to "Assignments" , {:action => 'assignee', :orderby => 'total', :sortorder => (@sortorder == 'desc') ? "asc" : "desc", :datefrom => @dateinterval[0], :dateto=>@dateinterval[1]}%> <br/> (over time period)</th>
        
         <th scope="col"><%= link_to "Handled",{:action => 'assignee', :orderby => 'handled', :sortorder => (@sortorder == 'desc') ? "asc" : "desc", :datefrom => @dateinterval[0], :dateto=>@dateinterval[1]} %></th>
		
         <th scope="col"><%= link_to "Handling Ratio", {:action => 'assignee', :orderby => 'ratio', :sortorder => (@sortorder == 'desc') ? "asc" : "desc", :datefrom => @dateinterval[0], :dateto=>@dateinterval[1]}%></th>

        <th scope="col"><%= link_to "Average Handling",{:action => 'assignee', :orderby => 'handled_average', :sortorder => (@sortorder == 'desc') ? "asc" : "desc", :datefrom => @dateinterval[0], :dateto=>@dateinterval[1]} %></th>

         <th scope="col"><%= link_to "Responded",{:action => 'assignee', :orderby => 'responded', :sortorder => (@sortorder == 'desc') ? "asc" : "desc", :datefrom => @dateinterval[0], :dateto=>@dateinterval[1]} %></th>
         
         <th scope="col"><%= link_to "Response Ratio", {:action => 'assignee', :orderby => 'response_ratio', :sortorder => (@sortorder == 'desc') ? "asc" : "desc", :datefrom => @dateinterval[0], :dateto=>@dateinterval[1]}%></th>

        <th scope="col"><%= link_to "Average Response",{:action => 'assignee', :orderby => 'response_average', :sortorder => (@sortorder == 'desc') ? "asc" : "desc", :datefrom => @dateinterval[0], :dateto=>@dateinterval[1]} %></th>
        
         <th scope="col"><%= link_to "Average Holding",{:action => 'assignee', :orderby => 'hold_average', :sortorder => (@sortorder == 'desc') ? "asc" : "desc", :datefrom => @dateinterval[0], :dateto=>@dateinterval[1]} %> <br/>(all assignments)</th>
        
     </tr>

    <% @display_list.each do |entry| %>
        <tr <%= ' class="shaded"' if even %>>
            <td class="left"><%= entry[:user].fullname %></td>
            <td><%= entry[:total] %></td>
            <td><%= entry[:handled] %></td>
            <td class="completions" style="background-position: -<%=((100 - (entry[:ratio]*100).to_i) * 2) %>px 0"><%= number_to_percentage(entry[:ratio]*100, :precision => 0) %></td>
            <%- if entry[:total] > 0 -%>
               <td><%= number_with_precision(entry[:handled_average] / 3600, :precision => 0) %> hours</td>
            <%- else -%>
                <td>&nbsp;</td>
             <%- end -%>
             <td><%= entry[:responded] %></td>
            <td class="completions" style="background-position: -<%=((100 - (entry[:response_ratio]*100).to_i) * 2) %>px 0"><%= number_to_percentage(entry[:response_ratio]*100, :precision => 0) %></td>
            <%- if entry[:total] > 0 -%>
                <td><%= number_with_precision(entry[:response_average] / 3600, :precision => 0) %> hours</td>
            <%- else -%>
                <td>&nbsp;</td>
            <%- end -%>
            
            <%- if entry[:total] > 0 -%>
                <td><%= number_with_precision(entry[:hold_average] / 3600, :precision => 0) %> hours</td>
            <%- else -%>
                <td>&nbsp;</td>
            <%- end -%>
        </tr>
    	<% even = (!even) %> 
    <%- end -%> 

 </table>

</div>