<% @page_title = "List of Answering Individuals by Selected State, County, Category" %>


<p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %> &gt; <%= link_to "Select State or Location",  :action => 'answerers' %> &gt; <%= link_to "Select Category or County", :action => "category_county",  :location => @locid%> <%= @page_title %></p>


 <h1> <%=  @statename%> , <%= @county%> , <%=  @capcatname  %></h1>

 
      
      <div>
        <h3>Answerers</h3>
      <% if @usize && @usize > 0 %>
        <%= render(:partial => 'usrlst') %> 
        
      <%else%>
         <p>No Answering Individuals per this County in this Location for this Category</p>
      <%end%>
      
    </div>
	
	