<% @page_title = "Ask an Expert Volunteers - " + @statename %>

<p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %> &gt; <%= link_to "Ask an Expert Volunteers",  :action => 'answerers' %> &gt; <%= @statename %></p>

<div id="answerers">
    <h1><%= @statename%></h1>
    
    <div>
        <h3>All volunteers</h3>
		<% if @usize && @usize > 0%>
	      <%= render(:partial => 'usrlst') %>
        <% else %>
        <h2>There are no users volunteering here</h2>
        <% end%>
	</div>
	
    <h3>Browse by...</h3>
    
    <div>
        <table summary="Choose Category">
	        <tr>
	            <th scope="col">Category</th>
	            <th scope="col">Total</th>
            </tr>
	  
	 <% i = 0 %>
	  <% while i < @csize do %>
	        <tr>
	       	<td><%= link_to @cats[i].name, :action => "county_answerers", :location => @locid, :category => @cats[i].name, :dir => "L" %></td>
		    <td class="count"><%= @catcnt[@cats[i].name]%></td>
		    </tr>
	     <% i = i + 1%>
	  <%end %>
		
 </table>
    </div>
    
    <div>
		<table summary="Choose County">
			<tr>
			<th scope="col">County</th>
			<th scope="col">Total</th>
			</tr>

		 <% i = 0%>
		 <% while i < @ysize%>
		    <tr>	 
		    <td><%= link_to @cnties[i][0], :action => "category_users", :location => @locid,  :county => @cnties[i][1] %></td>
			<td class="count"><%= @cntycnt[@cnties[i][0]]%></td>
			</tr>
		
		 <% i = i + 1%>
		 <% end%>
     </table>
     </div>
     
     
</div>	  
