<% @page_title = "General Statistics by #{@typet}"%>

<% genstring = "General Statistics by "+ @typet%>


<div id="report">
    <p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %> &gt; <%= link_to "General Overview",  :action => 'activity' %> &gt; <%= @page_title %></p>
    
<h1><%= genstring %></h1>
<p><%= @filtstr%></p>


<%= render(:partial => 'flashmessages') %>

<div id="date_range">
    <h4 id="selected_range"><%= (@date1 && @date2) ? "#{Time.parse(@dateFrom).strftime('%b %e, %Y')} - #{Time.parse(@dateTo).strftime('%b %e, %Y')}" : "#{Time.parse(@oldest_date).strftime('%b %e, %Y')} - #{Time.now.strftime('%b %e, %Y')} <span>(all data)</span>"%></h4>

    <div id="calendar">
        
        <% form_tag({:action => @repaction, :category => @typename, :location => @locid, :State => @statename}) do %>
          

            <%= calendar_date_select_tag "dateFrom", ((@dateFrom) ? @dateFrom : Time.parse(@oldest_date).strftime('%Y-%m-%d')), :popup => true %><span>to</span><%= calendar_date_select_tag "dateTo", ((@dateTo) ? @dateTo : Date.today), :popup => true%> 
            <%= submit_tag 'Go' %>
        <% end%>
        
        <% form_tag({ :action => @repaction, :category => @typename, :location => @locid, :State => @statename}) do %>
            <%= submit_tag 'Show all'%>
        <% end%>
    </div>
</div>
<% sta = SubmittedQuestion::STATUS_RESOLVED%>
<% str = SubmittedQuestion::STATUS_REJECTED%>
<% stn = SubmittedQuestion::STATUS_NO_ANSWER%>
<% p = {:date1 => @date1, :date2 => @date2}%>

<table cellspacing="0" class="stats" summary="<%= genstring %>">
	<% even = false %> 
    <tr>
	    <th scope="col"><%= @typet %></th> 
	   
        <th scope="col">Open</th>
        <th scope="col">Resolved</th>
        <th scope="col">Answered</th>
        <th scope="col">Rejected</th>
        <th scope="col">Responded to with 'No Expertise'</th>
 
    </tr>
 
<% if @typelist%>
  
  <% @typelist.each do |x| %>

    <% p.merge!({:catid => x.id})%>

    <tr <%= ' class="shaded"' if even %>>
	   <td class="left">
		  <%= x.name %>
	   </td>
	    <% @asgn = (@rept.NewQuestion(p,[]))[0] %>
       <td <%= ' class="empty"' if @asgn==0 %>>
	     <!-- number of open incoming faqs in assigned state -->
	        <% if @asgn%>
	    	<%= link_to @asgn, :action => "display_tag_links", :category => @typename, :locname => @locname, :locid => @locid, :descriptor =>"New" , :olink => "New", :to => @dateTo, :from => @dateFrom, :num => @asgn%>
	         
	      <!--   <%= @asgn%>-->
	        <% end%>
	   </td>
	    <% @reslvd = (@rept.ResolvedQuestion(p,[]))[0]%>
	   <td <%= ' class="empty"' if @reslvd==0 %>>
		 <!-- number of incoming faqs that have been Resolved one way or another -->
		    <% if @reslvd%>
	    	<%= link_to @reslvd, :action => "display_tag_links", :category => @typename, :locname => @locname, :locid => @locid, :descriptor =>"Resolved" , :olink => "Resolved", :to => @dateTo, :from => @dateFrom, :num => @reslvd%>
			     
	        <!--  <%= @reslvd%> -->
           <% end%>
	   </td>
	     <% @answ = (@rept.ResolvedQuestion(p.merge!({:status_state => sta}),[]))[0]%>
	     <td <%= ' class="empty"' if @answ==0 %>>
			 <!-- number of incoming faqs in answered state -->
			    <% if @answ%>
				<%= link_to @answ, :action => "display_tag_links", :category => @typename,  :locname => @locname, :locid => @locid, :descriptor =>"Resolved#{sta}" , :olink => "Resolved#{sta}", :to => @dateTo, :from => @dateFrom, :num => @answ%>
				    
		       <!--  <%= @answ%> -->
		        <% end %>
		   </td>
		   <% @rej = (@rept.ResolvedQuestion(p.merge!({:status_state => str}),[]))[0]%>
		  <td <%= ' class="empty"' if @rej==0 %>>
			 <!-- number of incoming faqs in in rejected state -->
			    <% if @rej%>
				<%= link_to @rej, :action => "display_tag_links", :category => @typename,  :locname => @locname, :locid => @locid, :descriptor =>"Resolved#{str}" , :olink => "Resolved#{str}", :to => @dateTo, :from => @dateFrom, :num => @rej%>
				    
		      <!--   <%= @rej%> -->
		        <% end%>
		   </td>
		   <% @noexp = (@rept.ResolvedQuestion(p.merge!({:status_state => stn}),[]))[0]%>
		<td <%= ' class="empty"' if @noexp==0 %>>
			 <!-- number of incoming faqs in no_answer state -->
			    <% if @noexp%>
				<%= link_to @noexp, :action => "display_tag_links", :category => @typename,  :locname => @locname, :locid => @locid, :descriptor =>"Resolved#{stn}" , :olink => "Resolved#{stn}", :to => @dateTo, :from => @dateFrom, :num => @noexp%>
			
		     <!--   <%= @noexp%> -->
		        <%end%>
		   </td>

	 </tr>
	<% if even 
         even = false 
     else 
         even = true 
     end %>
	
   <% end %>
<%end %>

 </table>

</div>