<% @page_title = "Select County in " + @statename %>

 <p id="activity_report"><%= link_to "All Reports",  :controller => 'aae/reports' %> <%= @page_title %> </p>

<% form_tag({:action => :county, :location => @locid, :dateto => @date2, :datefrom => @date1} ) do %>

<h2>Select County/Parish in <%= @statename%></h2>

<% options_array= Array.new%>
<% @counties.each do |county| %>
    <% options_array <<  [county.name, county.id] %>
<% end%>    

  <label>County/Parish</label>
 
       <select name="countyid">
  	 <%= options_for_select(options_array) %>
      </select><br /><br />


<p>
    
    <%= submit_tag "Enter" %>
</p>
<% end %>