<% @page_title = @pgtl %>




  <% if @loc%>
    <p id="state_report">
       <%= link_to "All Reports",  :controller => 'reports' %>  &gt; 
       <%= link_to "Location Report",  :controller => 'reports', :action => "state", :dateto => @date2, :statename => @loc.name, :datefrom => @date1 %> &gt; <% if @type == 'County'%>
                     <%= link_to 'Select County', :action => 'county_select', :statename => @loc.name, :dateto => @date2, :datefrom => @date1%> &gt;
                     <%= link_to "County/Parish Report" , :action => 'county', :dateto => @date2, :datefrom => @date1, :statename => @loc.name, :countyname => @county %> &gt;
                   <% end%>
       <%= @page_title %></p>
   <% end%>


<h1><%= @pgt %></h1>
<p><%= @filtstr%></p>
<p class="notice"><%= flash[:notice] %></p>

<!-- <p>Yellow indicates that you have not viewed a FAQ since it was last updated </p> -->
 
<%= render(:partial => 'paginator') %>
 
<%= render(:partial => 'question_lists') %>
<% if @questions.length > 0%>
<%= render(:partial => 'paginator') %>
<% end%>


