<% @page_title = @pgtl %>



<% if @user%>
<p id="state_report">
   <%= link_to "All Reports",  :controller => 'reports' %>  &gt; 
   <%= link_to "User Report", :action => 'user', :id => @user.id, :dateto => @date2, :datefrom => @date1 %> &gt; 
   <%= @page_title %></p>
<% else%>
  <% if @loc%>
    <p id="state_report">
       <%= link_to "All Reports",  :controller => 'reports' %>  &gt; 
       <%= link_to "Location Report",  :controller => 'reports', :action => "state", :dateto => @date2, :location => @loc.id, :datefrom => @date1 %> &gt; <% if @type == 'County'%>
                     <%= link_to 'Select County', :action => 'county_select', :location => @loc.id, :dateto => @date2, :datefrom => @date1%> &gt;
                     <%= link_to "County/Parish Report" , :action => 'county', :dateto => @date2, :datefrom => @date1, :location => @loc.id, :countyid => @county_id %> &gt;
                   <% end%>
       <%= @page_title %></p>
   <% end%>
<% end%>

<h1><%= @pgt %></h1>
<p><%= @filtstr%></p>
<p class="notice"><%= flash[:notice] %></p>

<!-- <p>Yellow indicates that you have not viewed a FAQ since it was last updated </p> -->
 
<%= render(:partial => 'paginator') %>
 
<%= render(:partial => 'question_lists') %>
<% if @questions.length > 0%>
<%= render(:partial => 'paginator') %>
<% end%>


