<% @page_title = @pgtl %>



<% if @user%>
<p id="state_report">
   <%= link_to "All Reports",  :controller => 'reports' %>  &gt; 
   <%= link_to "User Report", :action => 'user', :id => @user.id, :dateto => @date2, :datefrom => @date1 %> &gt; 
   <%= @page_title %></p>

<% end%>

<h1><%= @pgt %></h1>
<p><%= @filtstr%></p>
<p class="notice"><%= flash[:notice] %></p>

<!-- <p>Yellow indicates that you have not viewed a FAQ since it was last updated </p> -->
 
<%= render(:partial => 'paginator') %>
 
<%= render(:partial => 'question_lists') %>
<% if @questions.length > 0%>
<%= render(:partial => 'paginator') %>
<% end%>


