<% @page_title = "Select a Report" %>

<div id="report_home">
    
    <p id="activity_report">All Reports</p>
    
    <h1>Select a Report</h1>
    <h2>Ask an Expert Individual Reports</h2>
    
    <% form_tag({:controller => 'reports', :action => 'locate'}, {:method => "get"}) do %>
        <p>
            <label>
                Individual user reports (type in the user's login name)
                <input type="text" name="u" size="15" value="<%= @user_name %>" />
            </label>
            <%= submit_tag "go" %>
        </p>
    <% end %>
	
	<% form_tag({:controller => 'reports', :action => :state }, {:method => "get"}) do %>
	    <% options_array= Array.new %>
	        <% @locs.each do |stobj|
	            options_array << [stobj.name, stobj.id]
	        %>
	    <% end %>
	
        <% options_array.insert(0, "") %>
	
	    <p>
    	    <label>Individual state reports
    	        <select name="location">
                <%= options_for_select(options_array) %>
                </select>
            </label>
            <%= submit_tag "go" %>
        </p>
	  
	<% end %>
	

	<% form_tag({:controller => 'reports', :action => :county_select }, {:method => "get"}) do %>
	    <% options_array= Array.new%>
	        <% @locs.each do |stobj|
                options_array << [stobj.name, stobj.id]
            %>
	    <% end %>
	    <%options_array.insert(0, "")%>
	    
	    <p>
	        <label>Individual county reports
		        <br><small>First select state below, then select county on next screen</small></br>
                <select name="location">
                <%= options_for_select(options_array) %>
                </select>
            </label>
            <%= submit_tag "go" %>
        </p>
	<% end %>

    <h2>Ask an Expert Activity</h2>
    
    <ul>
        <li>
            <%= link_to " General Overview",  {:action => 'activity'}, {:class => 'report_doc'} %>,
	        <%= link_to "by State", { :action => 'activity_by_state'}  %>, 
		    <%= link_to "by Tag", { :action => 'sel_active_cats'} %>
		</li>
       <li>Response Times: <%= link_to "Overall", :action => "response_times"%>, <%= link_to "by category",  :action => 'response_times_by_category' %>,  <%= link_to "by responder location", :action => 'response_times_by_location' %></li>
       <li>Expertise (Content Area and Geographic Region): <%= link_to "Overview", :action => 'answerers'%></li>
       <li>Answered Question Responders by Category: <%= link_to "Responders", :action => "resolved_responders_by_category"%></li>
      <li>Assignee: <%= link_to "Assignees", :action => "assignee"%></li>
    </ul>
 
</div>