<% @page_title = "Volunteer/Intervention Report"%>

<% genstring = "Volunteer/Intervention Report for Questions Handled or Responded to in Ask an Expert without an actual assignment"%>

<div id="report">
    <p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %>  <%= @page_title %></p>
    
<h1><%= genstring %></h1>
<p>This page respects the filters set on the <%= link_to 'Incoming Questions', incoming_url %> page: <%= @filter_string%></p>

<%= render(:partial => 'flashmessages') %>
<%= render(:partial => 'date_selection') %>

<!--<p>Click on column header links to sort.</p>-->
<table cellspacing="0" class="stats" summary="<%= genstring %>">
	<% even = false %> 
    <tr>
	    <th scope="col"><%= link_to "Volunteer Name", {:action => 'nonassignee', :orderby => 'name', :sortorder => (@sortorder == 'desc') ? "asc" : "desc", :datefrom => @dateinterval[0], :dateto=>@dateinterval[1]}%> </th>

  
        
         <th scope="col"><%= link_to "Handled",{:action => 'nonassignee', :orderby => 'handled', :sortorder => (@sortorder == 'desc') ? "asc" : "desc", :datefrom => @dateinterval[0], :dateto=>@dateinterval[1]} %></th>
		
   

        <th scope="col"><%= link_to "Average Wait Time before Intervention/Handling",{:action => 'nonassignee', :orderby => 'handled_average', :sortorder => (@sortorder == 'desc') ? "asc" : "desc", :datefrom => @dateinterval[0], :dateto=>@dateinterval[1]} %></th>

         <th scope="col"><%= link_to "Responded without Assignment First",{:action => 'nonassignee', :orderby => 'responded', :sortorder => (@sortorder == 'desc') ? "asc" : "desc", :datefrom => @dateinterval[0], :dateto=>@dateinterval[1]} %></th>
         
    

        <th scope="col"><%= link_to "Estimated Average Response",{:action => 'nonassignee', :orderby => 'response_average', :sortorder => (@sortorder == 'desc') ? "asc" : "desc", :datefrom => @dateinterval[0], :dateto=>@dateinterval[1]} %></th>
        
   
        
     </tr>

    <% @display_list.each do |entry| %>
        <% if ((entry[:handled] && entry[:handled] > 0) or  (entry[:responded] && entry[:responded] > 0) or  (!@category && !@location && !@source && !@county ) )%>
        <tr <%= ' class="shaded"' if even %>>
            <td class="left"><%= entry[:user].fullname %></td>
      
            <td><%= entry[:handled] %></td>
       
          <%- if entry[:handled]  && entry[:handled] > 0 -%>
               <td><%= number_with_precision(entry[:handled_average] / 3600, :precision => 0) %> hours</td>
         <%- else -%>
                <td>&nbsp;</td>
             <%- end -%>
             <td><%= entry[:responded] %></td>
         
            <%- if entry[:responded] &&   entry[:responded]  > 0 -%>
                <td><%= number_with_precision(entry[:response_average] / 3600, :precision => 0) %> hours</td>
            <%- else -%>
                <td>&nbsp;</td>
            <%- end -%>
            
      
        </tr>
    	<% even = (!even) %>
       <%end%> 
    <%- end -%> 

 </table>

</div>