<% @page_title = "Answered Question Responders by Category"%>

<div id="report">
	<p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %> &gt;  <%= @page_title %></p>
	
    
<% genstring = "Responders by Category "%>
<h1><%= genstring %></h1>

<% @categorylist.each do |category| %>
    <h2><%= category.name %></h2>
    <p><strong><%= @total_resolved_by_category[category.name] %></strong> AaE questions answered <em>(resolved, rejected, or answered with 'no expertise')</em></p>
    
    <%- if @total_resolved_by_category[category.name] > 0 -%>
    <table cellspace="0" class="stats" summary="Users Count">
	     <tr>
		     <th scope="col">User</th><th scope="col">Answered</th>
		     <th scope="col">User</th><th scope="col">Answered</th>
		     <th scope="col">User</th><th scope="col">Answered</th>
		 </tr>
		 
         <% 
            user_count = 0
         %>
		 <% @responders_by_category[category.name].each do |user| %>
		     <% user_count += 1 %>
		     <%= (user_count % 3 == 1) ? '<tr>' : '' %>
    		     <td><%= link_to(user.fullname, :action => 'user', :id => user.id) %></td>
    		     <td><%= link_to(user.resolved_count, :action => "display_discrete_responded", :id => user.id, :cat => category.name, :num => user.resolved_count)  %></td>
    		 <%= (user_count % 3 == 0) ? '</tr>' : '' %>
		 <% end%>
		 <%= (user_count % 3 != 0) ? '</tr>' : '' %>
    </table>
    <% end %>
<%end %>
</div>
