<% @page_title = "Select Tag for Activity Overview" %>

<p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %> &gt; <%= link_to "General Overview",  :action => 'activity' %> &gt; <%= @page_title %></p>

<% form_tag({:action => :show_active_cats }, {:method => "get"}) do %>

<h2>Select Tag</h2>

<% options_array= Array.new%>
<%@cats.each do |stobj|
	 
      options_array << stobj.name
     
 %>      
<% end %>

<%options_array.insert(0, "")%>
    <label>Tags/Categories</label>
    <select name="category">
    <%= options_for_select(options_array) %>
    </select>

    <p><%= submit_tag "Enter" %></p>

<% end %>