<% @page_title = "Select State for Answering Individuals List Report for Category=" +"'" +  @catname + "'" %>

<p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %> &gt; <%= link_to "Ask an Expert Volunteers",  :action => 'answerers' %> &gt; <%= @capcatname %></p>


<div id="answerers">
    <h1><%= @capcatname %></h1>
    

    <% if @usize > 0%>
    <div>
        
        <h3>All users indicating this expertise:</h3>
        <%= render(:partial => 'usrlst')%>
       
    </div>
    
    <h3>Browse by...</h3>
    <div>
        <table summary="Answering Individual Counts by State per Category">
            <tr>
                <th scope="col">Location</th>
                <th scope="col">Total</th>
            </tr>
            
            <% if @loccnt.size > 0%>
                <% i = 0 %>
 
                <% while i < @lsize do %>
    	             <% if @loccnt[@locs[i].name]%>
            	        <tr>
            	       	<td><%= link_to @locs[i].name, :action => "county_answerers", :location => @locs[i].id, :category => @catname, :dir => "C" %></td>
            		    <td><%= @loccnt[@locs[i].name]%></td>
            		    </tr>
    		    <% end%>
    		    <% i = i + 1%>
	            <% end	%>
	            
	            <% else%>
                    <tr><td colspan="2">None of the users have indicated a location for this area of expertise</td></tr>
                <%end%>
	        
        </table>
    </div>
    
    <% else %>
    <h3>No users have indicated this area of expertise</h3>
    <% end %>

    
</div>