<% @page_title = "Get User Report" %>

<%= render(:partial => "partial/flashmessages") %>

<p id="activity_report"><%= link_to "All Reports",  :controller => 'reports' %> &gt; <%= @page_title %></p>

<h1>Search for a User Report</h1>

<% form_tag({:controller => 'reports', :action => 'locate'}, {:method => "get"}) do %>
    <p>
        <label>
            Enter User Login Name
            <input type="text" name="u" size="30" value="<%= @user_name %>" />
        </label>
    </p>
    <p><%= submit_tag "Enter" %></p>
<% end %>
	
	
	