<% if !publicattributes[:fullname].nil? %>
<div class="vcard">
    <h1 class="vcardHeader">User Profile for <%= showuser.fullname %></h1> 
	<p class="item">
		<span class="vcardLabel">Full Name:</span>
		<span class="fn"><%= showuser.fullname %></span>
	</p>
	<% if !publicattributes[:first_name].blank? and !publicattributes[:last_name].blank? %>
	<div class="n">
	<p class="item">
		<span class="vcardLabel">First Name:</span>
		<span class="given-name"><%= showuser.first_name%></span>
	</p>	
	<p class="item">
		<span class="vcardLabel">Last Name:</span>
		<span class="family-name"><%= showuser.last_name%></span>
	</p>
	</div>
	<% end %>
	<% if !publicattributes[:email].blank? %>
	<p class="item">
		<span class="vcardLabel">Email:</span>
		<span class="email"><%= showuser.email%></span>
	</p>
	<% end %>
	<% if !publicattributes[:phone].blank? %>
	<p class="item">
		<span class="vcardLabel">Preferred Phone:</span>
		<span class="tel"><%= (showuser.phonenumber.nil? or showuser.phonenumber == '') ? '&nbsp;' : number_to_phone(showuser.phonenumber, :area_code => true)%></span>
	</p>
	<% end %>
	<% if !publicattributes[:title].blank? %>
	<p class="item">
		<span class="vcardLabel">Title:</span>
		<span class="title"><%= (showuser.title.nil? or showuser.title == '') ? '&nbsp;': showuser.title %></span>
	</p>
	<% end %>
	<% if !publicattributes[:position].blank? %>
	<p class="item">
		<span class="vcardLabel">Position:</span>
		<span class="role"><%= (showuser.position.nil? or showuser.position == '') ? '&nbsp;': showuser.position.name %></span>
	</p>
	<% end %>
	<% if !publicattributes[:institution].blank? %>
	<div class="org">
		<p class="item">
			<span class="vcardLabel">Institution:</span>
			<span class="organization-name"><%= (showuser.institution.blank?) ? '&nbsp;': showuser.institution.name %></span>
		</p>
	</div>
	<% end %>
	<% if !publicattributes[:location].blank? or !publicattributes[:county].blank? %>
	<div class="adr">
	    <% if !publicattributes[:location].blank? %>	
		<p class="item">
			<span class="vcardLabel">Location:</span>
			<span class="region"><%= (showuser.location.nil? or showuser.location == '') ? '&nbsp;': showuser.location.name %></span>
		</p>
		<% end %>
    	<% if !publicattributes[:county].blank? %>
		<p class="item">
			<span class="vcardLabel">County:</span>
			<span class="county-name"><%= (showuser.county.nil? or showuser.county == '') ? '&nbsp;': showuser.county.name %></span>
		</p>
		<% end %>
	</div>
	<% end %>
</div>
<% end %>

