<h2>Bronto sends for <%= @filteredparameters.start_date.strftime('%b %e, %Y')%> - <%= @filteredparameters.end_date.strftime('%b %e, %Y') %></h2>

<div id="date_range">
<% form_tag ({:action => params[:action]}) do %>
  <%= calendar_date_select_tag "start_date", @filteredparameters.start_date.strftime('%Y-%m-%d'), :popup => true%>
  <span>to</span>
  <%= calendar_date_select_tag "end_date", @filteredparameters.end_date.strftime('%Y-%m-%d'), :popup => true%> 
  <%= submit_tag 'Go' %>
<% end%>
</div>


 <div id="paginator_wrapper"> 
 <% if @sends.length > 0 %>
     <p class="display_results">Displaying <strong><%= @sends.offset + 1 %>-<%= @sends.offset + @sends.length %></strong> of <strong><%= @sends.total_entries %></strong></p>
 <% else %>
     <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
 <% end %>

 <%= will_paginate @sends, :params => {:start_date => @filteredparameters.start_date.to_s, :end_date => @filteredparameters.end_date.to_s} %>
 </div>

 <p id="csv"><%= link_to('Download a list of these results (csv)',:action => 'bronto', :download => 'csv', :start_date => @filteredparameters.start_date.to_s, :end_date => @filteredparameters.end_date.to_s) %> </p>
 <table cellspacing="0">
     <tr>
         <th>Recipient Email</th>
         <th>Message Name</th>
         <th>Sent</th>
         <th>URL</th>
         <th>Clicked</th>
     </tr>
  
     <% for send in @sends %>
         <tr id="send_row_<%= send.id %>">
            <%- if send.bronto_recipient.nil? -%>
              <td><%= send.bronto_recipient_id %></td>
            <%- else -%>
              <td><%= send.bronto_recipient.email %></td>
            <%- end -%>
            <%- if send.bronto_message.nil? -%>
              <td><%= send.bronto_message_id %></td>
            <%- else -%>
              <td><%= send.bronto_message.message_name %></td>
            <%- end -%>
            <td><%= humane_date(send.sent) %></td>
            <td><%= send.url %></td>
            <td><%= humane_date(send.clicked) %></td>
         </tr>
     <% end%>
 </table>
 
 <div id="paginator_wrapper"> 
 <% if @sends.length > 0 %>
     <p class="display_results">Displaying <strong><%= @sends.offset + 1 %>-<%= @sends.offset + @sends.length %></strong> of <strong><%= @sends.total_entries %></strong></p>
 <% else %>
     <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
 <% end %>

 <%= will_paginate @sends, :params => {:start_date => @filteredparameters.start_date.to_s, :end_date => @filteredparameters.end_date.to_s} %>
 </div>
