<h1>Reports</h1>

<h3>Published Item Count</h3>

<table cellspacing="0" summary="Item Counts"o>
    <tr>
        <th scope="col">Item</th> 
        <th scope="col">Published Count</th>
    </tr>
    <tr>
        <td>Articles</td>
        <td><%= Page.all.count %></td>
    </tr>
        <td>Faqs</td>
        <td><%= Faq.all.count %></td>
    <tr>
    </tr>
        <td>Events</td>
       <td><%= Event.all.count %></td>
    <tr>
</table>
<h3><%= link_to "Numbers (People Report)", :controller => "people/numbers", :action => "index"%></h3>


<h3><%= link_to "Ask an Expert Reports (requires login)", :controller => "aae/reports", :action => "index" %></h3>


