<h1>Published Content By Communtity</h1>

<h3>Published Item Count (through <%= @date.to_s %>)</h3>
<p><em>Learning Lessons, and Features are articles categorized as 'learning lessons', and 'feature' respectively</em></p>
<table cellspacing="0" summary="Item Counts"o>
    <tr>
        <th scope="col">Community</th> 
        <th scope="col">Content Tags</th> 
        <th scope="col">Events</th>
        <th scope="col">Faqs</th>
        <th scope="col">Articles</th>
        <th scope="col">Learning Lessons</th>
        <th scope="col">Features</th>
        <th scope="col">News</th>
    </tr>
    
    <tr>
        <td>Totals</td>
        <td>(all)</td>
        <td><%= publishedcontent_number(@published_values,'Page','published events') %></td>
        <td><%= publishedcontent_number(@published_values,'Page','published faqs') %></td>
        <td><%= publishedcontent_number(@published_values,'Page','published articles') %></td>
        <td><%= publishedcontent_number(@published_values,'Page','published learning lessons') %></td>
        <td><%= publishedcontent_number(@published_values,'Page','published features') %></td>
        <td><%= publishedcontent_number(@published_values,'Page','published news') %></td>
    </tr>
    <%- Community.launched.all(:order => 'name').each do |c|  %>
    <tr>
        <td><%= c.name %></td>
        <td><%= c.content_tag_names %></td>
        <td><%= publishedcontent_number(@published_values,c,'published events') %></td>
        <td><%= publishedcontent_number(@published_values,c,'published faqs') %></td>
        <td><%= publishedcontent_number(@published_values,c,'published articles') %></td>
        <td><%= publishedcontent_number(@published_values,c,'published learning lessons') %></td>
        <td><%= publishedcontent_number(@published_values,c,'published features') %></td>
        <td><%= publishedcontent_number(@published_values,c,'published news') %></td>
    </tr>
    <%- end -%>
    
</table>

