<h1>Published Content By Communtity</h1>

<h3>Published Item Count (through <%= @date.to_s %>)</h3>
<p><em>* "All Articles" includes all published pages, news, features, dpls, learning lessons, etc.</em></p>
<table cellspacing="0" summary="Item Counts"o>
    <tr>
        <th scope="col">Community</th> 
        <th scope="col">Content Tags</th> 
        <th scope="col">Events</th>
        <th scope="col">Faqs</th>
        <th scope="col">All Articles (*)</th>
        <th scope="col">News</th>
        <th scope="col">Learning Lessons</th>
        <th scope="col">Features</th>
    </tr>
    
    <tr>
        <td>Totals</td>
        <td>(all)</td>
        <td><%= DailyNumber.all_item_count_for_date(Event,@date,'published events') %></td>
        <td><%= DailyNumber.all_item_count_for_date(Faq,@date,'published faqs') %></td>
        <td><%= DailyNumber.all_item_count_for_date(Article,@date,'published articles') %></td>
        <td><%= DailyNumber.all_item_count_for_date(Article,@date,'published news') %></td>
        <td><%= DailyNumber.all_item_count_for_date(Article,@date,'published learning lessons') %></td>
        <td><%= DailyNumber.all_item_count_for_date(Article,@date,'published features') %></td>
    </tr>
    <%- Community.launched.all(:order => 'name').each do |c|  %>
    <tr>
        <td><%= c.name %></td>
        <td><%= c.content_tag_names %></td>        
        <td><%= c.item_count_for_date(@date,'published events') %></td>
        <td><%= c.item_count_for_date(@date,'published faqs') %></td>
        <td><%= c.item_count_for_date(@date,'published articles') %></td>
        <td><%= c.item_count_for_date(@date,'published news') %></td>
        <td><%= c.item_count_for_date(@date,'published learning lessons') %></td>
        <td><%= c.item_count_for_date(@date,'published features') %></td>
    </tr>
    <%- end -%>
    
</table>

