<h1>Published Content By Communtity</h1>

<h3>Published Item Count (through <%= @date.to_s %>)</h3>
<p><em>* "All Articles" includes all published pages, news, features, dpls, learning lessons, etc.</em></p>
<table cellspacing="0" summary="Item Counts"o>
    <tr>
        <th scope="col">Community</th> 
        <th scope="col">Content Tags</th> 
        <th scope="col">Events</th>
        <th scope="col">Faqs</th>
        <th scope="col">All Articles (*)</th>
        <th scope="col">News</th>
        <th scope="col">Learning Lessons</th>
        <th scope="col">Features</th>
    </tr>
    
    <tr>
        <td>Totals</td>
        <td>(all)</td>
        <td><%= @published_values['Event']['published events'] %></td>
        <td><%= @published_values['Faq']['published faqs'] %></td>
        <td><%= @published_values['Article']['published articles'] %></td>
        <td><%= @published_values['Article']['published news'] %></td>
        <td><%= @published_values['Article']['published learning lessons']  %></td>
        <td><%= @published_values['Article']['published features'] %></td>
    </tr>
    <%- Community.launched.all(:order => 'name').each do |c|  %>
    <tr>
        <td><%= c.name %></td>
        <td><%= c.content_tag_names %></td>        
        <td><%= @published_values[c]['published events']%></td>
        <td><%= @published_values[c]['published faqs'] %></td>
        <td><%= @published_values[c]['published articles'] %></td>
        <td><%= @published_values[c]['published news'] %></td>
        <td><%= @published_values[c]['published learning lessons'] %></td>
        <td><%= @published_values[c]['published features'] %></td>
    </tr>
    <%- end -%>
    
</table>

