<% @page_title = "Ask an Expert Expertise Categories" %>

<a name="top"></a>

<%= render(:partial => "partial/flashmessages") %>

<br class="clear"/>

<h2>Ask an Expert Expertise Categories</h2>
<p>This list of categories is presented to experts for selecting Areas of Expertise preferences, and for (optionally) displaying on the Ask form at www.extension.org for category matching for routing questions.</p>
    
<div id="areas_of_expertise">
  <ul id="expertiselist">
    <% @categories.each do |category| %>
      <%- subcategories = category.children -%>
        <%- expertcount = category.users.count %>
        <li id="<%= category.id %>"> 
            <span class="aaecategory">
              <%- if subcategories.length > 0 -%>
                <%= link_to_function(category.name, "Effect.toggle('subcategory_div_#{category.id}','blind', { duration: .4});") %>
              <%- else -%>
                <%= category.name %>
              <%- end -%>
            </span>
           
            <%- if expertcount > 0 -%>
              <span class="experts"><%= link_to("#{category.users.count} experts", {:controller => 'aae/expertise', :action => 'experts_by_category', :legacycategory => category.name }) %></span>
            <%- else -%>
              <span class="experts"><strong>no experts!</strong></span>
            <%- end -%>
              
           
            <%- if subcategories.length > 0 -%>
                <span class="subcats"><%= subcategories.length %> subcategories</span>
            <%- else -%>
                <span class="subcats">&nbsp;</span>
            <%- end -%>
        
            <span class="syndication"><%= link_to 'feed', :controller => 'aae/feeds', :action => 'expertise', :legacycategory => category.id %></span>      
            
            <%- if subcategories.length > 0 -%>
            <ul class="aoe_subcat" id="subcategory_div_<%= category.id %>" style='display:none;'>
              <%- subcategories.each do |subcategory| -%>
                  <li id="<%= subcategory.id %>">
                    <%= subcategory.name %>
                  </li>
              <%- end -%>
            </ul>
            <%- end -%>
        </li>
    <%- end -%>
  </ul>
</div>


<br class="clear"/>