<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>eXtension Ask: <%= @page_title || controller.action_name %></title>
    
    <% if @mobile_device %>
        <meta name = "viewport" content = "width = device-width, user-scalable = yes">
        <%= stylesheet_link_tag 'mobile_aae' %>
    <% else %>
        <%= stylesheet_link_tag 'common' %>
        <%= stylesheet_link_tag 'aae' %>
        <%= stylesheet_link_tag 'aae_print', :media => 'print' %>
    <% end %>

    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'effects' %>
    <%= javascript_include_tag 'heureka' %>
    <%= javascript_include_tag 'tooltip' %>
    <%= calendar_date_select_includes "silver" %>
 	
</head>
    
<body id="aae">
    <% if (@app_location_for_display != 'production') %>
        <div id="app_location" class="<%= @app_location_for_display %>">
            <p>You are viewing the <strong><%= @app_location_for_display %></strong> site.</p>
        </div>
    <% end %>
    
    <% if !@mobile_device %>
        <%= render(:partial => 'aae/partial/global_nav_banner') %>
    <% end %>
    <div id="pageContainer">
        <div id="masthead">
            <h1><%= link_to("eXtension Ask an Expert", incoming_url) %></h1>
            
            <% if !@mobile_device %>
                <ul id="userinfo">
                    <%- if(!@currentuser.nil?) -%>
                        <li><%= link_to "reports", {:controller => "reports"} %></li>
                        <li><%= link_to(@currentuser.login, aae_profile_url(:id => @currentuser.login), :class => "usericon") %></li>
                        <li id="prefs"><%= link_to "preferences", :controller => 'aae/prefs', :action => 'index' %></li>
                        <li><%= link_to "sign out", :controller => 'people/account', :action => :logout %></li>
                    <%- end -%>
                </ul>
            
                <% if @currentuser.is_admin? %>
            		<p id="admintoggle"><strong>Admin Mode</strong>: <span id="admin_mode_block"><%= admin_mode_text %></span></p>
            	<% end %>
            <% end %>
        </div>
        
        <div id="pageContent">
            
            <ul id="aaelinks" <%= 'class="narrow"' if @menu_partial_to_display %>>
                <li <%= selected_tab_if(:incoming_questions) %>><%= link_to "Incoming (#{get_filtered_aae_incoming_count})", incoming_url %></li>
                <li <%= selected_tab_if(:assigned_questions) %>>
                   <% aae_assigned_count = get_aae_assigned_to_me_count %>
                   <% if aae_assigned_count > 0 %>
                        <%= link_to "Assigned to me (<span class=\"notzero\">#{aae_assigned_count}</span>)", my_assigned_url %>
                    <% else %>
                        <%= link_to "Assigned to me (#{aae_assigned_count})", my_assigned_url %>
                    <% end %>
                </li>
                <li <%= selected_tab_if(:my_resolved_questions) %>><%= link_to "Resolved by me (#{get_aae_resolved_by_me_count})", my_resolved_url %></li>
                <% if !@category %>
                    <li <%= selected_tab_if(:resolved_questions) %>><%= link_to "Resolved", resolved_url(:type => 'all') %></li>
                <% else %>
                    <li <%= selected_tab_if(:resolved_questions) %>>
                    <%= link_to "Resolved", resolved_url(:id => @category, :type => 'all') %>
                    </li>
                <% end %>
                <li <%= selected_tab_if(:spam_review) %> id="spam_review"><%= link_to "Spam Review", spam_url %></li>
            </ul>
            
            
            
            <div id="content" <%= 'class="narrow"' if @menu_partial_to_display %>>
                <%= yield :layout %>
            </div>
            
            
            <div id="secondary">
                <% if @menu_partial_to_display %>
                    <p id="total_incoming" class="sidebar">Total Incoming Questions: <strong><%= get_total_incoming_questions %></strong> (unfiltered)</p>
                <% end %>
                <%= render(:partial => @menu_partial_to_display) if @menu_partial_to_display %>
                
                <div class="postit">
                    <p>Did you know you can now get to Ask an Expert using the <%= link_to"aae.extension.org", "http://aae.extension.org/" %> url?</p>
                    <p class="last">You no longer need to visit the FAQ app just to get to AaE.</p>
                </div>
                
                <% if @menu_partial_to_display %>
                <div class="sidebar">
                    <% link_to(:controller => "/widgets", :action => "aae") do %>
                        <dl class="widget">
                            <dt>AaE Widget Site</dt>
                            <dd>All about AaE widgets. Create new ones and manage existing.</dd>
                        </dl>
                    <% end %>
                    
                    <% link_to(:controller => "dashboard") do %>
                    <dl class="dashboard">
                        <dt>AaE Question Wrangler Dashboard</dt>
                        <dd>Displays the current status of all unanswered AaE questions</dd>
                    </dl>
                    <% end %>
                </div>
                <% end %>
            </div>
            
            
            
        </div>
        <!-- end #pageContent -->
        
        <% if @mobile_device %>
            <ul id="userinfo">
                <%- if(!@currentuser.nil?) -%>
                    <li><%= link_to "reports", {:controller => "reports"} %></li>
                    <li><%= link_to(@currentuser.login, aae_profile_url(:id => @currentuser.login), :class => "usericon") %></li>
                    <li id="prefs"><%= link_to "preferences", :controller => 'aae/prefs', :action => 'index' %></li>
                    <li><%= link_to "sign out", :controller => 'people/account', :action => :logout %></li>
                <%- end -%>
            </ul>
        
            <% if @currentuser.is_admin? %>
        		<p id="admintoggle"><strong>Admin Mode</strong>: <span id="admin_mode_block"><%= admin_mode_text %></span></p>
        	<% end %>
        
            <h3>Other eXtension Sites</h3>
            <%= render(:partial => 'aae/partial/global_nav_banner') %>
        <% end %>
        
        <div id="footer">
            <ul>
                <li><%= link_to("Contact Us", :controller => 'aae/help', :action => 'index') %></li>
                <li><%= link_to("Terms of Use","http://www.extension.org/main/termsofuse")%></li>
                <li>version <%= "#{AppVersion.version}" %></li>
            </ul>
        </div>

    </div>
    <!-- end #pageContainer -->
<%= render(:partial => 'aae/partial/googleanalytics') %>
 
</body>
</html>
