<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>eXtension Ask: <%= @page_title || controller.action_name %></title>
    
    <% if @mobile_device %>
        <meta name = "viewport" content = "width = device-width, user-scalable = yes">
        <%= stylesheet_link_tag 'mobile_aae' %>
    <% else %>
        <%= stylesheet_link_tag 'common' %>
        <%= stylesheet_link_tag 'aae' %>
        <%= stylesheet_link_tag 'aae_print', :media => 'print' %>
        <!--[if gt IE 6]>
            <%= stylesheet_link_tag 'ie' %>
        <![endif]-->
    <% end %>

    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'effects' %>
    <%= javascript_include_tag 'heureka' %>
    <%= javascript_include_tag 'tooltip' %>
    <%= calendar_date_select_includes "silver" %>
 	
</head>
    
<body id="aae">
    <% if (@app_location_for_display != 'production') %>
        <div id="app_location" class="<%= @app_location_for_display %>">
            <p>You are viewing the <strong><%= @app_location_for_display %></strong> site.</p>
        </div>
    <% end %>
    
    <% if !@mobile_device %>
    <ul id="extensionNav">
           <li class="group"><span>Public sites</span>
               <ul>
                   <li><a href="<%= AppConfig.configtable['about_blog'] %>" title="A starting place for all things eXtension">About.eXtension</a></li>
                   <li><a href="<%= AppConfig.configtable['public_site'] %>" title="The eXtension Public Site">Public Site</a></li>
                   <li><a href="<%= AppConfig.configtable['search_site'] %>" title="One search for hundereds of Cooperative Extension Sites">Search</a></li>
               </ul>
           </li>
           <li class="group"><span>Wikis</span>
               <ul>
                   <li><a href="<%= AppConfig.configtable['about_site'] %>" title="The About wiki: Organizational information, resources and updates about the eXtension initiative">About</a></li>
                   <li><a href="<%= AppConfig.configtable['cop_site'] %>" title="CoP wiki for content creation">CoP</a></li>
                   <li><a href="<%= AppConfig.configtable['collaborate_site'] %>" title="A wiki for professionals from the land-grant universities to collaborate on topics of interest.">Collaborate</a></li>
               </ul>
           </li>
           <li class="group"><span>Content Tools and People</span>
               <ul>
                   <li><a href="<%= AppConfig.configtable['aae_site'] %>" title="Ask an Expert">AaE</a></li>
                   <li><a href="<%= AppConfig.configtable['events_site'] %>" title="Events">Events</a></li>
                   <li><a href="<%= AppConfig.configtable['faq_site'] %>" title="FAQ">FAQ</a></li>
                   <li><a href="<%= AppConfig.configtable['people_site'] %>" title="Manage your eXtension profile, find colleagues, create and join communities.">People</a></li>
               </ul>
           </li>
           <li class="group last"><span>Moodle</span>
               <ul>
                   <li><a href="<%= AppConfig.configtable['campus_site'] %>" title="">Campus</a></li>
                   <li><a href="<%= AppConfig.configtable['pdc_site'] %>" title="">PDC</a></li>
               </ul>
           </li>
       </ul>
    <% end %>
    <div id="pageContainer">
        <div id="masthead">
            <h1><%= link_to("eXtension Ask an Expert", incoming_url) %></h1>
            <ul id="app_toggle">
                <li id="faqaae" ><%= link_to "Home", "http://faq.extension.org/" %></li>
                <li id="faqhome" ><%= link_to "FAQs", "http://faq.extension.org/questions" %></li>
                <li id="aaehome" class="selected"><%= link_to "Ask an Expert", incoming_url %></li>
            </ul>
        </div>
        
        <div id="pageContent">
            <ul id="aaelinks">
                <li><%= link_to_unless_current '<span>Incoming</span>', incoming_url %></li>
                <li><%= link_to_unless_current "<span>Assigned to me</span>", my_assigned_url %></li>
                <li><%= link_to_unless_current "<span>Resolved by me</span>", my_resolved_url %></li>
                <% if !@category %>
                    <li><%= link_to_unless_current '<span>Resolved</span>', resolved_url(:type => 'all') %></li>
                <% else %>
                    <li>
                    <%= link_to_unless_current '<span>Resolved</span>', resolved_url(:id => @category, :type => 'all') %>
                    </li>
                <% end %>
                <li><%= link_to_unless_current '<span>Spam Review</span>', spam_url %></li>
            </ul>
            
            <% if !@mobile_device %>
            <ul id="userinfo">
                <% if @help_title %>
                    <li class="help"><a href="http://about.extension.org/wiki/FAQ_Help:_<%= @help_title.gsub(/\s/, '_').gsub(/\W/, '') %>">Help</a></li>
                <% elsif @page_title %>
                    <li class="help"><a href="http://about.extension.org/wiki/FAQ_Help:_<%= @page_title.gsub(/\s/, '_').gsub(/\W/, '') %>">Help</a></li>
                <% else %>
                    <li class="help"><a href="http://about.extension.org/wiki/FAQ_Help">Help</a></li>
                <% end%>
                <%- if(!@currentuser.nil?) -%>
                    <li><%= link_to "Reports", {:controller => "reports"} %></li>
                    <li><%= link_to(@currentuser.login, aae_profile_url(:id => @currentuser.login), :class => "usericon") %></li>
                    <li id="prefs"><%= link_to "preferences", :controller => 'aae/prefs', :action => 'index' %></li>
                    <li><%= link_to "Logout", :controller => 'people/account', :action => :logout %></li>
                    <% if @currentuser.is_admin? %>
                		<li id="admintoggle"><strong>Admin Mode</strong>: <span id="admin_mode_block"><%= admin_mode_text %></span></li>
                	<% end %>
                <%- end -%>
            </ul>
            <% end %>
            
            <div id="content" <%= 'class="narrow"' if @menu_partial_to_display %>>
                <%= yield :layout %>
            </div>
            
            <div id="secondary">
                <%= render(:partial => @menu_partial_to_display) if @menu_partial_to_display %>
            </div>
            
        </div>
        <!-- end #pageContent -->
        
        <% if @mobile_device %>
        <ul id="userinfo">
            <% if @help_title %>
                <li class="help"><a href="http://about.extension.org/wiki/FAQ_Help:_<%= @help_title.gsub(/\s/, '_').gsub(/\W/, '') %>">Help</a></li>
            <% elsif @page_title %>
                <li class="help"><a href="http://about.extension.org/wiki/FAQ_Help:_<%= @page_title.gsub(/\s/, '_').gsub(/\W/, '') %>">Help</a></li>
            <% else %>
                <li class="help"><a href="http://about.extension.org/wiki/FAQ_Help">Help</a></li>
            <% end%>
            <%- if(!@currentuser.nil?) -%>
                <li><%= link_to "Reports", {:controller => "reports"} %></li>
                <li><%= link_to(@currentuser.login, aae_profile_url(:id => @currentuser.login), :class => "usericon") %></li>
                <li id="prefs"><%= link_to "preferences", :controller => 'aae/prefs', :action => 'index' %></li>
                <li><%= link_to "Logout", :controller => 'people/account', :action => :logout %></li>
                <% if @currentuser.is_admin? %>
            		<li id="admintoggle"><strong>Admin Mode</strong>: <span id="admin_mode_block"><%= admin_mode_text %></span></li>
            	<% end %>
            <%- end -%>
        </ul>
        
        <h3>Other eXtension Sites</h3>
        <ul id="extensionNav">
            <li class="begin"><a href="<%= AppConfig.configtable['events_site'] %>">Events</a></li>
            <li><a href="<%= AppConfig.configtable['faq_site'] %>" title="FAQ / Ask an Expert Tool">FAQ/AaE</a></li>
            <li><a href="<%= AppConfig.configtable['people_site'] %>">People</a></li>
            <li><a href="<%= AppConfig.configtable['cop_site'] %>">CoP Wiki</a></li>
            <li><a href="<%= AppConfig.configtable['collaborate_site'] %>">Collaborate Wiki</a></li>
            <li><a href="<%= AppConfig.configtable['about_site'] %>">About Wiki</a></li>
            <li><a href="<%= AppConfig.configtable['about_blog'] %>">About Blog</a></li>
        </ul>
        <% end %>
        
        <div id="footer">
            <ul>
                <li><%= link_to("Contact Us", :controller => 'aae/help', :action => 'index') %></li>
                <li><%= link_to("Terms of Use","http://www.extension.org/main/termsofuse")%></li>
                <li>version <%= "#{AppVersion.version}" %></li>
            </ul>
        </div>

    </div>
    <!-- end #pageContainer -->
<%= render(:partial => 'aae/partial/googleanalytics') %>
 
</body>
</html>
