<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  	<meta name="robots" content="noindex" /> 

    <title>eXtension AaE Reports: <%= @page_title || controller.action_name %></title>    
    
    <% if @mobile_device %>
        <meta name = "viewport" content = "width = device-width, user-scalable = yes">
        <%= stylesheet_link_tag 'mobile_aae' %>
    <% else %>
        <%= stylesheet_link_tag 'common' %>
        <%= stylesheet_link_tag 'aae' %>
        <%= stylesheet_link_tag 'aae_reports' %>
        <%= stylesheet_link_tag 'aae_print', :media => 'print' %>
    <% end %>

    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'effects' %>
    <%= javascript_include_tag 'heureka' %>
    <%= javascript_include_tag 'tooltip' %>
    <%= calendar_date_select_includes "silver" %>

</head>
    
<body <% if controller.controller_name == 'account' %>id="account"<% end %>>
    <% if (@app_location_for_display != 'production') %>
        <div id="app_location" class="<%= @app_location_for_display %>">
            <p>You are viewing the <strong><%= @app_location_for_display %></strong> site.</p>
        </div>
    <% end %>
    
    <% if !@mobile_device %>
        <%= render(:partial => 'aae/partial/global_nav_banner') %>
    <% end %>
    <%- if(admin_mode?) -%>
   	  <div id="adminnotice">
         <div id="container">
           <p><strong>You are logged into an admin account</strong> </p>
         </div>	
       </div>
    <%- end -%>
    <%= render(:partial => 'partial/away_notice') %>
    <%= render(:partial => 'partial/survey_notice') %>
    
    <div id="pageContainer">
        <div id="masthead">
            <h1><%= link_to("eXtension Ask an Expert", incoming_url) %></h1>
            
            <% if !@mobile_device %>
            <ul id="userinfo">
                <%- if(!@currentuser.nil?) -%>
                    <li><%= link_to "reports", {:controller => "reports"} %></li>
                    <li><%= link_to(@currentuser.login, aae_profile_url(:id => @currentuser.login), :class => "usericon") %></li>
                    <li id="prefs"><%= link_to "preferences", :controller => 'aae/prefs', :action => 'index' %></li>
                    <li><%= link_to "sign out", :controller => 'people/account', :action => :logout %></li>
                <%- end -%>
            </ul>
            
            <% end %>
        </div>
        
        <div id="pageContent">
            
            <div id="content">
                <%= yield :layout %>
            </div>
        
            <% if @mobile_device %>
                <ul id="userinfo">
                    <%- if(!@currentuser.nil?) -%>
                        <li><%= link_to "reports", {:controller => "reports"} %></li>
                        <li><%= link_to(@currentuser.login, aae_profile_url(:id => @currentuser.login), :class => "usericon") %></li>
                        <li id="prefs"><%= link_to "preferences", :controller => 'aae/prefs', :action => 'index' %></li>
                        <li><%= link_to "sign out", :controller => 'people/account', :action => :logout %></li>
                    <%- end -%>
                </ul>

                <h3>Other eXtension Sites</h3>
                <%= render(:partial => 'aae/partial/global_nav_banner') %>
            <% end %>
        
            <div id="footer">
                <ul>
                    <li><%= link_to("Contact Us", :controller => 'aae/help', :action => 'index') %></li>
                    <li><%= link_to("Terms of Use","http://www.extension.org/main/termsofuse")%></li>
                </ul>
            </div>
        </div>
        <!-- end #pageContent -->
        

    </div>
    <!-- end #pageContainer -->
<%= render(:partial => 'aae/partial/googleanalytics') %>
 
</body>
</html>
