<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>eXtension FAQ: <%= @page_title || controller.action_name %></title>    
    <%= stylesheet_link_tag 'common' %>
    <%= stylesheet_link_tag 'aae' %>
    <%= stylesheet_link_tag 'aae_reports' %>
    <%= stylesheet_link_tag 'date-picker' %>
    <%= stylesheet_link_tag 'print', :media => 'print' %>
    
    <!--[if gt IE 6]>
        <%= stylesheet_link_tag 'ie' %>
    <![endif]-->
    
    
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'effects' %>
    <%= javascript_include_tag 'heureka' %>
    <%= javascript_include_tag 'tooltip' %>
   <%= javascript_include_tag 'date-picker' %>
   
    <%= calendar_date_select_includes "silver" %>
 	
</head>
    
<body <% if controller.controller_name == 'account' %>id="account"<% end %>>
    <% if (AppConfig.configtable['app_location'] != 'production') %>
    <div id="app_location" class="<%= AppConfig.configtable['app_location'] %>">
        <p>You are viewing the <strong><%= AppConfig.configtable['app_location'] %></strong> site.</p>
    </div>
    <% end %>
    <ul id="extensionNav">
        <li class="begin"><a href="<%= AppConfig.configtable['events_site'] %>">Events</a></li>
        <li><a href="<%= AppConfig.configtable['faq_site'] %>" title="FAQ / Ask an Expert Tool">FAQ/AaE</a></li>
        <li><a href="<%= AppConfig.configtable['people_site'] %>">People</a></li>
        <li><a href="<%= AppConfig.configtable['cop_site'] %>">CoP Wiki</a></li>
        <li><a href="<%= AppConfig.configtable['collaborate_site'] %>">Collaborate Wiki</a></li>
        <li><a href="<%= AppConfig.configtable['about_site'] %>">About Wiki</a></li>
        <li><a href="<%= AppConfig.configtable['about_blog'] %>">About Blog</a></li>
    </ul>

    <div id="pageContainer">
        <div id="masthead">
            <ul id="app_toggle">
                <li id="faqaae" <%= selected_tab_if(:home) %>><%= link_to "Home", "http://faq.extension.org/" %></li>
                <li id="faqhome" <% if controller.controller_name == 'questions' %> class="selected"<% end %>><%= link_to "FAQs", "http://faq.extension.org/questions" %></li>
                <li id="aaehome" ><%= link_to "Ask an Expert", incoming_url %></li>
            </ul>
            <h1><%= link_to("eXtension Ask an Expert", incoming_url) %></h1>
            
            
            <ul id="userinfo">
                <% if @help_title %>
                    <li class="help"><a href="http://about.extension.org/wiki/FAQ_Help:_<%= @help_title.gsub(/\s/, '_').gsub(/\W/, '') %>">Help</a></li>
                <% elsif @page_title %>
                    <li class="help"><a href="http://about.extension.org/wiki/FAQ_Help:_<%= @page_title.gsub(/\s/, '_').gsub(/\W/, '') %>">Help</a></li>
                <% else %>
                    <li class="help"><a href="http://about.extension.org/wiki/FAQ_Help">Help</a></li>
                <% end%>
            <% if !@currentuser.nil? %>
                <li><%= link_to "Reports", {:controller => "reports"} %></li>
                <li><%= link_to 'logout', '/account/logout' %></li>
            <% end %>
            </ul>
            
            <% if !@currentuser.nil? %>
            <p id="feedlink"><%= link_to "View all available Feeds", {:controller => "main", :action => "feeds" }, :class => "feed" %></p>
            <% end %>
        </div>
        
        <div id="pageContent">
            
            <div id="content">
                <%= yield :layout %>
            </div>

            <div id="footer">
                <ul>
                    <li><%= link_to("Contact Us", :controller => 'aae/help', :action => 'index') %></li>
                    <li><%= link_to("Terms of Use","http://www.extension.org/main/termsofuse")%></li>
                    <li>version <%= "#{AppVersion.version}" %></li>
                </ul>
            </div>
        </div>
        <!-- end #pageContent -->
        

    </div>
    <!-- end #pageContainer -->
<%= render(:partial => 'aae/partial/googleanalytics') %>
 
</body>
</html>
