<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
    <title><%= @page_title || controller.action_name %></title>
    <%= stylesheet_link_tag 'common' %>
    <%= stylesheet_link_tag 'aaehome' %>
	
</head>

<body>

<div id="pageContainer">
    <div id="masthead">
        <h1>Ask an Expert</h1>
        <p id="extensionlogo">eXtension: More Mind Reach</p>
    
        <p class="signin"><%= link_to("Ask an Expert (sign-in required)", incoming_url) %></p>
    </div>

    <div id="content">
        <p class="tabblock"><span>Need information about AaE?</span></p>

        <div id="extensionagents" class="column">
            <div class="wrapper">
            <h2>For Extension Agents</h2>
    
            <p>Use Ask an Expert to receive questions from your local public through your own county website.</p>
    
            <p><%= link_to("Learn about Ask an Expert",  widget_home_url )%> and getting AaE Widgets for your site.</p>
    
            <p class="button2"><%= link_to("Learn More...",  widget_home_url )%></p>
            </div>
        </div>

        <div id="thepublic" class="column">
            <div class="wrapper">
            <h2>For the Public</h2>
    
            <p>Ask an Expert allows you to get objective, research-based, credible answers to your questions.</p>
    
            <p>You can <%= link_to("ask your question here", ask_form_url ) %>, on the eXtension Public Site.</p>
            </div>
        </div>
        <br class="clearing"/>
    </div>
</div>

<%= render(:partial => 'aae/partial/googleanalytics') %>
</body>
</html>
