<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  
  <% if !@openidmeta.nil? %><%= @openidmeta %><% end %>

  <%- if(@list_content) -%>
    <meta name="robots" content="noindex,nofollow" /> 
	<%- elsif(!@published_content or params[:print]) -%>
    <meta name="robots" content="noindex,follow" /> 
  <%- elsif(@page and @page.indexed == Page::NOT_GOOGLE_INDEXED) -%>
    <meta name="googlebot" content="noindex,follow" /> 
  <%- end -%>

  <%- if @canonical_link -%>
    <link rel="canonical" href="<%= @canonical_link %>"/>
  <%- end -%>

  <title><%= @title_tag %></title>
  <meta name="description" content="<%= @page_meta_description ? @page_meta_description : "eXtension is an interactive learning environment delivering the best, most researched knowledge from the smartest university minds across America." %>">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">

</head>

<body>

<!--[if lt IE 7]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

        <div class="container">
 
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".search-collapse"><i class='icon-search icon-white'></i></a>
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">MENU</a>
                    <a class="brand" href="/templates/home.html"><img class='hidden-phone' src="/assets/img/logo.jpg" alt="eXtension" /><img class='visible-phone' src="/assets/img/logo_mobile.gif" alt="eXtension" /></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="/templates/home.html">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Resources <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/templates/blogpage.html">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li><a href="/templates/subpage.html">About</a></li>
                            <li><a href="#">Support Us</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                    <div class="search-collapse collapse">
                    	<form class="navbar-form form-search pull-right">
							<div class="input-append">
								<input type="text" placeholder="Search eXtension" class="span2 search-query">
								<button type="submit" class="btn">Go</button>
							</div>
						</form>
                    </div><!--/.search-collapse -->
                </div>
            </div>

            <!-- Image Rotator, Connect With Us, Local Extension Office -->
            <div class="row">
            	<div class="span9">
	            	<div id="myCarousel" class="carousel slide">
		                <ol class="carousel-indicators">
		                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		                  <li data-target="#myCarousel" data-slide-to="1"></li>
		                  <li data-target="#myCarousel" data-slide-to="2"></li>
		                </ol>
		                <div class="carousel-inner">
		                  <div class="item active">
		                    <img src="/assets/img/home_rotator_slide1.jpg" alt="Slide1">
		                    <div class="carousel-caption">
		                      <h1>This is the First Slide Headline</h1>
		                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. <a href='#'>Read More</a></p>
		                    </div>
		                  </div>
		                  <div class="item">
		                    <img src="/assets/img/home_rotator_slide2.jpg" alt="Slide2">
		                    <div class="carousel-caption">
		                      <h1>This is the Second Slide Headline</h1>
		                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. <a href='#'>Read More</a></p>
		                    </div>
		                  </div>
		                  <div class="item">
		                    <img src="/assets/img/home_rotator_slide3.jpg" alt="Slide3">
		                    <div class="carousel-caption">
		                      <h1>This is the Third Slide Headline</h1>
		                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. <a href='#'>Read More</a></p>
		                    </div>
		                  </div>
		                </div>
		            </div>
            	</div>
            	<div class="span3">
            		<div class='row'>
	            		<div class="connect-with-us span3 home">
		            		<h3>Connect with us</h3>
		            		<ul class="inline">
		            			<li><a href="#"><img src="/assets/img/icon_twitter.gif" alt="twiiter" /></a></li>
		            			<li><a href="#"><img src="/assets/img/icon_facebook.gif" alt="facebook" /></a></li>
		            			<li><a href="#"><img src="/assets/img/icon_youtube.gif" alt="youtube" /></a></li>
		            			<li><a href="#"><img src="/assets/img/icon_pinterest.gif" alt="pinterest" /></a></li>
		            			<li><a href="#"><img src="/assets/img/icon_googleplus.gif" alt="googleplus" /></a></li>
		            		</ul>
	            		</div>
            		</div>
            		<div class='row'>
	            		<div class="local-extension-office span3">
	            			<h3>Local Extension Offices Near You:</h3>
	            			<a href='#'><img src="/assets/img/va_tech.jpg" alt="Virginia Tech" />Learn more about this institution</a>
							<form class="form-locate">
								<label>Select a different institution</label>
								<div class="input-append">
									<input type="text" class="span2 search-query" placeholder="State or Zip" >
									<button type="submit" class="btn">LOCATE</button>
								</div>
							</form>
	            		</div>
            		</div>
            	</div>
            </div>

            <!-- Tagline -->
            <div class="row">
                <div class="tagline span12">
                	<a href='#' class='pull-right btn orange lg hidden-phone'>Learn More</a>
                	<div>Extending Knowledge. Changing Lives.<a href='#' class='visible-phone btn orange lg'>Learn More</a>
</div>
                </div>
            </div>

            <!-- Upcoming Webinars, Meet Extension, Trending Questions, Latest Tweets -->
            <div class="row">
                <div class="upcoming-webinars span3">
                	<h2>Upcoming Webinars</h2>
					<dl>
						<dt>February 22</dt>
						<dd>Google+: Tips, tricks, and what's new</dd>
						<dt>February 25</dt>
						<dd>The Complex Nature of Savings: Results from a Multi-state Research Project</dd>
						<dt>February 26</dt>
						<dd>Google+: Tips, tricks, and what's new</dd>
						<dt>February 22</dt>
						<dd>The Complex Nature of Savings: Results from a Multi-state Research Project</dd>
					</dl>             	
					<a href='#' class='pull-right'>More Webinars</a>
                </div>
                <div class='visible-phone clearfix'></div>
                
                <div class="meet-extension span3">
                	<h2>Meet Extension</h2>
                	<img src='/assets/img/john_smith.jpg' alt="John Smith" />
                	<strong>John Smith</strong><br />
                	<em>Communications Expert</em><br />
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut massa placerat ligula pulvinar cursus. Ut porta imperdiet justo, a laoreet nisl tristique vitae. Maecenas nec dui odio, vel laoreet leo. Duis justo felis, dapibus at rutrum sed, bibendum ut velit. Nulla in arcu risus.Duis justo felis, dapibus at rutrum sed, bibendum ut velit.</p>
                </div>
                
                <div class='trending-questions span3'>
                	<h2>Trending Questions</h2>
                	<ul class='unstyled'>
                		<li class='clearfix'>When is a good time to plant potatoes in the Rogue Valley?<br /><a href='#' class='pull-right'>view response &raquo;</a></li>
                		<li class='clearfix'>How can I tell if my maple tree has vericillium wilt?<br /><a href='#' class='pull-right'>view response &raquo;</a></li>
                		<li class='clearfix'>Has anyone done a nutrient analysis of brewery waste?<br /><a href='#' class='pull-right'>view response &raquo;</a></li>
                		<li class='clearfix'>How can I tell if my maple tree has vericillium wilt?<br /><a href='#' class='pull-right'>view response &raquo;</a></li>
                	</ul>
                	<a href='#' class='btn orange lg span3'>Ask an Expert</a>
                </div>
                
                <div class='latest-tweets span3'>
                	<h2>Latest Tweets</h2>
					<div class="tweet"></div>
					<a href='#' class='btn'>Follow @extensions</a>
                </div>
            </div>

            <hr>

            <footer>
            	<ul class='inline'>
            		<li><a href='#'>Institutional Partners</a></li>
            		<li><a href='#'>Privacy</a></li>
            		<li><a href='#'>Contact Us</a></li>
            		<li><a href='#'>Disclaimer</a></li>
            		<li><a href='#'>Terms of Use</a></li>
            	</ul>
                <p>&copy; 2013 eXtension. All Rights Reserved.</p>
            </footer>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

		<script language="javascript" src="js/jquery.tweet.js" type="text/javascript"></script> 
		<script type='text/javascript'>
		    jQuery(function($){
		        $(".tweet").tweet({
		          avatar_size: 0,
		          count: 3,
		          username: "BeGrowCreate",
		          template: "{text}"
		        });
		      });
		</script> 

        <script>
            $('.carousel').carousel({
	            interval: 6000
	        })
    	</script>
    
    <%= render(:partial => '/partial/googleanalytics') %>
    </body>
</html>
