<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  
  <% if !@openidmeta.nil? %><%= @openidmeta %><% end %>

  <%- if(@list_content) -%>
    <meta name="robots" content="noindex,nofollow" /> 
	<%- elsif(!@published_content or params[:print]) -%>
    <meta name="robots" content="noindex,follow" /> 
  <%- elsif(@page and @page.indexed == Page::NOT_GOOGLE_INDEXED) -%>
    <meta name="googlebot" content="noindex,follow" /> 
  <%- end -%>

  <%- if @canonical_link -%>
    <link rel="canonical" href="<%= @canonical_link %>"/>
  <%- end -%>
  
  <title><%= (@page_title) ? @page_title + " - eXtension" : "eXtension - Objective. Research-based. Credible." %></title>
  <meta name="description" content="<%= @page_meta_description ? @page_meta_description : "eXtension is an interactive learning environment delivering the best, most researched knowledge from the smartest university minds across America." %>">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  
  
  <meta property="og:url" content="<%= request.protocol + request.host_with_port + request.fullpath %>"/>
  <meta property="og:type" content="<%= (@page_type == "article") ? "article" : "website" %>"/>
  <meta property="og:title" content="<%= (@page_title) ? @page_title + " - eXtension" : "eXtension - Objective. Research-based. Credible." %>"/>
  <meta property="og:description" content="<%= @page_meta_description ? @page_meta_description : "eXtension is an interactive learning environment delivering the best, most researched knowledge from the smartest university minds across America." %>"/>

  <meta name="twitter:card" content="summary">

  <meta name="twitter:title" content="<%= (@page_title) ? @page_title + " - eXtension" : "eXtension - Objective. Research-based. Credible." %>">
  <meta property="twitter:description" content="<%= @page_meta_description ? @page_meta_description : "eXtension is an interactive learning environment delivering the best, most researched knowledge from the smartest university minds across America." %>"/>
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv' %>
  <![endif]-->    
  
  <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
</head>

<body>  
  <script src="https://www.extension.org/javascripts/global_nav_public.js" type="text/javascript"></script>
  
  <%- if(current_person and current_person.is_admin?) -%>
 	  <div id="adminnotice" class="noprint"><p>You are logged into an admin account (<%= link_to('sign out',logout_path) %>)</p></div>
  <%- end -%>
  
  <% if(@app_location_for_display != 'production')%>
    <div id="app_location" class="<%= @app_location_for_display %>"><p>You are viewing the <strong><%= @app_location_for_display %></strong> site. <%= link_to("more info", "http://create.extension.org/node/1781") %></p></div>
  <% end %>
  
<!--[if lt IE 7]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div id="body_wrapper"><!-- used for preview -->
    <div id="preview_wrapper" class="<%= @app_location_for_display %>"></div>
    <% if(@app_location_for_display == 'preview' )%>
      <div id="app_location" class="preview">
        <h3>Article Preview Tool</h3> 
        <p>This shows how your page will appear when published to www.extension.org. The navigation areas are grayed out because those sections are not available in preview mode. However, all links within your article do work.</p>
      </div>
    <% elsif (@app_location_for_display != 'production' ) %>
      <div id="app_location" class="<%= @app_location_for_display %>"><p>You are viewing the <strong><%= @app_location_for_display %></strong> site. <%= link_to("more info", "http://create.extension.org/node/1781") %></p></div>
    <% end %>
</div><!-- end #body_wrapper -->

  <div class="container">
    
    <% if params[:print] %>
      <img id="print-logo" src="/images/frontporch/eX_ARLN_logo_wTM_600x331.png" width="120pt" height="66pt"/>
      <%- if(@personal[:location] and @personal[:institution]) -%>
        <span id="institution_logo" >
          <%- if !(@personal[:institution].logo.nil?) -%>
            <%= render_inline_logo({:logo => @personal[:institution].logo, :alt_text => @personal[:institution].name}) %>
          <%- else -%>
        		<%= @personal[:institution].name %>
          <%- end -%>
        </span>
      <% end %>
    <% end %>
 
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".search-collapse"><i class='icon-search icon-white'></i></a>
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">MENU</a>
                    <a class="brand" href="/"><img class='nonmobile hidden-phone' src="/images/frontporch/eX_ARLN_logo_wTM_249x137.png" alt="eXtension" /><img class='visible-phone' src="/images/frontporch/logo_mobile.gif" alt="eXtension" /></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><%= link_to('Resource Areas', main_communities_path()) %></li>
                            <li><%= link_to('About', main_special_path(:path => 'about')) %></li>
                            <li><%= link_to 'Support Us', main_special_path(:path => 'donate') %></li>
                            <li><%= link_to('Recent ', main_blog_path()) %></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                    <div class="search-collapse collapse">

								<%= render(:partial => 'shared/search') %>

                    </div><!--/.search-collapse -->
                </div>
            </div>

      
      <%= yield :layout %>
      
      <hr />
      
      <div class="row noprint">
        <div class="span3 resource-areas">
          <h3>Resource Areas</h3>
      	  <% for topic in Topic.topics_list({:launchedonly => true}) %>
            <% if topic.name == "Alerts" || topic.name == "Community" || topic.name == "Disaster Issues" %>
            <h4><%= topic.name%></h4>
            <ul class='unstyled'>
              <%for community in topic.publishing_communities %>
                <li><%= link_to_public_community(community) %></li>
              <%end%>
            </ul>
            <%end%>
          <%end%>
        </div>
        <div class="span3 resource-areas">
      	  <% for topic in Topic.topics_list({:launchedonly => true}) %>
            <% if topic.name == "Energy" || topic.name == "Environment" || topic.name == "Family" %>
            <h4><%= topic.name%></h4>
            <ul class='unstyled'>
              <%for community in topic.publishing_communities %>
                <li><%= link_to_public_community(community) %></li>
              <%end%>
            </ul>
            <%end%>
          <%end%>
        </div>
        <div class="span3 resource-areas">
      	  <% for topic in Topic.topics_list({:launchedonly => true}) %>
      	    <% if topic.name == "Farm" %>
            <h4><%= topic.name%></h4>
            <ul class='unstyled'>
              <%for community in topic.publishing_communities %>
                <li><%= link_to_public_community(community) %></li>
              <%end%>
            </ul>
            <% end %>
          <% end %>
        </div>
        <div class="span3 resource-areas">
      	  <% for topic in Topic.topics_list({:launchedonly => true}) %>
      	  <% if topic.name == "Health and Nutrition" || topic.name == "Lawn and Garden" || topic.name == "Pest Management" || topic.name == "Youth" %>
            <h4><%= topic.name%></h4>
            <ul class='unstyled'>
              <%for community in topic.publishing_communities %>
                <li><%= link_to_public_community(community) %></li>
              <%end%>
            </ul>
            <% end %>
          <% end %>
        </div>
      </div>
      
      <hr class="noprint" />
      
      <footer>
        <span id="extension_icon_512" class="pull-left noprint"><img id="extension_logo" src="/images/extension_logo.jpg" alt="eXtension" /></span>
        <ul class='inline noprint'>
          <li><%= link_to "Feeds", "/feeds", {:class => "feeds"} %></li>
          <li><%= link_to_unless_current "Institutional Partners", main_special_path(:path => 'partners') %></li>
          <li><%= link_to_unless_current "Privacy", main_special_path(:path => 'privacy') %></li>
          <li><%= link_to_unless_current "Contact Us", main_special_path(:path => 'contact_us') %></li>
          <li><%= link_to_unless_current "Disclaimer", main_special_path(:path => 'disclaimer') %></li>
          <li class="last"><%= link_to_unless_current "Terms of Use", main_special_path(:path => 'termsofuse') %></li>
        </ul>
        <p>&copy; <%= Time.now.utc.year %> eXtension. All rights reserved.</p>
      </footer>

    </div> <!-- /container -->
        
    <%= javascript_include_tag 'jquery-1.9.1.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>

    <script class="code" type="text/javascript">
      
      $('.carousel').carousel({
        interval: 6000
      })
      
      $("#article_content table.table").wrap("<div class='table-wrapper'></div>");
      
      function change_institution() {
        var ZipOrState = $('#zip_or_state').val();
  		  $.ajax({
          type: "POST",
          url: "<%= show_institution_list_path() %>",
          cache: false,
          data: {zip_or_state: ZipOrState}
        })
        .done(function() {
        })  
        .fail(function() {
          alert("change institution error");
        })
  		}
      
      $('#zip_or_state').keypress(function (e) {
        if (e.which == 13) {
          change_institution();
        }
      });
      
      $("#submit_zip").click(function () {
        change_institution();
      });
      
      $("#preview_wrapper").height($("body").height());
      
      $('#submit_widget').click(function() {
        generate_widget();
      });
      

      function generate_widget() {
    	  $.ajax({
          type: "POST",
          url: "<%= widgets_generate_new_widget_path() %>",
          cache: false,
          data: $('#widget_form').serialize()
        })
        .done(function(data) {
          $("#example_widget").html(data);
        })  
        .fail(function() {
          alert("problem generating widget");
        })
    	}
      
      $("#select_from_tags li").click(function() {
        $tags = $('#widget_tags').val();
        if ($tags != "" ) {
          $tags += ", " 
        }
        $('#widget_tags').val($tags +$(this).html());
      });
      
      
    </script>
    
    <%= render(:partial => '/partial/googleanalytics') %>
  </body>
</html>

<!--
  Acknowledgements:
  This website includes icons from @glyphicons http://glyphicons.com, used under the Creative Commons Attribution 3.0 Unported (CC BY 3.0) license
  license details: http://creativecommons.org/licenses/by/3.0/deed.en
-->