<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <% if !@openidmeta.nil? %><%= @openidmeta %><% end %>
  
  <%- if(@list_content) -%>
  	  <meta name="robots" content="noindex,nofollow" /> 
	<%- elsif(!@published_content or params[:print]) -%>
	    <meta name="robots" content="noindex,follow" /> 
  <%- elsif(@page and @page.indexed == Page::NOT_GOOGLE_INDEXED) -%>
    <meta name="googlebot" content="noindex,follow" /> 
  <%- end -%>
  
	<%- if @canonical_link -%>
	  <link rel="canonical" href="<%= @canonical_link %>"/>
	<%- end -%>
	
	<title><%= @title_tag %></title>
	<% if @mobile_device %>
        <meta name = "viewport" content = "width = device-width, user-scalable = yes">
        <%= stylesheet_link_tag 'mobile' %>
    <% else %>
	
    	<% if params[:print] %>
    	    <%= stylesheet_link_tag 'print-for-screen' %>
    	    <%= stylesheet_link_tag 'print-for-screen', :media => 'print' %>
    	    <%= stylesheet_link_tag 'print', :media => 'print' %>
    	<% else %>
    	    <%= stylesheet_link_tag 'common_fixedfont' %>
    	    <%= stylesheet_link_tag '960' %>
        	<%= stylesheet_link_tag 'extension2' %>
        	<%= stylesheet_link_tag 'fancybox/jquery.fancybox-1.3.1' %>
        	<%= stylesheet_link_tag 'print-for-screen', :media => 'print' %>
        	<%= stylesheet_link_tag 'print', :media => 'print' %>
    	<% end %>
      
	<% end %>
    
  <% if @youth %>
     <%= stylesheet_link_tag 'youth' %>
  <% end %>
  
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'effects' %>
    <%= javascript_include_tag 'dragdrop' %>
    <%= javascript_include_tag 'controls' %>
    <%= javascript_include_tag 'jquery-1.4.2.min' %>
    <script type="text/javascript">
        var $j = jQuery.noConflict();
    </script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.cluetip.min' %>
    <%= javascript_include_tag 'fancybox/jquery.fancybox-1.3.1' %>
    
    <%- if @event_editing -%>
    	<%= stylesheet_link_tag 'date-picker' %>
      <%= stylesheet_link_tag 'calendar_helper' %>  
      <%= stylesheet_link_tag 'events' %>  
      <%= javascript_include_tag 'date-picker' %>
    <%- end -%>
    
    <%- if @reporting -%>
      <%= calendar_date_select_includes "silver" %>
    <%- end -%>
    <script type="text/javascript" src="http://www.google.com/jsapi?key=<%=AppConfig.configtable['google_map_key']%>"></script>
    
	<link rel="stylesheet" type="text/css" href="/stylesheets/contentslider.css" />
	<!--[if lt IE 7]>
	    <%= stylesheet_link_tag 'ie6.css' %>
    <![endif]-->
    
    
    <% if !@mobile_device %>
        <% if @includejquery == true %>
        <!-- include jquery for accordion nav -->
            <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min.js' %>
            <%= javascript_include_tag 'jquery.jcarousel.pack.js' %>
            <%= stylesheet_link_tag 'jquery.jcarousel.css' %>

            <script type="text/javascript">
                $j(document).ready(function(){
                    $j('#accordion').accordion({ active: false, autoHeight: false, collapsible: true });
                });
            </script>
            
            <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('.sponsor_carousel').jcarousel({
                    scroll: 1,
                    visible: 1,
                    auto: 15,
                    animation: 0,
                    wrap: "both"
                });
            });
            </script>
        <% else %>
        <!-- include prototype js for image carousel -->
            <script type="text/javascript" src="/javascripts/swfobject.js"></script>
   
	        <script type="text/javascript" src="/javascripts/contentslider.js"></script>
      <% end %>
   <% end %>
</head>
<body> 
  <%- if(admin_mode?) -%>
 	  <div id="adminnotice">
       <div id="container">
         <p><strong>You are logged into an admin account</strong> </p>
       </div>	
     </div>
  <%- end -%>
<!-- pubsite layout -->
    <div id="body_wrapper"><!-- used for preview -->
        <div id="preview_wrapper" class="<%= @app_location_for_display %>"></div>
        <% if(@app_location_for_display != 'production' and @app_location_for_display != 'shownav' )%>
            <% if(@app_location_for_display == 'preview' )%>
                <div id="app_location" class="preview">

                    <% if params[:print] %>
                        <h3>This is the Print View for the Pubsite Preview Tool</h3> 
                        <p>This view displays exactly how your page will look when printed from the Public Site.</p>
                    <% else %>
                        <h3>This is the Pubsite Preview Tool</h3> 
                        <p>This view displays exactly how your page will look when published to the Public Site. The navigation areas are grayed out because those sections are not available in preview mode. However, all links within your article do work.</p>
                    <% end %>
                </div>
        	<% else %>
        	    <div id="app_location" class="<%= @app_location_for_display %>"><p>You are viewing the <strong><%= @app_location_for_display %></strong> site. <%= link_to("more info", "http://create.extension.org/node/1781") %></p></div>
        	<% end %>
        <% end %>
        
    <div id="wrapper">
	
		<div id="content_wrapper">
		
    <div class="container_16">
        <div class="grid_16 alpha omega override_960px">
            
            <ul id="skiplist">
                <li class="skip"><a href="#content_tag">Skip Navigation</a></li>
                <li class="skip"><a href="#sidebar">Jump to Side Bar</a></li>
            </ul>
            
            <% if @mobile_device %>
                <div id="mobileheader">
                    <%= render(:partial => 'shared/search') %>
                    <h3 id="eXlogo"><a href="/">eXtension: more mind reach</a></h3>    
                </div>
             <% end %>
             
             
             <div id="masthead_wrap">
                 <div id="masthead">
                     <% if !@mobile_device %>
                     <p class="aboutex">These resources are brought to you by the Cooperative Extension System and your Local Institution</p>
                     <% end %>

                     <div class="branding_wrapper">
                       <div id="logo">
                          <%- if(@personal[:location] and @personal[:institution]) -%>
                             <%= render(:partial => 'shared/logo') %>
                           <%- elsif session[:multistate] and !@public_institutions_for_location.blank? -%>
                             <%= render(:partial => "shared/multistate",:locals => {:institutions => @public_institutions_for_location}) %>
                           <%- else -%>
                            <%= render(:partial => "shared/no_institution") %>
                           <%- end -%>
                        </div>

                       <% if !@mobile_device %>
                         <% if params[:print] %>
                          <img id="print-logo" src="/images/pubsite/ex-hires-logo-color.png" width="145pt" height="53pt" alt="eXtension: more mind reach" />
                         <% else %>
                          <h3 id="eXlogo"><a href="/"><img id="lores_print_logo" src="/images/layout/extensionlogo.gif" width="216" height="81" alt="eXtension: more mind reach" /><span>eXtension: more mind reach</span></a></h3>
                         <% end %>
                        <% end %>
                     </div>

                 </div>
                 <div id="institution_picker" style="display:none;">
                  <% form_remote_tag :update => 'institution_list', :url => show_institution_list_url, :class => "zipcode" do %>           
             		    <fieldset>
             		        <h3>Find an Extension Institution</h3>
             		        <p>
             		            <label>ZIP code or State Abbreviation
             		                <input id="zip_or_state" type="text" name='zip_or_state' /> 
             		            </label>
             		               <%= submit_tag 'Go' %>
                                 <%= link_to_function 'Cancel', "Effect.toggle('institution_picker','blind', { duration: .4});
         Effect.BlindUp('institution_list', { duration: .4});", :class => "sample" %>
                           </p>
             		    </fieldset>
             		    <div id="institution_list" style="display:none;"></div>
             		<% end %>
                 </div>

             </div>
             
             <div class="navbar">
                    <% if !@mobile_device %>
                  <div class="globalnav">
					 <ul>
					   <li class="home"><%= link_to('Home',root_url) %></li>
					   <li class="about"><%= link_to('About',main_special_path(:path => 'about')) %></li>
					   <li class="topics"><%= link_to('Resource Areas',main_communities_path) %></li>
					   <li class="news"><%= link_to 'News', site_news_path(with_content_tag?)%></li>
					   <li class="articles"><%= link_to 'Articles', site_articles_path(with_content_tag?)%></li>
					   <li class="answers"><%= link_to 'Answers', site_faqs_path(with_content_tag?)%></li>
					   <li class="lessons"><%= link_to 'Learning Lessons', site_learning_lessons_url(with_content_tag?)%></li>
					 </ul>
                   </div>
                     <% end %>
                 <% if !@mobile_device %>
                  <%= render(:partial => 'shared/search') %>
                  <% end %>
                </div>
        </div><!-- end .grid_16 -->
        <div class="clear"></div>
        
        <div class="grid_16" id="content_area">
        
        <% flash_names = [:notice, :warning, :message, :error]
              flash_names.each do |flash_type| 
                 if flash[flash_type] %>
                    <div id='flash_notice' class='<%= flash[:notice]? "notice" : "warning" %>'>
                        <p><%= flash[flash_type] %></p>
                    </div>
                <% end %>
        <% end %>
        </div><!-- .grid_16 -->
        <div class="clear"></div>
        
        <%if @sitehome == true %>
            <%= yield :layout %>
            
            <div class="grid_4" id="sitehome">
                <%= render :partial => 'shared/rightcolumn_sitehome' %>
            </div>
        <% elsif @cat_landing == true %>
            <!-- content: cat_landing -->
            <div class="grid_16 alpha omega override_960px content_page" >
            <div class="grid_12 alpha omega category_tag" id="content_tag">
                <div class="content_gutter">
                <%= yield :layout %>
                <br class="clearing" />
                </div>
            </div>

            <div class="grid_4" id="sitehome">
                <%= render :partial => 'shared/rightcolumn_sitehome' %>
            </div>
            </div>
        <% elsif @right_column != false %>
            <!-- content: right column -->
            <div class="grid_16 alpha omega override_960px content_page" >
            <div class="grid_11 alpha omega override_650px" id="content_tag">
                <div class="content_gutter">
                <%= yield :layout %>
                <br class="clearing" />
                </div>
            </div>
            
            <%= render :partial => 'shared/rightcolumn' %>
            </div>
        <% else %>
            <!-- content: no right column -->
            <div class="grid_16 alpha omega override_960px content_page">
            <div class="grid_16" id="content_tag">
                <div class="content_gutter">
                <%= yield :layout %>
                </div>
            </div>
            </div>
        <% end %>
        
        
        
        <% if @mobile_device %>
         <div class="globalnav">
               <ul>
                 <li class="home"><%= link_to('Home',root_url) %></li>
                 <li class="about"><%= link_to('About',main_special_path(:path => 'about')) %></li>
                 <li class="topics"><%= link_to('Resource Areas',main_communities_path) %></li>
                 <li class="news"><%= link_to 'News', site_news_path(with_content_tag?)%></li>
                 <li class="articles"><%= link_to 'Articles', site_articles_path(with_content_tag?)%></li>
                 <li class="answers"><%= link_to 'Answers', site_faqs_path(with_content_tag?)%></li>
                 <li class="lessons"><%= link_to 'Learning Lessons', site_learning_lessons_url(with_content_tag?)%></li>
               </ul>
           </div>
        <% end %>
        <div class="clear"></div>
    </div><!-- end .container_16 -->
    	</div><!-- end #wrapper -->
	
	</div><!-- end content_wrapper -->
	
	
    <div id="footer_wrapper">
		<div id="footer_inner_wrapper">
            <div id="footer">
                <p><span class="aboutexforprint">These resources are brought to you by the Cooperative Extension System and your Local Institution.</span> eXtension provides objective and research-based information and learning opportunities that help people improve their lives. eXtension is an educational partnership of 74 universities in the United States.</p>
                <p class="copyright">&copy; <%= Time.now.utc.year %> eXtension. All rights reserved.</p>
                <ul>
                    <li><%= link_to "Feeds", "/feeds", {:class => "feeds"} %></li>
                    <li><%= link_to_unless_current "institutional partners", main_special_path(:path => 'partners') %></li>
                    <li><%= link_to_unless_current "privacy", main_special_path(:path => 'privacy') %></li>
                    <li><%= link_to_unless_current "contact us", main_special_path(:path => 'contact_us') %></li>
                    <li><%= link_to_unless_current "disclaimer", main_special_path(:path => 'disclaimer') %></li>
                    <li class="last"><%= link_to_unless_current "terms of use", main_special_path(:path => 'termsofuse') %></li>
                </ul>
            </div>
		</div>
	</div>

    </div><!-- end #body_wrapper -->


<%= render(:partial => '/partial/googleanalytics') %>

<% if params[:print] %>
    <p id="pageurl">View this page: <script type="text/javascript">document.write(location.href.replace(/\/print(\/)?$/, ''));</script></p>
<% end %>
</body>
</html>
