<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="robots" content="noindex" /> 
	
    <title>eXtension Widgets: <%= @page_title || controller.action_name %></title>
    
    <% if @mobile_device %>
        <meta name = "viewport" content = "width = device-width, user-scalable = yes">
        <%= stylesheet_link_tag 'mobile_widgets' %>
    <% else %>
        <%= stylesheet_link_tag 'common' %>
        <%= stylesheet_link_tag 'widgets_home' %>
    <% end %>
    <%= javascript_include_tag :defaults %>
</head>

<body>
    <% if (@app_location_for_display != 'production') %>
    <div id="app_location" class="<%= @app_location_for_display %>">
        <p>You are viewing the <strong><%= @app_location_for_display %></strong> site.</p>
    </div>
    <% end %>
  <%- if(current_person and current_person.is_admin?) -%>
   	  <div id="adminnotice">
         <div id="container">
         <p><strong>You are logged into an admin account</strong> (<%= link_to('sign out',logout_path) %>)</p>
         </div>	
       </div>
    <%- end -%>
    <div id="wrapper">
        <div id="masthead">
            <div id="header">
                <h1><%= link_to("eXtension Widgets", widgets_home_url) %></h1>
                <p>Add customized eXtension tools and content to your web page</p>
            </div>
            <% if !@mobile_device %>
            <div id="logo"><%= image_tag("/images/common/extension_logo_small.gif", :alt => "eXtension - more mind reach") %></div>
            <% end %>
        </div>
        
    
        <div id="content">
            <%= yield :layout %>
            
            <br class="clearing" />
        </div>

        <div id="footer">    
            <div id="common_footer">
                <p class="footerabout"><span class="aboutexforprint">These resources are brought to you by the Cooperative Extension System and your Local Institution.</span> eXtension provides objective and research-based information and learning opportunities that help people improve their lives. eXtension is a critical part of the Cooperative Extension System and an educational partner with 75 land-grant universities in the United States.</p>
                <p class="copyright">&copy; <%= Time.now.utc.year %> eXtension. All rights reserved.</p>
                <ul>
                    <li><%= link_to_unless_current "Contact us", main_special_path(:path => 'contact_us') %></li>
                    <li class="last"><%= link_to_unless_current "Terms of use", main_special_path(:path => 'termsofuse') %></li>
                </ul>
            </div>
        </div>
    </div> <!-- #wrapper -->
            
    <%= render(:partial => 'partial/googleanalytics') %>
</body>
</html>