<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>eXtension Ask: <%= @page_title || controller.action_name %></title>
    <%= stylesheet_link_tag 'common' %>
    <%= stylesheet_link_tag 'widgets' %>
    <%= javascript_include_tag :defaults %>
</head>

<body>
    <% if (AppConfig.configtable['app_location'] != 'production') %>
    <div id="app_location" class="<%= AppConfig.configtable['app_location'] %>">
        <p>You are viewing the <strong><%= AppConfig.configtable['app_location'] %></strong> site.</p>
    </div>
    <% end %>
    <div id="masthead">
        <div class="wrapper">
            <div id="header">
                <h1><%= link_to("Ask eXtension", widget_home_url) %></h1>
                <p>Experts from around the country are ready to answer your questions</p>
            </div>
            <div id="extension"><%= image_tag("/images/common/extension_logo_small.gif", :alt => "eXtension - more mind reach") %>
            </div>
            
        </div>
    </div>
    <div class="wrapper">
        <div id="content">
        

            <%= yield :layout %>
        
        </div>
        <div id="sidebar">
            <% if !@currentuser %>
              <p><%= link_to "Sign in", :controller => 'aae/widgets', :action => :login_redirect, :return_back => request.request_uri %></p>
              <% get_widget_link_message = "<em>(requires login)</em>" %>
            <% else %>
              <% get_widget_link_message = "" %>
    		  <p class="usericon">
    		  <%= link_to @currentuser.login, :controller => 'people/profile', :action => :me %> &nbsp; <%= link_to "Logout", :controller => 'people/account', :action => :logout %>
    		  </p>
    		  
            <% end %>
            <ul>
                <li <%= selected_tab_if(:welcome) %>><%= link_to("Home", widget_home_url) %></li>
                <li <%= selected_tab_if(:about) %>><%= link_to "About", :controller => 'aae/widgets', :action => :about %></li>
                <li <%= selected_tab_if(:who) %>><%= link_to "Who answers the questions?", :controller => 'aae/widgets', :action => :who %></li>
                <li <%= selected_tab_if(:get) %>><%= link_to "Get the Ask widget for your site #{get_widget_link_message}", :controller => 'aae/widgets', :action => :new %></li>
                <li <%= selected_tab_if(:documentation) %>><%= link_to "Documentation", :controller => 'aae/widgets', :action => :documentation %></li>
                <li <%= selected_tab_if(:all) %>><%= link_to "All Widgets", :controller => 'aae/widgets', :action => :list %></li>
                
            </ul>
        </div>
        <br class="clear" />
    </div>
    <div id="footer">
        <div class="wrapper">
            <div class="col">
                <h4>what is eXtension?</h4>
                <p>eXtension is an interactive learning environment delivering the best, most researched knowledge from the smartest land-grant university minds across America. eXtension connects knowledge consumers with knowledge providers—experts like you who know their subject matter inside out.</p> 
                <p><%= link_to("Contact Us", :controller => 'aae/help') %></p>
                <p>copyright 2009 eXtension</p>
                
            </div>
            <div class="col">
                <h4>eXtension resources for Extension Professionals</h4>
                <p>You need an eXtensionID to access these sites</p>
                <dl>
                    <dt><a href="https://people.extension.org">People</a></dt>
        	        <dd>Manage your eXtension profile and find colleagues</dd>
        	        <dt><a href="http://faq.extension.org/">Frequently Asked Questions</a></dt>
        	        <dd>Tool to find, submit, and produce answers and questions database that is published on the public site</dd>
                    <dt><a href="http://events.extension.org">Events</a></dt>
                    <dd>Application to post events on the public site </dd>
        	        <dt><a href="http://cop.extension.org/">CoP Wiki</a></dt>
        	        <dd>A wiki for professionals from the land-grant universities to collaborate on topics of interest</dd>
        	        <dt><a href="http://about.extension.org/wiki">About Wiki</a></dt>
        	        <dd>Organizational information, resources and updates about the eXtension initiative</dd>
        	    </dl>
        	    
            </div>
            <div class="col">
                <h4>eXtension resources for the Public</h4>
        	    <dl>
        	        <dt><a href="http://about.extension.org/">About</a></dt>
        	        <dd>General Information about eXtension for the Public</dd>
        	        <dt><a href="http://www.extension.org/">eXtension Public Site</a></dt>
        	        <dd>Objective, research-based, credible information and tools you can use every day to improve your life.</dd>
        	    </dl>
            </div>
            <br class="clear" />
        </div>
    </div>
    <%= render(:partial => 'ask/partial/googleanalytics') %>
</body>
</html>